[2017-03-08 17:15] daler commented on #4056
Yes, that was intentional as a temporary way of building all the recipes that were missed due to the build issues, which wouldn't otherwise show up as changed in the commit range. Now I know that the cron job would have done the same thing, I just had to wait ;)

Anyway we just need to remove this line:

https://github.com/bioconda/bioconda-recipes/pull/4055/files#diff-354f30a63fb0907d4ad572695483

[2017-03-08 17:17] johanneskoester commented on #4056
I see, thanks!

[2017-03-08 17:17] daler commented on #4056
xref #4070

[2017-03-08 18:41] dridk opened #4072 "Could you add pullseq"
This is a really usefull tool :
https://github.com/bcthomas/pullseq

[2017-03-09 00:14] zachcp opened #4073 "issues compiling glimmerHMM"
Hi Team Bioconda,

I've [stubbed out a recipe for glimmerHMM](https://github.com/zachcp/bioconda-recipes/commit/8a5c464005db829be2feac181e4b8dd3cf6c5f87) which is tricky for a few reasons:

  1. non-flat source code organization (multiple directories)
  2. a data-training step results in non-executable data files that need to be stored in a directory somewhere.
  3. the C code is not compiling.

A

[2017-03-09 08:16] ccwang002 opened #4074 "Cannot find and apply a recipe's new patch file"
I was trying to update the recipe for methylKit to make it compiled on OSX. I am currently stuck at the error that I cannot apply my new patch. The error is shown below:

[code]

the relevant part of my `meta.yaml` is:

[code]

and my patch header is:

[code]

Patch and new recipe can be found at [my working branch of `recipes/bioconductor-methylkit/`](https://github.com/ccwang002/bioconda-recipes

[2017-03-09 15:29] marscher opened #4087 "nglview import broken"
introduced in #4065, we now can not import nglview in python anymore:
[code]

ping @hainm

[2017-03-09 15:30] marscher commented on #4087
this is on Python-3.5, the other versions seem to work

[2017-03-09 15:30] marscher commented on #4087
cc @gph82

[2017-03-09 15:56] hainm commented on #4087
Weird. I will have a look tonight.

[2017-03-09 15:57] marscher commented on #4087
On 09.03.2017 16:56, Hai Nguyen wrote:

I think removing Python as a runtime dependency for a Python package
(even if it contains javascript :P) is a bad idea.

[2017-03-09 16:17] hainm commented on #4087
uhm, Python 2.7 is used to build `nglview`, so if you unpack the [tarfile](https://anaconda.org/bioconda/nglview/files), you only see the

`lib/python2.7/site-packages/nglview`. This is why the install does not work with other python versions.

(even if it contains javascript :P) is a bad idea.

I know. But I am not really convinced about current workflow if conda build. If a Python package (e.g:

[2017-03-09 16:21] hainm commented on #4087
yeah right, I will have a look. thanks.

[2017-03-09 18:46] acaprez commented on #4074
There are a couple of tab characters in the original `Makevars` file at the end of the `CXX?=g++-4.8` line that aren't in the patch file, so that's why it's rejecting it.  If you look at both files in vim after running `set list` to show non-printing characters you'll see the difference.  The line in the patch file should look like `-CXX?=g++-4.8^I^I$`; instead it's `-CXX?=g++-4.8$`.   I've had th

[2017-03-09 20:00] ccwang002 commented on #4074
Thank you so much! I think this is the exact reason why my patch kept failing. My path specified in the patch is correct but my content is not. Now I know the direction to solve the issue.

[2017-03-09 20:00] #4074 closed

[2017-03-10 21:13] acaprez commented on #4072
`pullseq` is now available in the bioconda channel:  [https://anaconda.org/bioconda/pullseq](https://anaconda.org/bioconda/pullseq)

[2017-03-10 23:34] tomkinsc opened #4108 "_static files for docs not being copied"
It looks like the files in `docs/_static/` are not being copied to [bioconda.github.io/_static/](https://github.com/bioconda/bioconda.github.io/tree/master/_static). Any ideas what may have changed that? The `conf.py` file [appears](https://github.com/bioconda/bioconda-recipes/blob/master/docs/conf.py#L158) to still have the same path defined.

[2017-03-13 15:49] karel-brinda opened #4121 "Instructions for manpage installation"
I think that it would be good to write a paragraph about man pages installation in conda recipes. Man pages of some programs are not being installed at all (e.g., for miniasm), or they are installed incorrectly (e.g., for ococo – see https://github.com/karel-brinda/ococo/issues/23, I don't know what is the nature of this problem).

Since manpages are one of the main information sources on Unix, th

[2017-03-13 20:35] rasmusagren opened #4125 "Patch bugs if software isn't maintained"
I use a software, Kraken, which is currently available as a bioconda package. There is an issue that causes it to exit with error code 0 even when there are errors, which in turn cause problems in my workflow. The problem is that the software isn't maintained and PRs aren't accepted. Is it then fine to patch a bug like this in the bioconda recipe? I guess there is a theoretical possibility that it

[2017-03-13 20:48] bgruening commented on #4125
Depending on the size of patch I think it is ok to include patches for bugs, if upstream is not willing to merge it. However, we do not have (yet) strict guideline to handle this. So I encourage you to create a PR and ping us for review. Also creating a PR against upstream is always great to help other packagers that face a similar problem.

[2017-03-14 08:00] jerowe commented on #3224
Any word on this?

[2017-03-14 08:06] bgruening commented on #3224
Yes, new compiler should come soon from the conda-forge and continuum people!

[2017-03-14 08:08] bgruening commented on #4072
Thanks @acaprez!

[2017-03-14 08:08] #4072 closed

[2017-03-14 08:10] bgruening commented on #4073
@zachcp this malloc error, do you only see it at OSX? If so try using GCC on OSX as well.

[2017-03-14 08:11] jerowe commented on #3224
YAY!!!!!!!!!!!!!

[2017-03-14 08:12] bgruening commented on #4108
@tomkinsc this looks like a regression from the new build system.
ping @bioconda/core
I might have time to look into this tomorrow.

[2017-03-14 08:31] johanneskoester commented on #4108
@tomkinsc are you sure? To me it looks like the just did not change in the last weeks. Is anything missing?

[2017-03-14 13:12] johanneskoester commented on #4108
I guess what you might mean is what I try to fix in PR bioconda/bioconda-utils#83.

[2017-03-14 15:37] johanneskoester commented on #4108
Ok, the badge generator is back online.

[2017-03-14 16:17] tomkinsc commented on #4108
Thanks, Johannes!

[2017-03-14 16:17] #4108 closed

[2017-03-14 19:51] zachcp commented on #4073
thanks @bgruening . While using GCC allows the Makefile to run and build an executable, the executable causes Seg faults.  I've tried changing the CFlags but I can't seem to get it to build. The frustrating thing is that I can build the packages locally with the native Make/clang although I can't build locally with conda.

[2017-03-16 11:40] jvollme commented on #4004
In case this helps in any way: I can confirm this. For me also, only version 5.2p1 works.

[2017-03-16 12:27] armintoepfer commented on #1
May I join?

[2017-03-16 12:53] johanneskoester commented on #1
Of course, welcome! It is really amazing to see how big we already are.

[2017-03-16 15:38] johanneskoester commented on #4121
Indeed. This is a good idea. As far as I know, Miniconda correctly sets the man page search path (see output of `manpath`). We just need to ensure that the pages are installed to that path.

[2017-03-16 17:27] karel-brinda commented on #4121
I think that it would be good to provide examples of how to do it correctly. For instance,
[code]
is apparently not the way how it should be done.

[2017-03-16 18:55] acaprez commented on #4121
I don't think `conda` does anything with the man search path directly.  A little searching found this: conda/conda#845.  Basically, the `man` command itself tries to be smart and searches directories "near" the binary.  The main issue is that what it considers "near" seems to vary from platform to platform.  In my F25 VM, `manpath` returns `${PREFIX}/man` but not `${PREFIX}/share/man`.  However, i

[2017-03-16 20:26] cristhomas opened #4174 "version update?"
I can't find info on this, apologies if it's obviously somewhere I missed.
Do I have this right that the version of a package is controlled by the 'version' at the top of the meta.yaml? If so, how long does it take for a new version to show up in the bioconda channel?
Thank you...!

[2017-03-16 20:31] bgruening commented on #4174
Your package is rebuild again on the master branch, if this succeeds again you package is pushed to the channel. This can take some time, depending on travis and how many other PR are scheduled at the moment - currently a lot. Sorry :(

[2017-03-16 20:31] #4174 closed

[2017-03-17 06:26] mictadlo opened #4176 "wgs-assembler missing sawriter?"
Hi @bebatut,
I tried to run `wgs-assembler` but I got `One or both of blasr and sawriter were not found in your path.`

It seems sawriter is missing or is there any workaround?

Thank you in advance

Michal

[2017-03-17 10:29] johanneskoester commented on #4121
@acaprez, are you sure? This is what I get:
[code]
Hence, conda seems to specifically set the manpath, right? Therefore, we would just need to ensure that man pages are installed to `$PREFIX/man` instead or `$PREFIX/share/man`, right?

[2017-03-17 10:55] johanneskoester commented on #4121
@acaprez and @karel-brinda I have added MANPATH handling to activate and deactivate scripts here in my fork of conda:
https://github.com/johanneskoester/conda/tree/manpath
(see shell/activate.sh and shell/deactivate.sh)
Could you test and give me your opinion? If you think this is what we need, please let me know and I will create a pull request to upstream.

[2017-03-17 11:25] mictadlo opened #4180 "annotations pipelines"
Hi,
Is anyone working on these below workflows?
* [Just Annotate My Genome (JAMg)](http://jamg.sourceforge.net/)
* [Just_Annotate_My_proteins (JAMp)](http://jamps.sourceforge.net)

Some of the steps are written in Perl. Will it still be possible to install them?

Thank you in advance.

Michal

[2017-03-17 14:08] karel-brinda commented on #4121
What is the correct way of copying manpages in Conda? I had certain problems with Ococo, but I can't reproduce them now. When I installed ococo using `conda install ococo`, the installation process worked. When I wanted to create a new environment and I included ococo in the environment specification, it broke the entire Conda (the error message is here: https://github.com/karel-brinda/ococo/issue

[2017-03-17 15:26] karel-brinda commented on #4121
@johanneskoester I tested your script and I think that I understand several of the problems now. It looks like that Conda has changed the way of handling manpages since the last time I tested it.

First, adding `/Users/karel/miniconda/share/man` to `$MANPATH` to be useless for me because Conda does not put manpages into this path any more (but it used to be there). For instance, the manpage for oc

[2017-03-17 21:40] hainm commented on #4038
@daler: can linting on travis explicitly saying "why" rather "The following recipes failed linting. See https://bioconda.github.io/linting.html for details:"? thx.

[2017-03-17 23:59] daler commented on #4038
Actually right after that statement there's a pandas dataframe printed out that lists the recipes and the reasons for failure. For example here, https://travis-ci.org/bioconda/bioconda-recipes/jobs/212276596#L472, the reason is `in_other_channels`.

The link is for more information on what failed, so in this case specifically https://bioconda.github.io/linting.html#in-other-channels.

When I do a

[2017-03-18 02:08] hainm commented on #4038
Hi @dakl

thanks for the explanation. I see why now.

But for `nglview`, I (lead developer of this project) really want to have it here (`bioconda`, which is more bio-related than other channels). I can not "not allow" submit build to other channels anyway. Is there any way to overcome this?

[2017-03-18 12:41] daler commented on #4038
Your package is just too popular then :). You can skip linting on a per-recipe, per-lint basis as described here: https://bioconda.github.io/linting.html#skipping-a-linting-test. You might want to talk to the conda-forge folks and have that recipe be deprecated so that the next version of `nglview` is only on bioconda. Then you wouldn't have to use the lint-skipping mechanism any more.

[2017-03-20 09:04] joshmoore commented on #1
And me as well :smile: Looking to help with the `python-omero` recipe which was [recently](https://github.com/bioconda/bioconda-recipes/pull/3683) contributed by an [OMERO community member](http://lists.openmicroscopy.org.uk/pipermail/ome-devel/2017-March/003926.html)

[2017-03-20 11:37] bgruening commented on #1
@joshmoore welcome :)

[2017-03-20 11:43] bgruening commented on #1
@joshmoore btw. read your response to the mailing list. Maybe your are interested in this: https://quay.io/repository/biocontainers/python-omero BioConda will automatically generate a container for you as well.

[2017-03-20 15:18] johanneskoester commented on #4121
@karel-brinda I have updated the fork to also add `share/man`. However, there is now a problem when doing `source deactivate`: assume I am in environment A, and activate environment B. Now, deactivating B will remove more than only the manpaths of B from `$MANPATH`. I am not a real bash nerd, so I would appreciate any advice.

[2017-03-20 15:45] joshmoore commented on #1
@bgruening : interesting! Thanks for the info.

[2017-03-21 04:34] mictadlo opened #4224 "blasr misses sawriter"
Hi @bebatut and @druvus,
Could you please add [`sawriter`](https://github.com/PacificBiosciences/blasr/blob/f8bfa9c5565ae01ea669af872edaae5e55471d98/utils/makefile) to `blasr` recipe becuse `wgs-assembler`(https://github.com/bioconda/bioconda-recipes/issues/4176) requires it?

Thank you in advance

Michal

[2017-03-21 10:58] vmkalbskopf opened #4227 "listed versus installed versions of recipes"
On the recipe page for bowtie2 [http://bioconda.github.io/recipes/bowtie2/README.html](url), multiple versions are listed, up to version 2.3.0, the last major release. However, when  install it using the instructions, I get ver 2.2.5

How does one specify the version during installation?

[2017-03-21 13:37] daler commented on #4227
This seems to work:

[code]
Do you already have bowtie2 in the environment you're installing it into? You may want `conda update bowtie2` instead in that case.

[2017-03-21 14:06] vmkalbskopf commented on #4227
Thanks You!

I initially installed it by condo install bowtie2
And that only gave me 2,5,0
The update command didn't work either.
But your command did work, so this is perfect.

[2017-03-21 14:20] daler commented on #4227
Strange. You might have something else in the environment that was pinning bowtie2 to an older version. Glad the new environment works.

[2017-03-21 14:20] #4227 closed

[2017-03-21 17:43] jfear opened #4230 "Problem with pysam and htslib"
I am having a problem with pysam and htslib. Here is a minimal example.

[code]

but if I change the version of htslib then things run as expected:

[code]

Thanks for any advice.
Justin

[2017-03-21 18:04] jfear commented on #4230
Being worked on here:

https://github.com/pysam-developers/pysam/issues/413

going a head and closing.

[2017-03-21 18:04] #4230 closed

[2017-03-21 22:10] Niazevedo opened #4232 "problem with pysam from bioconda"
Hi. I'm using a software that requires Pysam and this error is appearing. I downloaded Pysam with bioconda and it is already updated.

File "/Users/niazevedo/anaconda/lib/python2.7/site-packages/pysam/init.py", line 5, in
from pysam.libchtslib import *
ImportError: dlopen(/Users/niazevedo/anaconda/lib/python2.7/site-packages/pysam/libchtslib.so, 2): Library not loaded: @rpath/libhts.1.dylib
Refere

[2017-03-21 22:11] kyleabeauchamp commented on #4232
Thanks, I have confirmed that this is due to having HTSLib 1.4 installed.  We need to fix HTSLib=1.3.1 in the pysam recipe.

cc https://github.com/pysam-developers/pysam/issues/421#issuecomment-288234929

[2017-03-22 09:30] #4232 closed

[2017-03-22 09:33] chapmanb commented on #4232
Thanks for reporting this and working on it. We got a fixed version in now and the build should be available in 10 minutes or so. This pins to htslib 1.3.x which is compatible with pysam right now, and we'll update to pysam with 1.4 support once that gets released. Thanks again.

[2017-03-22 22:51] mictadlo opened #4250 "quiime caused ImportError: No module named PyQt4"
Hi @bgruening,
[code]

Thank you in advance,

Michal

[2017-03-23 07:43] messersc commented on #4125
If that is the case, wouldn't it be better to fork the original software, patch it and then point the recipe to it?
That way also people that don't use bioconda would have the benefit of your work. Putting patches into recipes makes things opaque, like people using the bioconda version but looking at the original source might be confused if changes in behavior are not clearly documented.

[2017-03-23 10:17] bgruening commented on #4250
Let's see if we can reproduce this error with a new test in: https://github.com/bioconda/bioconda-recipes/issues/4250

[2017-03-23 22:06] ingochris commented on #1
I'm willing to partake, please send an invite 😄

[2017-03-23 22:42] bgruening commented on #1
@ingochris welcome to the community!

[2017-03-24 06:36] holtgrewe opened #4263 "Platypus-variant package broken"
It looks like the wrong person is used at run time.

Please advise.

[code]

[2017-03-27 11:07] croth1 opened #4278 "gimmemotifs: libhts.so.1: cannot open shared object file: No such file or directory"
gimmemotifs has to be rebuilt against the latest libhts version.
cc @simonvh

[code]

[2017-03-27 11:14] croth1 commented on #4278
also:

[code]

[2017-03-27 11:21] simonvh commented on #4278
Thanks for the notification. I will look into it. At first glance it looks like issues with some dependencies. Can you try what happens if you update pysam and pymc via conda?

[2017-03-27 11:23] croth1 commented on #4278
it's a fresh installation in a fresh environment. Downgrading to "htslib<1.4" and installing openblas fixed it for now.

[2017-03-27 11:25] simonvh commented on #4278
That's good to know. When I have some time I will release a conda package for gimmemotifs.

[2017-03-27 11:26] bgruening commented on #4278
@simonvh I think you need to pin the version in your recipe, this will fix it.

[2017-03-27 11:27] simonvh commented on #4278
@bgruening will do, thanks!

[2017-03-27 12:27] croth1 commented on #4278
The openblas problem occured due to an outdated installation. With the latest version, I still get the hts mismatch and:
[code]

[2017-03-27 15:25] simonvh commented on #4278
Yeah, I noticed that just today too. Apparently, pybedtools won't bring in
bedtools. Installing bedtools will fix that.

[2017-03-28 11:07] #3725 closed

[2017-03-28 11:12] #2911 closed

[2017-03-29 14:36] lparsons commented on #4004
I'm having the same issue. Here is the result of `ldd blasr`:

[code]

[2017-03-30 03:57] mictadlo opened #4306 "gnu-sed for mac"
Hi,
Linux `sed` and Mac `sed` syntax seem to be very different. Would it be possible to get [gnu-sed](https://github.com/Homebrew/homebrew-core/blob/master/Formula/gnu-sed.rb) for Mac installed?

Thank you in advance.

Michal

[2017-03-30 16:11] crawforc3 commented on #1121
This is still happening

[2017-03-30 16:22] johanneskoester commented on #1121
Which version of bowtie?

[2017-03-30 16:24] crawforc3 commented on #1121
Here's the output of boetie2 --verison, note that I moved it to bin/ already

crawforc3@ubuntu-desktop:~/anaconda3$ bowtie2 --version
/home/crawforc3/anaconda3/bin/bowtie2-align-s version 2.2.5
64-bit
Built on 487386fc9b54
Thu Jan  7 17:00:15 UTC 2016
Compiler: gcc version 4.8.2 20140120 (Red Hat 4.8.2-15) (GCC)
Options: -O3 -m64 -msse2  -funroll-loops -g3 -DPOPCNT_CAPABILITY
Sizeof {int, long, lo

[2017-03-30 16:40] tiagoantao commented on #2148
Is there any update on this? Currently this is still not working, I think

[2017-03-31 03:28] jingjin0322 opened #4319 "mummerplot"
Hi,
I had a problem when I was trying to run the command mummerplot out.ntref. It says can't use 'defined(%hash)'  (maybe you should just omit the defined()?) at /usr/bin/mummerplot line 884. Seems someone had same problem before, but still I was not able to solve the problem by taking a look at the comments in the previous post. Really hope someone could help me out. I will really appreciate it.

[2017-03-31 07:47] jrderuiter opened #4321 "Building packages relying on r-base 3.3.1 on OSX"
I am currently unable to build packages relying on r-base 3.3.1 on OSX, as this gives the following error:

[code]

The easiest approach to avoid this error would be to rebuild r-base with conda-build > 2.0. However, the Anaconda team has (at least to my understanding) indicated that they will not be fixing bugs in the 3.3.1 packages, as 3.3.2 has been released. Sadly, this does not help us as lon

[2017-03-31 07:54] bgruening commented on #4321
@jrderuiter I don't think this is due to r-base, do you have any other dependency that has this build limitation? I guess there is an additional package that needs to be rebuild.

[2017-04-01 02:10] tseemann commented on #4319
This is not an error, just a Perl warning about old syntax.  The code should still work?

[2017-04-01 02:13] tseemann commented on #4180
Perl is not the issue. Those pipelines have *lots* of dependencies, some of which may not be in Conda yet. Plus it seems a lot of it is based around a web server setup, which isn't really what Conda is designed for.

[code]

[2017-04-01 02:15] tseemann commented on #4073
@zachcp isn't the problem that you are using `g++` rather than `gcc` to compile vanilla C code?

[2017-04-01 02:21] tseemann commented on #4306
I am unsure if `sed` falls under `bioconda` ?

[2017-04-01 02:24] kyleabeauchamp commented on #4306
Maybe add in conda forge?

On Mar 31, 2017 7:21 PM, "Torsten Seemann" <notifications@github.com> wrote:

[2017-04-01 06:49] jrderuiter commented on #4321
Why do you think so? Here is a more complete error message, which (to me) clearly indicates r-base:

[code]

[2017-04-01 09:03] bgruening commented on #4306
@mictadlo I'm not sure I understand your question, we have this in bioconda https://github.com/bioconda/bioconda-recipes/blob/master/recipes/sed/meta.yaml for both Linux and OSX afaik.

It should probably be moved to conda-forge, I agree.
Please reopen if this is still an issue.

[2017-04-01 09:03] #4306 closed

[2017-04-01 09:06] bgruening commented on #4321
We can compile packages against r3.3.1. This is working on a daily basis here. So I'm wondering what happened with your setup or that there is a hidden package that has these problems - this can happen the error messages are not that clear in conda-build.

[2017-04-01 09:07] bgruening commented on #4321
Can you create a PR and we see what happens?

[2017-04-01 09:09] bgruening commented on #4278
@croth1 did it worked for you? Can we close this issue?

[2017-04-01 09:12] bgruening commented on #4263
can you add and pin htslib to `htslib >=1.3,<1.4`

[2017-04-01 09:13] bgruening commented on #4224
I guess we can close this now? @mictadlo please reopen if not.

[2017-04-01 09:13] #4224 closed

[2017-04-01 09:15] bgruening commented on #4004
@holtgrewe @lparsons does this version works for you `5.3.f8bfa9c`. The naming schema should be changed in this tool.

[2017-04-01 09:49] jrderuiter commented on #4321
I have added a few PRs since I've been running into errors in my machine, they all built fine. Must be specific to my machine somehow then. Any idea of where to look? I've tried clearing the caches with conda clean, but that didn't help.

Are there any guides for using something like VMware fusion or virtual box for setting up an OSX virtual machine?

[2017-04-01 09:53] jrderuiter commented on #4321
Is my conda maybe pulling down an old build of r-base? (It seems to be using build 0.) Is this expected behavior?

If it helps, I can add my conda info output when I get back to my laptop.

[2017-04-01 10:05] simonvh commented on #4278
@bgruening I had no chance to look into this issue due to amazingly bad wifi while travelling. I will make sure to fix it coming week, and will close this issue when I'm sure it all works.

[2017-04-02 10:46] mictadlo opened #4335 "Racon caused segmantation fault"
Hi @druvus,
Did you encounter the same [problem](https://github.com/isovic/racon/issues/22#issuecomment-290929091) as me?

Thank you in advance.

Michal

[2017-04-02 14:48] druvus commented on #4335
Hi @mictadlo,
I have been on the move a lot recently so I haven't been testing it so carefully. I will try to look into it during the week. The racon recipe also needs some work to include accessory scripts etc.

[2017-04-02 18:25] jrderuiter commented on #4321
Wiped my conda install and am now able to build recipes depending on r-base. However, I am still getting the following warning:

[code]

Is this something I should be worried about? (The last warning.)

My conda info output is as follows:

[code]

[2017-04-03 12:51] khourhin commented on #1
Started to get more confortable with conda, and I would like to contribute some recipes. Can I join ?
Thanks !

[2017-04-03 12:52] bgruening commented on #1
Welcome @khourhin!

[2017-04-03 14:54] zachcp commented on #4073
@tseemann thanks for the pointer! I should be able to patch it from here.

[2017-04-03 15:28] zachcp commented on #4073
hmmm... looks like there are issues whether I use the gcc compiler or clang. Here is the output using gcc.

[code]
(Looks like others have [run into this issue before](http://stackoverflow.com/questions/43136340/cannot-compile-c-code-on-mac))

[2017-04-04 09:29] #4278 closed

[2017-04-04 17:47] epruesse opened #4360 "libintl (gettext) so name wrong (libintl.so.8 vs libintl.so.9)"
The versions of gettext in bioconda and conda-forge contain incompatible so names (8 and 9) due to a bug in the version shipped with bioconda. This leads to failure if a bioconda package requires packages from conda-forge and bioconda which both require gettext, as those from bioconda require libintl.so.9 and packages from conda-forge require libintl.so.8.

The "bug" was caused by an accidental bu

[2017-04-04 21:04] bgruening commented on #4360
@epruesse I think this should be removed from bioconda. Can you create a PR and remove the recipe from the repo and ping me if you merge it. I will migrate the package to bioconda-legacy then.

Thanks for fixing this!

[2017-04-04 21:12] epruesse commented on #4360
@bgruening PR #4363 deletes the gettext recipe.

[2017-04-04 21:42] bgruening commented on #4360
Thanks!

[2017-04-04 21:42] #4360 closed

[2017-04-05 05:13] croth1 commented on #3270
@johanneskoester, thanks for doing the heavy lifting here! Do you have a todo-list for things that still have to be done until we can drop the r-channel? Is there anyway we can help you here?

[2017-04-05 11:17] johanneskoester commented on #3270
@croth1 the plan and progress is outlined in conda-forge/staged-recipes#2009.

[2017-04-05 15:40] AlexxNica commented on #1
Hey! Excellent project, may I join you?

[2017-04-05 15:45] AlexxNica commented on #1
Hey @bgruening! Excellent project! I'm looking forward to contributing, and it'll be a pleasure to join the team if there's no problem inviting me. Thank you. 😸

[2017-04-05 16:28] bgruening commented on #1
Hi @AlexxNica! Welcome to BioConda/BioContainers!

[2017-04-05 18:51] epruesse commented on #1
@bgruening I'd like to join also.

[2017-04-05 18:53] bgruening commented on #1
Welcome @epruesse!

[2017-04-06 06:13] guowei-he commented on #1
Thanks for the great project. I'm interested in joining and browsed https://bioconda.github.io/contributing.html. Yet, I do have some questions. Could you kindly help me?

1. Licensing and contributing (in manners and legal perspective): I did a conda package of a code of someone else, which is GPL licensed. In this case, should I get submission permission to BioConda from the original author or j

[2017-04-06 07:21] johanneskoester commented on #1
@guowei-he thanks for your interest!

1. GPL is fine, because it allows redistribution. The license has to be mentioned in the meta.yaml and the license file itself should ideally be included via the `license_file` keyword.
2. We don't run the real tests. Usually, we simply invoke `cmd --help` or test the import of a module. We are not interested in upstream bugs, but rather whether all dependenci

[2017-04-07 14:59] rvalieris commented on #4319
The problem is that defined(%hash) has been upgraded to a fatal error in recent versions of perl, as a stop gap solution we do a hotfix during the build of the mummer package, see https://github.com/bioconda/bioconda-recipes/blob/master/recipes/mummer/build.sh#L40.

However it seems you are not using the mummerplot installed by bioconda, since program path in the error is  `/usr/bin/mummerplot`

[2017-04-07 16:20] johanneskoester commented on #1121
That is a very old version. But even that has been fixed since then. Simply do a `conda update bowtie2` in your environment. If you want to keep 2.2.5, then do `conda update bowtie2=2.2.5`

[2017-04-07 16:20] #1121 closed

[2017-04-07 16:20] johanneskoester commented on #1121
Feel free to reopen if you disagree.

[2017-04-07 19:16] lparsons commented on #4004
Sorry @bgruening, still having an issue: https://github.com/bioconda/bioconda-recipes/pull/4244#issuecomment-290116379

[2017-04-07 20:22] bgruening commented on #4004
But not the above one?

[2017-04-07 20:36] lparsons commented on #4004
I believe it's the same issue for both `5.3.9c6f0a5` and `5.3.f8bfa9c`.

 `5.3.9c6f0a5` error: https://github.com/bioconda/bioconda-recipes/issues/4004#issue-211707296

`5.3.f8bfa9c` error: https://github.com/bioconda/bioconda-recipes/pull/4244#issuecomment-290116379

[2017-04-10 06:21] nilesh-tawari opened #4390 "ensembl-vep package perl lookup issue"
@matthdsm
Installed ensembl-vep using conda but while running command "vep" error occurs,
`"perl: symbol lookup error: /lib/perl5/5.10.1/auto/Cwd/Cwd.so: undefined symbol: Perl_Istack_sp_ptr"`
Any work around? thanks

[2017-04-11 16:46] peterjc opened #4399 "Biopython is not under the MIT license"
From https://github.com/bioconda/bioconda-recipes/blob/master/recipes/biopython/meta.yaml Biopython is wrongly listed as using the MIT license

[code]

Biopython uses its own liberal license, the "Biopython License Agreement" (a slight variant of the OSI approved HPND https://opensource.org/licenses/HPND ), but is in the process of transitioning to the more mainstream "3-Clause BSD License", see h

[2017-04-12 14:17] peterjc opened #4408 "Improve one-time setup installation instructions for conda"
Reading https://bioconda.github.io/contrib-setup.html#git-and-github-one-time-setup it says:

While conda does link to https://conda.io/miniconda.html I tried what to me is the default way to install a Python package under Python 3, ``pip3``,

[code]

I quickly fell over the following, where after some searching I found ``ruamel_yaml`` is assumed to be installed as part of ``conda``:

[code]

Then

[2017-04-12 15:16] pbordron commented on #4250
issue solved by this PR https://github.com/bioconda/bioconda-recipes/pull/4411

[2017-04-12 17:02] molpopgen opened #4413 "Travis vs the "real world"?"
This is more of a general question for some of the @bioconda/core folks.

To make a long story short, I've come across differences in what it takes to build a package on a Travis bot in a miniconda environment vs. what it takes to build the same package in the same environment on my on OS X and Linux machines.

Recently, Travis builds for my project (http://github.com/molpopgen/pylibseq) started f

[2017-04-12 17:07] kyleabeauchamp commented on #4413
So for pysam, we ended up pinning HTSLib to a range that includes any "minor version" increments but not major version increments: https://github.com/bioconda/bioconda-recipes/blob/e7953fbfe7a57f7851ba5e85353ef9948740ebf9/recipes/pysam/meta.yaml#L21

FWIW, dealing with HTSLib versioning between disparate packages has been a source of several issues...

[2017-04-12 17:10] molpopgen commented on #4413
@kyleabeauchamp That is a useful solution, but is it "really" necessary (e.g., on your personal machine), or is it just something to make the Travis systems happy?

In my specific case, 1.3 vs 1.4 only matters on Travis, but not on my home systems.  And if we start pinning, then it seems like we run into long-term issues as packages don't update, etc., and certain upgrade paths become unavailable

[2017-04-12 17:11] kyleabeauchamp commented on #4413
IIRC this was motivated by failures observed on user machines, not on the Travis CI side.

[2017-04-12 17:12] molpopgen commented on #4413
@kyleabeauchamp That's interesting, thanks.  Perhaps it depends which corners of htslib one is using?

[2017-04-12 17:15] kyleabeauchamp commented on #4413
Pysam is a particuar challenge because it bundles a local copy of HTSLib, but (AFAIK) uses the shared linker when accessing it.  Thus, I suspect there's a possibility of "precedence" issues where the bundled API is accessing a different shared SO.  Not 100% sure though, would be great to sort out the root cause.

[2017-04-12 17:56] molpopgen commented on #4413
I suppose I'll close this one, at least for now.  Looks like pinning is our best bet.

[2017-04-12 17:56] #4413 closed

[2017-04-12 18:13] johanneskoester commented on #4413
To ensure consistent pinning, we use our env_matrix.yml. it pins htslib to 1.4 currently, and all packages depending on htslib should use it. All this will become much easier once conda build 3 is released.

[2017-04-12 23:35] #4399 closed

[2017-04-13 00:46] shenwei356 opened #4415 "one recipe not synced on anaconda.org but another was"
Hi dear all,

I updated two recipes (#4393 for seqkit and #4394 for csvtk) and they are all tested OK and then merged almost the same time. However, after more than one day, only the csvtk was synced on [anaconda](https://anaconda.org/bioconda/csvtk/files), the seqkit was [not](https://anaconda.org/bioconda/seqkit/files).

How did it happen? Should I resubmit?

[2017-04-13 06:23] bgruening commented on #4415
@shenwei356 this should not happen, can you try to find the travis log for this merge if you have time?

[2017-04-13 06:33] matthdsm commented on #4390
Hi @nilesh-tawari
It seems to me that you're using the wrong perl interpreter for the vep executable. the conda vep version is built with the bioconda-perl (v5.20) while you're using the libraries for your system installed perl (v5.10), which are incompatible.

quick google search [result](http://stackoverflow.com/questions/32065108/redhat-perl-5-10-1-getting-error-symbol-lookup-errorauto-math-par

[2017-04-13 06:39] bgruening commented on #4390
@nilesh-tawari you are using your system perl package and not the conda perl version. Can you please try to install it into a isolated environment via `conda create -n vep ensembl-vep`

[2017-04-13 06:57] nilesh-tawari commented on #4390
@matthdsm
Yes, the problem is incompatibility in perl versions.
@bgruening
I have created a separate environment installed vep in that. Below is my perl version,

[code]
If i use vep command in the condas environment i get error,
`perl: symbol lookup error: /mnt/software/lib/perl5/5.10.1/auto/Cwd/Cwd.so: undefined symbol: Perl_Istack_sp_ptr`

But if i use system perl (which is perl v5.10.1) to lau

[2017-04-13 07:02] bgruening commented on #4390
@nilesh-tawari `/mnt/software/lib/perl5/5.10.1/auto/Cwd` this is not your conda perl isn't it? I don't understand why this is used. Do you have a PERL path set, or something similar?

[2017-04-13 07:06] jerowe commented on #4390
Can you run 'which perl' with you conda env activated and see how it looks?

[2017-04-13 07:07] nilesh-tawari commented on #4390
@jerowe
`(ensembl-vep) [nilit@n126]$ which perl
~/miniconda3/envs/ensembl-vep/bin/perl`

[2017-04-13 07:08] nilesh-tawari commented on #4390
@bgruening
Yes, `/mnt/software/lib/perl5/5.10.1/auto/Cwd` is not conda perl. Let me check why it is being used.

[2017-04-13 07:09] jerowe commented on #4390
Did you do 'which perl' and then hit enter, or 'which perl ~/miniconda3/envs/ensembl-vep/bin/perl' ?

[2017-04-13 07:09] nilesh-tawari commented on #4390
@jerowe I did which perl' and then hit enter

[2017-04-13 07:14] jerowe commented on #4390
Ah ok. ;-)

I'm not sure why it is doing this. It sounds to me like one of these problems where some script calls some script that calls some other script, and one of those may be calling a different perl?

Could you 'echo $PATH' ?

[2017-04-13 07:19] shenwei356 commented on #4415
You canceled it: https://travis-ci.org/bioconda/bioconda-recipes/builds/221034664

[2017-04-13 07:24] bgruening commented on #4415
I didn't. But somehow it gets stopped. I just restarted it and this should explain this issue here.

[2017-04-13 07:33] jerowe commented on #4390
This software has a ~1700 line Install file.

[2017-04-13 08:11] shenwei356 commented on #4415
Yes, it's updated. Thank you @bgruening

[2017-04-13 08:11] #4415 closed

[2017-04-13 08:35] peterjc commented on #4399
Thank you @saketkc

That's solved the license information on https://bioconda.github.io/recipes/biopython/README.html 👍

[2017-04-13 08:57] peterjc opened #4419 "Sometimes missing license information on anaconda.org"
Consider these examples (mostly tools I am familiar with, picked to show three different licenses):

- https://bioconda.github.io/recipes/khmer/README.html
  - License: BSD-3-Clause
- https://bioconda.github.io/recipes/trackhub/README.html
  - License: BSD 3-clause
- https://bioconda.github.io/recipes/toolshed/README.html
  - License: MIT License
- https://bioconda.github.io/recipes/pyani/README.h

[2017-04-13 09:00] peterjc opened #4420 "Missing summary description on anaconda.org"
Consider three examples:

- https://bioconda.github.io/recipes/khmer/README.html
  - Summary: khmer is a library and suite of command line tools ...
- https://bioconda.github.io/recipes/pyani/README.html
  - Summary: pyani provides a package and script for calculation of genome-scale average nucleotide identity.
- https://bioconda.github.io/recipes/biopython/README.html
  - Summary: Freely availab

[2017-04-13 13:06] #4321 closed

[2017-04-13 13:44] daler commented on #4419
This is a good point and something that we've not been good about. #1581 was a start at looking at consistency, and once we have a controlled vocabulary we can add it to the linting system to catch issues with new recipes.

Like you mentioned, anaconda.org seems to be showing "unspecified" if a `license_family` or `license_file` key is included. This seems like an anaconda.org bug.

I'm not aware

[2017-04-13 13:52] peterjc commented on #1581
This ought to include addressing multiple licensing (eg dual licensing), there is a mix of comma separated, or separated, and pipe (``|``) separated. e.g.

[code]

[2017-04-13 13:59] daler commented on #4420
Hmm, seems like it's an issue on anaconda.org. The files for the biopython PyPI entry, which has the description (e.g., from https://anaconda.org/pypi/biopython/files) are tarballs of the source rather than a tarball of the recipe. That seems to be something specific to the `pypi` channel on anaconda.org.

Actually, it's not just bioconda; even the default numpy anaconda package has no description

[2017-04-13 14:13] daler commented on #124
closed via https://github.com/bioconda/bioconda-utils/pull/57

[2017-04-13 14:13] #124 closed

[2017-04-13 14:46] peterjc commented on #4420
Yes, the pypi channel seems to be special - it was the only one I found the description being used on. Logged as https://github.com/Anaconda-Platform/support/issues/106

[2017-04-14 14:56] jasper1918 commented on #4408
I recently faced this issue as well. I started adding recipes a few weeks back and getting the environment right was tricky.The deceiving part is that the documentation appears complete. It is either missing a critical step or rather the simluate-travis.py --install-requirements is missing a key package. But I added a few dependencies manually and got it working(wish I remembered what they were...

[2017-04-14 14:58] peterjc commented on #4408
I think it would be sensible to add ``ruamel_yaml`` as an explicit dependency.

I don't recall having to install anything else, but I was not starting from a completely clean Python environment.

[2017-04-14 15:11] peterjc commented on #4419
I agree whatever is breaking seems to be an anaconda.org bug.

I'm not sure if ``license_file`` is important, consider:

Consider these examples:

- https://bioconda.github.io/recipes/wub/README.html showing: ``MPL-2.0``
  https://anaconda.org/bioconda/wub showing ``License: Unspecified``
- https://bioconda.github.io/recipes/nanonet/README.html showing: ``MPL-2.0``
  https://anaconda.org/bioconda/

[2017-04-14 15:37] Quicken-up opened #4436 "conda install maxbin2 error"
I am trying to install the atlas pipeline following these instructions:
https://github.com/pnnl/atlas
Everything installs fine except maxbin2, which throws the AssertionError shown below. Any advice appreciated.

Current conda install:

             platform : linux-64
        conda version : 3.14.1
  conda-build version : 1.14.1
       python version : 3.4.3.final.0
     requests version : 2.7.0

[2017-04-14 15:43] bgruening commented on #4436
Do you have a PR for us, so we can check it and see the original travis log?
Thanks!

[2017-04-14 17:36] Quicken-up commented on #4436
Hello,
I didn't do any pull request. I just followed the installation instructions on the atlas page I linked.
Best, Rob

On 14 April 2017 16:43:26 BST, "Björn Grüning" <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, registered in
Scotland, with registration number SC005336.

[2017-04-15 00:03] odoublewen commented on #3808
Hi @johanneskoester -- I am still confused -- What are we doing about Python 3.6?

A user with a fresh ana/mini-conda installation today will have python 3.6.  What is the recommended workaround when they try to install bioconda packages that haven't been built on 3.6?  Do they need to do a `conda install python=3.5`?  Should this be documented somewhere?

Thanks

[code]

[2017-04-15 09:41] johanneskoester commented on #3808
Good point. We should document it, and build for 3.6 as soon as possible.

[2017-04-15 09:41] johanneskoester commented on #3808
Downgrading works, as well as creating environments.

[2017-04-17 19:27] mworkentine commented on #1
We're now using bioconda extensively on our cluster to manage almost all of our bioinformatic software.  Fantastic work!  I'd like to join if I may?

[2017-04-17 20:44] bgruening commented on #1
@mworkentine thanks for the nice words and welcome!

[2017-04-18 09:50] xgaia commented on #1
Hello!

I'am developing tools and i would like to write bioconda recipes for them. Can I join the team?

thanks!

[2017-04-18 19:16] bgruening commented on #1
@xgaia welcome!

[2017-04-19 11:22] sebastian-luna-valero commented on #4038
Hello,

I think this is the appropriate thread to discuss the following problem.

I am adding a new recipe here https://github.com/bioconda/bioconda-recipes/commit/9dbb70427b41654d7d589e1bdb9c1bcf128420a3

Locally I get:
[code]

but this is a new recipe. Additionally, on Travis nothing runs but I cannot find the same `INFO` message:
https://travis-ci.org/bioconda/bioconda-recipes/jobs/223514623

I

[2017-04-19 11:52] johanneskoester commented on #4038
The answer is in this message:
https://travis-ci.org/bioconda/bioconda-recipes/jobs/223514623#L302

We do this in order to save build time. If you want to test before your actual PR, you have to do that in your own fork. However, I am currently working on a replacement of Travis (using buildkite.org) that makes such tricks unnecessary.

[2017-04-19 12:26] sebastian-luna-valero commented on #4038
Thanks, will do.

But why am I getting the `INFO` message locally?

[2017-04-19 12:37] johanneskoester commented on #4038
I don't know, could be a bug in simulate-travis. I always run bioconda-utils (or conda build) directly. @daler, any comment?

[2017-04-19 16:21] peterjc commented on #1
I'd like to join the team, I'm coming to this mainly from the Galaxy packaging community perspective.

[2017-04-19 17:06] abalter opened #4467 "Conflict with r-modelmetrics (--> r-essentials, rstudio, ...)"
Having to uninstall r-essentials and rstudio seem like a big price to have to pay to install `bioconductor-biomart`. Is there a possible workaround?

[code]

[2017-04-19 17:23] bgruening commented on #1
@peterjc welcome to BioConda! Glad to have you on board!

[2017-04-19 17:26] bgruening commented on #4467
@abalter if you can always use environments. E.g. `conda create -n biomart bioconductor-biomart`

[2017-04-19 17:34] abalter commented on #4467
I agree, but that seems like a pretty major conflict.

On 4/19/17 10:26 AM, Björn Grüning wrote:

--
Ariel Balter
"Don't believe everything you think."
509-713-0087
☮

[2017-04-19 17:46] bgruening commented on #4467
Yes, that's true. I guess it's because of the different R versions the packages are compiled with.

[2017-04-19 17:48] abalter commented on #4467
But most of the time conda seems to come up with a solution that
involves adjusting package versions and ask for (y/n). But in this case
it just fails.

On 4/19/17 10:46 AM, Björn Grüning wrote:

--
Ariel Balter
"Don't believe everything you think."
509-713-0087
☮

[2017-04-20 09:14] sebastian-luna-valero commented on #4038
Thanks!

Using directly bioconda-utils (or conda build) works. Can I ask what does `simulate-travis.py` expect from git? is it require that you run `simulate-travis.py` before committing changes with git?

[2017-04-20 09:23] johanneskoester commented on #4038
No. As I said, it is optional. It just tries to ensure that your environment is as similar as possible to what we have in travis (e.g. channel order).

[2017-04-20 09:26] johanneskoester commented on #4038
One thing that simulate-travis does is running bioconda-utils with --docker and --mulled-test. I suggest to do the same when you run bioconda-utils yourself. In general, if it works for you without simulate-travis, feel free to submit a PR and see what happens.

[2017-04-20 15:58] vimalkvn commented on #1
Hi, Could you add me to the team please?
I'd like to update an existing package and will probably add more packages later.
I'm vimalkvn on anaconda.org too. Thanks in advance.

[2017-04-20 17:16] SooLee commented on #1
@bgruening Hi I'd like to join bioconda.

[2017-04-20 17:36] sebastian-luna-valero commented on #4038
Thanks!

I think the problem is with the `--git-range HEAD` option in `bioconda-utils`, either called directly or via `simulate-travis.py`.

If I have committed the changes to the new recipe, calling `simulate-travis.py` will print out: `No recipe modified according to git, exiting.`

If I want my new recipe to be tested after the commit, I have to call `bioconda-utils` directly but just removing

[2017-04-20 19:07] luke-c-sargent commented on #4073
I found a workaround to this problem by replacing instances of
`#include <malloc.h>`
with
`#include <malloc/malloc.h>`

using your recipe's example,
[code]

There's still the truckload of warnings, but running `make` in `sources/` and `train/` creates executables that print their Usage and Options information on execution.
[code]
I haven't tested it super thoroughly, so _caveat emptor_

[2017-04-20 19:57] zachcp commented on #4073
@luke-c-sargent awesome! I'll give this a whirl and see how it works. Thank you!

[2017-04-20 22:04] bgruening commented on #1
HI @vimalkvn and @SooLee welcome to BioConda! If you need any help please ping us!

[2017-04-21 08:27] johanneskoester commented on #4038
If you do `--git-range master HEAD`, does that help in both cases?

[2017-04-21 10:34] sebastian-luna-valero commented on #4038
Confirmed:

* `--git-range HEAD` does not work

* `--git-range master HEAD` works

After committing the changes with git.

[2017-04-21 10:38] johanneskoester commented on #4038
And does it also work in the case where changes are not yet committed?

[2017-04-21 10:58] sebastian-luna-valero commented on #4038
Indeed.

[2017-04-21 13:40] johanneskoester commented on #4038
@sebastian-luna-valero see PR #4495.

[2017-04-21 13:57] sebastian-luna-valero commented on #4038
Great, that's working for me!

[2017-04-24 00:03] brwnj commented on #4436
The PR for maxbin2 is https://github.com/bioconda/bioconda-recipes/pull/3726.

[2017-04-25 22:36] kyleabeauchamp opened #4529 "Add biocontainers to main bioconda.github.io page?"
Right now it seems the docker images are mostly described elsewhere, but it might be nice to have some links on the main landing page?

[2017-04-27 15:42] ggonnella commented on #1
Hi, I would like to join bioconda.

[2017-04-27 15:44] ar0ch commented on #1
Good morning folks, I'd like to be added to the team.

[2017-04-27 15:50] daler commented on #1
Welcome @ggonnella and @ar0ch!

[2017-04-27 20:28] hainm commented on #3701
@bgruening When will "some point" happen? :D

[2017-04-27 20:29] hainm commented on #3701
Some users want to use `nglview` with python 3.6 but bioconda has not supported yet. `noarch` is pretty good option for nglview (just purely python and javascript).

[2017-04-28 08:23] ivirshup opened #4553 "Travis always failing on first commit in branch for forks"
Hi,

I think I've found a bug related to testing travis builds on forks. Basically, travis will hit a bug during `travis-run.sh` at the `bioconda-utils lint recipies` call on the first  commit since the `--git-range` argument won't get formatted properly.

## example

Here's an commented example (starting from the base of `bioconda-recipie` repo):

[code]

The travis build for this commit will fai

[2017-04-28 19:45] lpantano opened #4560 "Updating bioconductor packages to 3.4"
Hi @bioconda/core,

We (@chapmanb, @roryk, @mjsteinbaugh ) wanted to normalize are all bioconductor package (from bioconda) we use in bcbio-nextgen to use R 3.4 because there is a bunch of fixes now, otherwise we are starting to see incompatibility issues between packages.

Is there any guides to do this? I guess the first thing would be able to install 3.4 from r channel or are we using other cha

[2017-04-28 19:54] bgruening commented on #4560
@lpantano before we rebuild all packages we would like to port all package from the `r` channel to conda-forge: https://github.com/conda-forge/staged-recipes/issues/2009

If this is done we put all r and bioc package from bioconda on a blacklist, increase the R version to 3.4 and as a last step remove one package after the other from the blacklist to rebuild everything.

[2017-04-28 21:51] johanneskoester commented on #4560
If you like to speedup the process, any help with the migration is very welcome. A complete guide can be found in conda-forge/staged-recipes#2009.

[2017-04-29 02:47] lpantano opened #4564 "./simulate-travis.py error with Package not found: '' Package missing in current linux-64 channels"
Hi @bioconda/core,

since the new way to test package changed I couldn't run it successfully for any package. This is the last error I am getting and I cannot solve it. I thought it was relate to missing folders/file inside the `conda-bld` folder but I actually have the norach and linux64 there. If somebody has any idea, I really appreciate it.

I use macosx.

Thanks!

[code]

[code]

[2017-04-29 07:39] bgruening commented on #4564
@lpantano on OSX you can ignore the `--mulled-test`. I assume that something with the docker mounts do not work under your system.

[2017-04-29 10:43] chapmanb commented on #4560
Björn and Johannes;
Thanks for the details about the R plans. Wow, this is an incredible effort. Do we need to port all of the packages by hand, or is there any automation in place? We're happy to help contribute, but the task list is, well, daunting. I'm not sure how best to jump in and then what updating to 3.4 will entail. Thanks again for tackling this.

[2017-04-29 10:50] johanneskoester commented on #4560
Most of the time a `conda skeleton cran packagename` is sufficient. The issue also provides a cleanup script for the resulting recipe. Then, all one needs to do is to create a pr. We are almost done with level 2 of the list. Maybe this will take two more weeks. Did you see my recent gitter messages for bioconda/core?

[2017-04-29 10:52] bgruening commented on #4560
@chapmanb @johanneskoester also see my comment here: https://github.com/conda-forge/staged-recipes/issues/2009#issuecomment-298161781

[2017-04-29 13:40] lpantano commented on #4564
Thanks! no matter what I do, that option is always there in the command (even if I dont run with docker):

[code]
If I manually do

`bioconda-utils build recipes config.yml --loglevel=info  --packages mintmap --git-range master HEAD` it works

thanks for the hint! Although not sure how to avoid activating `mulled-test`.

[2017-04-30 23:05] eschen42 commented on #1
Hi, I would like to join bioconda. Thank you.

[2017-04-30 23:07] bgruening commented on #1
@eschen42 welcome to BioConda!

[2017-05-01 09:27] shenwei356 commented on #1
Hi @bgruening , I would like to join BioConda :)

[2017-05-01 09:30] bgruening commented on #1
@shenwei356 this was long overdue ;) - welcome!

[2017-05-02 16:39] peterjc commented on #4419
Apparently this should is fixed on anaconda-client 1.6.3.

Does this mean we need to do a push from the Bioconda side?

[2017-05-02 16:50] bgruening commented on #4419
Interesting! I don't understand why but yes it seems so. So we need to wait until a rebuild of a package triggers a new push :(

[2017-05-02 20:26] karel-brinda opened #4582 "Too strict ete3 dependencies"
Hi, I think that *ete3* has too strict list of dependencies, see https://github.com/bioconda/bioconda-recipes/blob/26f472b252306b85607dbaf8f64d6fcbb3c09cfc/recipes/ete3/meta.yaml. Especially `pyqt 4.11.*` causes a lot of problems. For instance, Python 3.6 cannot be used with the current version of the package:
[code]
PyQT is needed only for plotting trees. However, in many programs one does not ne

[2017-05-02 20:27] karel-brinda commented on #4582
cc @simonvh @nsoranzo

[2017-05-02 20:36] bgruening commented on #4582
@karel-brinda can this be a general problem that this package is not available for python3.6?

[2017-05-02 21:07] chambm commented on #4560
Is this thread about upgrading to R 3.4 (just released), or BioConductor 3.4 (released last year)? BioConductor 3.5 is out now (depends on R 3.4).

[2017-05-02 21:09] lpantano commented on #4560
R 3.4

[2017-05-02 21:11] chambm commented on #4560
OK good. So it won't block #4583  :)

[2017-05-02 21:26] karel-brinda commented on #4582
@bgruening I think that Python 3.6 is usually used with a newer PyQT (e.g., 5.6):
[code]

[2017-05-02 21:27] karel-brinda commented on #4582
[code]

[2017-05-02 21:29] bgruening commented on #4582
Can you try conda create -y -c bioconda --name test2 python=3.5 pyqt=4?
BioConda do not support Python3.6 yet :( Sorry.

[2017-05-03 07:04] simonvh commented on #4582
So, is it just Python 3.6 that is the problem? I'm not an expert on either ete3 or PyQT versions. I just updated the ete3 recipe, as I needed it and the previous one didn't work. These dependencies were the minimum that I settled on after a lot of trial and error. As for creating multiple recipes, I would suggest involving @jhcepas?

[2017-05-03 14:22] karel-brinda commented on #4582
@bgruening
[code]

[2017-05-03 14:24] karel-brinda commented on #4582
I can create an environment with Python 3.6 and other conda packages. I don't know which version of packages is used (maybe for Python 3.5?), but it works.

[2017-05-03 14:40] johanneskoester opened #4592 "Update pinned versions"
Please post here to propose an update of the pinned versions (e.g. Python, R, Perl, boost, ...) or add a new pinning.

[**Status**](https://github.com/bioconda/bioconda-recipes/commits/bulk)

### Todo
* [x] Python 3.6
* [x] R 3.3.2

[2017-05-03 17:52] dhimmel opened #4595 "Squash merge pull requests"
Just a note to maintainers, I think the repository would benefit from primarily adopting [squash merges](https://github.com/blog/2141-squash-your-commits) rather than GitHub's default "Create a merge commit" option.

For example, most pull requests are cohesive units that make sense as a single commit. Most of the subsequent commits in pull requests are responses to review and bug fixes. There is

[2017-05-04 03:11] roylejw commented on #1
Hi, I would like to join BioConda please.

[2017-05-04 06:17] bgruening commented on #1
Welcome @roylejw!

[2017-05-04 06:31] simonvh opened #4599 "Stuck at "Solving package specifications""
@bioconda/core I have an issue that I hope one of you will be able to help me with. I recently updated the bioconda package for [gimmemotifs](https://bioconda.github.io/recipes/gimmemotifs/README.html). However, using a simple install command will now fail, with conda being stuck at the "Solving package specifications" stage.

[code]
When I specify the exact version, the installation works flawles

[2017-05-04 07:18] jrderuiter opened #4601 "Travis builds failing due to wrong miniconda script url"
My travis builds are failing because the miniconda script can't be found:

[code]

Seems that for some reason $MINICONDA_VER isn't being set correctly, as the setup script is looking for the following URL:

[code]

Any idea why this is?

[2017-05-04 07:22] bgruening commented on #4601
This is due to recent changes in the build system. Can you try to rebase your branch against master?

[2017-05-04 07:29] jrderuiter commented on #4601
Ok, thanks. Will try!

[2017-05-04 07:38] jrderuiter commented on #4601
Seems to be working fine now, thanks!

[2017-05-04 07:38] #4601 closed

[2017-05-04 08:48] johanneskoester commented on #4599
That looks like a bug in the conda package manager. Can you please report this here: https://github.com/conda/conda? If you do so, please also tell them the version you are using.

[2017-05-04 08:48] #4599 closed

[2017-05-04 10:54] bgruening commented on #4595
I think this is a good idea. Yet it is hard to enforce I think. But we can make it a best practice rule.

[2017-05-04 11:22] johanneskoester commented on #4595
We could disable everything but squash. I would be fine with that.

[2017-05-04 16:08] dhimmel commented on #4595
`python/cpython` only allows squash merge. If you have lot's of maintainers, this could be most efficient.

Agree. Related, when squash merging, I'll often rephrase the commit message. For example, I'll add whether it closes an issue and I'll clarify the title as appropriate.

[2017-05-04 16:10] johanneskoester commented on #4595
@bioconda/core, do you have any objections against only allowing squash merges?

[2017-05-04 16:15] rvalieris commented on #4595
I think its a great idea, I guess people don't use it because its not the default option so its easy to miss.

[2017-05-04 16:41] bgruening commented on #4595
:+1: from me!

[2017-05-04 20:19] #4319 closed

[2017-05-06 16:15] bgruening commented on #4595
Ok, I enabled this now.
Thanks for the suggestion!

[2017-05-06 16:15] #4595 closed

[2017-05-06 16:18] bgruening commented on #4592
@bioconda/osx we are currently migration to Python 3.6. This is happening on the `bulk` branch.
Look at this beauty: https://anaconda.org/bioconda/repo/history

However, there are a few (;)) packages that are failing and it would be great to get your help here.
For example look here: https://travis-ci.org/bioconda/bioconda-recipes/jobs/229428332 grep some failure and submit the change to the bulk

[2017-05-06 20:15] johanneskoester commented on #4592
@bioconda/osx, I am currently trying to fix an issue with conda-build on osx. I hope this this will solve many of the failures we see on osx. I'll keep you posted.

[2017-05-07 16:55] johanneskoester commented on #4592
Ok, the issue was that travis sometimes mixes up the order of the log messages on osx. If that seems to happen in your case, reloading with F5 should be sufficient to get the right order.

[2017-05-07 17:02] johanneskoester commented on #4592
Mhm, actually it still does not make any sense... @daler, could you have a look, maybe on a local mac machine? What is wrong there???

[2017-05-07 17:08] johanneskoester commented on #4592
It looks like after htseq has been built for the first time, the build folder is always the htseq folder and it sometimes tries to rebuild htseq and sometimes tries to build the current recipe but cannot find the correct files... This is really a mystery to me.

[2017-05-08 02:12] notestaff commented on #3224
Any updates on the newer compiler?  I need a C++14 compiler to compile kmc_tools in the kmc package.  Thanks a lot!

[2017-05-08 18:12] johanneskoester commented on #4592
The build issues have been fixed.

[2017-05-10 14:29] tdido commented on #1
Hello, I'd like to join please. Thanks!

[2017-05-11 08:25] vinjana commented on #1
Hi, I'd like to join.
Thanks!

[2017-05-11 09:33] bgruening commented on #1
@tdido @vinjana welcome! Great to have you here!

[2017-05-11 16:09] ostrokach commented on #1053
I think @pkgw would be in a better position to add librsvg.

conda-forge / bioconda is missing the `gdk-pixbuf`, `gtk3` and `libcroco` dependencies, and those are missing a set of dependencies themselves (a very large set if you try to create a conda package for every library in the xorg stack).

If `rsvg-convert` is the only thing that is required, I think a better approach would be to compile a

[2017-05-11 17:09] peterjc opened #4675 "Command line NoD predictor (clinod)"
Command line NoD predictor is a tool for predicting nucleolar localization sequences (NoLSs) in a FASTA file of proteins using a neural network. There is also a webtool version at http://www.compbio.dundee.ac.uk/www-nod/

Would a recipe based on https://github.com/peterjc/pico_galaxy/blob/master/tools/clinod/tool_dependencies.xml be welcomed? Note clinod requires the SNNS Batch Interpreter v1.0 ex

[2017-05-11 18:56] johanneskoester commented on #1053
Thanks. Personally, I don't need it anymore. I have added a cairosvg package to conda-forge, which does the same job with much lighter dependencies.

[2017-05-11 18:56] #1053 closed

[2017-05-11 19:59] pkgw commented on #1053
OK, For what it's worth, I have a full stack of dependencies for `gtk3`, `librsvg`, `libcroco`, and `gdk-pixbuf` in a personal set of packages [here](https://github.com/pkgw/conda-recipes/) that layer on conda-forge. Now that X.org packages are in conda-forge, there actually aren't *that* many packages that need to be added to satisfy all of the dependencies.

[2017-05-14 07:27] 0xAF1F commented on #3708
A similar ticket was filed on the conda repository in 2014: https://github.com/conda/conda/issues/1037

[2017-05-14 07:38] jerowe commented on #3708
Personally, I think the 'activate' script of conda should be replaced with modules, but I'm also perfectly happy to just create configuration files for bootstrapping modules from conda packages.

I know I've left this ticket open for awhile. I have a habit of taking on too many projects with not enough me, but as the academic year winds down I will be getting back into the conda space more. ;-)

[2017-05-15 15:51] SoapZA commented on #1
@johanneskoester @bgruening I'd like to add some tools for our pipeline that could also be applicable to a larger audience. I've already added ShoRAH in https://github.com/bioconda/bioconda-recipes/pull/4309

[2017-05-15 15:58] bgruening commented on #1
@SoapZA welcome!

[2017-05-15 18:51] ostrokach commented on #2796
I agree that in the long term, we would need some way of removing packages from bioconda while making sure that we don't break any dependencies. I stumbled on this trying to remove `retrying` #4689 because it does not link correctly but still has precendence over the conda-forge version because of the higher build number.

[2017-05-15 19:05] bgruening commented on #2796
@ostrokach if there is the same version in conda-forge we can move these packages to bioconda-legacy. But I would like to have a conda-forge version before. You can pin a specific verison of `retrying`, do you? Also in your special case we might just move the broken version away.

[2017-05-16 15:10] zzgw opened #4708 "peakranger depends on boost lib 1.57.0"
peakranger still use boost lib 1.57.0, while conda default boost lib is already 1.61.0
this makes peakranger bioconda installation not work

[2017-05-17 13:20] mwojcikowski opened #4721 "MGLtools contain python binaries"
Have you noticed that MGLtools contains python 2.5 which, overwrites the conda python? I must admit that MGLtools have trouble working with new Numpy although this breaks more stuff than fixes.

Temporary solution would be removing the /bin/python created by install script and changing shebang in scritps to `#!/usr/bin/env python2.5`.

[2017-05-17 15:44] peterjc opened #4723 "lint the yaml files and do this in TravisCI"
Working on #4722 I ran into a malformed YAML issue, TravisCI and ``simulate-travis.py`` were unhelpful:

[code]

Using an online YAML linter quickly solved my problem.

I propose that all the recipes YAML files be linted, and that this becomes an early check in the TravisCI setup.

[2017-05-17 15:45] peterjc commented on #4723
https://yamllint.readthedocs.io/en/latest/ looks intriguing but seems to be unaware of the ``# [linux]`` and ``# [osx]`` markers (e.g. reports duplicated keys for platform specific URLs).

[2017-05-17 16:05] daler commented on #4723
@peterjc https://github.com/bioconda/bioconda-utils/blob/master/bioconda_utils/linting.py#L240 is where linting currently happens. Do you think reporting the text of the exception would be sufficient? I guess it could be reported in a supplemental section under the dataframe of failed lint results?

[2017-05-17 16:08] peterjc commented on #4723
Reporting the text of the exception would certainly be a step forward, and might be sufficient.

Personally there is value in having the repository compliant with a light weight linting check which could also be used in a git pre-commit hook (``yamllint`` which I refered to earlier has the concept of configuration files which would help here), or many editors.

[2017-05-17 16:24] daler commented on #4723
I agree it would be great to validate yamls. I guess I worry about conda's meta.yaml files with their preprocessing selectors (as you mentioned) creating more complexity than it's worth. But now that you point out the config file option to `yamllint`, I think the `key-duplicates: disable` config option should solve it. I can't think of any other lint failures that would be caused by preprocessing

[2017-05-17 16:31] peterjc commented on #4723
There is the percent sign thing:

[code]

[2017-05-17 16:42] daler commented on #4723
Ah right, the jinja2 templating will make this a pain to work on files directly, which will in turn limit options for git commit hooks. The recipe needs to be filled in with the env but we could run validation on the filled-in contents from https://github.com/bioconda/bioconda-utils/blob/master/bioconda_utils/linting.py#L81.

[2017-05-17 16:47] peterjc commented on #4723
Ah - so the ``meta.yaml`` files go though ``#`` preprocessing and ``%`` jinja2 templating before they could be given to a naive YAML linter. That does complicate matters for standalone linting.

[2017-05-18 10:10] mbargull opened #4731 "Removal of faulty builds"
Do you have any policy on pulling faulty builds from the `bioconda` conda repository?
An example for such a build is `pysam-0.10.0-py35_2`.
See the discussion at https://github.com/conda/conda/issues/4955.

Here is a copy-pasta of the last comment over there:

----

It's working this time because `pysam` now has a higher version number and thus possibly gets more prioritized by the solver.
The iss

[2017-05-18 13:01] bow commented on #4390
I recently stumbled on something similar, but in my case this manifested simply as a segmentation error (which was, eh, very helpful).

Anyway, I finally tracked down the issue to Perl loading the wrong module (despite using the correct conda-installed executable). You can check this with `perl -V`. My guess is that somewhere in your environment, the `PERL5LIB` value is set (you should see this as

[2017-05-18 15:13] dirmeier commented on #1
Dear @johanneskoester and @bgruening I'd like to contribute some packages, too. Can I join the team?

[2017-05-18 15:18] bgruening commented on #1
Sure you can! Welcome @dirmeier!

[2017-05-18 15:57] kyleabeauchamp commented on #4731
If you are sure that pysam-0.10.0-py35_3 is working correctly, I think it's reasonable to delete the older builds for that version of pysam.

[2017-05-18 17:10] mbargull commented on #4731
I suppose it's working -- though I myself am not actually an user of that package. Maybe @sebastian-luna-valero can confirm.
Nonetheless I can confirm that `pysam-0.10.0-py35_3` incorporates the fix from #4235 which `pysam-0.10.0-py35_2` has not.

[2017-05-18 17:26] sebastian-luna-valero commented on #4731
Thanks both.  `pysam-0.10.0-py35_3` is working correctly, so probably removing `pysam-0.10.0-py35_2` is a good idea.

[2017-05-18 19:03] ostrokach commented on #2796
Yes, there is the same version of retrying (1.3.3) on conda forge: https://github.com/conda-forge/retrying-feedstock/blob/master/recipe/meta.yaml. I'm the one who added retrying to bioconda, so I'm the one to blame for the bad package. But I figured that since it's in conda-forge already, and since it does not have much to do with bioinformatics, it's best just to remote it.

Thanks for your help

[2017-05-19 19:40] karel-brinda opened #4742 "MashTree recipe does not work"
Linux:
[code]

OS X:
[code]

@druvus Do you have any idea where is the problem?

[2017-05-20 10:30] druvus commented on #4742
Looks like you didn't add the conda-forge channel.

[2017-05-20 17:21] druvus commented on #4742
@karel-brinda Please try to run the following first so you know all channels are added:

[code]

[2017-05-20 22:59] karel-brinda commented on #4742
Thank you, ` conda config --add channels conda-forge` solved the problem. Why is this channel needed?

[2017-05-21 06:32] druvus commented on #4742
Bioconda focus on bioinformatic software and depends on conda-forge, r and defaults for more general software/library dependencies. For further information please see the [Using Bioconda instructions.](https://bioconda.github.io/#using-bioconda)

[2017-05-21 06:32] #4742 closed

[2017-05-21 06:35] druvus commented on #4582
Bioconda now supports Python 3.6 so I am closing this.

[2017-05-21 06:35] #4582 closed

[2017-05-21 07:08] druvus commented on #4063
The env matrix is now in sync with conda-forge.

[2017-05-21 07:08] #4063 closed

[2017-05-21 07:11] #3341 closed

[2017-05-21 11:24] bgruening commented on #4742
@druvus just woke up and saw a bunch of mails from you in bioconda ... thanks a lot!!!

[2017-05-22 00:44] karel-brinda commented on #4742
@druvus Ok, thank you. I completely overlooked `conda-forge` and `defaults` in the recommendations. I was not aware of them at all.

[2017-05-22 01:03] karel-brinda commented on #4742
@druvus Since multiple channels can be required to install a package, the package websites should be changed. See e.g. https://anaconda.org/bioconda/mashtree:

This is very misleading and makes the impression that `bioconda` is the only required channel for `mashtree` . I believe that it would be better to display either this command ("no channels in the command, use `conda config --add channels`

[2017-05-22 05:39] druvus commented on #4742
@bioconda/core please see the comment by @karel-brinda regarding the information at anaconda.org. Does they allow to modify the automatic generated text to clarify bioconda's channel dependencies or add a link  https://bioconda.github.io/  ?

[2017-05-22 10:20] peterjc opened #4772 "Advice for recipe downloading multiple files?"
I've skimmed https://bioconda.github.io/faqs.html and other pages, but have yet to see an example ``meta.yaml`` which defines multiple independent entries under ``source:``. Searching the git repository with grep I could finds lots of examples with multiple URLs, but they all seem to using conditionals like ``# [linux64]``, ``# [linux32]``, ``# [osx]`` etc.

I would like to create an ``effectiveT3

[2017-05-22 13:28] peterjc opened #4775 "Avoiding repetition of the JAVA wrapper script"
When a JAVA package does not supply a shell script or equivalent, and the authors expect you to use ``java -jar ....`` the BioConda guidelines https://bioconda.github.io/guidelines.html#java say to add a wrapper script based on https://github.com/bioconda/bioconda-recipes/blob/master/recipes/peptide-shaker/peptide-shaker.py

Can and should we avoid the code duplication in this non-trivial Java wra

[2017-05-22 15:41] peterjc commented on #4772
Is there any easy way to get ``shasum`` installed as a build dependency? e.g. https://travis-ci.org/bioconda/bioconda-recipes/jobs/234836961

[code]

[2017-05-22 16:09] bgruening commented on #4775
There is one line in each wrapper that needs to be changed, so it is not as easy, but still possible. Even better if we can create a package for it, isn't it?

[2017-05-22 16:13] peterjc commented on #4775
I'll leave the technical side to the team's judgement - but the current repetition seems likely to cause trouble when we need to update all the Java wrappers at some point.

[2017-05-22 16:27] holtgrewe opened #4778 "Canvas crashes because "dotnet" binary could not be found"
When runnig `Canvas Somatic-WGS`, I'm getting the following error:

[code]

I tried both versions of mono found by conda and the problem occurs for both.

[code]

Also, `find path-to-miniconda3/ -name dotnet` returns nothing.

@chapmanb could you have a look?

[2017-05-22 16:50] daler commented on #4772
@peterjc WRT your original question, I think your latter solution is the best (choose a single source; download the rest in `build.sh`). WRT to `shasum`, try `sha256sum` instead, should be installed in `condaforge/linux-anvil`.

[2017-05-22 17:17] peterjc commented on #4772
OK, so the primary file's URL goes in ``meta.yaml`` and any secondary files should be downloaded and verified using ``build.sh`` - thanks!

[2017-05-22 17:17] #4772 closed

[2017-05-22 17:45] daler commented on #4775
For java packages we could require an `extra: jarfile:` key in their `meta.yaml`. Then we could have a tool in `bioconda-utils` that, given a `meta.yaml` file, builds the wrapper. That would keep the wrapper and meta.yaml tightly coupled.

However, the jarfile depends on exactly what's happening in `build.sh`. For example, for peptide-shaker, the `PeptideShaker-1.16.4.jar` is unzipped from the sou

[2017-05-23 09:18] matthdsm opened #4783 "perl-db-hts doesn't find htslib library, issue with htslib package"
Hi there

I'm having some issues with my install of the perl-bio-db-hts package. When I try to load module `Bio::DB::HTS::Faidx` I get the following error:

[code]
This issue arose since installing htslib 1.4.1. Works fine with htslib 1.3
ping @bioconda/perl

[2017-05-23 09:38] chapmanb commented on #4783
Matthias;
htslib 1.4.x and 1.3.x have different library versions (`.so.2` and `.so.1`, respectively), leading to this incompatibility. We need to rebuild the perl module with the latest version. Sorry you're stuck on this, I can take a look to see if I can get the module up to date.

[2017-05-23 09:40] matthdsm commented on #4783
Hi Brad,

Thanks, I'm already trying to do so myself, but I'm having some compile issues. Perhaps you're better suited to fix this than I am.

Thanks again.
M

[2017-05-23 09:51] johanneskoester commented on #4783
In particular, the package should pin the htslib version used for the build.

[2017-05-23 11:11] matthdsm commented on #4783
I temporarily pinned the htslib version in the ensembl-vep  recipe, so that one's usable again.
We can leave it like this untill a solution if found for the issue above.

M

[2017-05-23 14:51] rioualen commented on #4033
Hello,
Any update about the issue?

[2017-05-23 16:18] BioNinja commented on #4033
since the bioconda  build system changes alot，I'm afraid that I have no idea what happened and could not fixed this now. Sorry for all. I need some time to check the source code

[2017-05-24 03:00] chapmanb commented on #4783
Matthias;
I pushed new versions of perl-bio-db-hts and ensembl-vep that build and pin against htslib 1.4 so this should now work and be compatible with the rest of the bioconda packages. The PR fix is #4793

[2017-05-24 03:00] #4783 closed

[2017-05-24 06:40] matthdsm commented on #4783
Allright! Thanks Brad,
I'll start testing right away.

M

[2017-05-24 16:00] zachcp opened #4806 "hmmer2"
@bioconda/core

I'd like to request a review form the core team of my [hmmer2](https://github.com/bioconda/bioconda-recipes/pull/4091) recipe PR.  It deviates from normal practice by appending a "2" to the binary names in order to allow simultaneous installation of HMMER2 and HMMMER3. This is the convention used by the antismash team as well as @peterjc and I don't anticipate it being disruptive t

[2017-05-24 20:11] #4806 closed

[2017-05-25 09:26] johanneskoester opened #4818 "Update viral-ngs for Python 3.6"
@tomkinsc viral-ngs has some strict pinnings that interfere with updating to python 3.6. I suggest to release a new version that adapts this. In the meantime, I will skip the build for py36.

[2017-05-25 13:47] tomkinsc commented on #4818
We've actually moved viral-ngs to the broad-viral channel due to build time/size limits, so it can be removed from bioconda to unblock the py36 support. I'll submit a PR removing it later today.

[2017-05-25 18:43] tiagoantao opened #4825 "GATK 4"
Hi

Given that GATK 4 is now open source, I was planning in creating a recipe for it. Question: Should I do it under gatk or create gatk4? This is because GATK 4 is still alpha and most people might want to use 3.7.

I understand that packaging alpha software is not perfect, but given the popularity of GATK and the fact that it is now open source, I think it would merit an early package

[2017-05-25 20:21] zachcp commented on #4073
Hi @luke-c-sargent ,

I'm finally looping back around to this issue but still get segfaults when building. Id you have a few minutes could you try building against my branch and seeing if it passes? Thanks.

zach cp

GlimmerHMM Branch
https://github.com/zachcp/bioconda-recipes/tree/glimmerHMM

[2017-05-26 07:25] johanneskoester opened #4834 "Trevor"
@notestaff I have seen your trevor request and might have denied it too fast because I thought it was spam (the homepage link did not work). Can you provide a bit more detail first? The [command line application](https://github.com/vadimdemedes/trevor) does not look like it would need additional permissions in order to be run (I think it would be perfect to replace our simulate-travis.py).

[2017-05-26 10:37] peterjc commented on #2795
Personally I am comfortable with using the NCBI provided binaries - from a reproducibility perspective this is preferable to a fresh compilation which may use different versions of the compiler chain or library dependencies, and the NCBI have done a good job with making portable binaries.

(For the Galaxy BLAST packages https://github.com/peterjc/galaxy_blast/tree/master/packages it was also far m

[2017-05-26 10:50] peterjc commented on #1744
Can this be closed? It looks like everything listed in the issue has been ticked off..

[2017-05-26 11:39] bgruening commented on #2795
Peter do you know if these binaries are centos6 compatible and will stay so?

[2017-05-26 11:44] peterjc commented on #2795
We're still running CentOS6 on our cluster, and I have not had compatibility problems with the NCBI provided BLAST+ binaries. Do you want me to check any in particular?

[2017-05-26 14:47] johanneskoester commented on #4592
@bioconda/core osx migration to py36 is done! On linux some recipes remain but I hope to be done in the next few days.

[2017-05-26 16:04] bgruening commented on #2795
@peterjc no need to. Just wanted to check if the binaries are compatible, as this is requirement.
Imho, I have no strict opinion on self-compiling or pre-compiled binaries as long as they work on CentOS. Question is still if we want to split the package into multiple ones.

[2017-05-26 16:16] #1744 closed

[2017-05-26 16:16] bgruening commented on #1744
Thanks @peterjc

[2017-05-26 18:30] rvalieris commented on #4825
too late :smile: : https://github.com/bioconda/bioconda-recipes/pull/4835

[2017-05-27 09:25] johanneskoester commented on #4708
There was an old version with that dependency indeed. However, there are also update versions depending on the current boost. In any case, I have removed the old version to make sure it does not confuse conda.

[2017-05-27 09:25] #4708 closed

[2017-05-28 06:16] jerowe opened #4848 "gnuplot 5.0.4 errors"
[code]

I'll be looking into this today.

[2017-05-28 08:30] shenwei356 opened #4849 "Travis-run.sh failed in Linux"
Dear @johanneskoester , your last [commit](https://github.com/bioconda/bioconda-recipes/commit/96798e71b579dbcc13793de40d2b0b0fd8579aa6) seems not perfect.

[Travis log](https://travis-ci.org/bioconda/bioconda-recipes/jobs/236839643#L514):

[code]

[Corresponding code](https://github.com/bioconda/bioconda-recipes/blob/master/scripts/travis-run.sh#L96):

[code]

[2017-05-28 17:51] johanneskoester commented on #4849
Thanks! It has been fixed. I apologize!

[2017-05-28 17:51] #4849 closed

[2017-05-29 15:45] peterjc commented on #4772
@daler is there an easy way to get ``sha256sum`` on the Mac build platform?

RE: https://travis-ci.org/bioconda/bioconda-recipes/builds/237209331 from https://github.com/bioconda/bioconda-recipes/pull/4790

If I switched to MD5 checksums, there would likely be the annoyance of ``md5`` vs ``md5sum``

[2017-05-29 16:18] peterjc commented on #4772
I'm trying this approach in my ``build.sh`` file:

[code]

The same idea should also work for ``md5`` vs ``md5sum``

[2017-05-30 15:52] aldro61 commented on #1
Hi @johanneskoester and @bgruening! I'd like to join the team to include our [Kover](https://github.com/aldro61/kover) tool. Thanks :)

[2017-05-30 16:43] luke-c-sargent commented on #4073
gave it a clone, it builds as expected but does indeed segfault for me when running `meta.yml`'s test:
`glimmerhmm -v`
though it's worth noting that `-v` is a functional argument ('Don't use svm splice site predictions') and does not output the version -- `glimmerhmm -h` or the functionally equivalent `glimmerhmm` might be more appropriate for basic output.

testing on linux, `glimmerhmm -v` doesn

[2017-05-30 17:13] zachcp commented on #4073
Ah, I see  about `glimmerhmm -v`. The failure is not a build failure as `glimmerhmm -h` passes. This is excellent. I can build and test it out on some actual data. Maybe there is a super-simple data test that can be performed as well.

Thank you!
zcp

[2017-05-30 19:29] cristhomas opened #4864 "libtool / libtoolize"
One of the packages I'm trying to build a recipe for requires libtool and libtoolize. libtool is a conda package, I have it in the requirements. Still, it is not picked up when I run conda build.
below is the output I get.

Ideas?

~/git/conda_recipe$ conda build recipes/bioconductor-flowworkspace/
BUILD START: bioconductor-flowworkspace-3.22.0-r3.3.2_0

The following NEW packages will be INSTALLE

[2017-05-30 20:41] #4553 closed

[2017-05-30 21:08] bgruening commented on #1
@aldro61 welcome to bioconda!

[2017-05-31 09:04] johanneskoester commented on #4742
Not as far as I know of. Would you volunteer to file a feature request?

[2017-06-01 06:29] johanneskoester commented on #4834
@notestaff could you tell me what is going on? I have now received a request for coveralls access? Is this intentional?

[2017-06-01 10:08] peterjc commented on #4772
Aliases did not work, as per https://github.com/bioconda/bioconda-recipes/tree/master/recipes/effectivet3 added in #4790 I used ``curl`` and ``sha256sum`` in my ``build.sh`` for fetching and verifying the child files. These commands can be made available under both macOS and Linux by declaring build dependencies:

[code]

[2017-06-01 13:24] notestaff commented on #4834
Not sure what Trevor is.  I was logging into coveralls with github to
work on viral-ngs, and may have clicked something related to bioconda
instead; please ignore.

On Thu, Jun 1, 2017 at 2:29 AM Johannes Köster <notifications@github.com>
wrote:

[2017-06-01 13:25] johanneskoester commented on #4834
Ok! Thanks for clarification.

[2017-06-01 13:25] #4834 closed

[2017-06-01 17:53] acaprez commented on #4864
It looks like it is getting pulled in:  `libtool:                   2.4.2-0`.  I suspect it's a more complex issue then.  Do you have a branch somewhere with your recipe(s)?   I can try building it and see if I can reproduce the problem.

[2017-06-01 18:37] cristhomas commented on #4864
There's a flowWorkspace branch now I just added, I tagged you in the PR.

[2017-06-01 18:38] cristhomas commented on #4864
thanks for looking into it

[2017-06-01 22:42] thw17 commented on #1
Hi @johanneskoester and @bgruening, can you please add me to the team?  Thanks!

[2017-06-02 10:01] johanneskoester commented on #1
@thw17 welcome!

[2017-06-02 14:08] mdehollander commented on #4073
Hi,

Today I started building a package for GlimmerHMM as well, because it is a dependency of another program. I did not find it in bioconda yet, therefore I started a fresh one, being unaware of this issue and the GlimmerHMM branch from @zachcp. My build for linux went fine, but the osx build gave a malloc.h error. Thats how I ended up here.

What is the current status of the package? Does it bui

[2017-06-02 16:37] zachcp commented on #4073
Hi @mdehollander,

I've built and pulled the modified glimmerHMM package. https://github.com/bioconda/bioconda-recipes/pull/4884 .  This builds fine (osx/linux) and works locally (osx).

zcp

[2017-06-02 16:49] mdehollander commented on #4073
Great! Thanks.

[2017-06-02 17:19] #4073 closed

[2017-06-02 18:17] thw17 commented on #1
Thank you, @johanneskoester!!

[2017-06-03 16:37] bgruening commented on #4592
@bioconda/r @bioconda/core we have started the migration to R 3.3.2.
Please look at the bulk branch and help fixing recipes as much as you can, ever fixed package helps!

Just click here on bulk and look for a failing one:
https://travis-ci.org/bioconda/bioconda-recipes/branches

If you want to get familiar with conda-forge we would also like to move all r-* package from bioconda into conda-forge.

[2017-06-04 08:57] bgruening opened #4890 "julia is missing zlib"

[2017-06-04 08:59] bgruening commented on #4848
My guess is that is was not strictly pinned against this older libjpeg version and you get now the version 9 during install. Pinning it would solve it probably.

[2017-06-04 09:00] bgruening commented on #4778
Can you look it dotnet is included in mono, if so add is as requirement?

[2017-06-04 09:04] bgruening commented on #4731
Removed, thanks.

[2017-06-04 09:04] #4731 closed

[2017-06-04 09:05] bgruening commented on #4675
Sure! :)

[2017-06-04 09:06] bgruening commented on #4721
Like that!

[2017-06-04 09:08] bgruening commented on #4560
We are migrating now to R 3.3.2 and remove the r-channel. If we can agree with conda-forge on a R version to track we will migrate to R 3.4.x later.

[2017-06-04 09:09] #4250 closed

[2017-06-04 09:10] bgruening commented on #4390
@nilesh-tawari can you check the hints from @bow please?

[2017-06-04 15:31] bgruening commented on #4592
@daler I have remove the R blacklist in the bulk branch - so far 150 packages are rebuild. I changed all packages to r-base and fixed a lot of links, so far so good. A few bioC links were backuped in cargo-port but are empty, not sure why, the majority is working.

200 out of 500 are already rebuild.

[2017-06-04 18:10] daler commented on #4592
Wow, awesome!

I work on fixing failed recipes on the bulk branch. Is the workflow to test them in a separate WIP PR before adding to `bulk`, or push all fixes directly to `bulk`?

[2017-06-04 18:14] bgruening commented on #4592
I push directly to `bulk`, the problem with a different branch is that you will get tons of linting errors.
One think I found, many many recipes do not have a checksum, which yielded in cargo-port downloaded something but could not verify it - this happened for all old recipes as well with the consequence that many package in cargo-port are error-pages. So not helpful, all more recent recipes with

[2017-06-04 18:20] daler commented on #4592
Thanks for the warning! Are you updating packages at the same time, or keeping existing package where possible?

[2017-06-04 18:22] bgruening commented on #4592
I keep packages as much as I can.
One additional warning, it seems that conda-forge does not check the entire list of URLs, it only takes the first one. Simply remove the first URL of the r-* packages ...

[2017-06-04 21:43] bgruening commented on #4592
@daler can you do me a favor you rerun every 2 hours the travis job of the `bulk` branch. Every package counts :)

[2017-06-05 01:17] daler commented on #4592
Will do!

[2017-06-05 15:22] apark229 opened #4893 "Monocle conda recipe failed to install on Galaxy 16.10"
Hello!
I tried installing a monocle wrapper that I wrote for Galaxy, but the conda recipes for monocle failed to install on Galaxy 16.10.  It seems like the conda recipe for monocle is for linux only (https://anaconda.org/bioconda/bioconductor-monocle) - Could that affect the ability to install on Galaxy?  Also, here is a link to the monocle wrapper just incase: https://testtoolshed.g2.bx.psu.edu/

[2017-06-05 17:43] bgruening commented on #4893
@apark229 we need a error what exactly failed to help you. Also can you please try to install this in Galaxy 17.01 or 17.05? 16.10 has not conda enabled by default.

[2017-06-06 19:52] bgruening commented on #4592
@bioconda/osx we got some of these `error: $MACOSX_DEPLOYMENT_TARGET mismatch: now "10.7" but "10.9" during configure` any idea what this?

[2017-06-06 20:24] rvalieris commented on #4592
@bgruening, no idea why but some recipes explicit set this variable in the `build.sh`, see: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/dsk/build.sh#L4

[2017-06-06 20:30] bgruening commented on #4592
@rvalieris if you have some time could you have a look at https://travis-ci.org/bioconda/bioconda-recipes/jobs/240012049 .. just search for `MACOSX_DEPLOYMENT_TARGET`. It seem one of them is MACS and it does not have this set, as far as I can see.
Thanks!

[2017-06-06 20:42] rvalieris commented on #4592
yes, I think people are setting the variable explicitly to avoid the problem. we could just add this to macs recipe but I have no idea of what side effects this will have, do we have a minimum supported osx version ?

[2017-06-06 20:45] bgruening commented on #4592
I don't think so. How is this dependent of the Travis OSX vesion?

[2017-06-06 20:53] acaprez commented on #4592
Usually the reason for setting the `MACOSX_DEPLOYMENT_TARGET` is to enable support of newer C++ features.  This seems to be a different issue.

[2017-06-06 20:54] rvalieris commented on #4592
I think its the python package: https://github.com/conda-forge/python-feedstock/issues/137

[2017-06-07 15:48] ozagordi opened #4918 "New recipe conflicting with itself"
Hi.

I'm trying to contrbute a new recipe for a tool and I 'm having hard time understanding the following error. I'm at the `conda build` step, so when I give `conda build recipes/minvar` it returns the error
[code]

The meta file is

[code]
Any idea?

Thanks.
    Osvaldo

[2017-06-07 16:04] daler commented on #4918
There's a known bug in conda where it doesn't correctly report what the conflicting dependency is. My guess is that one of the requirements here is not available for py35. If I remember correctly Biopython had issues with numpy segfaulting on py35 (again, outside the control of bioconda), so anything that depends on biopython will have this issue.

The fix might be to change:

[code]
to
[code]

[2017-06-07 16:05] daler commented on #4918
Ah, wait it was py34 that was problematic: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/biopython/meta.yaml#L23

You might need to check each dependency to see if it's available on py35.

[2017-06-08 16:19] cokelaer opened #4926 "grequests package disappeared from anaconda repo ?"
To anybody who can help: I had created the grequests recipes a year or so ago with success but it looks like something changed a few days ago. If I type
[code]
only a version py27 is shown (from conda-forge) and the previous versions I had made available on bioconda (27 and 3.5) are not there anymore. I checked on anaconda/bioconda channel interface and indeed it is not there. Yet, it used to work

[2017-06-08 16:36] bgruening commented on #4926
@cokelaer yesterday we nearly hit our anaconda quota and removed repositories that were also in conda-forge. We tried to only remove exact version, but maybe we did a mistake here. conda-forge includes a bunch of packages not only for py27: https://anaconda.org/conda-forge/grequests/files

Are you missing build-numbers or real version of your recipe? If so we can get them back from git and rebuild

[2017-06-08 17:17] rvalieris commented on #4775
maybe we could have a java-wrapper-generator tool, and each recipe would call this tool inside `build.sh` to generate its own wrapper.

to update the wrapper we could automatically trigger new rebuilds to all recipes that depends on java-wrapper-generator.

[2017-06-08 20:17] cokelaer commented on #4926
Indeed, conda-forge has many versions but for linux only py27 is available (not py35) whereas in packages such as bioservices or sequana (that are  in bioconda) we need the version 3.5 so indeed, it would be great to get them back. I understand that grequests and gevents could/should be in conda-forge but meanwhile we probably should get back those versions in bioconda if possible. thank you

[2017-06-09 09:56] cokelaer commented on #4926
Not sure what you meant by missing build-numbers or real version ? Right now I cannot see any files at all. Locally I was using the py35_1 of version 0.3.0

[2017-06-09 16:42] rvalieris commented on #4778
the dotnet binary is not part of the mono distribution.
I think what Canvas needs it the dotnet core: https://www.microsoft.com/net/core
or maybe just the dotnet cli: https://github.com/dotnet/cli
but I'm not sure, I don't know much about c#

[2017-06-09 17:30] rvalieris commented on #4926
py35 and py36 builds are available on conda-forge now.

[2017-06-10 20:22] cokelaer commented on #4926
okay seems to work again indeed. Thanks. So no need for grequests on bioconda anymore.

[2017-06-10 20:22] #4926 closed

[2017-06-10 21:07] bgruening commented on #4926
@cokelaer sorry for the inconvenience, for the reference: https://github.com/conda-forge/grequests-feedstock/pull/6

[2017-06-11 11:23] chapmanb commented on #4778
Sorry about missing this earlier. I'm not 100% sure, this is the first time I packaged anything with mono so don't really know my way around. You're right that the dotnet binary is not present in mono but now I have no clue how this worked for me to build. As a first pass you might want to try installing these outside of conda to get it running and then we can figure out what needs to be packaged.

[2017-06-11 14:53] bgruening commented on #4778
Not sure if this is helpful but here are my mono observations.
Afaik, mono is using `msc` as a compiler and I was able to compile https://github.com/pythonnet/pythonnet against conda-forge mono. The package is here: https://anaconda.org/bgruening/pythonnet

Please note that Windows has a hard-coded max path length that is less then the conda `placeholder` length. And this also holds true for mono.

[2017-06-12 07:47] rlegendre opened #4945 "rna-seqc bug"
Hi,

I try to use the rna-seqc software, installed with conda (thanks for adding it @holtgrewe !) but I encounter an error when running. Note that my local version works correctly with the same settings

Error log is in attach
[RNAseQC.txt](https://github.com/bioconda/bioconda-recipes/files/1067358/RNAseQC.txt)

Thanks for solving

[2017-06-12 14:42] daler commented on #4945
Would you please provide the commands that cause this error? Better yet would be a minimal example with input files that reproduces the problem.

[2017-06-12 14:44] rvalieris commented on #4945
it seems rna-seqc is using a version of javassist that is incompatible with java 8.  runniong with java 7 works.

[2017-06-13 07:14] rlegendre commented on #4945
I tried with a minimal example (only one bam file). If I give the bam with "-s myfile.bam", it works.. if I give a [sample_index.txt](https://github.com/bioconda/bioconda-recipes/files/1070585/sample_index.txt), I have the error !
Here my command line :
`rna-seqc -o RNAseQC  -r chr19.fa -s sample_index.txt -t Genome/mm9.gtf  -BWArRNA mouse_rRNA/mouse_all_rRNA.fasta`

[2017-06-14 01:14] ruyjau opened #4958 "Abyss container broken"
The abyss container is broken. abyss-pe is a make script (starts #!/usr/bin/make), but /usr/bin/make is not included in the container.

[2017-06-14 02:09] bgruening commented on #4958
@ruyjau can you include make as a run-time dependency? This would hopefully fix it.

[2017-06-14 15:17] bgruening commented on #4592
@rvalieris @acaprez @bioconda/osx I have started to work again on the R migration. I'm done to 10 packages for OSX - any help welcome: https://travis-ci.org/bioconda/bioconda-recipes/jobs/242842061

[2017-06-14 19:26] nvictus opened #4961 "Click-based recipes on Python 3"
I noticed that all py3k builds for recipes depending on [click](https://github.com/pallets/click) have been disabled due to what I assume is locale detection or configuration issues.

Maybe it's worth opening a discussion with the Click devs. They seem to be very opinionated about supporting only [properly configured utf8 locales](http://click.pocoo.org/6/python3/#python-3-surrogate-handling). Ide

[2017-06-14 21:50] ruy-jauregui opened #4963 "canu container broken"
The canu container is missing a gnuplot shared library, and returns an error. When a command is given to skip gnuplot, it still won't run.

[2017-06-14 22:12] bgruening commented on #4961
I can only second that! It is really annoying I tracking a bug in python that should suppose to fix this in python2.7. Part of the problem is that click is not really recommending python3k - actually reading the docu it seems they say - py3k good luck. Thats one of the reasons we disabled it.

However, we provided a workaround for this problem if it is really needed to get it running under py3k by

[2017-06-14 23:09] druvus commented on #4592
@bgruening I have an updated version of nanoraw in #4620 that works in the bulk branch on my mac.

I think also it could be worth getting rid of the old 0.3.1 recipe. I can build 0.4.* and 0.3.1 recipes individually but it fails when the 0.3.1 folder is present. with the same error as in travis

[2017-06-15 02:00] bgruening commented on #4592
@druvus great! I merged master into bulk and removed the older version. Thanks a lot!

[2017-06-15 10:19] bgruening commented on #4592
`r-multicool` is a big one, a few others depend on it and it crashes with a memory error for me. I tried already some things in the bulk branch.

[2017-06-16 15:19] zachcp opened #4976 "linting error test on Travis although test passes locally"
Hi Team Bioconda,

I really like the  the linting system for catching errors and improving quality. However, I am encountering an issue with the testing code on a simple python-only package that builds/tests fine locally.

Do you have any idea why the test behavior would differ on Travis? The offending yaml is pasted below and can also be found here (https://github.com/bioconda/bioconda-recipes/pu

[2017-06-16 17:18] bgruening commented on #4592
I will close this now! Thanks all!

[2017-06-16 17:25] johanneskoester commented on #4592
Let's keep this open for future bulk updates.

[2017-06-16 18:55] zachcp commented on #4976
looks like it was an error related to the noarch linting. @daler will temporarily suspend that lint-test

merged on https://github.com/bioconda/bioconda-recipes/pull/4979

[2017-06-16 18:55] #4976 closed

[2017-06-16 19:42] epruesse opened #4980 "Enable JNI in BBMap"
The `bbmap` package comes without the JNI library built. It should just be a matter of running make in the respective directory. Use of the JNI is enabled by the `jni` command line option, so if it doesn't work somewhere, not much is lost.

[2017-06-18 15:59] membranepotential opened #4985 "Can someone help me updating the pyfaidx recipe?"
Hi!

I saw that pyfaidx was outdated and thought it would be easy to contribute by adding the new version as recipe. Unfortunately it doesn't work.

I used the old recipe as template and bumped to the new version. Additionally I added `noarch: python`.

`conda-build` failed for both the new version and the older existing version on my computer (macos), complaining that downloads via setuptools are

[2017-06-18 16:30] daler commented on #4985
@membranepotential you're right, it should be that easy, but we recently added the `noarch` linter and are realizing it's not working well in practice. The linter has since been removed in https://github.com/bioconda/bioconda-utils/pull/138.

Also, since packages of all versions remain available in the bioconda channel, usually we just bump the version in the main recipe. I don't see a main recipe

[2017-06-18 20:57] lparsons opened #4988 "Missing UCSC package(s)"
It seems that `scripts/ucsc/create-ucsc-packages.py` is missing some (at least one) UCSC tool: [`ldHgGene`](https://github.com/ENCODE-DCC/kentUtils/blob/master/src/hg/makeDb/ldHgGene/ldHgGene.c).

[2017-06-19 02:30] epruesse opened #4989 "Sed package broken"
From [recipe build](https://travis-ci.org/bioconda/bioconda-recipes/jobs/244356978):

[code]

[2017-06-19 14:12] fritzsedlazeck commented on #1
Hi @johanneskoester and @bgruening, can you please add me to the team? Thanks!

[2017-06-19 14:35] bgruening commented on #1
Welcome @fritzsedlazeck!

[2017-06-19 14:48] fritzsedlazeck commented on #1
thanks for the prompt response.

[2017-06-19 19:58] fabio-cumbo commented on #1
Hi @bgruening, can I join the BioConda team? Thanks

[2017-06-19 20:05] bgruening commented on #1
@fabio-cumbo sure! Welcome to Bioconda!

[2017-06-19 20:08] fabio-cumbo commented on #1
Thank you @bgruening!

[2017-06-19 23:05] nvictus commented on #4961
To be fair, there seem to be no issues with py3k as long as the environment ships a utf-8 locale like `C.UTF-8`. Is this not the case in the Dockerfile?

The base image [here](https://github.com/bioconda/bioconda-extended-base-image/blob/master/Dockerfile) seems to have it. Maybe it also needs `ENV LC_ALL C.UTF-8`?

[2017-06-20 03:37] Jaiimmortal commented on #1
Hi, it's finally good to see dedicated bioinformaticians that too in Python. Would love to join and help you guys out and I have the opportunity to learn loads as well!! @bgruening  and @johanneskoester

[2017-06-20 04:15] #4890 closed

[2017-06-20 04:20] bgruening commented on #4961
@nvictus Ubuntu is a huge image with many things preinstalled. We test against busybox with nothing installed and also no UTF-8 available.

Does this help? http://click.pocoo.org/6/python3/#unicode-literals
[code]

[2017-06-20 04:22] bgruening commented on #1
Hi @Jaiimmortal - welcome to this Community.

[2017-06-21 10:43] nsoranzo commented on #4989
`sed` recipe in Bioconda has been deprecated in favour of sed 4.4 in conda-forge.

[2017-06-21 10:43] #4989 closed

[2017-06-21 13:03] buchkovm commented on #1
I would like to contribute, please add me to the team.

[2017-06-21 13:42] bgruening commented on #1
welcome @buchkovm!

[2017-06-22 08:08] jrderuiter opened #5026 "Missing ttf-dejavu/fontconfig dependencies for fastqc"
If fontconfig or ttf-dejavu are not installed, fastqc can produce the following error:

[code]

which is identical to the error described here: https://stackoverflow.com/questions/14066525/java-lang-error-probable-fatal-errorno-fonts-found. This issue is at least encountered in the snakemake container used by snakemake-wrappers.

I think this error is not necessarily specific to fastqc, but likely

[2017-06-22 08:11] bgruening commented on #5026
@jrderuiter interesting! Can you move this issue to conda-forge? I guess we need to discuss this over there as it seems a general problem and general package.

[2017-06-22 08:12] jrderuiter commented on #5026
Done: https://github.com/conda-forge/staged-recipes/issues/3164.

[2017-06-22 08:15] bgruening commented on #5026
Thanks!

[2017-06-22 12:50] vinjana opened #5027 "`simulate_travis.py` --docker fails with CondaHTTPError/ConnectTimeoutError"
Hi

I am trying to run simulate_travis.py from behind a firewall with internet access through a proxy. The proxy configs work for everything but the container (i.e. also for conda/conda-build). Here the output:

[code]

I would appreciate your help! Tell me if you need more information.

[2017-06-24 02:15] daler commented on #5027
Based on https://blog.codeship.com/using-docker-behind-a-proxy, you'll need to make a change to your `/etc/default/docker`, and we can make changes to bioconda-utils to pass through http proxies to the Dockerfile if they're in the environment.

[2017-06-24 02:37] daler commented on #5027
@vinjana can you try changing the `BIOCONDA_UTILS_TAG` line in `.travis.yml` from `master` to `http-proxy-for-docker`, make the change to your `/etc/default/docker`, and see if it works?

[2017-06-24 02:44] daler commented on #4985
Fixed in #4987

[2017-06-24 02:44] #4985 closed

[2017-06-27 14:10] julozi commented on #1
Hi, I would like to join the team. Thank you !

[2017-06-27 14:13] bgruening commented on #1
Julien welcome!

[2017-06-27 14:52] rvalieris commented on #4963
just a update on this.

@bgruening triggered a rebuild on the canu recipe (https://github.com/bioconda/bioconda-recipes/pull/4962) and it solved the zlib error, however there is more:

[code]

I think we could pin the `jpeg` version on gnuplot but I have no idea how to solve these "symbol not found" errors.

[2017-06-27 17:14] davidechicco commented on #1
Hi, I would like to join the team. Thank you !

[2017-06-27 17:23] daler commented on #1
Welcome!

[2017-06-27 20:57] jfreimer opened #5066 "Multiqc fails with python 3.6 due to click error"
I just installed multiqc with conda using python 3.6. However, multiqc fails with the following error. I saw something about a patch coming, but is there anyway to get multiqc running on conda for now?
Thanks

[code]

[2017-06-27 21:00] #5066 closed

[2017-06-30 09:47] youngchan919 opened #5077 "Missing .vep dir for Ensembl-vep"
For usual usage, a directory name `.vep` will be generated at `$HOME`. It is a cache folder. But installed with conda, the `.vep` was not generated at `$HOME`. Then, the directory is not found in the anaconda directory as well, so I am confused where to find it.

[2017-06-30 10:01] #5077 closed

[2017-07-03 12:45] PatrickRWright commented on #1
Hi,

can I join please? I would like to make some contributions.

Thank you

[2017-07-03 12:52] bgruening commented on #1
Welcome @PatrickRWright!

[2017-07-03 12:53] jerowe commented on #1
@bgruening , I was just trying to see how to add people, but it seems that I am not a maintainer. I don't know if making me one would give me any privileges I shouldn't have, but I can add to the members as they come up.

[2017-07-03 14:39] nsoranzo commented on #2148
Fixed in https://github.com/bioconda/bioconda-recipes/pull/4422.

[2017-07-03 15:07] #4918 closed

[2017-07-03 16:58] #2568 closed

[2017-07-03 17:21] rvalieris commented on #4848
this is now fixed on https://github.com/bioconda/bioconda-recipes/issues/5065

[2017-07-03 17:21] #4848 closed

[2017-07-04 20:19] daler opened #5109 "update the boost pinning?"
@johanneskoester @bgruening do you think we could bump our pinned boost version?

My reasoning is as follows . . . .

The test in #5108 is failing because `r-curl` is expecting `icu=58`. The specific failure is here: https://travis-ci.org/bioconda/bioconda-recipes/jobs/250111061#L1108

I tracked it down to the fundamental issue that `r=3.3.2` switched `icu` versions between build numbers, but neit

[2017-07-05 09:11] jerowe opened #5113 "How do I run travis tests in my fork?"
@bioconda/core

[Travis](https://travis-ci.org/jerowe/bioconda-recipes/jobs/250244881)

It tries to lint everything. I just did a pull from bioconda to 'my' master branch, still no joy.

Normally I like to test out PRs on my local docker image, then in my travis, then finally in bioconda.

[2017-07-05 10:43] chapmanb commented on #5109
Ryan;
+1 from me. icu 56 versus 58 has been driving me crazy with incompatibilities. Stabilizing on 58 would help a lot. Thanks for looking at this.

[2017-07-05 12:13] bgruening commented on #5109
We should align our pinning more to conda-forge. So +1.

[2017-07-05 12:31] daler commented on #5113
@jerowe after the linting updates, I now run local bioconda-utils build, then local simulate-travis.py, and then submit PR for testing on bioconda's travis-ci.

Here's the logic in question: https://github.com/bioconda/bioconda-recipes/blob/master/scripts/travis-run.sh#L27. What happens if you open a PR on your own fork (after updating your fork with upstream/master)?

[2017-07-05 12:33] daler commented on #4958
@ruyjau closing for now as the issue should be resolved in fc44914, but please re-open if anything is not working.

[2017-07-05 12:33] #4958 closed

[2017-07-05 12:41] johanneskoester commented on #5109
Yes, I totally agree. Feel free to trigger the update in the bulk branch.

[2017-07-05 12:49] daler commented on #5109
OK, I'll work on that. Looks like a fair amount of conflicts to work on between master and bulk, so I'll fix that first and then bump boost.

Just want to add a cross-reference here to what @epruesse brought up: https://github.com/bioconda/bioconda-utils/issues/142, which points out [`pin_the_slow_way.py`](https://github.com/conda-forge/conda-forge.github.io/blob/master/scripts/pin_the_slow_way.py

[2017-07-05 12:53] johanneskoester commented on #5109
Conflicts? How come? Has anybody worked on bulk since the last merge (after R migration)?

[2017-07-05 12:55] johanneskoester commented on #5109
I think it should be fine to simply take everything from master. When a new bulk update is done, bulk should be a copy of master.

[2017-07-05 13:11] daler commented on #5109
Not sure why, but there were conflicts between master and bulk in a fresh clone. I went through them manually just to see what changed, and kept the master version.

[2017-07-05 17:43] jerowe commented on #5113
I don't know what happens if i open a PR on my own fork. Normally I just have a branch and let it run. Let's see!

Testing locally for me still works fine. If you're taking feature requests, it would be nice if it knew the bioconda utils would take into account that I have recipes built in the local file channel. (/opt/anaconda/linux-64? ). Sometimes when I have a large amount of recipes I build t

[2017-07-05 17:44] jerowe opened #5118 "Boston / New England Bioconda meetup?"
Are there any bioconda members in the New England area that would like to have a very informal meetup?

[2017-07-05 18:01] daler commented on #5113
@jerowe bioconda-utils should already consider your local channel, at least as determined from [`get_host_conda_bld`](https://github.com/bioconda/bioconda-utils/blob/master/bioconda_utils/docker_utils.py#L179)

[2017-07-05 18:28] jerowe commented on #5113
It is probably just that I need to update my local build system and
bioconda utils. Thanks!

On Wed, Jul 5, 2017 at 10:01 PM Ryan Dale <notifications@github.com> wrote:

[2017-07-05 18:28] jerowe commented on #5113
I'll close this now. Thanks!

[2017-07-05 18:28] #5113 closed

[2017-07-05 19:02] ArneKr commented on #1
Hi,

I would like to join the team as well.

Thank you

[2017-07-05 19:10] jerowe commented on #1
Welcome, @ArneKr !

[2017-07-06 03:35] jmeppley opened #5120 "Elusive bug"
I'm tracking down an elusive bug and need some guidance. If I import ete3.Tree, I cannot use python's multiprocessing library. This only happens if I have add conda-forge channel to my conda-env create command and I also have blast installed.

So the broken conda config is:
[code]
The python commands to produce the error are:
[code]
However, the error vanished if I either remove conda-forge from t

[2017-07-06 12:14] tdido opened #5122 "New package fails with mulled-build error on Travis (works fine with simulate-travis.py)"
Not sure how to debug Travis since I can't replicate the error locally. Any guidance appreciated.

https://travis-ci.org/tdido/bioconda-recipes

[2017-07-06 14:12] vinjana commented on #5027
I changed the `.travis.yml` and got the changes in `/etc/default/docker`. Additionally, because I use CentOS 7, our sysadmin added the following to `/etc/systemd/system/docker.service.d/proxy.conf`:
[code]
The container still fails with the same error message.

[2017-07-06 20:34] rvalieris commented on #5122
the error is:
```SERR ImportError: libstdc++.so.6: cannot open shared object file: No such file or directory```

try adding libgcc dependency.

[2017-07-07 02:48] ruyjau commented on #4958
please bump the build number, so we can use the new version

[2017-07-07 02:53] ruyjau opened #5125 "Abyss container broken #4958"
please bump the build number, so we can use the new version

[2017-07-07 11:54] vinjana commented on #5027
O.k. some updates:

* Conda takes the environment variables ```HTTP_PROXY``` or ```HTTPS_PROXY``` (in all capitals) to use the proxy (see [here](https://conda.io/docs/config.html#configure-conda-for-use-behind-a-proxy-server-proxy-servers)).
* On the two systems in our network that I tested the ```--network``` parameter of ```docker build``` needed to be set to ```host```

So, the command that wor

[2017-07-07 13:43] Cashalow opened #5133 "Quast dependencies"
Hello,

I think this issue is related to https://github.com/bioconda/bioconda-recipes/pull/4739
When I try adding quast 4.5 and python 3.5 to my python environment, I get the following error:

UnsatisfiableError: The following specifications were found to be in conflict:
  - python 3.5*
  - quast 4.5* -> python 2.7*

However, from quast website, it should be compatible with python 3.5 (http://quas

[2017-07-07 16:24] HenningTimm opened #5134 "`simulate_travis.py --install-requirements` downgrades miniconda root environment"
As mentioned here https://github.com/bioconda/bioconda-recipes/issues/3808, miniconda now ships with Python 3.6. This creates some issues when using the `simulate_travis.py` script.

I installed a brand new version of miniconda, and installed conda-build and anaconda.
When following the [tutorial on how to contribute a recipe](https://bioconda.github.io/contribute-a-recipe.html), running

    ./si

[2017-07-07 16:50] daler commented on #5027
Great, thanks for the follow-up. I'll work on getting this into bioconda-utils and report back here so you can test further.

[2017-07-07 16:57] daler commented on #5134
I agree this is pretty invasive. The core problem is that conda-build needs to be in the root environment, so if bioconda-utils needs a particular version of something (due to various bugs we find in conda and conda-build upstream) then the root env needs to reflect that.

That said, I'd like to convert bioconda-utils to use its own isolated root env using ideas from https://github.com/bioconda/bi

[2017-07-08 01:42] jmeppley commented on #1
Hi, I'd love to join the team.

-j

[2017-07-08 08:36] bgruening commented on #1
@jmeppley welcome!

[2017-07-08 10:52] bgruening opened #5144 "Adding Singularity builds to Bioconda?"
Dear @bioconda/all,

Since end of last year Bioconda is assembling [BioContainers](biocontainers.pro) as part of it's advanced testing of packages based on a minimal busybox container.
With this technique in place we were able to generate more then 2300 Docker and rkt containers over the last months - minimal in size and tested with the same tests as the underlying Conda packages.
Cyverse, OSG or

[2017-07-08 11:08] bgruening commented on #5118
@jerowe I'm too far away unfortunately :(
But maybe this is interesting for you. We developed some training slides here https://galaxyproject.github.io/training-material//topics/dev/tutorials/conda/slides.html#1
If you skip the first once this might be useful for such an event.

[2017-07-08 11:11] bgruening commented on #4529
@kyleabeauchamp do you have any further ideas besides @daler commit referenced above?

[2017-07-08 11:16] bgruening commented on #3708
@jerowe what about adding this functionality as part of the mulled-builds tools. I added recently Singularity builds and generating a module file seems like a great next step to me. We can then push the files to a public  storage as much as I do with Singularity images.

[2017-07-08 14:49] chapmanb commented on #5144
Björn -- thanks so much for doing this, I'm looking forward to trying out Singularity images and this should be great for HPC adoption. +1 from me. My only small suggestion might be to have a way to skip mulled for builds that cause issues, which would let folks work around hard to diagnose problems. Thanks again.

[2017-07-08 14:57] lparsons commented on #5144
I second Brad's comments. Thanks so much Björn, this is an excellent idea and would really help with HPC utilization. And it would be nice to be able to "blacklist" problematic recipes.

[2017-07-08 16:28] sebastian-luna-valero commented on #5144
That's great news! Many thanks @bgruening! +1 from me as well. What about using a bioconda account in https://singularity-hub.org to archive the Singularity images?

I am sure @gmkurtzer would be happy to help with that.

I have a question, though. Is it currently possible to bootstrap a busybox image with Singularity?

[2017-07-08 16:29] upendrak commented on #5144
Yes that would be so great. Boncontainers are such a big hit and I can't wait to see the Singularity images built from the Bioconda packages. I am a very big proponent of Bioconda and Bicontainers and now I can't wait to see the Singularity images. Great initiate @bgruening by the way.

[2017-07-08 16:35] kyleabeauchamp commented on #4529
nope, LGTM

[2017-07-08 16:35] #4529 closed

[2017-07-08 18:55] boegel commented on #5144
@sebastian-luna-valero Seems so, yes: https://github.com/singularityware/singularity/blob/master/examples/busybox/Singularity

[2017-07-08 22:17] malcook commented on #1
knock knock....

[2017-07-09 00:48] jmeppley commented on #5120
This bug is linked to the version of python. If I force python 3.5, then everything works OK. So for now, I've just limited the Anvi'o package (the whole reason I went down this rabbit hole) to python 3.5.

[2017-07-09 00:48] #5120 closed

[2017-07-09 06:15] jerowe commented on #3708
I was looking into the code for the mulled build tools. I am traveling atm,
but I do want to get back to this. I keep getting asked for it.

I saw the singularly issue! That's amazing! Many hpc platforms won't allow
docker, but many will allow singularity so yay!

On Jul 8, 2017 1:16 PM, "Björn Grüning" <notifications@github.com> wrote:

[2017-07-09 06:17] jerowe commented on #5144
Yes! This would be great.

On Jul 8, 2017 8:55 PM, "Kenneth Hoste" <notifications@github.com> wrote:

@sebastian-luna-valero <https://github.com/sebastian-luna-valero> Seems so,
yes: https://github.com/singularityware/singularity/
blob/master/examples/busybox/Singularity

—
You are receiving this because you are on a team that was mentioned.
Reply to this email directly, view it on GitHub
<https:/

[2017-07-09 07:37] marcelm commented on #5144
I’d like to mention that it’s possible already now to use Biocontainers with Singularity since Singularity supports running Docker images. So this works, for example (which I think is really cool):
[code]
I’m just getting started with Singularity, though, so I don’t know whether that works well in all cases and what the advantages are in providing both Docker and Singularity images.

[2017-07-09 08:21] bgruening commented on #1
@malcook follow the white rabbit!

[2017-07-09 08:34] jerowe commented on #5118
I was thinking more along the lines of sticking some unsuspecting relative
with my kids and going for coffee. ;)

But I've been asked a few times about having a training for building
bioconda packages. I will be stealing these.

On Jul 8, 2017 1:08 PM, "Björn Grüning" <notifications@github.com> wrote:

[2017-07-09 13:26] johanneskoester commented on #5144
I like the idea (if there are any downsides of just using docker images from singularity). I wonder if the build should happen only in the master branch though. The docker test via mulled seems sufficient as a test, right? This way, the additional build time would not be noticable.

[2017-07-09 13:32] johanneskoester commented on #5144
Why don't we just convert the docker image? See http://singularity.lbl.gov/docs-docker

[2017-07-09 16:06] FrodePedersen commented on #1
Hello!

I would very much like to join the team.

Thank you.

[2017-07-09 16:45] daler commented on #1
Welcome @FrodePedersen!

[2017-07-09 16:48] daler commented on #5027
@vinjana can you try that branch again please? I made some fixes, including passing both `http_proxy` and `HTTP_PROXY` through to the docker build, and making sure those vars are set _before_ conda install commnad. We already use `--net host`, so that didn't have to change.

[2017-07-09 18:10] MathiasHaudgaard commented on #1
Hi :-)

I would like to join 👍

Thanks 💯

[2017-07-09 18:12] johnfonner commented on #5144
Glad to see this issue promoted.  We (at the Texas Advanced Computing Center) have been manually converting docker images to singularity to make them available on several academic supercomputers.  It represents a big step forward for reproducible computing for HPC systems that can't run Docker.  It would be great to see this effort "upstreamed" to BioConda.

Converting Docker containers to Singula

[2017-07-09 18:26] daler commented on #1
Welcome @MathiasHaudgaard!

[2017-07-10 14:13] simonvh commented on #5144
This is purely anecdotal, but as a more "casual" contributor to bioconda my experience in some individual cases has been that writing a recipe that builds correctly has become harder and takes more work. I can imagine that I would rather have a working bioconda package but no container, as compared to a build that I can't get to work. However, these are probably the exceptions, and this is not in

[2017-07-10 15:14] HenningTimm commented on #5134
Ah, I see the problem now. Thanks for the reply.
Installing a separate miniconda for this sounds like a good Idea. This might also eliminate problems/ errors due to modified root environments, even though I am not sure if this actually happens.

However, for now I just use the Python3.5 environment. So (for me) there is no need to rush this.

[2017-07-10 15:33] bgruening commented on #5144
Thanks a bunch for your comments so far!

@sebastian-luna-valero we are in contact with the singularity devs and exchanging ideas about Singularity hub and the Singularity registry. Currently the situation is not entirely clear, but luckily storing images is not a big deal here, it's just files and we are storing them on a public [FTP server](https://depot.galaxyproject.org/singularity/). This can

[2017-07-10 16:38] lparsons commented on #5144
@bgruening I totally understand the argument of ensuring a Singularity image for every Conda package. My concern is more during early days of Singularity support. I wouldn't want testing of the Singularity container build process to hold up production versions of packages. However, I defer to your considerable experience in this matter if you think the added overhead and risk is minimal/worth it.

[2017-07-10 18:58] chapmanb commented on #5144
My motivation for suggesting an opt-out is to give people a chance to build bioconda packages if they fail mulled/Singularity builds for some reason, and then asynchronously come back and later fix the mulled issues. It's ideal if we can build Docker/Singularity for everything, but also ends up putting a lot on Björn since he's one of the few people that can effectively debug/fix problems. Having

[2017-07-10 22:23] marcelm commented on #5144
@bgruening I’ll continue with my black Thinking Hat on, so please don’t take my comments personally.

But by whom and why? What *is* actually better? If (and I don’t know whether that is the case) a Singularity image were nothing more than a Docker image in a different file format, why spend the extra person-hours, CPU time and storage to provide both? The only difference would be that one could w

[2017-07-11 08:03] Slugger70 commented on #2148
This is still not working.. Currently, freebayes-parallel.sh goes looking for the vcflib scripts in a specific location (../vcflib/bin/xxx).. The last part of the build.sh file copies them to $PREFIX/bin and so freebayes-parallel can't find them.

A solution would be to change the path in freebayes-parallel or to actually put them in the path specified in the script.. I guess the prefered solution

[2017-07-11 08:12] #2148 closed

[2017-07-11 08:32] simonvh opened #5174 "Travis time-out when mulled-test takes more than 10 minutes."
See #5131. When I run `simulate-travis.py --docker --mulled-test` on my local machine all is well. However, when I submit the PR I get the following error from travis:

[code]

Indeed, when I check the times on my local build, this can take up to 13 minutes. Would it be possible to either 1) change the time-out in the travis config or 2) let test phase print dots, just as the build does?

[2017-07-11 13:08] vinjana commented on #5027
So the 4 proxy variables are set but the `/opt/conda/bin/conda install --file /tmp/requirements.txt` command in the Dockerfile still fails with

[code]

I think this is because the call lacks the `--network host` option and should rather be:

[code]

At least this is how I can get it running.

[2017-07-11 14:39] daler commented on #5027
Ah, @vinjana thanks for the clarification, sorry I missed that. I'll add the `--network host` option for the build step.

[2017-07-11 14:46] daler commented on #5027
Can you give it another shot @vinjana?

[2017-07-11 15:40] vinjana commented on #5027
Great, it works! Thanks!

[2017-07-11 15:47] HenningTimm commented on #5122
I encounter the same error: [Travis log](https://travis-ci.org/HenningTimm/bioconda-recipes/jobs/252428277)

Everything runs fine with `simulate_travis.py`, but fails on Travis when I push to my forked repo.
Adding libgcc as both a build and run dependency fixed it.

[2017-07-11 15:48] daler commented on #5027
Great! I'll merge that PR. Sorry it took a couple of rounds; I didn't have a good way of testing.

[2017-07-11 15:52] bgruening commented on #5144
@marcelm a singularity image is not OCI approved as far as I know and is a complete different thing. You can repack on into the other and this is what we do here.

It is not as simple as you might think. For example try this one:

[code]

Even if it would be that easy (we are working on the size thingy to improve this), there seems to be a need to have Singularity images, otherwise the hub and the

[2017-07-11 16:28] vinjana commented on #5027
No worry. I'm happy that I can now try to reproduce the CI errors in Travis :-P

[2017-07-11 17:50] mcornwell1957 opened #5180 "DESeq2 install error: apple-darwin version"
Hi All,

This is probably a user error, so I hate submitting it, but I do not know what the issue is. I am currently installing new software on a couple new computers and am trying to get all of my conda set ups working. On two separate machines (one macOS 10.10 and the other macOS10.12) I am installing the DESeq2 package. It installs "correctly" but if I try and load the library I get this error:

[2017-07-11 17:55] mcornwell1957 commented on #5180
Also may be helpful - This is the top of my R when I start it in my terminal

carelb01:~ Tosh$ R

R version 3.3.2 (2016-10-31) -- "Sincere Pumpkin Patch"
Copyright (C) 2016 The R Foundation for Statistical Computing
Platform: x86_64-apple-darwin11.4.2 (64-bit)

So is the error because the platforms aren't matching? why would that be?

Thanks again

[2017-07-11 17:57] bgruening commented on #5180
My assumption is that you OSX version is too old. But I have no clue about OSX. ping @bioconda/osx for help.

[2017-07-11 18:07] mcornwell1957 commented on #5180
Further info:

I am looking at the info pages for DEseq2 for the last two versions (R3.3.1 and R3.3.2) I see that in the 3.3.1 version, in the DESCRIPTION file, this is the Build line:
Built: R 3.3.1; x86_64-apple-darwin11.0.0; 2017-03-29 16:36:30 UTC; unix
But in the 3.3.2 version in the DESCRIPTION file, this is the build line:
Built: R 3.3.2; x86_64-apple-darwin14.5.0; 2017-06-06 22:43:11 UTC;

[2017-07-11 18:36] mcornwell1957 commented on #5180
One more update: Temp fix is to just download everything for R3.3.1 still. Any input or if I can help with this would be great, for now, I'll just stick with R3.3.1 releases for everything

Thanks in advance @bioconda/osx

[2017-07-11 18:45] tdido commented on #5122
Yep, that solved it. Thanks1

[2017-07-11 18:45] #5122 closed

[2017-07-12 07:33] cokelaer opened #5185 "homer recipe issue for linux version"
Homer is a perl package. Under Mac I believe the installation works well. However, under Linux
it seems that the installation is not correct. Indeed, the binaries (e.g GenomeOntology.pl) do not do anything. In fact, the binaries are link to the perl code in ./share/homer/ directory and those files are all empty.

Could not find a solution yet but reported the issue here.

In the bioconda channel,

[2017-07-12 07:37] simonvh commented on #5185
The funny thing is that `conda-build` locally results in a package that is perfectly fine.

[2017-07-12 07:50] simonvh commented on #5185
Ok, some updates. I think the issue is that the `configureHomer.pl` script has some additional dependences (wget, gcc) that are not present when building. This means that a) this script apparently fails silently (not good) and that b) the tests for the recipe are not sufficient (also not good). I will try fixing this and see if that works.

[2017-07-12 08:11] simonvh commented on #5185
`configureHomer.pl` indeed exits with an error code 0 (and a printed warning, which is invisible). Turns out also `zip` and `unzip` have to explicitly be defined as dependencies.  I added a `homer2` call to the tests. This is compiled at the end of the script, so this should be a good check if the whole script ran without trouble.

See PR here: #5186

[2017-07-12 08:32] simonvh commented on #5185
Should be fixed.

[2017-07-12 08:40] andreas-wilm opened #5188 "pysam linked against missing libbz2"
Hi all,

it seems pysam 0.11.2.2-htslib1.5_2 bioconda is linked against a missing libbz2 library:

[code]

This problem does not happen with pysam=0.11.2.1=py27_0

Andreas

PS:conda version : 4.3.17

[2017-07-12 13:34] bgruening commented on #5188
I think the problem is that you get bzip2 from the default channel and not from conda-forge, can you please check that conda-forge has a higher priority in your channel list than defaults.

[2017-07-12 14:30] andreas-wilm commented on #5188
Correct! Sorry. Thank you!

[2017-07-12 14:30] #5188 closed

[2017-07-12 14:52] jvollme opened #5194 "listed sina version number is incorrect"
The version number of SINA in the bioconda repository is given as 1.3.0.
(recipe: [https://github.com/bioconda/bioconda-recipes/tree/master/recipes/sina](https://github.com/bioconda/bioconda-recipes/tree/master/recipes/sina))
 However according to the [developers page](https://www.arb-silva.de/no_cache/download/archive/SINA/), that version does not exist yet.
The current stable version is 1.2.11
T

[2017-07-12 15:03] jvollme opened #5195 "would it be possible to include the "openMP" and "DBL" versions of fasttree in the fasttree recipe?"
FastTree comes in to variations:
 -single threaded FastTree (installed using this recipe: [https://github.com/bioconda/bioconda-recipes/tree/master/recipes/fasttree](https://github.com/bioconda/bioconda-recipes/tree/master/recipes/fasttree))
 -and multithreaded FastTreeMP (using openMP for multithreading)
both are available as precompiled binaries

would it be possible to adjust the fasttree bioco

[2017-07-12 16:10] dlaehnemann opened #5197 "linting fails due to unrelated recipes"
In my fork, linting of a new recipe I added (monovar) fails, but only cites unrelated recipes:

[code]

https://travis-ci.org/dlaehnemann/bioconda-recipes/jobs/252850581

It does pass the `./simulate-travis.py` linting on my machine, presumably because it only lints my local changes it finds through `git`? What should I do about the failure? Create a fixing pull request from a new branch?

[2017-07-12 16:19] dlaehnemann commented on #5197
Never mind. Did a second round of merging master into the recipe branch and pushed it into my fork and now it runs. No clue why, though...

[2017-07-12 16:19] #5197 closed

[2017-07-12 16:59] bgruening commented on #5197
@dlaehnemann glad you figured it out! :)

[2017-07-12 17:08] bgruening commented on #5194
ping @mdehollander

@jvollme looking at the recipe it downloads a 1.3 version from the silva server: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/sina/meta.yaml#L16

I will ask my friends from de.NBI to get further help.

[2017-07-12 17:18] bgruening commented on #5195
@jvollme does the OpenMP binary has a different name?

[2017-07-12 17:32] jvollme commented on #5195
Hi, yes it does.
the OpenMP version binary is named FastTreeMP and is supplied via this link: [http://www.microbesonline.org/fasttree/FastTreeMP](http://www.microbesonline.org/fasttree/FastTreeMP)

BTW. there is also a third binary version (with higher sensitivity for almost identical sequences) with the name FastTreeDbl which is supplid via this link: [http://www.microbesonline.org/fasttree/FastT

[2017-07-12 17:34] bgruening commented on #5195
I don't see why we can not ship these as well. Please go ahead and try to modify the package.

[2017-07-12 17:43] jvollme commented on #5195
OK, I can try editing a fork of the recipe (sometime the next days after reading a bit more about recipes first), but to be honest I have not tried modifying/creating conda recipes yet (so that's still like Vodoo for me).
Looking into the build.sh, I now see that there actually IS a FastTreeMP included in the conda recipe (damn I was sure I could not find in in my conda-path after installing it vi

[2017-07-12 18:29] epruesse commented on #5194
I've moved SINA to [epruesse/SINA](https://github.com/epruesse/SINA). Now that I've got ARB in bioconda I'm working on getting SINA to build smoothly with conda. Once I've got 1.3.1 finished I'll update the recipe here. Shouldn't be long.

[2017-07-12 18:32] bgruening commented on #5194
@epruesse thanks a lot!

[2017-07-12 18:33] #5194 closed

[2017-07-12 18:51] dctrud commented on #5144
Just wanted to mention there is a fair bit of interest in this here at the PEARC17 HPC conference. I mentioned Biocontainers in the VM curation BoF session, and Dan Stazione from TACC brought up @johnfonner 's work in response to a question from the audience in his Stampede 2 talk. I've spoken to a few of people about how at UTSW I've been trying out building singularity images, much like John is

[2017-07-12 19:28] #5027 closed

[2017-07-13 05:45] #5185 closed

[2017-07-13 07:05] druvus commented on #5180
I have just looked into this using MacOS 10.12 by creating a new conda environment:

`conda create --name r-test bioconductor-deseq2`

Everythin then works while starting R (3.3.2) and loading DESeq2 so I can't reproduce your problem.

Could you please confirm that you set up the channels in the correct order? See info [here](https://bioconda.github.io/#set-up-channels)

[2017-07-13 09:09] dridk opened #5204 "variant_tools not avaible"
This is my favorite tools. I would like to have it in bioconda

http://varianttools.sourceforge.net/

[2017-07-13 09:11] dridk commented on #5204
https://anaconda.org/biobuilds/variant_tools

[2017-07-13 09:12] dridk commented on #5204
conda install -c bpeng variant_tools=2.7.0

[2017-07-13 12:52] HenningTimm opened #5205 "UnicodeEncodeError in Travis for non-ascii chars in command line help."
In one of the argparse help messages of ddrage I use a 'μ' ('\u03bc'). When the test `rage --help` is run and the parameters should be printed, the test fails:

    [...]
    [Jul 13 12:10:53] SERR File "/usr/local/lib/python3.5/argparse.py", line 2364, in _print_message
    [Jul 13 12:10:53] SERR file.write(message)
    [Jul 13 12:10:53] SERR UnicodeEncodeError: 'ascii' codec can't encode charact

[2017-07-13 14:09] zachcp opened #5206 "What is the maximum package size for a data-heavy application?"
Hi Team Bioconda,

I've been playing around with packaging [Antismash](https://bitbucket.org/antismash/antismash)for bioconda (see issue [here](https://bitbucket.org/antismash/antismash/issues/16/suggestion-port-antismash-to-bioconda)). All the deps are on conda and Antismash can be installed using conda (minimal install scripts [here](https://bitbucket.org/zachcp/antismashconda/overview)) but for

[2017-07-13 14:15] johanneskoester commented on #5206
Unfortunately not. We are currently at the limit of our storage. While I hope to improve the situation by negotiating with continuum, I cannot yet estimate when this will be possible. In my opinion, a software should provide such datasets on their homepage. Apart from that, there is the go-get-data project, which intends to distribute data via conda packages, see [here](https://github.com/gogetdat

[2017-07-13 14:15] #5206 closed

[2017-07-13 14:19] daler commented on #5206
@zachcp alternatively you can provide a data-download script, as done in https://github.com/bioconda/bioconda-recipes/tree/master/recipes/spectacle.  Actually it looks like from the antiSMASH docs that they already have a python script to download. As long as that gets into `$PREFIX/bin`, users can run that right after they  `conda install antismash`.

[2017-07-13 14:20] johanneskoester commented on #5206
Good point!

[2017-07-13 14:23] zachcp commented on #5206
Thanks guys.  These are great suggestions. Not sure of the best way to do this; a good solution shouldn't add too much complexity on top of what currently exists.

[2017-07-13 14:26] johanneskoester commented on #5206
Well, if the tool already provides a script, it seems reasonable to include that into $PREFIX/bin, and mention it in `extra::notes`.

[2017-07-13 14:28] zachcp commented on #5206
true. the only thing I'm thinking is that it would balloon the conda directory, but that is a different problem.

[2017-07-13 20:25] mcornwell1957 commented on #5180
Thanks for the channels tip! I was not aware that we had changed our preferred order and pushed the R channel so far down. I was still downloading all of my stuff from R.

I will close this issue, thank you for all of your help - just for my own knowledge, are bioconda and conda-forge essentially going to start supporting all R packages? has the R channel become defunct? Thanks again!

[2017-07-13 20:25] #5180 closed

[2017-07-13 21:04] johanneskoester commented on #5180
Yes, you can also remove the r channel entirely from your channel list.

[2017-07-13 21:11] daler commented on #5180
Even when it's completely removed from `.condarc`, the r channel is still part of defaults, at least in recent versions of conda. The solution is to add the following to your `.condarc` to override:

[code]

[2017-07-13 22:11] johanneskoester opened #5208 "Continuum just doubled our storage"
@bioconda/all I am glad to announce that continuum was so kind to double our storage in order to support our continued growth! I want to use this opportunity to thank all of you for your work on this amazing project! I would never have dreamed how big and popular bioconda would become!

If you are on Twitter, please retweet this to thank continuum:
https://mobile.twitter.com/johanneskoester/status

[2017-07-13 22:12] kyleabeauchamp commented on #5208
Nice work!

[2017-07-13 22:14] inodb commented on #5208
Congrats to the community! This is an awesome resource. Really one of those huge leaps forward in bioinformatics not easily reflected in citation count.

[2017-07-13 22:19] hainm commented on #5208
![beer-icon](https://user-images.githubusercontent.com/4451957/28190210-cfddb6c6-67f7-11e7-8d88-f1deb3952e92.png)

[2017-07-14 00:13] sarjopp commented on #4004
Still broken in July. 5.2p1 is okay.

[2017-07-14 02:23] nilesh-tawari commented on #1
Hello, I would like to join...
Thanks,
-Nilesh

[2017-07-14 03:08] mictadlo opened #5209 "Trinotate Can't exec "/mnt/apps/miniconda2/bin/util/EMBL_swissprot_parser.pl"
Hi @jerowe and @lecorguille,
[code]
Did I miss anything?

Thank you in advance.

Michal

[2017-07-14 03:28] mictadlo commented on #5209
Fixed the above problem by changing `my $UTILDIR = "$FindBin::Bin/util";` to `my $UTILDIR = "$FindBin::Bin";` in `Build_Trinotate_Boilerplate_SQLite_db.pl`. But now I have got a new error
[code]

Any ideas?

Michal

[2017-07-14 04:38] mictadlo commented on #5209
I think the 3.0.2 fixes the [problem](https://github.com/Trinotate/Trinotate/releases) with `set -euo pipefail`.

[2017-07-14 05:58] bgruening commented on #1
@nilesh-tawari welcome to Bioconda!

[2017-07-14 06:05] bgruening commented on #4004
Ok, lets fix this in: https://github.com/bioconda/bioconda-recipes/pull/5210
If this PR is green can someone please add a test that fails?

[2017-07-14 07:09] khourhin commented on #5208
Great news ! Thanks to you all !

On Fri, Jul 14, 2017 at 12:19 AM, Hai Nguyen <notifications@github.com>
wrote:

[2017-07-14 10:22] abhi18av opened #5211 "Julia for macOS"
Hi bioconda team :)

This is a feature request regarding `julia` language. I'd love to have the julia installation managed (mostly) via `conda` channel. Presently, the `julia recipe` is

- Lagging behind the latest releases
- Doesn't have a version for `macOS`.

Could you help me out?

[2017-07-14 11:01] bgruening commented on #5211
@abhi18av you can update the julia release and try to remove the skip for OSX. If you have a PR open we can help you further. Does this work?
In general we should also consider to move julia into conda-forge.

[2017-07-14 11:25] abhi18av commented on #5211
Ah, that's a great idea!

Could you guide me to the necessary resources I'd need to learn more about
this? This might be my first contact package.

On Jul 14, 2017 4:31 PM, "Björn Grüning" <notifications@github.com> wrote:

[2017-07-14 11:52] bgruening commented on #5211
Sure, this side contains a lot of information: https://bioconda.github.io/

[2017-07-14 12:13] michaelbarton opened #5213 "Gnuplot is not compiled in QUAST recipe and can cause errors in downstream usage"
## Description of error

When running the [QUAST biocontainer][quast], based on the QUAST bioconda
recipe, I get the following warning:

[quast]: https://quay.io/repository/biocontainers/quast

[code]

This appears to be because gnuplot is not compiled by `python "setup.py"
install_full` during the bioconda build. Furthermore this is a warning and not
an error so `quast.py --test` does not return

[2017-07-14 13:16] daler commented on #5213
Thanks @michaelbarton! I think the missing piece is that the [build number](https://conda.io/docs/building/meta-yaml.html#build-number-and-string) needs to be bumped in the QUAST meta.yaml file.

Some background here is that bioconda-utils will lint recipes based on files that changed according to git, but the building is skipped if a package already exists in a channel for that version and build

[2017-07-15 10:25] kmurat1 commented on #1
Hello, I would like to join :)
Thanks to @bgruening I've tried to contribute my own conda packages r-rentrez and bioconductor-illuminahumanmethylation450kanno.ilmn12.hg19. If you can check them and give me some advice what to do next time better I would be grateful - Kate

[2017-07-15 15:25] lparsons commented on #4004
@bgruening I'm not clear on how the Travis tests run, but `blasr --version`, which is part of the tests, fails for me locally. I don't see that any tests even run in Travis (does it abort when linting fails?).

[2017-07-15 19:45] #5174 closed

[2017-07-15 21:47] bgruening commented on #1
@kmurat1 nice to see you here! Welcome!

[2017-07-15 22:10] kmurat1 commented on #1
Thank you for help @bgruening everything is up to date now 👍

[2017-07-17 15:28] bgruening commented on #5213
@michaelbarton do you have any PR we can look at. I second what Ryan said, you probably just need to bump the version number.

[2017-07-18 11:19] endrebak opened #5252 "How should the build:script in meta.yaml look?"
https://bioconda.github.io/linting.html#setup-py-install-args refers to a build:script key that could go in meta.yaml. How should it look?

Is it

[code]

or

[code]
?

The latter does not even look like valid yaml...

[2017-07-18 11:40] endrebak commented on #5252
It is

[code]

so the `build:script` on the linting page looks a little misleading :)

[2017-07-18 11:40] #5252 closed

[2017-07-18 14:29] johanneskoester commented on #5144
@bgruening: in contrast to the mulled-docker builds, an additional singularity build won't further increase the robustness of our packages. Hence, I am fine with having an out-switch in the recipe. Further, they could also be built asynchronously (e.g. with a daily job on biocontainers), right?

[2017-07-19 09:27] kain88-de commented on #2796
Removing the duplicates would be nice. Especially since the conda forge recipes tend to be updated more frequently. I recently added bioconda for a single package and this lead to several others now being downgraded.

[2017-07-19 16:11] elilarson commented on #1
Hello, I would like to join the team please

[2017-07-19 16:18] daler commented on #1
Welcome @elilarson!

[2017-07-20 03:28] dkoppstein opened #5278 "skip-lints fails when using simulate-travis.py"
I'm currently trying to add a new package that does not have a release tarball, only source code on github. So, I have

[code]

in meta.yaml.

I'm going to contact the authors to encourage them to provide a release tarball. In the meantime, I noticed that adding

[code]

to meta.yaml still causes the build to fail:

[code]

Any reason why this might be the case?

[2017-07-20 10:21] cokelaer opened #5287 "promoting bioconda"
Dear all,

@johanneskoester
@chapmanb
@daler
@bgruening
@tomkinsc

Note sure this is the best place to discuss this but following Brad's advice I open an issue to start a discussion on promoting bioconda even further thanks to a journal publication. I believe like all contributors to bioconda (I'm guessing ;-) ) that the core team has done an amazing job that helps some many of us developing faste

[2017-07-20 11:26] chapmanb commented on #5287
This is from a discussion at Codefest. +1 from me and I'm happy to contribute to writing, but we'd need someone to drive the publication.

[2017-07-20 11:33] johanneskoester commented on #5287
Yes, I already had plans to write a paper. Indeed, it feels right to do it now. I'll start drafting a manuscript (I'll invite you to the project) next week.

[2017-07-20 11:46] tomkinsc commented on #5287
Wonderful! Happy to help with it if I can!

[2017-07-20 12:09] alimanfoo commented on #1
Hi there, could I be added to the team please? I'm maintainer of pysamstats.

[2017-07-20 13:03] souravsingh opened #5292 "Adding Biopython to conda-forge"
We are looking to add an option for users who like to try biopython to install it using ``conda``. While the binaries for Linux and Mac are updated through the excellent BioConda, the windows binaries for biopython aren't updated to the latest version.

For this reason, I am thinking of adding the biopython recipe to ``conda-forge`` so that we can maintain parity over the various systems. I would

[2017-07-20 14:59] kyleabeauchamp commented on #5287
I can help some with writing / editing.

[2017-07-20 15:19] karel-brinda opened #5297 "GCC 4.9"
Is it possible to use GCC 4.9 in a Bioconda recipe? New versions of Unicycler require GCC 4.9.1+, see https://travis-ci.org/bioconda/bioconda-recipes/jobs/255613237#L764.

cc @bioconda/core

[2017-07-20 16:17] druvus commented on #5287
Sounds like a good plan! Also happy to help.

[2017-07-20 16:21] daler commented on #1
Welcome @alimanfoo!

[2017-07-20 17:13] tomkinsc commented on #5292
If it makes it easier for people to find/use biopython, I'm all for it. We'll be depending on conda-forge for the foreseeable future, so it will remain available to bioconda users.

With the channel precedence [suggested](https://bioconda.github.io/#set-up-channels)  in the bioconda docs, bioconda will be checked first before conda-forge, so it sounds like Windows users will get the package from c

[2017-07-20 17:40] bgruening commented on #5292
What ever is the easiest for the package maintainer :)

ping @peterjc

[2017-07-20 21:01] peterjc commented on #5292
I'm familiar with how BioConda updates work (and how to update them, e.g. #5175), and conda-forge looks somewhat similar (although one repository per package), but I don't now how the default channel is updated.

I take it there are currently no plans for bioconda to expand to cover Windows (using AppVeyor)? I assume not, but that would be great.

Biopython is already on the default channel (Mac,

[2017-07-20 21:12] cokelaer commented on #5287
okay cool, let me know if I can help.

[2017-07-21 06:10] souravsingh commented on #5292
To update the binaries for biopython in the default channel, we would have to ask the uploader of the recipe to do so, which can get quite slow.

If there is no issue, I can quickly create a patch for the biopython recipe.

[2017-07-21 11:14] kain88-de opened #5306 "remove mmtf package from bioconda"
I'm maintaining a mmtf package on [conda-forge ](https://github.com/conda-forge/mmtf-python-feedstock). I'm keeping it up to date there. (You are 5 patch releases behind).  It would be nice if you remove the mmtf-package so that people who use bioconda as well can use the current mmtf-package.

[2017-07-21 13:52] bioinfo-dirty-jobs opened #5308 "conda on rhel 5.5 glibc 2.7 are not avaible"
I install bwa using bioconda but when I try I have this error:
[code]

It was able to install python 3.5 and other software. why not glibc?

[2017-07-21 15:30] alphaCTzo7G opened #5309 "Integration of Bioconda with IPFS"
Hi all,

I am thinking of a opensource middlelayer/platform which will be built on top of IPFS (https://medium.com/@ConsenSys/an-introduction-to-ipfs-9bba4860abd0)

I recently found out that NCBI/NIH is struggling with the large amounts of data that is being generated from non-human genomes and is now sending the data off to Europe (https://ncbiinsights.ncbi.nlm.nih.gov/2017/05/09/phasing-out-supp

[2017-07-21 16:07] daler commented on #5309
@alphaCTzo7G, bioconda is focused on the software installation side of bioinformatics and is largely independent of the data. While it's true that users of bioconda are also typically users of these large datasets, the only integration with bioconda/conda I can think of would simply be to create a package that installs whatever is necessary to run `ipfs get`. I think that's what you are proposing

[2017-07-21 17:51] kyleabeauchamp commented on #5144
FWIW, I made a half-hearted attempt to use the existing bioconda docker images with the bioconda singularity conda package:

[code]

However, my naive approach hit a wall with this issue (https://github.com/singularityware/singularity/issues/749).

It would definitely be interesting if this (or a similar) workflow worked out of the box.

[2017-07-21 17:55] nvictus commented on #4961
Looks like C locale coercion to UTF-8 was implemented in Python 3.7 as [PEP 538](https://www.python.org/dev/peps/pep-0538/). This works only if the locale is available in the system, so presumably it still won't work on the busybox images.
Btw, @bgruening, I noticed we both gave tutorials at ISMB/ECCB today! Maybe see you in Prague this week...

[2017-07-22 09:54] truatpasteurdotfr commented on #5144
singularity needs some root suid executables, which anaconda does not provide.
[code]
a regular rpm/source/.. installation yields:
[code]

[2017-07-22 15:16] brainstorm opened #5315 "Conda environment problems with simulate-travis.py"
This issue is related to https://github.com/bioconda/bioconda-recipes/issues/3275, but it couldn't solve it. For context, [I'm trying to update ansible with and including shade, an OpenStack library](https://github.com/brainstorm/bioconda-recipes/commits/ansible_openstack).

I installed Miniconda3 as `root` environment, created an environment that has python 2.7.13 in it but `conda.fetch` cannot b

[2017-07-23 06:51] dkoppstein opened #5325 "build containers fail gcc/libgcc fail Travis despite simulate-travis.py working"
I have two packages that have failed the build process that include gcc/libgcc and I'm wondering if there is some general issue, [here](https://github.com/bioconda/bioconda-recipes/pull/5290) and [here](https://github.com/bioconda/bioconda-recipes/pull/5286). This is despite being able to build the packages on my local system using both `conda build` and `simulate-travis.py --docker`. For example,

[2017-07-23 10:21] dkoppstein commented on #5325
Closing due to user error.

[2017-07-23 10:21] #5325 closed

[2017-07-23 13:22] daler commented on #5315
@brainstorm see https://bioconda.github.io/contribute-a-recipe.html#update-repo-and-requirements:

[code]
bioconda-utils needs py3 and other dependencies; it will take care of building of packages that only run in py2.

[2017-07-23 13:24] brainstorm commented on #5315
Thanks @daler, but that is not cutting it for me either :_/

[code]

[2017-07-23 14:02] #5315 closed

[2017-07-24 09:50] lecorguille commented on #2826
Ouha ... really old thread.
I miss this mention. I will be glad to be part of the R team if bring my modest contribution (and sure, learn stuff)

[2017-07-24 09:52] bgruening commented on #2826
@lecorguille cool I added you.

[2017-07-24 10:04] lecorguille opened #5331 "Issue with fastx_toolkit and the targeted version of gnuplot"
We have with @Mataivic an issue with the package [fastx_toolkit](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/fastx_toolkit/meta.yaml).

[code]

The issue seems to come from `conda-forge::pango-1.40.1-0`
What I observe is that fastx_toolkit doesn't take the last build of gnuplot [`conda-forge::gnuplot-5.0.5-2`](https://github.com/conda-forge/gnuplot-feedstock/blob/master/recipe

[2017-07-24 12:15] johanneskoester commented on #5297
Not at the moment. But Continuum IO is working on that. There will hopefully a GCC 5 package in the defaults channel soon. @msarahan: sorry if you are asked this all the time, but is there a place where we can check the progress of the new gcc package?

[2017-07-24 12:51] csachs opened #5335 "noarch for packages which support only one major Python version"
I was about to prepare some packages for bioconda which would benefit from being defined as `noarch`, as they are pure Python packages and could be used that way by Windows users as well.

However I just stumbled upon a linting problem (as they are developed for Python 3) and the accompanying documentation, stating:

I do think that this is a sub-optimal state, given it is for new projects only na

[2017-07-24 14:27] daler commented on #5335
@csachs agreed, but I'm pretty sure this is a conda upstream constraint rather than bioconda specific, see e.g. https://github.com/conda/conda-build/issues/542#issuecomment-130870047.

[2017-07-24 14:50] csachs commented on #5335
Ah, while I googled around a bit I did not spot there to be conda upstream discussion about this.
Feel free to close this issue …

[2017-07-24 15:03] daler commented on #5335
OK. Closing for now, but if you notice any updates upstream please reopen.

[2017-07-24 15:03] #5335 closed

[2017-07-26 02:48] mictadlo opened #5350 "R libreadline.so.6: R: symbol lookup error: undefined symbol: PC"
Hello,
Is it ralated to R or to bioconductor-ballgown=2.2.0=r3.3.2_0 https://github.com/pachterlab/sleuth/issues/128#issuecomment-317641019 ?

Thank you in advance.

Michal

[2017-07-26 08:50] bgruening commented on #5350
@mictadlo can you please check your channel order. https://bioconda.github.io/#set-up-channels

[2017-07-26 09:08] sebastian-luna-valero opened #5351 "pybedtools and bedtools"
Hi @daler,

I haven't looked at `pybedtools`' source code but I was wondering why its recipe does not depend on any version of `bedtools` either at build or run time? (the same way that `pysam` depends on `samtools`)
https://github.com/bioconda/bioconda-recipes/blob/master/recipes/pybedtools/meta.yaml

Best regards,
Sebastian

[2017-07-26 12:34] daler commented on #5351
@sebastian-luna-valero it's for purely historical reasons -- pybedtools is specifically written to be agnostic about the version of bedtools installed, so it's not part of the python packaging. Bedtools was always separately managed. Then pybedtools was one of the first bioconda recipes, and I carried that idea forward, not including bedtools as a dependency.

Then I just kept bumping the version

[2017-07-26 13:25] karel-brinda opened #5355 "Single installation script"
**Suggestion:** I suggest that Bioconda have a single installation script that sets up everything. Such a script should install Bioconda (including Miniconda), set up all the channels, make all necessary configuration (e.g., modifying `$PATH` in `.bashrc`) and install all commands such as `conda skeleton`. If an old installation of Bioconda exists, it should be able to fix it (e.g., add missing ch

[2017-07-26 13:42] daler commented on #5355
@karel-brinda  good timing ;) -- see https://github.com/bioconda/bioconda-recipes/pull/5227

[2017-07-26 16:18] sebastian-luna-valero commented on #5351
That's great @daler

Thank you very much!

[2017-07-26 16:18] #5351 closed

[2017-07-27 00:00] mictadlo commented on #5350
Hi do I have to change the order in `/home/lorencm/.condarc` as describe in your link?

[code]

[2017-07-27 07:56] #3638 closed

[2017-07-27 07:57] bgruening commented on #2764
Since the issue we tried a few others but at the moment we are quite happy with travis and the `bulk` branch. Closing for now.

[2017-07-27 07:57] #2764 closed

[2017-07-27 07:58] #2277 closed

[2017-07-27 07:59] #3374 closed

[2017-07-27 08:03] bgruening commented on #2297
Short update before I close this issue, we just passed the 2500 containers on https://quay.io/organization/biocontainers

[2017-07-27 08:03] #2297 closed

[2017-07-27 11:56] cbrueffer commented on #5287
Great initiative, happy to help out.

[2017-07-27 15:04] GuyAllard commented on #4390
I have just encountered this issue.
Trying to run vep results in a segmentation fault.

Following the advice from @bow, if I run it using:
PERL5LIB="";vep
then everything is OK.

[2017-07-27 15:15] lecorguille commented on #5209
@mictadlo Trinotate 3.0.2 is now available through [Bioconda](https://github.com/bioconda/bioconda-recipes/pull/5360).
Let me know if there is still this issue about `Build_Trinotate_Boilerplate_SQLite_db.pl` but for me it seems ok.

[2017-07-27 15:16] #5209 closed

[2017-07-27 17:45] arpcard opened #5365 "Remove build"
[code]

@bgruening Is there a way to remove build "rgi_conda_dev" ?

Cheers.

[2017-07-27 20:12] lucapinello commented on #2297
Amazing!

On Thu, Jul 27, 2017 at 4:03 AM, Björn Grüning <notifications@github.com>
wrote:

[2017-07-27 20:19] notestaff commented on #3224
@bgruening any news on when it might be possible to use a C++11 compiler with bioconda?  E.g. the RECKONER read-correction tool needs C++11.

[2017-07-27 20:44] bgruening commented on #3224
@notestaff sorry no news other than soon :(

[2017-07-28 09:42] jbaaijens commented on #1
Hi, could you please add me to the team? Thanks!

[2017-07-28 13:03] daler commented on #1
Welcome @jbaaijens!

[2017-07-28 17:01] daler opened #5374 "Streamlined bioconda recipe development"
@bioconda/all we have some new changes that should hopefully make it easier to build and test recipes locally.

## Summary

`simulate-travis.py` will now install a completely isolated conda environment exclusively for its own use.

To start using it, first perform the setup (putting in whatever path you'd like to install the isolated version in):

[code]

That's it. You can then use `simulate-trav

[2017-07-28 18:31] raphenya opened #5375 "conda build failing with git submodules"
`conda build` is failing to copy/download the submodule directories, the tests end up failing.

Is there a way to run `conda build` with submodules?

##### Working version without submodules
[code]

##### Not Working (version with submodule)
[code]

I get the following error because the `package` directory is not copied:

[code]
@bgruening Please help.

[2017-07-29 02:24] mictadlo commented on #5350
Hi I removed R and reinstalled R with `conda insall r`

[code]
Why `r-base` comes from `conda-forge` but all others one come from `r channel`?

Thank you in advance.

Michal

[2017-07-29 08:00] bgruening commented on #5350
You channel order is still wrong. The r channel can be removed and conda-forge before defaults.

[2017-07-31 07:14] arose commented on #1
please add me to the team, thanks

[2017-07-31 10:33] Cashalow opened #5383 "Adding gff3_to_embl and genometools python bindings"
Hello everyone,

I'm trying to add gff3toembl to bioconda. It needs the python bindings to genomictools-genomictools to work.

I tried modifying the recipe of genomictools to put the python bindings during the build. However there is now a problem during the mulled-test of genomictools. This is related to the cairo packages because it fails because its lacking libraries related to X (libXrender, l

[2017-07-31 11:10] peterjc commented on #5292
Biopython is now in conda-forge, which has the advantage of providing Windows binaries:

https://github.com/conda-forge/biopython-feedstock
https://anaconda.org/conda-forge/biopython

Should we now deprecate the BioConda Biopython recipe, or continues to update both?

[2017-07-31 13:07] daler commented on #1
Welcome @arose!

[2017-07-31 13:15] sebastian-luna-valero commented on #5374
Many thanks @daler !

[2017-07-31 14:02] joachimwolff opened #5385 "Stable API"
Would it be possible to have a stable API to create the training tutorials? You can add as many new feature as you like to a development branch and release a new version from time to time.
The way it is now is a kind of annoying; as a content creator you have to check regularly for new functions. With a stable render API this could be solved.

[2017-07-31 14:03] joachimwolff commented on #5385
Nevermind, wrong repository :)

[2017-07-31 14:03] #5385 closed

[2017-07-31 15:49] HenningTimm commented on #5374
Thanks for the work @daler this makes my life a whole lot easier. This solves #5134 (and I will close it).

The installation and creation of the environment seem to work nicely. However I can not test if everything works due to another problem with docker (most likely related to #5027). I will create an Issue for this.

[2017-07-31 16:06] HenningTimm opened #5387 "docker build crashes with "flag provided but not defined: --network""
When building a recipe, docker build crashes, since it does not know the `--network` parameter (See [here](https://github.com/bioconda/bioconda-utils/blob/master/bioconda_utils/docker_utils.py#L404)) which has been added to solve #5027.

[code]

I am using docker version 1.6.2 build 7c8fca2.
When showing the help message for docker build, the network flag is not listed for me:

[code]

Can this be

[2017-08-01 12:44] HenningTimm commented on #5134
Solved by #5374

[2017-08-01 12:44] #5134 closed

[2017-08-01 12:51] daler commented on #5387
@HenningTimm looks like a docker version issue: `--network` was added to docker in version 1.13 ([release notes](https://docs.docker.com/release-notes/docker-engine/)). Are you able to upgrade docker? We could do a version check before adding the `--network` argument, which, as far as I know, is used in proxy situations. If you needed to use a proxy, you would have to upgrade docker.

[2017-08-01 14:27] HenningTimm commented on #5387
@daler I used the docker version from the ubuntu 14.04 package sources, so there might be other people with this problem. On 16.04 this could also be a problem, since right now only version 1.12.0 is available.
If this it a lot of work, I can just install from another source; the ubuntu version is quite old anyway. But maybe not everyone has this option.

I am not too familiar with the inner worki

[2017-08-01 14:50] johanneskoester commented on #5292
It can be deprecated. But we can do that in an orchestrated effort in the next months. We still need to figure out a good sustainable strategy for this.

[2017-08-01 14:52] johanneskoester commented on #5287
To give you an update: me and @daler have started some data analysis for the paper, see bioconda/bioconda-paper. I will post the URL to the draft as soon as I have made some more progress on it.

[2017-08-01 15:07] daler commented on #5387
@HenningTimm thanks, that helps a lot. Tracking down the different version strings across different docker versions and being able to reliably detect is the annoying part. I'm not sure there's a good way to write a test for this, other than temporarily installing a different version of docker. But if it works locally for you on an earlier version then that should be good enough for now.

A PR woul

[2017-08-01 16:02] peterjc commented on #5292
@johanneskoester "this" being Biopython, or a more general issue for deprecating BioConda packages?

Speaking from a Biopython perspective, I don't mind having Biopython under both conda-forge and bioconda, and am willing to help keep both/either recipe up to date.

[2017-08-02 12:14] chapmanb commented on #5297
Johannes;
To add a +1 to this, I've ran into packages over the last few days I need and can't build without gcc 4.9+ support: the latest hap.py, vg, and hhga. Do you think it's worth trying to come up with workarounds in our Docker container until the more recent versions are available in conda-forge or the default channel?

[2017-08-02 13:01] jerowe commented on #5297
@chapmanb @karel-brinda - there is already a gcc 4.9 in the conda-forge docker image. Don't include gcc in your build dependencies and you should be using it. Its obviously not ideal, but it has worked for me.

[2017-08-02 13:02] msarahan commented on #5297
There are preview packages on Ray's channel and my channel, rdonnelly and
msarahan.  Current version is gcc 7.1. note that these are pseudo-cross
compilers, so that package names reflect the compilers name and the target
platform, e.g. gcc_linux-64. There will be a beta program soon for the
ecosystem built with these compilers, and we'll probably have the compilers
be part of that program.

Cc @mi

[2017-08-02 13:19] jerowe commented on #5374
@daler you just do the coolest things. ;-)

[2017-08-02 13:22] msarahan commented on #5297
PS: also note that the new compilers are much more separated than before.
The gcc 4.8 package was gcc, g++ and gfortran all in one.  The new
compilers have separate packages for gcc, gxx, and gfortran.

On Wed, Aug 2, 2017 at 8:02 AM, Michael Sarahan <msarahan@gmail.com> wrote:

[2017-08-02 14:44] chapmanb commented on #5297
Mike -- this is great progress, thank you for working on this. I'm looking forward to testing this out in bioconda once we can pull from conda-forge.

Jillian -- thanks for the tip. I'm happy to temporarily use the container gcc but I could only find 4.8.2 in the container as well. Am I using the wrong container/doing something else wrong?
[code]

[2017-08-02 14:50] jerowe commented on #5297
You're right. It is 4.8,but it's a special 4.8 with some ports from 4.9 to
support additional features.

On Aug 2, 2017 10:44 AM, "Brad Chapman" <notifications@github.com> wrote:

[2017-08-02 16:08] #2921 closed

[2017-08-02 16:54] chapmanb commented on #5297
Jillian -- ah, thanks much. Unfortunately the failing tools require gcc 4.9 regex support and it looks like that is not included in the special 4.8.

So it looks like our options right now are to move to the beta program when that's available or to get an updated gcc in the conda-forge container so we can use that in the interim. Does anyone have thoughts about what the best approach is? Thanks mu

[2017-08-03 00:03] mictadlo opened #5424 "Trinotate - superScaffoldGenerator.pl has wrong path"
Hi @jerowe and @lecorguille,
I got the below error running Trinotate:
[code]

This is the following solution is to remove `util` from the `$cmd` path:

[code]
Please change them to
[code]
Thank you in advance.

Michal

[2017-08-03 17:00] mschatz opened #5429 "Missing busco config file"
The current busco recipe correctly installs the dependencies, but leaves out the required config.ini file. It is not terribly difficult to make, but would totally streamline the process to have one included. The default config file is available here:
https://gitlab.com/ezlab/busco/blob/master/config/config.ini.default

All of the required paths can be set to the miniconda bin directory:

[code]

T

[2017-08-03 19:12] chapmanb opened #5430 "Remove mysql dependency from UCSC tools"
@daler @nsoranzo and @bioconda/core
I've been looking at trying to reduce the size of the big containers I generate with bioconda installs and noticed that the large ~300Mb mysql dependency gets pulled in as part of ucsc tool installs. Would anyone object to removing this dependency from some tools? I don't need to tackle the whole ucsc tree unless y'all think it is worth it, but could remove it f

[2017-08-03 21:51] jerowe commented on #5430
I'm not really familiar with this one, but is mysql necessary for core functionality?

If its not I'm not opposed to getting rid of it, but maybe for cases like this we should have a package-extras package that contains nice to haves for a software. I think gatk is one I wanted to create an extras package for. Some of the steps need additional R packages I don't want to just throw in there.

[2017-08-03 21:52] jerowe commented on #5375
In general conda will not let you download anything during the build process. I do not think there is anyway to do this. Is it possible to build the submodules themselves as individual packages?

[2017-08-03 21:54] jerowe commented on #5287
I am a terrible, terrible writer, but I talk about how wonderful bioconda is all the time. ;-)

[2017-08-04 00:31] chapmanb commented on #5430
Jillian -- you can use it in conjunction with some tools to query the UCSC mysql servers but I don't believe it's a core dependency of any tool. I agree this is a good case for an extras or bundle type packages where folks who might want all batteries included could use that. As a first pass, if no one objects I'll start removing it from the tools I mentioned and we can decide on a policy and extr

[2017-08-04 07:00] bgruening commented on #5375
@raphenya sorry missed this. Do you have a link to the recipe?

[2017-08-04 08:46] #5133 closed

[2017-08-04 10:06] HenningTimm commented on #5287
Also happy to help with this.

I had an idea for an additional plot that I posted as an Issue in the paper repository.

[2017-08-04 11:19] nsoranzo commented on #5430
Would removing the `mysql` requirements work? It seems the mysqlclient library is compiled in the binaries, e.g.:
[code]
contains `libmysqlclient.so.18` .

[2017-08-04 14:25] chapmanb commented on #5430
Nicola -- good catch, thank you. Apologies, I thought I'd removed all my mysql shared libraries when testing this. It looks like we'll need the mysql client library, but what do folks think about switching over to mysql-connector-c (https://github.com/conda-forge/mysql-connector-c-feedstock) which has `libmysqlclient.so.18` and is 37M instead of 300M?

[2017-08-04 15:43] nsoranzo commented on #5430
If that works, sure!

[2017-08-04 20:56] daler commented on #5430
When I first built all the ucsc tools, I was focused on just getting them built rather than slimming them down. I'm all for keeping them small where possible. I'm not sure the mysql is needed for many of the tools, I think the makefiles are just trying to be a one-size-fits all for everything in the source tree. It's possible the makefiles could be tweaked to let them compile without mysql.

[2017-08-07 09:50] bgruening commented on #5292
A general strategy for deprecating recipes, I guess. I'm also fine with removing it from bioconda and go for conda-forge only.

[2017-08-07 13:41] #5383 closed

[2017-08-07 15:36] johanneskoester commented on #5292
Yes. If possible, I want to avoid duplicate packages.

[2017-08-07 15:41] peterjc commented on #4723
Can we use ``bioconda-utils lint ...`` for a git pre-commit hook?

[2017-08-07 15:52] peterjc commented on #5292
So is this as simple are a pull request removing the entire BioConda ``recipes/biopython`` directory? If so I can do that, no problem.

[2017-08-07 16:00] daler commented on #4723
My understanding is that pre-commit hooks are not copied when cloning a repo, and so would need to be set up client-side on an individual basis. I think the current system -- nothing gets into master without passing travis-ci -- avoids requiring users to set up anything locally, and still serves the same purpose since `bioconda-utils lint` is run there. A pre-commit hook would avoid commits like "

[2017-08-07 16:04] peterjc commented on #4723
Yes, any git hook would have to be deliberately installed by the contributor.

However, catching typos with a fast local lint will avoid long waits for the TravisCI system to build a pull request. That in itself is a big advantage to me as a contributor.

[2017-08-07 16:08] daler commented on #4723
True. Have you tried https://github.com/bioconda/bioconda-recipes/issues/5374 yet (new docs [here](https://github.com/bioconda/bioconda-recipes/issues/5374))? This does everything that travis does, and should save a ton of time when running locally.

[2017-08-07 16:19] peterjc commented on #5374
Is this source warning expected under macOS?

[code]

It seems to work, in that I can do:

[code]

[2017-08-07 16:22] peterjc commented on #4723
I had not tried that - it allowed me to reproduce the linting failure from #5455 (giving the same cryptic failure).

Something along those lines for linting as a git hook might work...

[2017-08-07 16:27] benjjneb opened #5457 "bioconda installed R package is much slower than natively installed"
The recipe for the dada2 R package (https://github.com/bioconda/bioconda-recipes/tree/master/recipes) is much slower, as much as 20x slower, than the same package version installed via the normal R package manager (https://github.com/qiime2/q2-dada2/issues/74),

This performance critical parts of this package are written in C/C++, and in parts depend on gcc/llvm vectorizing parts of the code. When

[2017-08-07 16:38] daler commented on #5374
Thanks @peterjc I actually get it under linux as well. Fixed (at least for linux) in #5458, does this help for macOS?

[2017-08-07 22:15] xguse opened #5461 "simulate-travis.py failing with bash errors"
# Situation

- I am trying to get the new build/testing workflow working on my main dev system.
- Running into stdout/stderr msgs that I havent been able to find in the `issues` so far
- I get msgs in both:
    - `./simulate-travis.py --bootstrap /tmp/miniconda --overwrite`
    - `./simulate-travis.py`
- the bootstrap step completes however (with stdout/err msgs), while the build doesn't.
- I am h

[2017-08-08 08:04] daler commented on #5461
@xguse the first issue is just a warning but should be fixed in #5458. The second issue sounds strange. It looks like it's running with `--docker`, but there's something strange in the docker image where the symptoms are similar to if the `PATH` env var is missing.

Now that I look closer, your PATH is being provided to the docker container as an env var (that does not need to happen and I will fi

[2017-08-08 10:26] peterjc commented on #5374
@daler Since it has been merged, testing #5458 was easy - I can confirm this also removes the warning on macOS:

[code]

[2017-08-08 13:07] bgruening commented on #1
@julie-sullivan welcome!

[2017-08-08 13:45] daler commented on #5374
Great, thanks.

[2017-08-08 13:45] #5374 closed

[2017-08-08 13:50] daler commented on #5461
@xguse #5458 and bioconda/bioconda-utils#162 have now been merged to their respective repos, so all you need to do is update to latest master on `bioconda-recipes` to test these fixes.

[2017-08-08 13:51] daler commented on #5429
@mschatz since the bin dir will change depending on the environment, a single config file won't work.

For example `conda install busco` will put executables in the root env `/path/to/miniconda/bin` but another environment created with `conda create -n env2 busco` will put them in `/path/to/miniconda/envs/env2/bin`. The paths would need to be filled in at install-time, and I'm not sure there's a h

[2017-08-08 14:51] mschatz commented on #5429
@daler Unfortunately the full paths do have to be specified in the config file. I think the config-generator script is the best option if possible, otherwise it will require some surgery to the busco source.

Thank you!

Mike

[2017-08-08 19:44] zachcp commented on #5457
HI @benjjneb ,

I wrote the original recipe as well as the R-Rcppparallel recipe. I struggled a bit to get them to compile at all ... (at least thats faster than not running at all!). But in all seriousness, I am not really sure how to pass compiler options into  R - I was assuming the R CMD INSTALL took care of that aspect of the compilation process but apparently not.   I can take a look into th

[2017-08-08 20:02] zachcp opened #5474 "Issue with Nanopolish"
On linux (hdf 1.8.17). I tried using hdf5 from conda-forge (1.8.19) and i get the same.

[code]

Edit:
Looks like this is a problem on macOS as well:

[code]

Any ideas for fixes?

[2017-08-09 13:45] benjjneb commented on #5457
Thanks again for putting this together @zachcp It's definitely better than not running at all!

We didn't run into this slowdown issue until recently, but are revisiting to try to fix it since there are quite a few people using this conda recipe via QIIME2 to run analyses, and this slowdown is significant on larger datasets.

I think @brwnj also bumped the package to the new bioconductor version,

[2017-08-09 15:30] zachcp commented on #5457
Just had a thought - does native compilation require make/automake/etc? Perhaps whats happening is in the absence of the build tools at compilation time it defaults to standard make. Perhaps we need only add the appropriate build tools as a dependency during the build.  (will look into later.)

[2017-08-09 15:49] bgruening commented on #5457
@benjjneb @zachcp thanks for bringing this up!
This is the commandline what we use to compile the package: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/bioconductor-dada2/build.sh

@benjjneb can you use this as well and see if this already speeds things up for you? Otherwise tweaking this command is allowed and we could boost performance by this. Other idea, are you using mkl o

[2017-08-09 16:10] zachcp commented on #5474
adding system hdf5 on macOS (`brew install hdf5`) fixes it. During builds it looks like `nanopolish` links libraries but those may be different from what supplied via conda.

looks like hdf5-1.10 is available but the default install is 1.8.18 why is that?

so it seems there are some conflicts with Anaconda base packages that are pinned to lower versions of hd5: pytables, blaze, bottleneck, h5py. O

[2017-08-09 16:12] bgruening commented on #5474
At the moment we recomment to pin hdf5 like this `- hdf5 1.8.18|1.8.18.*` Hope this helps!
https://github.com/conda-forge/conda-forge.github.io/blob/0661e2ecf4b213ddf36350ca100a5a820eb17eb7/scripts/pin_the_slow_way.py#L52

[2017-08-09 16:20] zachcp commented on #5457
@bgruening  if there are specific optimizations used by R - does R need extra build tools available to it? It looks like both [dada2](https://github.com/benjjneb/dada2/blob/master/src/Makevars) and [RcppParallel](https://github.com/RcppCore/RcppParallel/blob/master/src/Makevars) use Makevars to pass in variables.  I'm thinking that conda may not use these for some reason.

[2017-08-09 16:21] zachcp commented on #5474
@bgruening thanks. I just submitted a PR specifying the hdf5 dep. Can you use the same pin trick within `meta.yaml`?

[2017-08-09 16:31] bgruening commented on #5474
@zachcp I don't understand, sorry. You should use the above pinning in your meta.yml :)

[2017-08-09 16:33] bgruening commented on #5457
Mh not sure about this. But keep in mind that the compilation happens in a Docker container so all system dependent optimizations are useless for now.

[2017-08-09 18:01] daler commented on #5429
@mschatz, I added a config-gen script in #5476 as well as updated BUSCO to 3.0.2. This is now merged into master, can you give this a try?

[2017-08-09 19:17] #5474 closed

[2017-08-09 21:55] daler opened #5483 "data-heavy bioconductor packages"
Now that we have more space provided by continuum, I was wondering if it would be appropriate to add bioconductor data packages. For example I'd like to add `bioconductor-chipqc` but it depends on these data packages:

  - `bioconductor-txdb.celegans.ucsc.ce6.ensgene`
  - `bioconductor-txdb.hsapiens.ucsc.hg18.knowngene`
  - `bioconductor-txdb.hsapiens.ucsc.hg38.knowngene`
  - `bioconductor-txdb.mm

[2017-08-10 07:31] bgruening commented on #5483
We could create a dummy package that runs a normal R install in the post-install hook maybe?

[2017-08-10 13:33] xguse commented on #5461
Hello @daler et all:

This did indeed allow my build to run to completion.  It didn't SUCCEED... but that one is on me.

Thanks!

[2017-08-10 15:48] daler commented on #5461
Great, thanks.

[2017-08-10 15:48] #5461 closed

[2017-08-10 15:50] daler commented on #5483
Hmm, that's a good idea. I'll see if I can get that to work.

[2017-08-10 17:20] raphenya commented on #5375
Thanks @bgruening, see https://github.com/conda/conda-build/issues/2241

The trick was to use git_url for source.

[2017-08-10 17:20] #5375 closed

[2017-08-10 17:25] daler commented on #5483
@bgruening @johanneskoester I have something working in #5485, but it's not optimal.

Quoting from https://conda.io/docs/building/build-scripts.html:

Installing a bioconductor data package via a post-link script would require `wget` and `R`, so we wouldn't be following the last two recommendations.

Other issues I've discovered with this approach:

- The moment the URL changes, the package is bro

[2017-08-10 19:13] mschatz commented on #5429
I tried this in a separate environment, but the config.ini file is missing:

[code]

There is a config directory there, just not the config.ini. Any ideas? Im a
total novice when it comes to debugging conda install issues, but if you
point me in the right direction can poke around

Thanks!

Mike

On Wed, Aug 9, 2017 at 2:01 PM, Ryan Dale <notifications@github.com> wrote:

[2017-08-10 19:14] dfornika opened #5488 "Julia installs packages into ~/.julia"
The julia package is configured to install julia packages into the user's `~/.julia` directory, outside the conda environment.

Another developer has solved this by creating a wrapper that sets `JULIA_PKGDIR` to `$JULIA_HOME/share/julia/site`:

https://github.com/tkf/conda-julia
https://anaconda.org/tkf/julia

[2017-08-10 20:17] daler commented on #5429
@mschatz it's actually not being automatically run, since it's a bit more complicated than a simple `mv` or `cp` as recommended for a post-link script (https://conda.io/docs/building/build-scripts.html).

So for now, this is the way to do it, using the env var suggested by the busco docs:

[code]

[2017-08-10 20:19] bgruening commented on #5488
@dfornika please feel free to create a PR. This would be really great.

[2017-08-10 20:28] mschatz commented on #5429
Sorry for missing that. Since the build script creates and populates the
config directory, I dont see why we cant also add in the config file. Would
it be allowed if generate-busco-config.py was replaced by sed?

Mike

On Thu, Aug 10, 2017 at 4:18 PM, Ryan Dale <notifications@github.com> wrote:

[2017-08-10 20:49] daler commented on #5429
No worries, there's not a good place to document it; it's easy to miss.

The build script currently does not populate the config dir; it doesn't really fit the [FHS](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard) we try to follow. Instead the build script puts the default config in a share directory and mucks around with symlinks to allow the config-gen script find the default config

[2017-08-10 20:53] mschatz commented on #5429
Thanks Ryan. Yes, the config file just sets a few paths and otherwise
shouldnt need to be touched, especially since most (or all) of the other
settings can be set on the command line. Unfortunately, the paths do need
to be set in this file. Thanks for checking on it

Mike

On Thu, Aug 10, 2017 at 4:49 PM, Ryan Dale <notifications@github.com> wrote:

[2017-08-10 22:28] ohnoplus opened #5491 "suggested change to phyloseq instalation instructions"
The instructions on this page did not work for me

https://bioconda.github.io/recipes/bioconductor-phyloseq/README.html

I found that rather than the following suggested command
`conda install bioconductor-phyloseq`

The following command actually seemed to install phyloseq.
`conda install -c bioconda bioconductor-phyloseq`

 If this isn't super specific to me, it would be nice if somebody would u

[2017-08-10 22:41] dfornika commented on #5488
Ok, thanks. I think it's ready to merge.

[2017-08-11 01:10] daler commented on #5491
@ohnoplus this is definitely the place to bring up these kinds of issues. However on that page, just before `conda install bioconductor-phyloseq` it says:

Follow that link to set up the channels, which is important to do because it includes `conda-forge` as well as `bioconda` and puts the channels in the correct order so that everything in bioconda will install easily.

[2017-08-11 06:54] bgruening commented on #5491
@ohnoplus hope that @daler comments help. Will close this now. Please feel free to reopen!

[2017-08-11 06:54] #5491 closed

[2017-08-11 08:01] bgruening commented on #5483
@daler thanks for investigating!
I don't have a good answer/solution I'm afraid. I think its a terrible idea to ship data with a software package manager and I don't think it scales at all with BioConda as long as we have restricted storage capacity. In Galaxy we have, and I think for good reasons, separated data from software and this serves us well.

Maybe the solution is good communication and

[2017-08-11 13:29] Tomnl opened #5497 "Bioconductor ExperimentalData package"
Hi all,

Not sure if this is the correct place to ask this but...

Just wondering if there was a procedure for building recipes for  [ExperimentalData packages from Bioconductor ](https://www.bioconductor.org/packages/3.3/data/experiment/)?

Nothing is mentioned in the [docs](https://bioconda.github.io/guidelines.html#r-bioconductor) and I am not sure the ['no-arch'](https://bioconda.github.io/gui

[2017-08-11 13:34] daler commented on #5497
@Tomnl we're actually trying to work out these details in #5483 if you want to join us over there.

[2017-08-11 13:40] daler commented on #5483
@bgruening I agree about the separation of code and data, but we're stuck with Bioconductor who disagree ;).

How about this for a way forward:

- get the post-link working better to support multiple URLs (e.g., cargo-port URLs)
- finally move bioconductor-skeleton over to bioconda-utils
- in the new bioconductor-skeleton, enable it to create a data package with post-link rather than a standard re

[2017-08-11 13:46] daler commented on #5429
@mschatz I think I got it working; the post-link approach ended up being simpler. Can you try:

[code]

I get the following indicating there's no input. But there's no error about the missing config file, so I'm assuming it's found:

[code]

[2017-08-11 13:53] Tomnl commented on #5497
Thanks @daler. OK glad that people are discussing this.

I will close this issue as it is a duplicate

[2017-08-11 13:53] #5497 closed

[2017-08-11 14:51] Tomnl commented on #5483
The post-link sounds like a good idea. For me the data packages in bioconductor are very useful both for unit-testing and for using in actual analysis.

So if we can get them in bioconda in any form it would be great!

[2017-08-11 16:05] bgruening commented on #5483
@daler if we agree to go with post-link scripts I think your outline makes a lot of sense.

[2017-08-11 18:32] daler commented on #5483
@bgruening I updated #5485 with an improved `post-link.sh` that handles multiple URLs and md5sum checks. I kept the urls and md5sum in the meta.yaml so that they are checked at build time, even though nothing happens with the downloaded tarballs at build time.

I figured it would be useful to work out the best we can do on the post-link side so we can make a good decision on whether or not we want

[2017-08-11 22:08] alexpreynolds opened #5503 "Updating BEDOPS recipe for new version fails tests"
I attempted to update the version number of a recipe for BEDOPS (along with the sha256 signature and URL), and the recipe does not seem to pass tests:

[code]

Has the YAML format changed recently, such that other fields or data are now required?

[2017-08-12 02:24] daler commented on #5503
@alexpreynolds the error you report here appears to be complaining about git revisions missing. Looking more carefully it seems to be a log from travis from your fork of the repo? Is the branch up-to-date with bioconda master?

But more usefully, in #5502, the error appears to be `clang: error: invalid arch name '-arch 64'`, shown here: https://travis-ci.org/bioconda/bioconda-recipes/jobs/26366791

[2017-08-12 13:53] johanneskoester commented on #5483
@daler, thanks for spearheading this! I think it should be obligatory for a data package to use `noarch: generic`.

[2017-08-12 18:14] alexpreynolds commented on #5503
Thanks. It looks like the `ARCH` variable gets clobbered somewhere. I applied a hotfix to the Darwin-specific Makefile to make it harder to overwrite. We'll see how it goes.

[2017-08-12 18:16] alexpreynolds commented on #5503
Okay, looks good. Not sure if `ARCH` gets set somewhere outside of this, but I'll close up this ticket.

[2017-08-12 18:16] #5503 closed

[2017-08-12 19:02] daler commented on #5503
@alexpreynolds yep, it's conda that's doing it: https://conda.io/docs/building/environment-vars.html#environment-variables-set-during-the-build-process

[2017-08-12 19:07] alexpreynolds commented on #5503
Ah, yeah, that would definitely break things on our end. Up until the last release we've been offering 32- and 64-bit binaries, so that was an important variable for us to set properly.

[2017-08-14 06:28] hredestig opened #5509 "retiring outdated version of cobrapy"
Hi,
I'm the current maintainer of the [cobrapy package](github.com/opencobra/cobrapy). Since last year we build python wheels for mac/win/linux to support easy installation via pypi. Since this works well, there seems to be little added advantage of also having cobrapy on bioconda and I therefore would like to remove https://bioconda.github.io/recipes/cobra to avoid confusion about what latest ver

[2017-08-14 08:20] bgruening commented on #5509
Hi @hredestig!
Thanks for getting in contact! For reproducibility reasons we try hard to keep also old versions.
ping @raivivek and @cdiener which contributed to this recipe.

My personnel opinion is that conda is it's own package manager and if people prefer conda over wheels that is totally fine and they are in charge to update the packages, not you. It's like with Debian packages, no-one assume

[2017-08-14 09:03] hredestig commented on #5509
Thanks for the feedback, that's understandable, let's keep the old version in bioconda then.

[2017-08-14 09:03] #5509 closed

[2017-08-14 10:58] druvus commented on #5509
Hi @hredestig!
Nice to see you around here. I checked the latest version of cobrapy and it seems we could bump the package as soon `swiglpk` and `optlang` been added to conda-forge. I am happy to assist you to get the latest version into bioconda.

[2017-08-14 13:55] hredestig commented on #5509
Hi @druvus!
Same to you. optlang is pure python and swiglpk also has wheels for all major platforms so quite pip installable; what is the advantage of also having it here?

[2017-08-14 19:00] fdorri commented on #5188
I am having the same issue while the channels priority seems ok.
[code]
and
[code]

[code]
Any ideas why this is happening?

Thanks,
Fatemeh

[2017-08-14 20:20] lieuv commented on #1
Hi, I would love to join the team :) Thanks in advance!

[2017-08-14 21:17] bgruening commented on #1
@lieuv welcome to the team!

[2017-08-14 21:20] mschatz commented on #5429
Thanks Ryan! We are making progress, but when I go to run it, it throws an
error:

[code]

The gff2gbSmallDNA.pl script comes with augustus, so I had to edit the
config.ini to point to the `.../miniconda/envs/busco/scripts` directory
instead of the `.../miniconda/envs/busco/bin` directory. This needed to be
changed for all 3 scripts in the augustus section of the config.ini file
(gff2gbSmallDNA.pl

[2017-08-14 21:28] bgruening commented on #5188
Hi! This is how it looks for me:
[code]

You don't have bioconda in your condarc at all and your channel order (from the listing of your envs) really looks not correct :(

[2017-08-15 00:33] daler commented on #5429
Hmm, for AUGUSTUS_CONFIG_PATH we'll probably need something using https://conda.io/docs/using/envs.html#saved-environment-variables. I haven't used this before, will have to play around with it. In the meantime, I'll open another PR for the changes to the augustus scripts which is an easy fix, but figuring out a good way to test could be tricky.

[2017-08-15 02:16] mschatz commented on #5429
Thanks!

On Mon, Aug 14, 2017 at 8:33 PM, Ryan Dale <notifications@github.com> wrote:

[2017-08-15 02:19] Adrianzo commented on #1
please add me! me! me! 👍

[2017-08-15 07:01] bgruening commented on #1
@Adrianzo sure. Welcome!

[2017-08-15 21:08] fdorri commented on #5188
Hi!

Thanks for your comment. I tried your commands and I got the following error. Maybe related to the Centos version?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "..../bin/miniconda2/envs/pysam-bzlinkerr_2/lib/python2.7/site-packages/pysam/__init__.py", line 5, in <module>
    from pysam.libchtslib import *
ImportError: /lib64/libc.so.6: version `GLIBC_2.7' n

[2017-08-16 02:20] epruesse commented on #5287
Also happy to help!

Bioconda pretty much solves a major issue in bioinformatics, and in particular an issue at the interface between bioinformatics and pure life-sciences researches: distribution.

Using Bioconda, installing tools becomes trivial for the "end user". At the same time the "developer" community can now build upon a much larger set of existing solutions without creating major install

[2017-08-16 03:35] epruesse commented on #5457
Hi @benjjneb,

The vectorizing capability of GCC/LLVM is something that IIRC has evolved a lot recently, so with the default bioconda GCC I wouldn't expect too much. You could install GCC via conda and use the GCC vectorizer debug flags to figure out how your code needs to look so that the older GCC will spot the parts that can be vectorized... rather painful process, though. I've found that hand-

[2017-08-16 03:39] epruesse commented on #5457
@bgruening I've got a similar issue with SINA btw. The conda-compiled version is nearly an order of magnitude slower than the locally compiled one. Same thing -- C++ code written to be vectorizable by the compiler, so a modern compiler makes a big difference. Considering that compute cycles have started to cost actual money for many of us, tackling this more comprehensively throughout bioconda mig

[2017-08-16 06:54] bgruening commented on #5457
There are some new packages for GCC in the making that can be tested :)
Let me know if you are up to this and I will search for the repo. A new GCC package and the new conda-build-3 will hopefully happen this year.

[2017-08-16 09:21] johanneskoester commented on #5287
Yes, Brief Communication in Nature Methods was what I wanted to aim for. I haven't yet contacted them. I'll need another week for the draft first (I have another deadline approaching fast).

[2017-08-16 10:12] wkretzsch opened #5537 "gatk -T AnalyzeCovariates dies due to missing R dependency"
When I run
[code]
I get the following output:

'recal_data.table.pdf'

It appears that `AnalyzeCovariates` depends on `R` and the `gplots` package.  However, I find no mention of R in the meta.yaml for gatk.

Should R and the `gplots` R package be added as dependencies for the gatk recipe?

[2017-08-16 10:17] wkretzsch commented on #5537
According to the [GATK website](https://gatkforums.broadinstitute.org/gatk/discussion/2899/howto-install-all-software-packages-required-to-follow-the-gatk-best-practices) the required R dependencies are:
- gplots
- ggplot2
- gsalib
- reshape

[2017-08-16 12:05] Cashalow opened #5539 "blast remote fails because GNUTLS is missing"
Hello,

Using blast 2.6 I am trying to send a remote request for blasting. However to do so blast need the libgnutls that are not available on conda-forge. Thus blastn -remote -db nr fails with the current version in bioconda.

I have tried adding the dependencies tlslite and openssl to see if they could provide the missing libraries but the blast remote failed each time.

Does someone have an ide

[2017-08-16 18:10] epruesse commented on #5287
@johanneskoester You don't need a complete draft to do a presubmission inquiry. The form for those wants primarily title, abstract, authors and some info. Maybe upload one of the plots and have a rough title and abstract, that should be sufficient for them to decide whether it's something they want to publish. You could actually even contact (one of) the editors directly by email, just asking how

[2017-08-16 19:07] rfarouni commented on #1840
@rvalieris  But on the website, it says that Python3 is supported.

http://meme-suite.org/doc/install.html?man_type=web#prereq_python

Are there any other Python 2 dependencies that prevent building the recipe for Python 3?

[2017-08-17 07:45] bgruening commented on #4560
Small update I have started the R 3.4 migration on conda-forge and packages are now rebuilding. At least for Linux it looks good so far and we can start to migrate our packages as well.
If I find time I will start this in next week, given conda-forge is done rebuilding.