[2015-09-13 00:23] johanneskoester opened #1 "Join the team (post here to be added to the bioconda team)"
Everybody is welcome to contribute a package. Simply reply to this issue and you will be added to the bioconda team.

**Edit:** *After you post here, we will email you an invitation through github to join the bioconda team. Click the link in that invitation in order to be added.*

**Edit:** *To have the Bioconda logo display in your profile, navigate to https://github.com/orgs/bioconda/people and

[2015-09-14 06:05] hyeshik commented on #1
Johannes,
This is a great idea! I often felt the need of an OS-independent package catalogue for computational biology that works within the user space. After few minutes of trial with Conda, I could agree that it's a wonderful platform for such system. I would like to contribute packages that I use as one in the team. I have an experience as a package maintainer (so-called ports committer) in the

[2015-09-14 12:17] johanneskoester commented on #1
Great! I have send you an invitation.

[2015-09-14 13:01] daler commented on #1
Hi Johannes -
I'd like like help with this, too. I like the idea of having one obvious place to find and contribute bio-related conda packages.  I already have a handful of conda packages that could be useful here (https://conda.binstar.org/daler).

[2015-09-14 13:45] johanneskoester commented on #1
Hi Ryan!
Great to hear that! I have sent you an invitation. Feel free to add your packages!

[2015-09-14 13:47] johanneskoester commented on #1
Btw Hyeshik, please also create an anaconda.org account so I can add you to the bioconda team over there, as well.

[2015-09-14 14:23] daler commented on #1
FYI, https://github.com/chapmanb/bcbio-conda has a lot of conda packages already. I'm not sure how much of that is tied specifically to versions needed in the bcbio-* packages though.

[2015-09-14 15:15] johanneskoester commented on #1
Good to know! Maybe we can invite Brad to migrate their stuff once we have reached a critical mass with Bioconda.

[2015-09-15 02:56] hyeshik commented on #1
@johanneskoester Thank you! I just created an account on anaconda.org.

[2015-09-15 13:34] johanneskoester commented on #1
Great. Added you!

[2015-09-16 01:58] hyeshik commented on #1
@johanneskoester I seems that I don't have a permission to write the recipes github repo. Can I get one? Thank you!

[2015-09-16 02:43] johanneskoester commented on #1
Of course. Sorry for that, does it work now?

[2015-09-16 02:49] hyeshik commented on #1
It works. Thank you!

[2015-09-17 03:52] johanneskoester opened #2 "Kallisto not running"
Currently, the kallisto recipe fails the test with the following error:

[code]

[2015-09-17 03:53] johanneskoester opened #3 "STAR-Fusion crashes because of missing DB_File module"
We need to find a way to activate DB_File when building Perl. We might need to package BerkeleyDB for this.

[2015-09-17 04:29] johanneskoester commented on #3
Fixed. DB_File can be build separately.

[2015-09-17 04:29] #3 closed

[2015-09-19 17:49] johanneskoester opened #4 "Build packages"
Hi Hyeshik,
nice work with the new packages! Are you able to build and upload them, or do you want me to do that? We could also try to setup the anaconda build service for linux-64, but so far I did no manage to connect it with github...

[2015-09-21 21:47] daler commented on #4
Hi Johannes & Hyeshik -

I built my packages locally, but am unable to upload to the bioconda channel. The only solution I was able to find for organizations was in [this post](https://groups.google.com/a/continuum.io/forum/#!topic/conda/uYtVRGW--iU), but

[code]

gives me the error `[BinstarError] Can not create package`.

Have either of you had luck uploading to the bioconda organization?

[2015-09-21 22:31] johanneskoester commented on #4
Hi Ryan,
I do that all the time. I have changed your rights to admin. Does it work now?

[2015-09-22 00:30] daler commented on #4
Hmm, still not working for me.  I made my own test organization and was able to successfully upload a new package to it, so it seems like things are configured correctly on my machine, at least for organizations created by my user name.

I added you as a user with "owner" rights to that new organization, which is unoriginally named "temp" . . . are you able to upload packages there?

[2015-09-22 01:34] johanneskoester commented on #4
Yes, I can upload there...
I have moved you to the owners group. Does it work now?

[2015-09-22 02:11] daler commented on #4
Yep, now it works. Thanks!

[2015-09-22 05:45] hyeshik commented on #4
I was trying to figure out how to upload the package. I just successfully finishing uploading my packages. Thank you!

[2015-09-22 05:45] #4 closed

[2015-09-24 19:18] dkoppstein commented on #1
@johanneskoester, I am enthusiastic about this idea as well, especially since I've been using wonky Makefiles to deal with software environments for my company =) I'd love to contribute in any way possible, although I don't have much experience with conda apart from being an end-user. My anaconda.org account is dkoppstein.

[2015-09-24 21:15] johanneskoester commented on #1
Hi,
glad to hear that you want to join us, thanks! Conda packaging is really easy. Basically, it is just some metadata plus a shell script with the commands you would use if you install a tool manually.

[2015-09-25 00:50] chapmanb commented on #1
Johannes;
This is a great initiative, thank you for putting it together. I'd love to contribute as well. We have a lot of packages prepared for bcbio dependencies and could happily move over to more community driven packaging:

https://anaconda.org/bcbio

It may also be worth getting in touch with the CGAT folks, who have a wide variety of conda tools as well:

https://anaconda.org/cgat

What Linu

[2015-09-25 04:03] johanneskoester commented on #1
Hi Brad,
I'm very glad you want to join. We already thought about contacting you. Great work with the bcbio. So, feel free to move stuff over!
Regarding the builds, that is a very good question. So far, my impression was that if we target e.g. linux-64 and include all dependencies for build and run as conda packages, the resulting builds should be independent of the underlying linux platform. E.g.

[2015-09-25 10:14] chapmanb commented on #1
Johannes;
Thanks so much for including me. Regarding builds, unfortunately it is not that isolated. You'll compile against system packages which will cause failures on different systems. glibc is the most common cause of these. For instance, the current bedtools build fails to run on CentOS6:
[code]
This is the same issue you're seeing in #2.

The anaconda folks build their packages on CentOS5 whi

[2015-09-25 14:10] johanneskoester commented on #1
Hi Brad,
thanks for the insight! But what about packages like [glibc](https://github.com/conda/conda-recipes/tree/master/glibc). If you manage to build against that, wouldn't bedtools work on all platforms, regardless of the system glibc?

[2015-09-25 14:13] johanneskoester commented on #1
Oh, I have just seen that this package just seems to copy the system libs. Strange...
Ok, in this case, it would be great if you could replicate your CentOS setup for us, thank you!

[2015-09-25 14:25] johanneskoester commented on #1
Alternatively, we could try to get the binstar builds up and running. I experimented a bit with them, but I never managed to trigger a build. I can only submit them, but they don't seem to be assigned to a build queue.

[2015-09-25 16:32] dkoppstein commented on #1
@johanneskoester, do you envision this being Linux-64 only or also Mac/Windows? If the latter, perhaps it makes sense to try to appropriate funds for organization status so we can use those types of build nodes (assuming we can get binstar to work).

FWIW I'm totally fine with it being Linux-64 only.

[2015-09-25 16:40] johanneskoester commented on #1
I think linux is most important. I have uploaded some MacOS X builds because I need them for a Snakemake tutorial I am giving. But in general, I would say we should start with Linux and see where the journey takes us.

I would propose the following plan:

1. Build for linux-64/CentOS 5 with Brad's setup.
2. Once the automated binstar builds work, build for linux-64 via the binstar queue.
3. Depend

[2015-09-26 18:25] #2 closed

[2015-09-26 18:31] chapmanb commented on #1
Johannes and David;
Thanks for the thoughts on the build ideas. I pushed scripts which we can use for building and uploading packages on Linux and MacOSX. For Linux, it uses a CentOS 5 docker container which will provide hopefully widely compatible binaries. For MacOSX, we should just build directly on a Mac machine but this will require marking tools that don't build on Mac, or where the recipe u

[2015-09-26 18:32] chapmanb commented on #2
I pushed a new Kallisto package built on CentOS5 that avoids this problem (more details athttps://github.com/bioconda/recipes/issues/1#issuecomment-143478351)

[2015-10-01 13:33] tomkinsc commented on #1
I would like to join so I may add the moto and filechunkio packages from PyPi, and otherwise contribute.

[2015-10-01 21:36] sauloal commented on #1
Hey,

I think reproducibility is a hot topic now. We are also working on a similar project: https://github.com/BioDocker/biodocker

Apparently there's a huge double work here (and we are not the only ones).

It would be interesting to partner and for sure we could install your conda packages inside our docker images instead of downloading from source, reducing the download size.

Also, could you p

[2015-10-01 22:13] daler commented on #1
The biggest disadvantage for me personally is that Docker is not allowed on our HPC cluster! In contrast, conda installs everything in my home directory without the need for any elevated privileges.

Conda is mostly for installing executables and libraries. You can't do things like run an isolated mysql server using conda. But that's exactly the sort of thing docker is good at.

While conceptually

[2015-10-01 22:18] sauloal commented on #1
@daler I see. Thank you very much. I was also struggling on how to run the programs on our HPC too. this is great.

BTW. indeed the initial creators are from the proteomics field but I'm from the genomics and I've started porting several programs:
https://github.com/BioDocker/sandbox

I really like the idea to create packages here and installing them inside docker. makes the docker images lighter

[2015-10-03 12:18] percyfal commented on #1
Hi Johannes,

great initiative, I'd be pleased to chip in. I recently started using conda and I haven't gotten round to learning how to build packages, but looking at your recipes should help.

Cheers,

Per

[2015-10-05 13:29] johanneskoester commented on #1
Hi @percyfal, @tomkinsc and @sauloal,
Glad to hear that you are interested in the project!
I have invited you to the github team. I can also provide access to the corresponding anaconda team if you give me your anaconda.org usernames. The latter is not urgent, we should soon have automatic builds so that direct interaction with anaconda might be rarely needed.

@sauloal: indeed, BioDocker sounds l

[2015-10-05 14:17] xguse commented on #1
I have been doing this for my groups stuff for a while!  Glad to see a organized effort somewhere!

I would love to contribute the packages I have built that are not already represented!  Please add me to the team!

Gus

[2015-10-05 14:26] tomkinsc commented on #1
Thank you for adding me to the team, @johanneskoester. I've opened a PR (#7) with a few new recipes related to the also-pending PR for [snakemake remote file handling](https://bitbucket.org/johanneskoester/snakemake/pull-requests/34/remote-file-support-via-remote/diff). On anaconda.org my username is the same, [tomkinsc](https://anaconda.org/tomkinsc).

[2015-10-05 14:48] percyfal commented on #1
Great, thanks for adding me @johanneskoester. My username on anaconda is percyfal.

[2015-10-05 16:20] johanneskoester commented on #1
Welcome Gus! Do you have the same username on anaconda.org? Then I can add you to the team there as well.

[2015-10-06 12:34] xguse commented on #1
@johanneskoester : no I am `gusdunn` on anaconda.org.  Thanks again!

Gus

[2015-10-06 13:52] johanneskoester commented on #1
ok, added!

[2015-10-07 22:17] daler opened #21 "packages not being uploaded?"
Travis tests appear to be running fine, but packages aren't being uploaded. For example, trying to create a new environment using the last couple of recipes committed fails, e.g.,

[code]
And on https://anaconda.org/bioconda, looks like SGA was the last to be uploaded, followed by pysam.

Any ideas on what's happening here?

[2015-10-07 22:52] johanneskoester commented on #21
Yes, I think I found the problem and fixed it in pull request #22.
Hopefully, stuff will start to show up when that is merged.

[2015-10-08 00:23] daler commented on #21
Thanks, that did the trick!

[2015-10-08 00:23] #21 closed

[2015-10-08 04:41] tomkinsc opened #25 "new docker image build?"
I made a small change (09968c673545d42520940aaf9e0c63b3a03391d4) to the Dockerfile to set the LANG environment variable to UTF-8.

Would it be possible to build the Dockerfile and submit the new version to the Docker Hub?

[2015-10-08 12:31] johanneskoester commented on #25
I have set up automated builds from master. The container should be updated now.

[2015-10-08 12:31] #25 closed

[2015-10-08 12:41] tomkinsc commented on #25
Even better! Thank you.

[2015-10-08 19:43] percyfal opened #38 "Building python2.7 packages only"
Hi,

I'm setting up a recipe for MACS2.1.0 which *requires* python 2.7 to run. The only meta configuration that works is to set python ==2.7.X (some specific version) - setting >=2.7 will obviously spill over to python 3. I also tried [selectors](http://conda.pydata.org/docs/building/meta-yaml.html#preprocessing-selectors) but to no avail. I've been scouring through the conda docs as well as conda

[2015-10-08 19:52] johanneskoester commented on #38
I think just saying =2 or something like that should work (at least for our setting). We won't build with lower versions and there won't be any releases beyond 2.7.x in the Python 2 branch.

[2015-10-08 20:04] percyfal commented on #38
Unfortunately neither =2 nor =2.7 work:

Error: Did not recognize version specification: '=2'

IOW, it seems as if specific version is required. MACS2 suggests 2.7.2 but that version doesn't seem to work, 2.7.10 does. I'll settle for the latter unless there are any objections.

[2015-10-08 20:09] johanneskoester commented on #38
What about ``python ==2.7.*``. SHould work according to the docs:
http://conda.pydata.org/docs/spec.html#package-match-specifications

[2015-10-08 20:16] percyfal commented on #38
No, but     - python >=2.7,<3 seems to do the trick! My scouring of the documentation was apperently quite cursory... Thanks!

[2015-10-08 20:19] #38 closed

[2015-10-16 17:16] johanneskoester opened #93 "Determine proper order of builds in build-packages"
Inspired by pull request #92, I think we can come up with a modification of build-packages.py, that parses the build requirements and uses them to determine a DAG of build jobs where the edges represent dependencies.
Then, the proper order of build jobs such that a package is built after all its dependencies have been built can be determined by traversing the DAG in breadth or depth-first order st

[2015-10-16 17:38] daler commented on #93
Sounds great!

My solution was a quick hack just to make managing the bioconductor update easier on my end. I suspect the best way to handle this would be to use `conda` itself to solve dependencies. I couldn't find anything exposed to the conda CLI, and it was easier to roll my own than dig through conda's API.

[2015-10-16 19:50] kyleabeauchamp commented on #93
We have some functionality for this elsewhere.  Not sure if it's helpful, though, as you already rolled your own for the bioconductor stuff.  Link below.

https://github.com/omnia-md/conda-recipes/blob/master/conda-build-all

[2015-10-16 20:29] johanneskoester commented on #93
Thanks for the link. This is very much in the needed direction. I have started to port the idea to our build-packages.py script. Looks like if you only need the sorting and use some external dependencies, it boils down to adding just a few lines. You can find the current status in pull request #98.

[2015-10-16 22:19] daler opened #102 "Building dependencies within a PR"
It would be nice to avoid the PR -> test -> merge -> test cycle when building dependencies, and instead submit all dependencies simultaneously and have the new toposort stuff in #93 sort out the build order.

I think it would work -- but only when testing on the master branch on travis-ci -- if we move the uploading block in `build-packages.py` to within the `build_recipe()` function. That is, eac

[2015-10-17 02:57] johanneskoester commented on #102
Yes, actually that was my intention, and I thought that conda build will use locally built packages.
Are you sure that it does not work like that?

[2015-10-17 02:58] johanneskoester commented on #93
Implementation works now.

[2015-10-17 02:58] #93 closed

[2015-10-20 05:01] roryk commented on #1
Thanks for setting this up everyone, can I help out? I'm roryk on anaconda.org and here.

[2015-10-20 12:49] johanneskoester commented on #1
Welcome! I have added you to the teams.

[2015-10-21 12:59] johanneskoester opened #124 "Test cases"
Hi,
I wonder if we should let builds fail if there is no test case implemented. This way, we could "make sure" that we e.g. don't forget to copy the bins or set the right permissions to wrapper scripts.

What do you think?

[2015-10-21 17:07] johanneskoester opened #126 "Use the holy build box as a basis for our linux builds"
Brant Faircloth has suggested to use the https://github.com/phusion/holy-build-box for building. If we base our docker image on that, we might be able to get rid of some complexity in the dockerfile.

[2015-10-22 12:29] daler commented on #126
I haven't played around with it yet, but [this page of the docs](https://github.com/phusion/holy-build-box/blob/master/TUTORIAL-2-COMPILATION-SCRIPT.md) says the environment has to be activated before use.

If every conda recipe has to be modified to activate the environment, then I don't think trading recipe complexity for dockerfile complexity would be worth it. But if this can be done in the hi

[2015-10-22 12:33] daler commented on #124
Sounds good. I don't think meta-packages would be problematic, since they could just have a dummy test case (`ls` or something) if there's nothing to actually test.

[2015-10-22 14:17] johanneskoester commented on #126
I actually thought we would only use their docker container instead of CentOS 5 as base image. My impression was that this way we just won't need the lines installing libs and compilers.
The rest (like our conda build script and so on), I would not change at all.

[2015-10-22 14:18] daler commented on #126
Ah, in that case it seems like a good way to simplify.

[2015-10-22 23:20] johanneskoester commented on #124
We should also check if the recipe has a summary. Any other things that should be mandatory?

[2015-10-23 00:05] kyleabeauchamp commented on #1
The docs seem to suggest that people need to join the team to contribute, but I wonder if it makes sense to encourage people to file pull requests as well?  AFAIK that seems like the easiest path to making a contribution.

[2015-10-23 00:36] johanneskoester commented on #1
Good idea, I have added a sentence about that.

[2015-10-23 09:16] sebastian-luna-valero commented on #1
Dear @johanneskoester ,

Sorry for my late response. I would be very happy to contribute to bioconda on behalf of CGAT.

Here is our anaconda channel:
https://anaconda.org/cgat

Many thanks and congratulations for this great initiative!

Best regards,
Sebastian.

[2015-10-23 13:13] johanneskoester commented on #1
Great, I will add you to the team! Welcome!

[2015-10-23 18:16] dkoppstein opened #137 "usearch and license issues"
I use usearch and wanted to add a recipe for it, but noticed that the terms of use do not allow redistribution (although the author apparently is willing to give out redistribution licenses for free). I think I will contact Robert Edgar to ask if we can have a redistribution license.

More generally, we should probably check whether redistribution is allowed for each package that we add (licensing

[2015-10-23 18:32] dkoppstein opened #138 "rename to bioconda-recipes?"
I generally organize my repos like `src/github.com/bioconda/recipes`, so my fork of this is called `src/github.com/dkoppstein/recipes`, which makes it look like my personal repo of favorite dinners. Maybe we should make like [conda/conda-recipes](https://github.com/conda/conda-recipes) and call it `bioconda/bioconda-recipes`.

[2015-10-23 18:49] kyleabeauchamp commented on #138
I like bioconda-recipes because I currently have forks of 2 different repositories called `conda-recipes`:

https://github.com/omnia-md/conda-recipes

https://github.com/conda/conda-recipes

[2015-10-23 22:02] daler commented on #124
`about/license` should probably be mandatory. It will at least make recipe creators check whether or not tools can be redistributed.

[This part](http://conda.pydata.org/docs/building/meta-yaml.html#license-file) of the conda docs points out that many licenses require a copy be distributed. Maybe we could just set `license_file: True` on all recipes?

`about/home` should be required so that it's e

[2015-10-26 20:23] dkoppstein opened #142 "Skipping recipe /bioconda-recipes..."
Hi, I'm a bit new to Docker, I wanted to update the igblast recipe but when I ran the test set in Docker using the command in the README I got:

[code]

What am I doing wrong?

[2015-10-26 20:34] daler commented on #142
It's being [filtered out by build-packages.py](https://github.com/bioconda/recipes/blob/master/scripts/build-packages.py#L65), which is is actually independent of docker. That script is doing a check against the recipe name, which has a [specific format](http://conda.pydata.org/docs/building/pkg-name-conv.html), to see if it is already built.

My guess is that your updated recipe isn't changing th

[2015-10-26 20:47] dkoppstein commented on #142
OK, I incremented the build number to 1 and it worked -- thanks!

[2015-10-26 20:47] #142 closed

[2015-10-27 05:40] kyleabeauchamp opened #145 "Add flask requirement to snakemake recipe?"
Given that there is a Continuum provided flask package for conda (http://docs.continuum.io/anaconda/pkg-docs), IMHO there's no downside to including flask as a run requirement for snakemake.  Might be good to add this because the HTML viewer looks pretty nice.

[2015-10-27 05:45] kyleabeauchamp commented on #145
Actually it seems like I can get the same info from the commandline, so I guess this would really depend on whether the HTML gui is a widely used feature worth having "batteries included".

[2015-10-27 16:16] daler commented on #102
Finally got this working in #149.

Some notes for future reference:

- linux recipes are built in a docker container specified in `Dockerfile`; osx recipes are built in the travis-ci environment built by `travis-setup.sh`
- `build-packages.py` is used in both environments, so the path to anaconda has to be the same in both environments
- *Installing* from locally-built package works by default, bu

[2015-10-27 16:16] #102 closed

[2015-10-27 16:29] daler opened #151 "ucsc utility bundling"
Starting a new issue to follow up on #139:

All UCSC utilities together take up about 600MB. So we're building an individual recipe for each tool to keep the footprint small.  It would be nice to bundle them into metapackages for easier installation. How should they be bundled?

Here are some options. They aren't mutually exclusive.
### by file type

For example, `ls recipes | grep -i "bed"` to bu

[2015-10-27 17:25] percyfal commented on #151
Ryan Dale <notifications@github.com> writes:

I'm not that familiar with conda metapackages, but is it possible to
assign a package to several metapackages, and is that what you're
suggesting?

These are the ones that come to mind and I think both are reasonable.
I'll see if I can think of any other possibility.

/P

[2015-10-27 18:51] daler commented on #138
I typically specify a path to clone into, like
[code]
That way my local filesystem is uncoupled from github and I can call things by whatever makes sense to me.

You can always run

[code]

to see where the origin is for any arbitrarily-named clone.

[2015-10-27 18:53] kyleabeauchamp commented on #138
I guess my point is that if everyone is already doing the `recipes` -> `bioconda-recipes` locally, we might was well do it globally.

[2015-10-27 18:56] daler commented on #151
Yep, as far as I can tell, metapackages are just dependency-only packages. Metapackages still have to be named uniquely though.

What sort of scheme? `ucsc-bundle-bed`?  `ucsc-bed-bundle`? `ucsc-meta-bed`?

[2015-10-27 20:08] ostrokach commented on #1
This looks like a great idea and should avoid a lot of duplicated effort. Can I join in as well? My github and anaconda usernames are both `ostrokach`.

BTW, I think something similar was discussed on the conda email list [a while back](https://groups.google.com/a/continuum.io/d/topic/conda/AoQ7C9BLby4/discussion). It didn't get too far, but there are a few teams there that might be interested in

[2015-10-27 21:11] tomkinsc commented on #124
Perhaps we should require the hash for external dependencies, via `source/{md5, sha1, sha256}`. Pinning recipes to a particular version helps ensure packages behave as expected, but requiring a hash would help ensure the packages themselves have not changed or been tampered with. Bioconda should be a trusted channel, and enforcing hashes would help. We cannot guarantee that packages sourced from t

[2015-10-27 21:35] dkoppstein commented on #124
I put

    extra:
      maintainers:
        - David Koppstein <davidkoppstein@abvitro.com>

in my included recipe, perhaps it would be good practice to do the same generally.

I agree with this.

[2015-10-27 21:43] dkoppstein opened #158 "osx-whitelist not added automatically?"
Hi, I added cutadapt to the OS X whitelist. I believe this should be sufficient to build for OS X after submitting a pull request to Travis, and know that the build files can be reused from Linux to OS X since the conda files are the same as [here](https://anaconda.org/liulab) which builds for OS X. However, Travis didn't upload it to anaconda.org even though the test passed -- is there something

[2015-10-27 21:47] dkoppstein commented on #158
Never mind, it just takes a bit of time to propagate to anaconda.org!

[2015-10-27 21:47] #158 closed

[2015-10-28 15:54] tomkinsc opened #162 "Recipe (auto)formatting?"
I've been playing with Go lang lately, and enjoying how [`gofmt`](https://golang.org/cmd/gofmt/) produces code of consistent style. As a new user of the language, the uniformity of style makes existing code and examples more accessible and easier to read.

Conda recipes are short, but I wonder if we should perhaps suggest that recipe authors autoformat their recipes using something like [YAML lint

[2015-10-28 16:05] johanneskoester commented on #137
Absolutely.

[2015-10-28 16:08] johanneskoester commented on #124
The thing with maintainers is that it kind of could make people think that they become responsible for a package once having added it. This could generate quite some workload for those who have added a lot of dependencies. What do you think?

[2015-10-28 16:44] daler commented on #124
Who *is* responsible for a package after adding it? I guess the answer would be anyone who uses the package via conda. In that case, I think the barrier for a user to contribute a fix, update, or whatever should be as low as possible. Seeing someone as the maintainer would raise the barrier for me because I'd think 1) I'd have to clear any changes with them ahead of time and 2) if they're the main

[2015-10-28 16:57] johanneskoester commented on #138
For me, renaming to bioconda-recipes would be fine. Your arguments are reasonable.
Any objections?

[2015-10-28 17:05] johanneskoester commented on #162
I like this a lot. Maybe letting tests fail if lints are violated and encouraging to use a linter before creating the pull request is a good idea.

[2015-10-28 17:06] daler commented on #162
I'm personally in favor of a consistent format, but maybe this could be informal rather than enforced? For example, a lot of YAML processing tools I've used get rid of comments. In tricky recipes, comments can be really useful. Actually, now that I try YAML lint, it strips comment selectors like `# [not py3k]` that are needed for correct recipe behavior.

[2015-10-28 17:11] daler commented on #138
I was just providing counter-argument rather than objecting -- rename away!

[2015-10-28 17:13] johanneskoester commented on #162
Yes, comments should definetly be allowed.

[2015-10-28 17:15] johanneskoester commented on #124
I think I agree with your points about the maintainer.

[2015-10-28 17:26] tomkinsc commented on #162
Preserving comments while autoformatting is tricky, and would require us to make some assumptions. For example, if you have the following:
[code]
The items in the list above can be ordered (lexicographically, or in a prescribed order, whatever), but where do you place the comment after you sort?
[code]
Addressing `# [not py3k]` is more straightforward, since it should be on the same line (right?),

[2015-10-28 17:36] johanneskoester commented on #124
However, there might be cases where some of us **want** to be asked, for example, if the recipe is for one of our own tools?

[2015-10-28 17:41] tomkinsc commented on #151
I like the idea of having metapackages in general, including various subsets of all bioconda recipes. It makes installation more simple (and we can recipes for all tools that deal with the same file type, *and* those functionally related, etc., as you suggest, @daler). It would be great to be able to tell someone "just install the metagenomics package from the bioconda channel", or "the bam-tools

[2015-10-28 17:48] daler commented on #124
Good point. For those cases, can we somehow make it more obvious? How about a `protected-recipes` subdirectory, where each recipe is required to have a maintainer, and that maintainer should be consulted before changes are made?

[2015-10-28 18:13] dkoppstein commented on #124
Hi, I think I'm convinced that having the creator of the package as the maintainer could lead to unbalanced workloads. On the flip side, I could imagine packages might go out of date often and/or submitted issues might go unresolved if it's unclear who's responsible, which might lead to bioconda being viewed as an unreliable channel. I think it's too early to tell whether this will be an issue and

[2015-10-28 18:51] dkoppstein commented on #137
It looks like we can't obtain a redistribution license (@johanneskoester cc'd). I've heard of [vsearch](https://github.com/torognes/vsearch) as an alternative, but haven't used it. It looks like the latter would be under GPL which would require licenses to be redistributed with the bzipped tarball.

[2015-10-28 19:07] johanneskoester commented on #137
Do you really think that the license has to be in the tarball? It will be mentioned in the meta.yaml and linked on the anaconda page.

[2015-10-28 19:12] dkoppstein commented on #137
Good point, I had just [glanced over it](https://github.com/torognes/vsearch/blob/master/LICENSE.txt) and noticed

    1. Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

Whereas what I think applies to us is

    2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions

[2015-10-28 20:20] dkoppstein opened #169 "FileNotFoundError: [Errno 2] No such file or directory: '/anaconda/conda-bld/osx-64'"
Hi, I was just updating a new recipe, but when I ran the docker command manually I found that I got

[code]

I'm surprised by this, because I see in the Dockerfile that /anaconda/conda-bld/osx-64 is explicitly made. Further, the conda build command passes and Travis successfully built the package as well.

[2015-10-28 20:29] daler commented on #169
There were some recent changes to the dockerfile, one of which included making that directory -- does it work after doing a `docker pull bionconda/bioconda-builder`?

[2015-10-28 20:40] dkoppstein commented on #169
Yes, it works -- thanks! Sorry, still quite new to Docker, thanks for pointing me in the right direction.

[2015-10-28 20:40] #169 closed

[2015-10-29 00:03] johanneskoester commented on #145
Indeed, the gui is not that widely used. So I'd rather keep it optional I think.

[2015-10-29 00:03] #145 closed

[2015-10-29 00:05] johanneskoester commented on #137
vsearch looks promising at first sight. I would always prefer the free alternative if it is not worse.

[2015-10-29 16:50] dkoppstein opened #171 "requirements from custom channels"
Hi, I was trying to create a recipe for [MiGMAP](https://github.com/mikessh/migmap) which is relevant to my work. However, it seems like I have run into conda/conda#1504 which is that I require a certain version of java-jre to run the package. This package is available on anaconda.org but only in a custom channel, cyclus. Do you guys have an idea of a workaround to specify a package from a specifi

[2015-10-29 16:53] dkoppstein commented on #171
conda/conda-build#532

[2015-10-29 19:55] johanneskoester commented on #171
We have basically a copy of that package in bioconda: java-jdk. The only difference is that we use the zulu build. Does depending on that work for you?

[2015-10-29 19:56] johanneskoester commented on #171
So far, apart from the r channel, we don't depend on external channels, and if possible I would like to keep it that way, because we can never know what happens to these channels.

[2015-10-29 21:13] dkoppstein commented on #171
Yes, that package works for me. I'm running into another issue, which I've described further in [this PR](https://github.com/bioconda/recipes/pull/172) (which is failing at the moment). But I'll close this issue. Thanks!

[2015-10-29 21:13] #171 closed

[2015-11-01 20:24] ostrokach commented on #126
I am in favour of this.

I remember having issues compiling packages on CentOS 5 because gcc and autotools are very old. I was even adding gcc and autotools (m4, autoconf, automake, libtool, pkg-config) to the conda recipe in order to compile with the newer versions. Using the `holy-build-box` should fix this because it already comes with [a newer version of gcc and autotools](https://github.com/p

[2015-11-01 20:28] kyleabeauchamp commented on #126
FWIW, Centos5 is no longer supported by NVIDIA CUDA, which is currently only available for Centos 6 and Centos7 (https://developer.nvidia.com/cuda-downloads).  I don't think that matters for any of you, but it was a limiting factor for my work on another recipe repo (https://github.com/omnia-md/conda-recipes).

[2015-11-01 20:29] kyleabeauchamp commented on #126
We were able to get reasonably portable linux binaries on a Centos6 build.

[2015-11-02 16:58] ostrokach opened #185 "Guidelines for which recipes should be included"
Are there any guidelines for which programs should be included here?

For example, one of our pipelines uses `knot` and `msms`, but I'm wondering whether anyone else will ever be interested in those tools, or if adding them will just clutter things.

Similarly with `tmux` and `byobu`. I always have those running on HPC cluster nodes that I use, and I think they would be relevant to other bioinform

[2015-11-02 17:20] johanneskoester commented on #185
So, tmux and byobu are fine for me, they are really useful to have on clusters that are not that well maintained. I think for now we can package also tools that are rarely used. We should have some minimum quality requirements maybe. So a tool that crashes all the time is maybe not a good candidate for bioconda. I think all the graph-tool dependencies are available in the default anaconda channel,

[2015-11-03 16:51] chapmanb opened #200 "Avoiding using Java as a run dependency"
The snpEff recipe @tomkinsc created is great, and I'd love to include it in our installations but I'm a bit worried about the Java dependency. It's pretty heavy-weight and also introduces Java 8 into the environment which can create issues with tools like GATK that only support older Java versions.

Could we leave Java as something that we assume exists in the base system (or allow users to manual

[2015-11-03 17:06] dkoppstein commented on #200
Hi, I ran into a similar issue when creating a recipe for MiGMAP, which requires Java 8. I agree it's heavy-weight, but I think it might be better than producing a package which will only run on some architectures, so I put the Java runtime dependency in the recipe.

Is it acceptable to run GATK and snpEff in separate environments? More generally, it seems like multiple environments might be requi

[2015-11-03 18:20] johanneskoester commented on #200
There are also opposite cases. Yesterday, a colleague wanted to use fastqc on a server that only had an old java version. It crashed silently without an error. I have fixed this by adding our java-jdk package as a dependency to the fastqc recipe.

We can add a Java 7 build. As long as recipes don't require a specific version, conda will be able to sort out which one should be used. I think it is a

[2015-11-03 18:49] tomkinsc commented on #200
@johanneskoester The official stance is probably to contact softwarelicensing@broadinstitute.org. The dual license (free for academic use, fee for commercial use) makes it a challenge. As you probably know, currently to acquire GATK you have to log in to the GATK website and agree to the license to download a copy. I wonder if there might be a way to do an interactive conda install, where you prov

[2015-11-03 23:26] johanneskoester commented on #200
Thanks for the info Chris. Another option would be to wait until Bioconda is so big that the GATK guys are changing their license for us ;-). No, seriously, I would not that much like the download option, but maybe we can come to some agreement.

[2015-11-04 00:08] tomkinsc commented on #200
Yeah, it would definitely be better if GATK were under a free license, but I guess we have to fund the team of people upstairs at the Broad somehow. I personally wish GATK-lite were still around.

[2015-11-07 22:19] ostrokach opened #223 "Packages are being built on ubuntu 14.04?"
I think there's something weird going on, with at least some of the packages being tested and built using Ubuntu 14.04 rather than CentOS 5.

For example, [here](https://travis-ci.org/bioconda/recipes/jobs/88930783) is the travis.ci logs for `tmux`, which show that it's being tested on Ubuntu 14.04 (`gcc (Ubuntu 4.8.4-2ubuntu1~14.04) 4.8.4`). And the binary that got pushed to anaconda.org is incom

[2015-11-08 00:58] johanneskoester commented on #223
Hi,
that gcc logging entry is from the underlying travis machine. After that, the build command is started from the docker container (by the script travis-run.sh). So, it definitely runs on CentOS 5. No idea what causes the GLIBC error. Did you try to build locally with the docker container? Does that cause the same problem?

I think we should rebuild everything for Python 3.5 then. I would have t

[2015-11-09 00:07] ostrokach commented on #223
Hey,

I haven't figured it out, but something weird is going on. If I run `ldd --version` inside a local docker container, it gives me `ldd (GNU libc) 2.5`, as expected for CentOS 5. However, the docker container that runs on Travis somehow uses a different glibc.

I created a small package to test this: `test-glibc`. During the build process, it saves the output of `ldd --version` to the `test-gl

[2015-11-09 13:36] johanneskoester commented on #223
Indeed, this is weird. I have no explanation... Anybody else?

[2015-11-09 14:03] johanneskoester commented on #223
Hi again. I have extended the output of the build script. It now also prints ldd --version and gcc --version immediately before starting the builds.
As you can see [here](https://travis-ci.org/bioconda/recipes/jobs/90097209), versions are as expected on CentOS 5...

When I install test-glibc from the bioconda channel, I get this output:

[code]

I guess you accidentally tested a locally built vers

[2015-11-09 21:02] acaprez opened #232 "How to handle multiple versions for a package?"
I was just wondering what the procedure was for adding recipes for multiple versions of a particular package.  I didn't see any existing examples offhand in the repo nor do the docs mention it.  In my personal repo I just use a two-level `<package name>/<package version> ` directory structure, but I'm not sure how to handle it here.

[2015-11-09 21:08] johanneskoester commented on #232
This is an interesting question. So far, I thought it would be sufficient to keep only the newest version. I would be interested to hear the opinion of all devs here.

Can you provide a use case for having to store multiple versions?

[2015-11-09 21:29] acaprez commented on #232
The main use case I'm thinking of at the moment is QIIME.  It requires very specific (and sometime quite dated) versions of its [dependencies] (http://qiime.org/install/install.html#installing-qiime-natively-with-a-full-install).  So it would be nice to be able to keep those alongside the current version.

Another use case might be for a package that takes advantage of the Features functionality.

[2015-11-09 22:35] ostrokach commented on #223
Hmm, you are right. It does say `ldd (GNU libc) 2.5`, and the new cd-hit that you built works.
I must be screwing something up on my end.

Thanks a lot for your help!

[2015-11-09 23:36] johanneskoester commented on #223
You're welcome!

[2015-11-09 23:36] #223 closed

[2015-11-09 23:37] johanneskoester opened #235 "Make sure that all Python packages are rebuilt with Python 3.5"
This should in fact happen automatically, but we should check whether that is really the case.

[2015-11-09 23:43] johanneskoester commented on #232
Especially the second use case makes sense. The proposed structure would indeed give us some additional flexibility, and won't really hurt. We could convert our existing try with a simple script that parses the meta.yaml files.

[2015-11-09 23:44] johanneskoester commented on #232
@organization/bioconda: any objections, opinions?

[2015-11-09 23:45] kyleabeauchamp commented on #232
No comment from me, but I will point out two examples: https://github.com/conda/conda-recipes/tree/master/numpy-openblas and https://github.com/conda/conda-recipes/tree/master/numpy-mkl

[2015-11-09 23:48] johanneskoester commented on #232
So, here, openblas and mkl has become part of the name as opposed to the version/build string. That means that packages need to specifically depend on e.g. numpy-openblas?

[2015-11-10 01:06] kyleabeauchamp commented on #232
Not quite.  In the meta.yaml, the names are both numpy.  It's just the name of the recipe directory that changed.  Also, I don't think that repository is doing full continuous integration / building, so YMMV.

https://github.com/conda/conda-recipes/blob/master/numpy-openblas/meta.yaml#L2

https://github.com/conda/conda-recipes/blob/master/numpy-mkl/meta.yaml#L2

[2015-11-10 02:01] johanneskoester commented on #232
I see. That makes sense.

[2015-11-10 02:05] daler commented on #232
Another use-case is to ensure the same versions when reproducing others' work. It's not uncommon for papers coming out now to use software versions from a year or more in the past. So it would be good to at least support the option.

As far as structure, the package/version structure seems pretty straightforward.

[2015-11-10 02:12] kyleabeauchamp commented on #232
IMHO I see two separate use cases: reproducibility and simultaneous versions.

So for the reproducibility problem, presumably it would be sufficient to just do, e.g.,  `conda install bwa==0.7`, rather than maintaining a separate recipe for bwa 0.7.  As long as the old version is on the anaconda server, you should be good to go.  When the recipe is updated for a new version, the old binaries will s

[2015-11-10 02:16] johanneskoester commented on #232
A side note: two versions of the same package on the same machine can be handled using separate environments, and launching the environment directly with ``conda run``.

[2015-11-10 02:25] daler commented on #232
Good point -- as bioconda matures, the old versions will be available from when they were added as new versions. I guess I was thinking of the case where someone needs `bwa==0.6` but the oldest in bioconda is 0.7.12.  Separate recipes would provide a mechanism for pre-populating cases like this, but maybe it's not worth the long-term maintenance costs.

[2015-11-10 20:57] acaprez commented on #232
So going back to my original QIIME example, it requires cd-hit 3.1.1.  The current existing version in the repo is 4.6.4.  Short of doing something very odd like replacing the 4.6.4 recipe files with 3.1.1 in a new commit and then reverting that, I currently see no way to add 3.1.1  It's a similar situation with other packages; with the current scheme, there's no reasonable way I see then to build

[2015-11-10 21:19] johanneskoester commented on #232
I agree. It won't hurt and we are more flexible.

[2015-11-10 21:20] johanneskoester commented on #232
Anybody volunteering to migrate the structure? I won't be able to work on this before the weekend.

[2015-11-10 22:59] kyleabeauchamp commented on #232
What will the plan be for the packages that only really need the latest
version.  Will we have to copy paste the recipe upon new release versions?
I still think we could handle this in a one off way for only those recipes
that need multiple versions.  Also, doesn't conda build expect a flat
directory structure of recipes?
On Nov 11, 2015 5:20 AM, "Johannes Köster" <notifications@github.com> wrote:

[2015-11-11 15:28] johanneskoester commented on #232
I would say, if we do this, we should do it consistently for all packages. Conda should not have a problem, it does not consider the directory structure. We just need to point it to the respective subfolders.

There is one downside: if we start doing this, our conda channel will quickly reach the storage limit, and we will have to find some funding for the 49$/month fee sooner than expected. But c

[2015-11-11 16:18] dkoppstein commented on #232
Hi, I just wanted to point out that regardless of the versioning issue, the storage space will be the same since anaconda.org keeps the old builds by default (and I think we should keep the old builds, even if there is the option to remove them).

As far as the directory structure goes, I'm sort of agnostic about it. I would like to point out that the homebrew package manager recently shifted from

[2015-11-11 16:30] johanneskoester commented on #232
You are right, David. My point was, if we keep old versions in the directory structure, our build logic will issue rebuilds even if old packages are deleted from the conda channel. But that is ok. If we really want to get rid of an old version, we can always remove the directory from the git.

Regarding your question: indeed, for such cases you need two separate environments. You can easily invoke

[2015-11-11 16:43] dkoppstein commented on #232
Point taken about Python 3 =) I can't remember what package it was exactly, but I ran into this issue with some packages that conflicted over some version of libxml and thus couldn't be installed in the same environment. Theoretically, if there was a package that depended on both of those packages, it would not be installable via conda. I guess this is just a theoretical criticism of conda, but if

[2015-11-11 19:11] chapmanb commented on #232
Does this mean we need a separate directory for every version of every package? Could we do this only for packages that need old versions like the QIIME examples? For most cases, using the `conda install package==version` syntax should solve the issue of pulling older packages and keep us reproducible over time. I'm against things being complicated and having a huge directory tree, so would vote f

[2015-11-11 19:15] chapmanb commented on #200
Thanks for the feedback. It sounds like I'm outvoted so no worries. I can remove java-jdk after install and use the system java in my scripts and will approach it that way for now.

For GATK, I also had a conversation with Geraldine about making it re-distributable but I don't think they've made any license changes. I have a command line shell wrapper around the MIT-licensed parts of GATK (https:/

[2015-11-11 19:22] brentp commented on #1
Hi, could you add me to the team? I'm `brentp` on anaconda.org as well.
Thanks for creating this project.

[2015-11-11 20:38] dkoppstein commented on #232
How about something like having cd-hit/meta.yaml be the default, and keeping older versions in cd-hit/versions/3.1.1? If versions directory doesn't exist, can ignore. Then we can keep the existing directory structure.

[2015-11-12 19:54] johanneskoester commented on #1
Welcome!

[2015-11-12 19:55] johanneskoester commented on #232
I like that suggestion. Sounds like the optimal compromise.

[2015-11-12 20:21] johanneskoester opened #245 "Funding"
We are now using 2GB of the 3GB storage we get for free on Anaconda.org. This means that we might need to buy an Organization plan for $49 per month. This issue is intended to discuss funding possibilities. Before trying anything else, I think we could contact Continuum Analytics. Bioconda is growing fast and shoud be a huge selling point for conda in our field. Hence, it might be that they grant

[2015-11-12 20:33] acaprez commented on #232
That sounds fine to me as well.  The only complication I see is in the case of rebuilding a package for an older version.  You may need to go back in the commit history to find the recipe files for that version if it's been updated in the meantime, in order to create the version-specific sub-directory.  Hopefully those cases would be relatively few though, so it shouldn't be a major issue.

[2015-11-12 20:37] dkoppstein opened #246 "tmux error on ubuntu"
Hi @ostrokach, I installed tmux using the bioconda recipe on an Ubuntu 14.04 machine, but got the following error when I tried running it:

[code]

Do we need to add an updated libncurses to the repo?

[2015-11-12 22:17] ostrokach commented on #246
Hmmm, it seems that tmux got built using `ncurses-5.9-4` from the R channel.

Can you install that version of ncurses and see it that makes it work (`conda update ncurses -c r`)?

[2015-11-12 22:25] johanneskoester commented on #200
In fact, this is a nice example why we might want to support multiple versions sometimes. If GATK needs an old java, we can support this as well, e.g. it is straightforward to have the same recipe for the JDK 7 distribution of Zulu (see [here](http://www.azul.com/downloads/zulu/zulu-linux/)).

[2015-11-12 22:25] johanneskoester commented on #200
Adding the GATK lite recipe for now sounds good.

[2015-11-12 22:36] ostrokach commented on #245
A letter sounds like a good idea.
Let me know how I can help.

[2015-11-13 10:53] chapmanb commented on #245
Happy to help as well. Thanks for leading this.

[2015-11-13 10:55] chapmanb commented on #200
Thanks for all the thoughts. I added the GATK framework package without an explicit java dependency for now and we can clean this up with regards to multiple versions once that is all in place. Thanks again for the discussion.

[2015-11-13 10:55] #200 closed

[2015-11-13 15:47] guillermo-carrasco commented on #1
Hi,

Could you please add me to the team? I'd like to contribute to the community by uploading [bcbio-monitor](https://github.com/guillermo-carrasco/bcbio-nextgen-monitor) to begin with.

Thanks!

[2015-11-13 16:33] acaprez commented on #245
I'd be happy to be involved as well.

[2015-11-13 16:35] daler commented on #245
Count me in, too.

[2015-11-13 16:42] dkoppstein commented on #245
Sounds great, happy to help as well! In case this falls through, perhaps we could also try reaching out to the Open Bioinformatics Foundation, but I agree it would be a huge selling point for Conda so hopefully the folks at Continuum will agree to increase our storage limit.

[2015-11-13 16:43] dkoppstein commented on #246
Indeed, that makes it work!

[2015-11-13 17:05] dkoppstein commented on #246
Ah, I just realized something -- the problem is actually not that the build version isn't explicitly stated, it's that in order to fetch the "correct" ncurses from the r channel instead of the default ncurses, you need to have previously done `conda config --add channels r` for your local conda (which I haven't done). It seems like the channel should be something specified in the meta.yaml file th

[2015-11-13 17:33] johanneskoester commented on #1
Sure, glad to have a new contributor!

[2015-11-13 19:05] ostrokach commented on #246
Yeah, I agree that `conda config --add channels r; conda config --add channels bioconda` should be stated somewhere in the README.

I also think it's a bug that the `r `channel and the `defaults` channel have the same package with different versions. If a packages build using the `r `version of `ncurses` doesn't work with the `defaults` version of ncurses, another package built using the `defaults

[2015-11-13 19:39] dkoppstein commented on #246
I believe the the `config --add` commands are in the user manual, but are currently just recommendations; they might actually be required to build some packages (like tmux).

It seems like a fundamental problem with conda that you can't specify channels in the recipes. For some of the more popular packages, there are like 20 different versions of them on anaconda.org so depending on the user's .co

[2015-11-14 00:02] acaprez opened #261 "Travis-CI build reports success if Anaconda upload times out"
Just wanted to let folks know of an issue I saw after merging htseq into master.  During the Travis-CI build to upload the package, the connection to anaconda.org timed out for some reason.  The build still exited with 0 status though, so to Travis it was marked as succeeded.  This caused the package info to be created on the bioconda channel with no actual files attached.  I re-ran the Travis bui

[2015-11-14 00:55] kyleabeauchamp commented on #137
One idea is to create two separate repositories (or maybe two channels).  One for things that are open source and fully redistributable, and another for things that have a non-OSS license.

For example, I believe linux package managers generally maintain separate channels for "free" and "non-free" software (https://www.debian.org/legal/licenses/).

[2015-11-14 08:16] guillermo-carrasco commented on #1
Thank you @johanneskoester !

[2015-11-14 22:11] daler opened #266 "install X11 on docker container?"
Often the test portion of a recipe, at least for a Python package, tries to import the module. If the module happens to have the canonical `from matplotlib import pyplot as plt` (for example the `seaborn` package does this) then the recipe will fail.

Specifically:
[code]
gives the error:
[code]

The best solution I've found is in the container:

[code]

Do you think this is worth adding to the im

[2015-11-15 12:00] johanneskoester commented on #137
For debian, one of the reasons is that the first is activated by default and the second is optional, in order to be able to call debian FOSS. I don't think that we need something like that for Bioconda. If the license allows redistribution, we can include the package. If the license does not allow it, we can't, even in a "nonfree" channel.

[2015-11-15 12:02] johanneskoester commented on #266
Yes, that's a good idea. Feel free to do that!

[2015-11-15 14:49] kyleabeauchamp commented on #137
I bet that some of the non-FOSS licenses are legally unclear about redistribution.  Also, the dependency solver will automatically install (and potentially even run) software regardless of license legality.

I imagine that people in industry would be happy to contribute to this project if there were stronger separation between the FOSS software and the "academic" licensed software.

[2015-11-15 15:32] johanneskoester commented on #246
Isn't this very similar to packages built against a particular Python or numpy version. Conda somehow adds the versions to the build string and properly reports conflicts. This mechanism must be accessible somehow. Maybe there is a simple annotation in the meta yaml for this. I would imagine something like

[code]

would be useful...

[2015-11-15 15:45] johanneskoester commented on #137
Ok, that's a point. Maybe we can make a list of packages that would have to be in such a channel to evaluate if it is worth the effort.

[2015-11-15 15:50] johanneskoester commented on #261
I think I have fixed this in pull request #270.

[2015-11-15 15:50] johanneskoester commented on #261
Thanks!

[2015-11-15 15:50] #261 closed

[2015-11-15 16:17] daler commented on #266
OK -- X11 is now in the image as of #269

[2015-11-15 16:17] #266 closed

[2015-11-16 11:41] johanneskoester commented on #245
Hi guys,
I have created a first draft [here](https://github.com/bioconda/recipes/wiki/Letter-to-CA). Feel free to edit or comment!

[2015-11-18 07:09] guillermo-carrasco opened #278 "Issues with dependencies when building bcbio_monitor"
Hi,

I am trying to create a recipe for [bcbio-monitor](https://github.com/guillermo-carrasco/bcbio-nextgen-monitor) and I'm having some troubles with dependencies when building the package:

[code]

[Here](https://github.com/guillermo-carrasco/recipes/commit/485477f919b0c00273721ee5e93dc3b967be8134) you can find the code for the recipe. As you can see I already included the dependencies in `meta.

[2015-11-18 12:35] chapmanb commented on #245
Johannes -- this looks great, thanks for putting it together. My only suggestion was that it might be a little formal with `Madams and Sirs` but maybe that's not a bad thing. Otherwise feel free to send out and let us know how it goes. Thanks again.

[2015-11-18 12:53] johanneskoester commented on #245
Thanks, I have made it a bit less formal and just sent the email. Fingers crossed!

[2015-11-18 14:44] daler commented on #278
I think the issue here is that there's a `graphviz` Python package on PyPI (the Python package that's supposed to be a dependency here) and a `graphviz` package in the bioconda channel (which has things like the `dot` program). I think the bioconda one wins. Setuptools then tries to install the missing Python graphviz, but conda disallows setuptools downloading which raises the error.

I think the

[2015-11-18 15:05] guillermo-carrasco commented on #278
@daler thanks for the reply :)

I don't quite understand though, if there is already a package in bioconda channel, and it seems to be fetching it, why is is trying to fetch it from PyPi again?

There is no way to specify in that one or the other should be used?

Thank you again,

[2015-11-18 16:20] daler commented on #278
It's a name issue: the `graphviz` package fetched from bioconda happens to be the [C graphviz](http://www.graphviz.org/), but what you really want is the [Python graphviz](https://pypi.python.org/pypi/graphviz).

The trick is to create a Python `graphviz` recipe in bioconda, but name it differently from the existing C `graphviz` so that you can differentiate between them in your `meta.yaml` based

[2015-11-18 16:31] guillermo-carrasco commented on #278
Aha, now I get it!

Thanks a lot, I'll create that `pygraphviz` recipe :)

[2015-11-20 06:58] moonso commented on #1
Hello, I would also like to join the team!

Thank you

[2015-11-20 07:31] robinandeer commented on #1
Hi, I was recommended by @guillermo-carrasco to add [chanjo](https://github.com/robinandeer/chanjo) and some future exciting tools to the recipes

Can I join the team? :ocean:

[2015-11-20 07:42] johanneskoester commented on #1
Welcome, you two! I have sent an invitation!

[2015-11-20 07:46] moonso commented on #1
:+1:

[2015-11-20 08:27] johanneskoester commented on #245
Hi guys!
Very good news! Continuum Analytics gives us a **free** organization plan with 100GB storage. That should be enough for the next years! Thanks for your help and advice!

[2015-11-20 08:27] #245 closed

[2015-11-20 10:39] chapmanb commented on #245
Johannes -- congrats. Great work putting this all together and thanks to Continuum for the generosity.

[2015-11-20 14:13] daler commented on #245
Great news!

[2015-11-20 15:15] lpantano commented on #1
Hi,

this is amazing! can i join? I work in the small rnaseq pipeline in bcbio-nextgen and I will like to add some packages related to srnaseq!

thanks

[2015-11-20 15:18] johanneskoester commented on #1
Thanks! Sure, you are invited now!

[2015-11-20 15:49] dkoppstein commented on #245
Congrats!

[2015-11-26 08:12] johanneskoester commented on #138
Ok, I have done the renaming. Please update your local clones and forks! Sorry for the inconvenience.

[2015-11-26 08:12] #138 closed

[2015-11-26 08:15] #278 closed

[2015-11-26 12:46] johanneskoester opened #311 "Use Jekyll for pages"
With Jekyll, we would be able to display summaries for each recipe on the github.io homepage (see [here](http://jekyllrb.com/docs/datafiles/). I tried to set it up, but didn't immediately manage to properly install all dependencies on my Fedora Linux. Is anybody of you familiar with Jekyll?

[2015-11-26 17:59] kyleabeauchamp commented on #311
I've used pelican but not jekyll.

[2015-11-27 13:31] brainstorm commented on #1
Hello bioconda devs! May I join too? I have this one package I would like to contribute:

https://github.com/hall-lab/svtools

[2015-11-27 16:38] johanneskoester commented on #1
Sure! I have sent an invitation.

[2015-11-28 19:07] kyleabeauchamp opened #316 "Require license in meta.yaml"
I propose that you explicitly require every recipe to have a license line in the about section of the yaml.  Only a few are missing right now:

[code]

I also propose:
1.  Explicitly check for the license in travis
2.  Before upload, decide whether the license is OSS or restrictive by a small whitelist
3.  Push the uploaded package to either the `bioconda` channel or the `bioconda-restricted` chan

[2015-11-28 19:08] kyleabeauchamp commented on #316
Regarding (2, 3) there may be other ways to engineer this sort of thing, but that sounded like the simplest to me.

[2015-11-28 19:14] kyleabeauchamp commented on #316
Metaseq is an interesting case for the license because it is a metapackage with potentially academic dependencies.  Presumably the dependencies will be able to handle their own licenses, but we'd still want to have some sort of license (presumably OSS) on the metapackage.

[2015-11-28 19:18] kyleabeauchamp commented on #316
Grabix seems to have some ambiguity according to the debian packagers: https://github.com/arq5x/grabix/issues/5

@chapmanb has contributed to that repo previously, so perhaps he can help resolve the questions.

[2015-11-28 19:31] kyleabeauchamp commented on #316
See #317 and #318 which fix most of the outstanding recipes, with the exception of grabix

[2015-11-29 04:23] kyleabeauchamp commented on #316
Grabix is MIT, and I have adjusted my pull request #319  accordingly.

[2015-11-29 10:24] johanneskoester commented on #316
Thanks Kyle! Having two channels is problematic though, because we now have funding for the bioconda channel from CA. Licenses seem to be controlled vocabulary in conda. Maybe we can provide a pull request that adds a configuration option to conda to only allow OSS licenses on request?

[2015-11-29 17:13] kyleabeauchamp commented on #316
Ok.  My second idea is to add a dummy dependency to all academic licensed
packages and put that package in the alternate repository.
On Nov 29, 2015 2:24 AM, "Johannes Köster" <notifications@github.com> wrote:

[2015-11-29 20:43] kyleabeauchamp commented on #316
One other idea I had is to use something with the "features" flags to tag the academic licenses.  However, I still don't have an idea of how to implement a "firewall" with that method.  (http://conda.pydata.org/docs/building/meta-yaml.html#id1)

[2015-11-30 10:23] johanneskoester commented on #316
That sounds promosing. Maybe the guys at CA have some thoughts. Do you want to file an issue, or should we contact the anaconda support about it?

[2015-11-30 16:24] kyleabeauchamp commented on #316
I can open an issue this evening.
On Nov 30, 2015 2:23 AM, "Johannes Köster" <notifications@github.com> wrote:

[2015-11-30 18:00] daler opened #326 "Perl GD module"
GD is a dependency of `circos` and `fastq_screen`. Below are my notes on what I've tried in order to create a recipe for it.

Easy way first:

[code]
`conda skeleton cpan` adds core (built-in) Perl modules to the dependencies. Comment them out. We also need the `libgd` conda package. Here's the stripped-down meta.yaml:

[code]

Building fails because Module::Build is out of date:
[code]

Hmm, mayb

[2015-11-30 21:09] daler commented on #326
It's my local Ubuntu that didn't have `-fstack-protector-strong`; the docker image does.

It took a few more fixes in other recipes, but this is now resolved in #327.

[2015-11-30 21:09] #326 closed

[2015-12-01 03:13] tomkinsc opened #334 "BLAST does not build under Docker or on Travis"
See #333; if I'm reading this right, BLAST may have been [added](https://github.com/bioconda/bioconda-recipes/commit/3db800b9e64d1dbd409aacf3f1e5b3b52ee21109) to bioconda before we gained the CentOS 5 test environment. CentOS 5 appears to lack GLIBC_2.7, which is required for the blast binaries distributed by the NCBI. It seems we will need to compile it from source. Anyone available to lend a han

[2015-12-03 17:43] tomkinsc commented on #334
Fixed in #333

[2015-12-03 17:43] #334 closed

[2015-12-06 09:41] vivekiitkgp commented on #1
Finally a proper channel to distribute bio* packages! I'd be more than happy to add packages recipes! (vivekiitkgp on anaconda.org)

[2015-12-06 11:17] johanneskoester commented on #1
Glad to hear that! Welcome!

[2015-12-07 21:17] kyleabeauchamp commented on #235
@johanneskoester it appears that some packages have old versions for py34 but new versions for py35.

For example, if someone tries to install `snakemake` in a py34 environment, they are directed to version 3.4.2.  https://anaconda.org/bioconda/snakemake/files

I'm not sure what the best decision here is, as it seems like we want to either "force py35 and delete the old" or ensure that py34 is sti

[2015-12-08 04:33] yesimon opened #394 "OS X whitelist sorting"
Would it be a good idea to get this list sorted? Right now it's kind of a free for all.

[2015-12-08 05:07] tomkinsc commented on #394
In #395

[2015-12-08 05:27] #394 closed

[2015-12-08 09:44] johanneskoester commented on #235
Good point. I think we could keep the last two Python versions for convenience, see pull request #396.

[2015-12-08 15:30] zachcp commented on #1
Hi Team Bioconda,

Great effort. I'd like to add some package recipes.

thanks,
zach cp

[2015-12-08 15:45] johanneskoester commented on #1
Welcome Zach! I have sent an invitation.

[2015-12-08 15:46] johanneskoester commented on #1
Can you give us your complete real name? We have a list of devs on the homepage.

[2015-12-08 15:57] zachcp commented on #1
thanks @johanneskoester, my name is zachary charlop-powers

[2015-12-08 16:00] johanneskoester commented on #1
Thanks! I'll add you to the list.

[2015-12-08 17:03] tiagoantao commented on #1
I would like to submit a few population genetics packages (starting with genepop)

[2015-12-08 17:39] johanneskoester commented on #1
Great! Welcome!

[2015-12-11 12:01] marcelm commented on #137
I’ve used VSEARCH a bit and it is really nice. It aims to be a drop-in replacement for USEARCH (same command-line options etc.), but the last time I checked, it did not have all the functionality, so people will still want to use USEARCH.

[2015-12-12 16:53] #235 closed

[2015-12-12 16:54] johanneskoester commented on #235
Pull request has been merged.

[2015-12-12 17:35] johanneskoester commented on #232
Implemented in pull request #436.

[2015-12-12 17:35] #232 closed

[2015-12-15 13:33] rob-p commented on #1
Hi all, I'd be interested in joining the dev team.  I think it would be a great distribution system for some of our lab's software!

[2015-12-15 14:17] johanneskoester commented on #1
Great! I have sent an invitation.

[2015-12-15 14:25] rob-p commented on #1
:+1: thanks; accepted!

[2015-12-15 18:13] brwnj commented on #1
@johanneskoester, I'm brwnj on both github and anaconda, requesting to be added. Thanks!

[2015-12-15 19:37] lpantano opened #455 "Guidelines for recipe creation"
Hi,

this is a general question, probably for people who aren't expert like me.

There are many type of tools, like the ones you compile and create binaries, or the ones that are perl scripts, or java ... etc...

I tried to follow recipes that already exists, but maybe it would be good to add to README.md general guidelines like: java tools go to `share/tools...` and then do `blablabla`. Maybe the

[2015-12-16 11:40] johanneskoester commented on #1
Welcome :-)!

[2015-12-16 11:45] johanneskoester commented on #455
Hi,
this is a very good suggestion. Do you think it would be sufficient to link the [FSH](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard)?

[2015-12-16 19:29] lpantano commented on #455
that is a good idea. I will add some links to recipes in the repo to have a quick start depending on the tool type.
For instance for java one can be https://github.com/bioconda/bioconda-recipes/tree/master/recipes/gatk-framework
For perl another that you think is a good example to follow ...
And the same for the C compilation code etc...

The question was related to best practices examples to avoi

[2015-12-17 17:14] sahilseth commented on #1
Okie, I went from zero knowledge, to gemini installed in 5 mins. This is very promising! Have a few ideas/pkgs which can be added, would be cool to be a part of dev team (will add some R packages).

[2015-12-17 20:50] johanneskoester commented on #1
Glad to hear that! You are invited!

[2015-12-17 20:52] johanneskoester commented on #1
Btw, can you give me your full name for the developer list on the homepage? Thanks!

[2015-12-17 20:52] sahilseth commented on #1
Sure, 

Sahil Seth

On December 17, 2015 at 2:52:22 PM, Johannes Köster (notifications@github.com) wrote:

Btw, can you give me your full name for the developer list on the homepage? Thanks!

—
Reply to this email directly or view it on GitHub.

-- 

Sent with Airmail

[2015-12-18 10:23] johanneskoester commented on #1
Thanks!

[2015-12-18 15:54] daler opened #476 "Help with bioconductor-rhdf5 on OSX"
I can't figure out what conda is doing that prevents the build from working. Running `conda build` on on OSX:

[code]

Relevant section from `config.log`:

[code]

However, if I manually build -- the way I think conda is doing it -- it works:

[code]

I don't follow most of the details, but my reading of [this issue](https://github.com/conda/conda-build/issues/279) suggests this was solved at some

[2015-12-18 17:12] daler commented on #476
More info implying we may have to wait for a conda-build update: https://github.com/ContinuumIO/anaconda-issues/issues/498

[2015-12-20 16:22] chapmanb opened #489 "How to handle OpenGL requirement on Linux"
Hi all;
I'm working on porting over R/bioconductor libraries to bioconda, and ran into an issue with those that require `r-rgl`. It links against libGLU, and gives errors:
[code]
I could fix by installing an OpenGL implementation like Mesa: `yum install mesa-libGLU-devel` on the build box. Does everyone think this is the best plan to handle this, or know of a better/cleaner way to provide the depe

[2015-12-20 18:39] johanneskoester commented on #489
To me, it sounds reasonable to assume a working X installation for such packages.

[2015-12-21 10:51] chapmanb commented on #489
Johannes -- thanks much. Any objections from anyone if I add `mesa-libGLU-devel` to the CentOS build-bot Dockerfile?

[2015-12-22 10:35] #489 closed

[2015-12-22 11:28] chapmanb commented on #489
Thanks again for the feedback. I added mesa in and updated the `bioconda/bioconda-builder` image on Docker Hub so it's now available for recipes. Thanks again.

[2015-12-22 20:54] daler opened #498 "improved failure detection"
Currently a PR passes if at least one build passes in the matrix of (Linux, OSX) x (py27, py34, py35).

However, when I run a full build locally with `--verbose`, there are a fair number of failures that we might not have known about. For example one of the recipes I had created is failing, and I didn't know until I looked into these details.

Note that every one of these recipes is built by travi

[2015-12-23 10:25] chapmanb commented on #498
Ryan;
Thanks so much for finding these and for the detailed report. Failing on these packages during the build is a great call, I'd love to see that improvement. To work towards it, I added build skips for all of the failing py27-only packages since those don't yet work cleanly on py3:
[code]
which leaves only a handful of py27 problem packages before we could enable more rigorous checks. Thanks a

[2015-12-24 00:28] tiagoantao opened #503 "Dependency on other bioconda recipes"
I would like to create a recipe that depends on other bioconda recipes (pysam).

If I understand well, there is no way to create a dependency based on our channel on meta.yaml.

What would be the better way to do this?
If I add a pysam >=0.8.4 on .meta.yaml this would fail the testing procedure (as the official anaconda channel has pysam at 0.6 - as a side, the problem would obviously still occur

[2015-12-24 01:42] daler commented on #503
This pysamstats recipe actually does install in the docker container. It's failing the test though because the `pysamstats` command used as a test returns a non-zero exit code. Tweak that (maybe check for the specific error code, or do an import) and you should be good.

 It works because the docker image has both the bioconda anaconda channel as well as the build directory itself added as a chann

[2015-12-24 02:01] tiagoantao commented on #503
@daler  Great, this is all I need to know. I would suggest adding to the documentation that developers should have the bioconda channel on their condarc if they are building locally.

Thanks! (closing this)

[2015-12-24 02:01] #503 closed

[2015-12-24 03:39] daler commented on #498
Thanks Brad. I fixed all the others I could find with the exception of LAST (I'll work on that next). I also added which commit each recipe was fixed in for future reference.

[2015-12-24 16:12] daler commented on #498
@tomkinsc, I'm just going to leave LAST on py27 skipped -- looks like a py2 compatibility issue.

[2015-12-24 20:54] inodb commented on #1
Hi Johannes,

This is a cool initiative! I'm looking to add some bioinformatics tools I worked on: sufam in particular. Can you add me?

Thanks,
Ino

[2015-12-28 22:00] kes1smmn commented on #1
Awesome project.  I would love to contribute.
Please add me.

Thanks Keith

[2015-12-29 13:35] johanneskoester commented on #1
Sure, I have sent invitations to both of you. @kes1smmn, can you give me your full name for the developer list on the homepage?

[2015-12-29 14:26] #498 closed

[2015-12-30 01:23] kes1smmn commented on #1
Thanks

Keith Simmon

[2016-01-03 17:21] bgruening commented on #1
Hi @johanneskoester,

I would also like to join the team and maintain a few packages. The Galaxy project is including a conda dependency resolver to install dependencies automatically for a Galaxy tool and we plan to use conda more often in the future.
My username is `bgruening`.

Thanks,
Bjoern

[2016-01-03 17:31] johanneskoester commented on #1
Glad to hear that, Bjoern! I have invited you.

[2016-01-04 17:10] tomkinsc commented on #498
@daler The LAST issue should be resolved in #531.

[2016-01-04 20:45] zachcp opened #534 "how do I package an R package in condas r-channel?"
Hi Team Bioconda,

I'm packaging up bioconductor-phyloseq and running into some `R` dependencies that aren't in anaconda's R channel. Anyone know how/where to get recipes included there?

thanks,
zach cp

[2016-01-04 22:05] johanneskoester commented on #534
You can make a pull-request to [conda/conda-recipes](https://github.com/conda/conda-recipes). Faster would be to include it into bioconda itself (we already have some). At some point, we could think about merging them back into conda/conda-recipes.

[2016-01-04 23:15] daler commented on #498
Great!

[2016-01-05 02:50] zachcp commented on #534
thanks @johanneskoester, I will add the deps to this repo although its definitely a good idea to think about moving these 'upstream' at some point

[2016-01-05 02:50] #534 closed

[2016-01-05 15:58] zachcp opened #541 "Issue with igraph/gmp linked libraries"
Hi Team Bioconda,

I've been putting together a recipe for [phyloseq](https://github.com/bioconda/bioconda-recipes/pull/538) but fail on [Travis](https://travis-ci.org/bioconda/bioconda-recipes/jobs/100270467) due to a linking error:

[code]

I have no trouble building this on a local linux box so I am wondering what is different about the buildbox that causes the failure and how I might work arou

[2016-01-05 18:10] zachcp commented on #541
looks like adding gmp as a dependency during the build step works even though its already a dependency via igraph. I expect  it to pass and merge in a few minutes.

[2016-01-05 18:10] #541 closed

[2016-01-07 09:46] dpryan79 commented on #1
Could you add me as well? It'd be more convenient than bugging @bgruening to post updated recipes for me :)

[2016-01-08 16:42] johanneskoester commented on #1
Sure, welcome!

[2016-01-10 12:04] johanneskoester opened #595 "Recipe reviews"
We are now already a quite huge team, and recipes sometimes appear faster than our current reviewing approach is able to handle. Packaging is not always straightforward, and sometimes there are different (more of less Bioconda-like) approaches to package a software.

This is why I want to propose a new algorithm for merging into master:
- Anybody is allowed to update an existing recipe to a new ve

[2016-01-10 12:29] bgruening commented on #595
+1 for `CONTRIBUTING.md` and defined guidelines - this will help a lot.

Also related to this what was the original idea behind the branch-protection? This seems to be a huge resource hog. You are more or less battling with other PR to get yours in, which ends up with several merges if you have a big PR or a program with large compile/test times. I can imagine this get's more annoying with more an

[2016-01-10 12:35] johanneskoester commented on #595
Force pushes are not causing the issue you see with merging. It is just another pull request being regularly merged that causes your PR to become outdated (see [here](https://github.com/blog/2051-protected-branches-and-required-status-checks), the branch must be up-to-date before merging). I don't think there is a technical solution that avoids this. Best way would be to make our tests much faster

[2016-01-10 12:47] bgruening commented on #595
I haven't said that force-pushes resulting in this behaviour. It's just good to have to not loose commits accidentally :)

[2016-01-10 14:33] daler opened #597 "speed up builds"
This is about the structure of `build-packages.py` and how we might speed up builds on Travis-CI.

Currently `build-packages.py` only removes a recipe from the list to build if *all* builds (py27, py34, py35) exist on conda. This means that even if a recipe is known to fail on py27 and therefore `skip: True #[py27]` is already specified, that recipe will still get added to the list. The result is

[2016-01-10 16:00] johanneskoester commented on #597
Sounds good!

[2016-01-11 13:49] mjafin commented on #1
Would be great to be contribute, please add me when convenient. @chapmanb can vouch I trust.

[2016-01-11 15:18] johanneskoester commented on #1
Sure, welcome!

[2016-01-13 12:41] cbrueffer commented on #1
Thanks for initiating this project, I'd love to chip in as well.

[2016-01-14 11:51] johanneskoester commented on #1
Welcome!

[2016-01-14 12:26] jeromekelleher commented on #1
Hi there! I'd like to contribute a recipe for [msprime](https://pypi.python.org/pypi/msprime). This depends on GSL, which I'd be happy to add a recipe for also, as this seems like a fairly basic component that would be useful to others.

[2016-01-14 13:41] johanneskoester commented on #595
You are right, sorry :-). Any further comments on this? I would propose to take the top 4 contributors as the core team: @daler @chapmanb, @tomkinsc and @johanneskoester. We were there from the start, and have relatively constant pull requests. That suggests that we should be responsive and experienced enough to handle the additional duties. Do you agree?

[2016-01-14 15:43] chapmanb commented on #595
What do you think about having an honor system where contributors flag recipes they'd like review on? I worry about bottlenecking recipe updates. I found this to be a problem with homebrew-science where the hard working core team would get overwhelmed and end up missing simple merges for multiple days. If we had a process suggesting asking for feedback on first recipes or anything potentially diff

[2016-01-14 15:45] chapmanb commented on #1
Jerome -- welcome, Johannes normally takes care of adding people but in the meantime I wanted to give a heads up that there is a gsl build in the 'r' channel that bioconda depends on -- wanted to save you some time.

[2016-01-14 15:56] jeromekelleher commented on #1
Thanks @chapmanb, I'm looking forward to helping out here: this is a super useful resource!

[2016-01-14 16:29] kyleabeauchamp commented on #595
I do have some doubts about a completely honor based system.  IMHO, it makes more sense to involve a slightly larger team (~8?) with `merge` access but still require review of all recipes.

I'm less worried about turnaround time than I am about subtle bugs that break peoples results.

[2016-01-14 16:43] johanneskoester commented on #595
So, I thought about only requiring reviews for new recipes. Simple updates won't need any review in my opinion. However, even this certainly slows down the process...

[2016-01-14 17:03] kyleabeauchamp commented on #595
I also realize that the people with merge access don't necessarily need to be the people who are "trusted reviewers".  For example, you could keep the 4 people listed above as having the abillity to merge, but I imagine there are 10 or so people who might be competent to sign off on the +1 to merge.

[2016-01-14 18:32] daler commented on #595
I like Kyle's reviewers-at-large idea where any one of 10-ish experienced folks can +1 a new recipe. "Core contributors" with merge access can then trust that +1 and/or review independently before merging. Hopefully spreading the review work around would reduce the burden Brad warns about.

For recipe updates, I think I'd prefer a review if the contents of the test have changed.

I think clear doc

[2016-01-14 19:07] tomkinsc commented on #595
Happy to help any way I can. +1 to Kyle's plan, though perhaps we should also grant merge rights once contributors have successfully added a certain number of recipes. Recipe templates in the docs would be great ("Example recipe for a {python module, R package, java tool, ...}"), along with explicit suggestions of where to place things to comply with the filesystem hierarchy.

[2016-01-16 10:22] bgruening opened #624 "Remove dependencies from Docker build box"
I encountered a problem where samtools is requiring libncurses, yet it was merged and build for conda.
I think this is because the build box has too many libraries preinstalled, like in this line: https://github.com/bioconda/bioconda-recipes/blob/master/scripts/Dockerfile#L5

Can we remove the -devel packages and fix all packages that have these dependencies? I'm volunteering to do this.

[2016-01-16 11:13] johanneskoester commented on #624
That sounds reasonable, thanks! @daler @chapmanb, I think you helped designing the image, do you agree?

[2016-01-16 11:50] chapmanb commented on #624
Björn -- thank you for this. Apologies, I didn't realize these were getting dynamically linked against the CentOS 5 packages. Some of the libraries (like X11 mesa) are known external dependencies if you want to run those packages since they would be a beast to make as conda dependencies. Thanks again.

[2016-01-16 11:58] bgruening commented on #624
Brad; yeah removing X11 would be crazy, I was more talking about bzip2-devel, zlib-devel and ncurses-devel.

I will work on this during the next week.
Thanks @chapmanb and  @johanneskoester!

[2016-01-16 14:36] daler commented on #624
Thanks Björn, this would be great.

Is there a way to determine which existing packages would need rebuilding? I guess a brute force approach would be to try building all recipes in a container lacking those libs to see what fails, but maybe there's a more elegant solution.

[2016-01-18 15:24] cokelaer commented on #1
Hi there, I like the idea of sharing recipes for bioinformatics. I'd like to join to contribute with some recipes. thanks

[2016-01-18 17:14] jeromekelleher opened #631 "Pyparsing package not needed"
The pyparsing package was added unnecessarily as part of the dependencies for msprime in #607. This should be removed.

What is the procedure for removing packages from the upstream repository? Does this happen automatically when the corresponding recipes are removed or does something else need to happen?

Thanks to @kyleabeauchamp for pointing this out in #629.

[2016-01-18 17:21] kyleabeauchamp commented on #631
It does not happen automatically.  I suppose the only way to do it is for @johanneskoester  to manually delete the files from the cloud using either the web or cmdline interfaces to conda.

[2016-01-19 09:23] jeromekelleher commented on #631
Thanks @kyleabeauchamp, I've opened PR #633 to remove the pyparsing recipe.

@johanneskoester, sorry to bother you with this, but could you delete the built pyparsing package from the repo please?

[2016-01-19 10:32] johanneskoester commented on #1
Glad to hear that! Welcome!

[2016-01-19 10:36] johanneskoester commented on #631
Sure, no problem. I have deleted it for you.

[2016-01-19 10:36] #631 closed

[2016-01-19 10:36] jeromekelleher commented on #631
Thanks @johanneskoester!

[2016-01-19 23:19] daler opened #637 "samtools error with ncurses"
In the `bioconda/bioconda-builder` container, `samtools` works fine and therefore the build passes. But on Ubuntu 14.04, I get a libncurses error:

[code]

Looking at the other available versions, I see that in v1.1 [the `build.sh`](https://github.com/bioconda/bioconda-recipes/blob/d7dcc5d86f9b2cc1fe65a86ab8e62c14a5e83a5f/recipes/samtools/1.1/build.sh) fixes some stuff with ncurses. But I get the

[2016-01-19 23:25] daler commented on #637
Never mind, found #246. Using
[code]
fixed this. Definitely not obvious, but I don't see an obvious fix either.

[2016-01-19 23:25] #637 closed

[2016-01-20 08:20] bgruening commented on #624
Ok, I have something to work, on but it really needs time here. I end up rebuilding the entire repository and many tools seems to need some ugly hacks to recognise the *.h files and I need some more time for this.

[2016-01-20 10:01] johanneskoester commented on #637
The correct fix would be [my PR](https://github.com/conda/conda-build/pull/728). In the meantime, we can assume that people have the R channel active as well (it is mentioned on the Bioconda homepage that this is a requirement).

[2016-01-20 10:05] johanneskoester commented on #624
Shouldn't it suffice to define the include path like [here](https://github.com/bioconda/bioconda-recipes/blob/c10e2fad3c441b55910fda4a6d1d2e0b4bfe2fa4/recipes/pybigwig/build.sh#L3)? Also, we should use the opportunity to switch to gcc and libgcc from anaconda.org for all recipes (I would also think that this might solve the include issues as well).

[2016-01-20 14:31] daler commented on #637
Ah, didn't see that PR. And I missed that addition to the docs -- I will re-read them now!

[2016-01-21 10:27] dakl commented on #1
I'd love to join. I'm missing skewer (https://github.com/relipmoc/skewer.git) that I'm sure I can figure out how to contribute :)

[2016-01-22 12:05] johanneskoester commented on #1
Sure. Can you tell me your full name for the dev list on the homepage?

[2016-01-25 10:44] johanneskoester commented on #624
Any updates?

[2016-01-26 08:36] johanneskoester commented on #455
This seems to be fixed with PR #636.

[2016-01-26 08:36] #455 closed

[2016-01-26 14:49] lpantano commented on #455
awesome!

sent not from my computer

[2016-01-27 20:29] bgruening commented on #624
@johanneskoester no good ones. 100 out of 600 packages fail. Not only due to zlib but also because of unavailable URL's etc. This will take more time as I had hoped.

[2016-01-27 20:39] johanneskoester commented on #624
Which branch is it? We can fix the recipes together.

[2016-01-27 20:42] bgruening commented on #624
Need to push it, give me a few more days. Help is really appreciated. Any idea how to solve the broken URLs? https://github.com/galaxyproject/cargo-port or more https://bioarchive.galaxyproject.org/ usage would be possible.

[2016-01-27 21:07] johanneskoester commented on #624
I think we encountered that issue before. If I am not mistaken @daler indeed used one of the resources you mention for newer bioconductor recipes.

[2016-01-27 21:10] bgruening commented on #624
Maybe I can hack up a script and replace the URLs automatically ...

[2016-01-31 14:35] ostrokach commented on #311
How about using Sphinx and readthedocs?

We could init Sphinx inside a *./docs* folder, and have an *index.rst* file with something like:

[code]

I haven't tested this, but I think it should work.

Then each recipe could have a *README.rst* file, with the title being the repository name?

[2016-01-31 21:08] ostrokach commented on #311
I created a simple script that goes through the recipes and generates README files.

Sphinx [can't read source files above the root folder](http://stackoverflow.com/questions/10199233/can-sphinx-link-to-documents-that-are-not-located-in-directories-below-the-root), so the READMEs are saved in the *./docs/recipes* folder.

Here is a demo readthedocs page: http://bioconda-recipes-demo.readthedocs.or

[2016-02-01 20:27] xguse opened #719 "Cant seem to build any of the bioconductor-X recipes: fail in 'build.sh'"
I keep getting the same error:

[code]

FYI: This is not in the docker container but on my home system.

Any advice/direction?

Gus

[2016-02-01 20:32] xguse commented on #719
OK this seems to be related to Arch linux and readline issues.  Still not sure of the best way to proceed though.  I guess I may just need to always use a non-Arch container to build stuff.  Better for shareability, but a little annoying for purely personal stuff... Thoughts?

[2016-02-02 12:38] johanneskoester commented on #719
You can build with our docker container on your local machine.

[2016-02-02 14:07] xguse commented on #719
I can build some.  bioconda-limma doesn't build but I think that is because of a new version of limma being hosted and for some reason the old one not being at the same url anymore.  I dont think its bioconda's issue.

I am writing a recipe for vsn (bioconductor) but I cant get it to download in the build container.  It complains its getting a 404 error even though I can wget the url just fine loc

[2016-02-02 14:26] johanneskoester commented on #719
@daler, any idea? Is this related to the version storage on bioconductor?

[2016-02-02 14:53] daler commented on #719
If it the bioconductor version was updated, then the URL wouldn't be accessible locally.

Is this a network-access-in-container issue? Can you wget the URL from inside the container?

[2016-02-02 16:55] xguse commented on #719
So I may have confused things a bit by mentioning LIMMA.

Let me try to clarify. LIMMA most likely will work fine once I update the recipe to to point to the new version.  I can `wget` the new version of LIMMA from my local system but not the old version. I learned of the issue with LIMMA while I was trying a few "positive controls" to make sure that I had the docker container working.  A couple o

[2016-02-02 16:59] daler commented on #719
For testing in the container interactively, the following is helpful. The trick is overriding `--entrypoint`:

[code]

[2016-02-02 17:15] xguse commented on #719
First: holy crap thanks for that tip!

Second: I ****ing hate proxies.

I think that the issue is Boston Children's Hospital's proxy BS. I just tried both VSN and AFFY. It chokes if I use https (can't establish SSL connection) and http yields the 404 error which is similar to errors I was getting before I sorted out proxy settings on my host system.

I am going to confirm this and probably just ha

[2016-02-02 17:21] xguse commented on #719
Yes it is the proxy settings.  I can wget using http (but not https) once I `export http_proxy=http://i.hate.this.crap:ports` etc.

Thanks for your time and help as always!

[2016-02-02 17:22] #719 closed

[2016-02-02 17:40] xguse commented on #719
Just as a final point on this issue:

[code]

[2016-02-02 17:41] daler commented on #719
Ah, that's nice you can provide the proxy on the command line without having to build/modify a container. Success!

[2016-02-03 08:43] johanneskoester opened #733 "Metapackage versions"
I noticed that we already have a couple of metapackages in Bioconda. My question is, what is their purpose, and how should we version them?

[2016-02-03 08:53] johanneskoester commented on #311
I like this approach. We could switch to sphinx for the entire page and host it on github.io. This would create a nice integrated experience.

[2016-02-03 16:37] daler commented on #733
Some packages like hubward and metaseq rely on non-Python tools like UCSC utils and bedtools that users may already have installed. If they don't already have them installed, the respective metapackage will set everything up. It's much more convenient to say "install the metapackage" than to describe how to download and install each individual moving part.

Another possible reason is for aggregati

[2016-02-04 14:42] chapmanb commented on #624
Björn and Johannes;
I'm working on moving perl recipes to use conda gcc for builds to help with this. Do we need gcc to be a `run` requirement, or is listing it as a `build` requirement sufficient to give the portability we need?

[2016-02-04 15:55] johanneskoester commented on #624
gcc itself does not need to be a run requirement. But some (not every) code requires libgcc, the corresponding runtime. So far, we always added libgcc as a runtime dependency, just in case. I think it won't hurt.

[2016-02-04 16:08] johanneskoester commented on #733
Ok, that makes a lot of sense. Exactly, metapackages that just represent a collection of arbitrary tools should maybe have their own versioning. We could recommend semantic versioning, starting from 1.0.0.

[2016-02-04 16:25] daler commented on #733
Sounds good. I'll do a round of docs updates, including metapackage versioning and notes about building with perl-threading.

[2016-02-04 16:47] johanneskoester commented on #733
Great, thanks!

[2016-02-04 16:48] johanneskoester commented on #733
Maybe the guidelines should be GUIDELINES.md instead? Similar to README.md and so on...

[2016-02-04 16:49] daler commented on #733
Yep, good point

[2016-02-04 23:48] dyusuf commented on #1
hi @johanneskoester  great to C U here. I am a big fan of snakemake and using it to build a pipeline for which I wish to build conda package and add it here.

cheers.

[2016-02-05 00:41] #733 closed

[2016-02-06 11:08] johanneskoester commented on #311
Seems to be quite easy to do that. We need to disable jekyll as described [here](https://github.com/michaeljones/sphinx-to-github#attention). [Here](https://github.com/Syntaf/travis-sphinx) is a python package that handles automatic deployment via travis.

[2016-02-07 13:44] johanneskoester commented on #1
Welcome!

[2016-02-09 06:13] ostrokach commented on #311
So I'll just merge the pull request? It won't overwrite anything without the GITHUB_TOKEN, and you have a better idea of what to do for the front page...

[2016-02-09 09:06] johanneskoester commented on #311
ok

[2016-02-10 15:26] johanneskoester commented on #311
@bioconda/all we finally have an integrated sphinx based homepage now, which also shows all the recipes. Thanks to @ostrokach for implementing this!

[2016-02-10 15:26] #311 closed

[2016-02-10 15:29] johanneskoester opened #784 "Add usage notes to recipes with wrapper scripts"
@bioconda/all, we have a couple of recipes that contain custom wrappers (e.g. VEP). For cases where it is not clear, I would suggest to add some usage notes to the `extra -> notes` field in the meta.yaml. Our new homepage will display this field in the recipe documentation.

[2016-02-10 17:10] daler commented on #311
Very nice, this looks great!

[2016-02-10 17:18] strokach commented on #311
- I added a `.nojekyll` file because the static content was not being served.
- I created a new repository with the copy of the files and `--force` pushed it to bioconda.github.io, because the home page was not working.

[2016-02-10 19:46] kyleabeauchamp commented on #126
FWIW I just closed pull #787 because the upstream binaries were built on centos 6.  AFAIK, if we were using the holy build box, the upstream binaries would have been totally OK.

[2016-02-10 19:48] kyleabeauchamp commented on #126
I'm not saying we need to upgrade now, but I think we might as well compile a list of pros / cons for an upgrade.

[2016-02-11 09:58] johanneskoester commented on #126
That makes sense. We should consider it!

[2016-02-12 22:29] ragak opened #797 "weblogo v2.8"
Downloading and installing weblogo v2.8 through conda moves the binaries out of the directory, and seqlogo no longer recognizes input files

[2016-02-13 12:02] johanneskoester commented on #797
@tomkinsc can you have a look?

[2016-02-13 12:03] johanneskoester commented on #797
Sorry, I mistakenly assumed this is yours, @tomkinsc. Instead: @percyfal can you have a look :-)?

[2016-02-15 12:28] #797 closed

[2016-02-17 17:17] holtgrewe opened #816 "Environment modules"
Hi,

what is your opinion about [environment modules](https://github.com/hpcugent/easybuild)?

Environment modules are common in cluster environment for allowing concurrent installation of multiple version and activating and deactivating programs by modifying `$PATH` etc. Also, they allow to specify dependencies.

We are currently using [EasyBuild](https://github.com/hpcugent/easybuild) for automa

[2016-02-17 23:32] vyokois commented on #1
Hi, this is awesome! I'm currently studying bioinformatics and would love to join you guys and contribute. (anaconda.org username: yokoisva)

[2016-02-18 08:32] dakl commented on #1
@johanneskoester Sorry, I missed this. Daniel Klevebring.

[2016-02-19 03:19] dyusuf opened #833 "recipe for pipeline involving both py2 and py3 based programs"
@bioconda/all

I am building a recipe for a pipeline that involves both py2 and py3 based programs. However,  conda does not allow coexistence of two in one environment.

Would anyone know how to resolve the conflict?

We would need a solution not only for conda installation but also easy for integrating to galaxy wrapper.

One way to go is to transform py2 to py3 program. I have tried 2to3 while

[2016-02-19 06:35] dyusuf commented on #833
@olgabot thanks a lot for the tip!

Sorry, I was clumsy to make my issue clear.

I am trying to write a recipe for a pipeline that automate several external applications.

one of them is py3 based program and another is py2 based program.

since conda does not allow co-installation of py2 and py3 in one environment, I found it difficult to install the two external applications with a single recipe

[2016-02-19 15:49] johanneskoester commented on #833
I would say, if this project is big enough to justify the effort, try to migrate the Python 2 stuff to Python 3 using pull requests for the upstream projects. Sometimes, additional work is needed to achieve that. If not, having separate environments for Python 2 and Python 3 tools is the way to go in conda.

[2016-02-19 16:05] dyusuf commented on #833
thanks! I am currently working on the 2nd option.

[2016-02-19 16:23] xguse opened #838 "Suggestions for how to troubleshoot failed OSX travis builds w/o local OSX?"
Hello y'all

I run Linux. But some of the packages I build are for coworkers who need OSX versions.  In the past I have pushed a few PRs that included additions to the OSX white-list and luckily they built beautifully.

However a couple of my colleagues will need an r package that has a pretty large number of deps.  I wrote and tested all the recipes using the docker build container and they work

[2016-02-19 17:28] johanneskoester commented on #1
Welcome, guys!

[2016-02-19 17:39] johanneskoester commented on #816
If we are talking about the same thing, my impression was always that conda makes [environment modules](https://en.wikipedia.org/wiki/Environment_Modules_(software)) obsolete. It allows you to install any available software version, without admin rights into your home directory on your cluster. If you need multiple versions of the same software, you can use separate conda environments and activate

[2016-02-19 19:41] #833 closed

[2016-02-20 23:30] zachcp commented on #838
The only thing I can think of is if theres a way to generate the DAG of dependencies and cross reference that against the OSX whitelist. That should be doable without OSX and can let you know what other packages you will need to add to the whitelist in order for your package to build.

[2016-02-20 23:47] zachcp opened #839 "ggplot 2.0"
I want to add ggplot2 to bio-conda. The ggplot package is in the conda official repo and I have updated the recipe but its taking a bit of time to make its way to the Anaconda website. On the assumption that forgiveness is better than permission I am going to package ggplot2  here and we can remove it when it lands in the conda repo.

Thanks,
 zach cp

[2016-02-21 10:52] kennedydane commented on #1
Hi there, I'd like to join please!

[2016-02-21 18:04] johanneskoester commented on #1
Welcome, Dane!

[2016-02-21 21:20] alaindomissy commented on #1
Hello,
Thank you for doing this!
I would like to join please...

[2016-02-22 13:16] johanneskoester commented on #1
Glad to hear that! Welcome!

[2016-02-23 21:09] lomereiter commented on #838
I tried this kind of remote debugging once—it's downright unproductive; I ended up using https://github.com/AndrewDryga/vagrant-box-osx for testing purposes.

[2016-03-01 12:49] holtgrewe commented on #816
I have had a closer look at conda/bioconda now and there is a small, but relevant difference: environment modules allows you load modules in an ad hoc fashion. You can load and unload modules in trial-and-error fashion which makes it easy to use interactively. On the other hand, conda appears to force you to create an environment with a specific version of a program. Is this correct?

Anyway, it a

[2016-03-01 16:20] johanneskoester commented on #816
Yes, that's true. They are less interactive in the sense of somehow being persistent instead of transient and interactive (which can be advantageous though). I think the behaviour you think about could maybe generated with some simple wrappers and aliases. But you are right, this is more a conda-level discussion.

[2016-03-02 10:27] edurand commented on #1
Hello,
Thank you for putting this together -- very useful.
What's the policy for uploading a new recipe? Do we need to upload all dependencies to bioconda as well? Or do you rely on other, external repos?

[2016-03-02 16:26] johanneskoester commented on #1
We rely on the R channel. I would say we should keep channel dependencies as small as possible. But if there is a big somehow "official" channel that can be considered stable and persistent, we could surely consider it.

[2016-03-02 20:56] colinbrislawn commented on #137
VSEARCH is now dual-licensed under GPL and BSD, so this is a non issue. Also, the vsearch devs are comfortable with us building recipes for it: https://github.com/torognes/vsearch/issues/134

While we could ask robert@drive5.com for permission to distribute USEARCH, I'm not sure he would say yes and I'm not sure folks are interested in supporting proprietary software. My vote is to support vsearch

[2016-03-02 21:24] dkoppstein commented on #137
I already asked Robert and he said no, so we can go ahead with vsearch.

[2016-03-03 19:53] sschmeier commented on #1
Hi guys, please add me to the team! Very useful indeed! Cheers

[2016-03-03 20:07] johanneskoester commented on #1
Welcome!

[2016-03-04 18:22] cdiener opened #945 "Fix matplotlib version in qiime 1.9.1"
QIIME 1.9.1 does not work with matplotlib 1.5 (see https://github.com/biocore/qiime/issues/2117), and probably never will until QIIME 2.x. So the matplotlib version should reflect that in the recipe.

Cheers

[2016-03-04 18:46] bgruening commented on #945
@cdiener this should be reflected here: https://github.com/biocore/qiime/blob/master/setup.py#L437
I will fix it in the recipe to be greater than 1.5

[2016-03-04 18:50] cdiener commented on #945
Unfortunately, the qiime setup.py is not up to date. The version string allows installation of 1.5 (larger than 1.1 and not 1.4.2). It should be *smaller* than 1.5 in the recipe since qiime 1.x does not support matplotlib 1.5+.

[2016-03-04 18:52] bgruening commented on #945
Ok, will patch Qiime if I find time and update the recipe. Thanks!

[2016-03-04 18:53] cdiener commented on #945
Awesome. Thanks to you!

[2016-03-04 20:46] necrolyte2 opened #947 "Issue with build/upload system?"
I think there may be a bug with the recipe building
See related #937 PR

If you look at the travis build it says it skipped [samtools 0.1.19](https://travis-ci.org/bioconda/bioconda-recipes/jobs/113688653#L888) but it ran [quast](https://travis-ci.org/bioconda/bioconda-recipes/jobs/113688653#L950), even though that build should have been for samtools not quast.

Also, if you look at the anaconda.o

[2016-03-05 00:12] bgruening commented on #945
Ok done. I will work further on an OS-X version.

[2016-03-05 00:12] #945 closed

[2016-03-05 14:33] johanneskoester commented on #947
Looks like PR #937 does not increase the build number. Without that, conda cannot know that the recipe has changed.

[2016-03-06 00:09] saketkc commented on #1
@johanneskoester Could you add me as well?

Thanks,
Saket Choudhary

[2016-03-07 14:47] johanneskoester commented on #1
Sure, welcome!

[2016-03-07 16:33] sebastian-luna-valero opened #976 "weblogo - naming convention for python packages"
Hi all,

One of my packages depends on a python module called `weblogo`:
https://pypi.python.org/pypi/weblogo

However, there is a recipe in bioconda called `weblogo` that contains a completely different program:
https://github.com/bioconda/bioconda-recipes/tree/master/recipes/weblogo
http://weblogo.berkeley.edu/

I am about to add the `weblogo` package hosted in `PyPI` to bioconda but what would

[2016-03-07 17:37] dgaston commented on #1
Hey, I would love to be added to the project. I've experimented with it before but I am now integrating bioconda into my Molecular Diagnostics pipeline for strict version control of all software binaries in the pipeline so runs are versioned. I'd like to add recipes for any of the tools that I currently use that are missing. Plus I just think this is a fantastic project!

[2016-03-07 20:17] johanneskoester commented on #976
Maybe the policy could be to prefix with "python-" in case of ambiguities, i.e. python-weblogo? @bioconda/all, any opinions?

[2016-03-07 20:20] johanneskoester commented on #1
Glad to hear that! Thanks and welcome, @dgaston!

[2016-03-07 20:28] dyusuf commented on #1
@johanneskoester I have built recipes for some packages, for which, some of dependencies are available from other channels. What is the policy to upload recipes from other channels? should an approval needed from original authors?

[2016-03-07 20:59] johanneskoester commented on #1
Good question. I think it might be kind to ask them, indeed. The fact that they are already published and conda even explicitly provides a copy mechanism for recipes suggests that it would also be legal to just copy them over. In any case, I would add a note to the recipe that points to its origin, to give the author credit.

[2016-03-08 12:42] daler commented on #976
`python-` prefix sounds reasonable. There's precedence at least: I did this with `python-wget` for the PyPI package `wget`.

[2016-03-08 14:13] acaprez commented on #976
Sounds fine to me as well.

[2016-03-08 14:20] brentp commented on #976
Sounds good

[2016-03-09 10:18] yhoogstrate opened #1005 "STAR-Fusion does not install resource utilities"
STAR-Fusion does not install additional tools required to generate custom databases, like `prep_genome_lib.pl` (https://github.com/STAR-Fusion/STAR-Fusion/wiki#data-resources-required).

This prevents the user from using custom reference builds and restricts the user to reference builds GRCh37/hg19 and hg38

[2016-03-09 14:37] daler commented on #838
If it helps -- if only to narrow down which dependencies need to be added to `osx-whitelist` -- `scripts/toposort_recipes.py` does what @zachcp mentioned.

[2016-03-09 14:52] daler opened #1012 "retire osx-whitelist?"
Currently the default is to not build for OSX unless it is explicitly put on `osx-whitelist`. It seems like it would be cleaner to build everything for OSX by default, and failing recipes can then use
[code]
in the meta.yaml. This way all information about what platforms the recipe runs on is contained in the meta.yaml (rather than having to cross-reference with osx-whitelist). I'm certainly guilt

[2016-03-09 15:08] bgruening commented on #1012
:+1: for a osx-blacklist. But I suspect than many recipes are not building anymore because the tarball is missing. I have this problem in my add-zlib branch :(

[2016-03-09 15:34] xguse commented on #838
@daler: very good to know.  Thanks. I will probably focus on that approach from now on.

[2016-03-09 16:08] daler commented on #1012
Do you mean tarballs for bioconductor packages? Or more generally?

[2016-03-09 16:16] bgruening commented on #1012
Mostly bioc packages. I'm working on a solution for this to fix it once and for all, just need time to write it down and open an own issue for it.

[2016-03-09 16:24] daler commented on #1012
For the most recent bioc release (month or two ago?) I did a round converting as many to bioaRchive as possible, but many didn't have a tarball there yet. I bet a lot of those have had an incremental release in the meantime, wiping the previous version on the bioc servers.

I feel your pain. To be continued on another issue perhaps . . . but like you say, it still needs to be resolved before remov

[2016-03-09 16:51] bgruening opened #1015 "Making urls sustainable"
To fix old recipes and to be prepared to rebuild recipes, for example to include zlib or extend builds for OS-X the `url` need to be sustainable.

The Galaxy community has developed several solutions to tackle this problem in several ways.
For example:

[Bioarchive](https://bioarchive.galaxyproject.org/#/pkg/Biobase/): This one traverses the bioc svn repo and recreates all tarballs that are needed

[2016-03-09 17:03] daler commented on #1015
cargo-port looks fantastic, please extend our thanks to the Galaxy team for storage.

Just to clarify your proposed solution -- I would write this example limma recipe using only the currently-working bioconductor url; upon committing (more specifically, upon merging into master) the travis hook
would add the second URL as well? Does conda support multiple urls like that?

[2016-03-09 17:12] bgruening commented on #1015
@daler exactly. I thought that conda support multiple URL's I have seen this in wild. Not sure if it's working. If this is not the case we need to replace the given URL.

[2016-03-09 18:01] sebastian-luna-valero commented on #976
Many thanks all, I will use `python-weblogo`

Best regards,
Sebastian.

[2016-03-09 18:01] #976 closed

[2016-03-09 18:11] vivekiitkgp commented on #976
Probably it'll be a good idea to mention this somewhere on README or
CONTRIBUTING guidelines.

--
https://vivekiitkgp.github.io

On Wed, Mar 9, 2016 at 11:31 PM, Sebastian Luna Valero <
notifications@github.com> wrote:

[2016-03-10 09:23] Jorisvansteenbrugge commented on #1
Hi,

I would like to contribute an transcript annotation improvement pipeline

[2016-03-11 16:11] tiagoantao opened #1035 "Question about license"
Hi,

Eigensoft has this license:

_This software and its documentation are copyright (2010) by Harvard University
and The Broad Institute. All rights are reserved. This software is supplied
without any warranty or guaranteed support whatsoever. Neither Harvard
University nor The Broad Institute can be responsible for its use, misuse, or
functionality. The software may be freely copied for non-comm

[2016-03-11 16:58] johanneskoester commented on #1015
That sounds great. The more urls there are in the recipe to download a tarball, the better. Apart from that, I wonder if we should extend our guidelines to encourage people to use git release tags or github release archives if available, because they should be equally sustainable as the galaxy resources, right? I think it is not even possible to delete accidentally.

[2016-03-11 17:00] johanneskoester commented on #1012
Good idea. I totally support the removal of osx-whitelist. When I introduced it, I wasn't aware of the skip instruction.

[2016-03-11 17:02] johanneskoester commented on #1005
Good point, thanks for mentioning!

[2016-03-11 17:06] kyleabeauchamp commented on #1012
+1

[2016-03-14 17:13] johanneskoester commented on #1035
Sure, you can specify this as custom license and provide a ``license_file`` in the recipe.

[2016-03-14 18:29] johanneskoester commented on #1
Thanks! I will send you an invitation! Btw, sorry for the late response, I could not check emails last week.

[2016-03-15 15:44] tiagoantao commented on #1035
Thanks!

[2016-03-15 15:44] #1035 closed

[2016-03-15 21:04] johanneskoester opened #1053 "librsvg"
librsvg contains the very useful rsvg-convert tool, and is therefore highly desirable for bioconda. @ostrokach I have seen that you already have a recipe in your private channel. Do you mind to push it to bioconda as well?

[2016-03-15 21:05] johanneskoester commented on #947
I think this is solved, right?

[2016-03-15 21:05] #947 closed

[2016-03-17 05:50] BioNinja commented on #1
Hi @johanneskoester,  please add me to the team! bioconda is very useful indeed! And I would like to contribute packages.

[2016-03-17 10:40] ewels opened #1065 "Logo"
Hi all,

I wanted to mention bioconda in a presentation and couldn't find an appropriate logo for it. So I made one, based on the [Conda logo](https://pypi.python.org/pypi/conda/4.0.0):

![bioconda](https://cloud.githubusercontent.com/assets/465550/13843079/ea10b5b8-ec31-11e5-9ae1-67a862a0606c.png)

Adobe Illustrator editable PDF: [bioconda.pdf](https://github.com/bioconda/bioconda-recipes/files/1

[2016-03-17 10:41] ewels commented on #1065
ps. I used the same colour as in the [Anaconda logo](https://en.wikipedia.org/wiki/File:Anaconda_Logo.png): `#3eb049`

[2016-03-17 14:22] johanneskoester commented on #1065
That's great, thank you! Do you think we could run into trouble because of using the conda logo? To avoid that, we could replace the white pattern in the O character with a white DNA helix.

Apart from that, I think we should get rid of the "registered trademark" symbol, because bioconda is not registered.

On the other hand, one could also see the right part of the logo just as the conda logo, in

[2016-03-17 14:52] daler commented on #1065
Agreed on all points: I like it, DNA for white pattern, and definitely need to check with Continuum.

For further separation from the Anaconda logo, maybe "BIO" in darker green and the helix on that first "O"? Something like:

![bioconda](https://cloud.githubusercontent.com/assets/115406/13849776/f6f33c5a-ec2d-11e5-8dc7-46697ec2f16b.png)

But of course depending on what the Continuum folks say.

[2016-03-17 14:58] chapmanb commented on #1065
This is awesome. Nice work Phil. I like Ryan's edits as well.

[2016-03-17 15:07] ewels commented on #1065
Nice! Like the variation @daler. Note that the _helix on that first "O"_ isn't a helix (yet) - it's a snake I think, taken from the original Conda logo. So it should probably stay in the `CONDA` part of the logo if we don't want to modify that.

[2016-03-17 15:36] daler commented on #1065
Good point; I just swapped the O's and changed color to try the idea . . . no helix yet.

[2016-03-17 15:53] ewels commented on #1065
Circular helices are difficult to draw! Here's my first attempt at it.. I tried to emulate the conda snake, I feel like it's not quite there though, needs something.

![bioconda](https://cloud.githubusercontent.com/assets/465550/13851920/423815f0-ec60-11e5-9115-b09608cd9701.png)

Maybe better without the original conda snake?

![bioconda2-01](https://cloud.githubusercontent.com/assets/465550/13852

[2016-03-17 15:55] johanneskoester commented on #1065
That's beautiful! I like the second more, if Continuum does not mind.

[2016-03-17 15:59] ewels commented on #1065
I'll drop an e-mail to info@continuum.io and see what they say..

[2016-03-17 16:15] tomkinsc commented on #1065
@ewels nice work! I also like the second one.
It looks like the image on the [anaconda.org site](https://conda.anaconda.org/bioconda) is a gravitar. Perhaps there should be a smaller/two-line version of the logo for square images like that? Is that gravitar associated with your email address, @johanneskoester ?

[2016-03-17 16:19] johanneskoester commented on #1065
Yes, looks like. The email of the Bioconda account can be changed though.

[2016-03-17 16:23] ewels commented on #1065
No problem - I'll make a bunch of variants and post them here in a moment.

[2016-03-17 16:50] ewels commented on #1065
Ok, so here are some cleaned up versions which should be a bit better for general use:

![bioconda](https://cloud.githubusercontent.com/assets/465550/13853729/5a98dd0c-ec68-11e5-913d-5fc0fe6439a0.png)
![bioconda_monochrome](https://cloud.githubusercontent.com/assets/465550/13853730/5a98d5a0-ec68-11e5-8957-7b794de09f0d.png)
<img height="90" src="https://cloud.githubusercontent.com/assets/465550/138

[2016-03-17 19:08] johanneskoester commented on #1
Great! I have sent you and invitation!

[2016-03-17 19:27] robinandeer commented on #1065
Great work @ewels! I tried my luck with something awhile back not this is ten times better 😁

[2016-03-18 07:48] ewels commented on #1065
Ok, just got a reply from Michele at Contiuum - she says:

So I think we're good. I'll add the ® back in and post an updated version later today. She also got really excited about promoting Bioconda, so I've cc'ed @johanneskoester, @daler and @chapmanb to my reply to her - hope that's ok!

Phil

[2016-03-18 11:41] bgruening commented on #1012
@daler what do you think about this start? https://github.com/bioconda/bioconda-recipes/compare/kill_osx_whitelist?expand=1

I can work on this further. The idea is
1. add `skip:True` to every file that is currently not on the whitelist
2. add them to the whitelist
3. if all tools are on the whitelist, drop the whitelist

What do you think?

[2016-03-18 13:14] ewels commented on #1065
Hi all,

Michele from Continuum said that we're fine to use the logo, but requested that we keep the ® symbol to reflect that it's a registered trademark. Updated versions below:

![bioconda](https://cloud.githubusercontent.com/assets/465550/13878617/e71c8f6c-ed12-11e5-9c96-f68ce8497e14.png)
![bioconda_monochrome](https://cloud.githubusercontent.com/assets/465550/13878624/ebd2c22e-ed12-11e5-86eb-6

[2016-03-18 13:19] daler commented on #1012
I think this is a good plan. The disadvantage is that it does not find recipes that work on OSX but were never added to the whitelist by recipe authors. To address this I have an OSX development machine and was starting down the more painful route of deleting osx-whitelist first, and then only adding the `skip: True` to a recipe when it failed to build.

I can continue with this to decide which re

[2016-03-18 13:39] bgruening commented on #1012
@daler yes, this would be the next step. As soon as we have removed the list we can go to all ucsc packages or R-packages and remove the osx-skip tag. We could even during our reviews ask to not use the os-x tag in new packages.

[2016-03-18 13:40] bgruening commented on #1012
@daler feel free to work on this branch as well. I'm just a little bit concerned about build times at some point and that travis will timeout. So maybe we merge this in chunks.

[2016-03-18 15:04] daler commented on #1012
Sure thing. I may not have time to chip away at this in the near future, so don't wait for me . . .

I agree, merging in chunks is the way to go.

[2016-03-18 16:39] bgruening commented on #1012
@daler given the tests are passing. Feel free to merge it :)

[2016-03-18 18:54] daler commented on #1012
Merged. Next step is to try removing `osx-whitelist` and adjusting [`travis-run.sh`](https://github.com/bioconda/bioconda-recipes/blob/master/scripts/travis-run.sh#L13), is that correct?

@bioconda/all, please see #1081 for notes on the intended changes with respect to OSX builds.

[2016-03-18 19:04] bgruening commented on #1012
@daler I have a few more chunks like this one. After this I would like to remove the osx-whitelist and adjust the travis-run.sh yes. If you want to do this feel free to do so :)

[2016-03-19 00:51] johanneskoester commented on #1065
Thanks a lot Phil! I have added the logo to the homepage. I'll change the colors to match those you chose soon.

[2016-03-19 02:16] kyleabeauchamp commented on #1012
I noticed that samtools was previously on the whitelist, but now has a whitelist section in its yaml file.  I think this is either a bug, or we're temporarily in an "intermediate state".

[2016-03-19 02:17] kyleabeauchamp commented on #1012
Meant to say "skip", not whitelist.

[2016-03-19 18:26] daler commented on #1012
@kyleabeauchamp I think intermediate state, but certainly a bug as it stands.

@bgruening, I may have misunderstood. I thought the goal was to add `skip: True` to packages that were NOT on the original `osx-whitelist`. It looks like in some cases the opposite happened. The following uses a version of osx-whitelist that is before the first kill-osx-whitelist merge and checks against recipes that ha

[2016-03-19 23:36] bgruening commented on #1015
@johanneskoester you can change tags and releases in github as you want. I would discourage the use of git_url because we can not easily fetch this. Instead you could provide a `url:` to a github release. This has the advantage of both cases. We can have a github release and we can download the tarball and store if on the Galaxy server.

Just to give a little bit more motivation. This one is curre

[2016-03-20 10:06] ewels commented on #1065
Great! Looks really nice :) I like the monochrome on the blue background actually - maybe the colour version could go at the top of the homepage or something?

[2016-03-20 15:15] johanneskoester commented on #1015
Sounds like a good plan! What I meant is that I don't think people will accidentally delete git tags or github releases. But I agree, since there is the possibility to delete them, we should not rely on it.

[2016-03-20 17:30] johanneskoester commented on #1012
Indeed, the logic should be inverted I guess.

[2016-03-20 18:26] bgruening commented on #1012
Kind of bug and intermediate state. I'm was side tracked with wanted to much at once and got stuck with broken links :(
I will have a final fix hopefully in a few hours, which reverts the wrong annotations.

[2016-03-20 21:30] bgruening commented on #1012
@daler @johanneskoester @kyleabeauchamp I would appreciate a review: https://github.com/bioconda/bioconda-recipes/pull/1105

Thanks a lot!
Bjoern

[2016-03-21 11:55] tiagoantao opened #1106 "ddocent downgrades a few critical packages"
ddocent requires the installation of old versions of a few packages:
bedtools
samtools
vcftools

I volunteer to upgrade this

[2016-03-21 11:55] tiagoantao commented on #1106
ping @bgruening @yvanlebras

[2016-03-21 11:56] tiagoantao commented on #1106
Is it OK to upgrade?

[2016-03-21 11:58] bgruening commented on #1106
I think it is. Please create a subfolder (version as name) under the main folder.

[2016-03-21 12:00] tiagoantao commented on #1106
But the version will be the same, I believe, than the standard one...

[2016-03-21 12:03] bgruening commented on #1106
Ah you mean the old bedtools version is already in bioconda, but the ddocent release installs a newer one?
Than a ddocent update is enough. You can use the `package match specification`: http://conda.pydata.org/docs/spec.html#build-version-spec

Please also increase the build number and maybe add a new test that makes sure a bedtools based feature is used.

[2016-03-21 13:10] tiagoantao commented on #1106
This seems to be a requirement of dDocent, unfortunately. Closing. Apologies for making you lose time.

[2016-03-21 13:10] #1106 closed

[2016-03-21 13:32] #1012 closed

[2016-03-21 17:06] johanneskoester opened #1113 "Recipes that need to be fixed because they violate FHS or flood the environment with unnecessary files."
This is a (growing) list of recipes that need to be fixed because they either won't work this way or could cause conflicts or just flood PATH.
- [rnastructure](https://github.com/bioconda/bioconda-recipes/blob/cedfd52d1790d397405419a82493f6d62b238244/recipes/rnastructure/5.7/build.sh) need a more reasonable executable name than `exe`
- [collectl](https://github.com/bioconda/bioconda-recipes/blob/4

[2016-03-22 09:49] sghignone opened #1118 "raxml version: 7.3.0"
Qiime 1.9.1, as evidenced by qiime-deploy configuration file (https://github.com/qiime/qiime-deploy-conf/blob/master/qiime-1.9.1/qiime.conf), still requires the  version: 7.3.0 of RAXML.
Raxml is already in bio-conda, as version 8.2.4.
Is it possible to add also the older version?

Thanks

[2016-03-22 17:33] colinbrislawn commented on #1118
Oh that's a great question. Can a bioconda dev tell us more about how to support older versions? I know legacy packages are needed for `biom-format`, `fasttree`, and others.

[2016-03-22 17:38] daler commented on #1118
Sure, see the last section of the [guidelines](https://github.com/bioconda/bioconda-recipes/blob/master/GUIDELINES.md#versions).

[2016-03-22 22:37] kyleabeauchamp commented on #126
FWIW, I noticed that my previous collaborators use a version of the holy build box that has been extended to include CUDA, OPENCL, and TexLive:

https://github.com/omnia-md/omnia-build-box/blob/master/Dockerfile

Could be useful if we do decided to go the holy build box route.  In particular I'm pretty sure CUDA cannot be installed in userspace, so this would be the only way to support it.

[2016-03-22 23:04] sghignone commented on #1118
For example, also INFERNAL (https://anaconda.org/bioconda/infernal/files) and MUSCLE (https://anaconda.org/bioconda/muscle/files) have different versions available, and the older ones are required by qiime 1.9.1

[2016-03-23 10:58] jma1991 opened #1121 "bowtie2 wrong installation directory"
The latest version of bowtie2 in the bioconda repository gets installed into the root folder of my anaconda installation. When I try with other packages, such as bowtie and bedtools they get placed into my bin folder.

[2016-03-23 14:02] abretaud commented on #1
Hi,
Can you add me to the bioconda team please?
I will be working on bioconda packages for galaxy

[2016-03-23 17:04] johanneskoester commented on #1
Sure, welcome!

[2016-03-23 17:16] johanneskoester commented on #1121
Indeed, there have been a few recipes containing this error. This will be fixed with PR #1111.

[2016-03-24 07:16] abretaud commented on #1
Thanks! but, hum, I did not receive an invitation, is it normal?
By the way, I just created an anaconda.org account too

[2016-03-24 07:17] abretaud commented on #1
Oops, nevermind! I had just missed the email sorry

[2016-03-25 16:52] tiagoantao commented on #1118
I actually did 8.2.4 for raxml. I can do 7.3.0 if no one is working on this. Please drop me an email in the next 48 hours if you are working on this, if not I will start on Monday

[2016-03-25 16:55] tiagoantao opened #1145 "Using other channels"
I am afraid of the answer to this, but I have to ask:

Due to the way anaconda works, we can only use packages from bioconda and r channels right? I would like to add some dependencies related to geo-localization that are on the osgeo channel. I suppose I have to copy package definitions across?

[2016-03-25 17:31] johanneskoester commented on #1145
This is a very important question. Sure including them into bioconda would be one possibility. For a single package, this might be ok, but with many non-bio package, we might add too much of a maintenance burden for us.

Regarding depending on another external channel:
The osgeo description does not sound very compatible with bioconda, e.g.

Another possibility would be to depend on the rios chann

[2016-03-25 17:35] tiagoantao commented on #1145
Thanks. Unfortunately the package that I am interested in is not on rios, (gdal). But I will make sure I will not be introducing conflicts with the official channels (last resort I will do a non-conflicting package).
I will add extra -> channels to meta.yaml.
Do you think it would be worth putting a note about this on the development docs?

[2016-03-25 18:08] colinbrislawn commented on #1118
Oh thanks @tiagoantao. I don't think anyone has taken it, and we would really appreciate this package.

[2016-03-25 18:35] tiagoantao commented on #1145
@johanneskoester Just a question: putting the channels on extra will fail travis, right?

[2016-03-25 19:16] johanneskoester commented on #1145
Yes, this should be in the docs. Why should it fail travis? Conda itself is ignoring the extra section.

[2016-03-25 19:17] johanneskoester commented on #1145
Oh yes, now I understand. Of course your package cannot build. We would need to add osgeo to the channels... But we can't since it might overwrite packages from the default channel.

[2016-03-25 19:18] johanneskoester commented on #1145
In that case, I would really say that you should move the necessary packages over to bioconda.

[2016-03-25 19:19] johanneskoester commented on #1145
If we would already use the anaconda build system, you could specify the channels in ``.binstar.yaml`` I think.

[2016-03-27 09:53] jerowe commented on #1
Hi there. Could I be added to the team? I install bioinformatics software on an HPC cluster (by day hahaha), and bioconda has been a very useful resource. There are definetely some packages I'd like to add!

[2016-03-28 13:41] johanneskoester commented on #1
Welcome! I'm glad to hear that Bioconda is picked up by people with admin rights as well. Actually, you might be a pioneer, and I would be glad to hear about your experience with handling multi-user conda installations.

[2016-03-28 15:27] tiagoantao commented on #1118
This is now committed. I am closing this issue. If there are any problems please open a new issue **and ping me**

[2016-03-28 15:27] #1118 closed

[2016-03-28 15:31] tiagoantao commented on #1145
Would there be a way to configure travis to do a channel configuration _per package test_ (thus avoiding bringing unwanted clutter for packages that do not need it)? Say by importing a local binstar.yaml.
The same to docker?

I would avoid importing packages, or we will end up with a lot of clutter. But I would do that if there are no alternatives...

Pinging @bgruening as he might have a opinion

[2016-03-28 15:55] johanneskoester commented on #1145
I we want to go that direction, I guess it would be a good idea if we can get the anaconda build service to work as a replacement of our travis setup. Apart from per-package channel specs, it allows us to get rid of quite some custom code on our side.

[2016-03-28 15:56] johanneskoester commented on #1145
Apart from that, I still like the idea of Bioconda being as self-contained as possible, because it allows us to ensure consistency and policies.

[2016-03-28 16:04] tiagoantao commented on #1145
OK. In the short term I will import all packages needed for flightr to work.

But it might be interesting, in the long term, to have that bioconda build service

[2016-03-28 22:11] bgruening commented on #1145
@tiagoantao very interesting question that also popped up here: https://github.com/bioconda/bioconda-recipes/pull/1101

I tried to combine both channels during the last days and found many problems if you activate multiple channels by default for all packages. I'm more and more in favour of joining all repos to one giant, continuum supported channel and have a procedure to move packages into the m

[2016-03-28 22:19] jxtx commented on #1
I've been working on some packages and @bgruening pointed me here.

[2016-03-29 13:28] johanneskoester commented on #1
Welcome!

[2016-03-30 07:32] endrebak opened #1161 "csaw recipe gives `Error: Dependencies missing in current linux-64 channels`"
I have done the following to install csaw:

[code]

I have tried this for both `conda2` and `conda3` and on OS X (no recipe for csaw there).

This gives the error message I have appended at the very end of this post, the main error is that

[code]

The thing is, by manually installing the requirements, I am getting fewer complaints when trying to install `csaw`.

After running these commands

[cod

[2016-03-30 07:43] endrebak commented on #1161
After installing the missing dependencies I get

[code]

So I am guessing the libraries are missing from this recipe:

https://github.com/bioconda/bioconda-recipes/blob/master/recipes/bioconductor-csaw/meta.yaml

Is the fix to add the missing libs like so:

[code]
?

[2016-03-30 14:58] johanneskoester commented on #1161
In your initial command:
[code]

You add the bioconda channel but not the r channel. When you install csaw, you don't specify the r channel as a temporary channel to use, hence, conda cannot find r-dbi.
The correct way would be

[code]

Does that work for you?

[2016-03-30 18:32] endrebak commented on #1161
I'll try that the next time, thanks!

[2016-03-30 18:32] #1161 closed

[2016-04-01 10:00] bebatut commented on #1
Hi
I am working on some packages. Coud I be added to the team? Thanks

[2016-04-01 14:15] bebatut opened #1175 "hg not installed"
Hi,

I have a package (`export2graphlan`) with  `meta.yaml`
[code]

When I run `docker run -v `pwd`:/bioconda-recipes bioconda/bioconda-builder --packages export2graphlan`, I get `Error: hg not installed`
Does this issue may come from the `Dockerfile` with non installation of `mercurial`?

Bérénice

[2016-04-01 15:40] acaprez commented on #1175
Doesn't look like it's in the Docker image, no.  Mercurial is available in the default channel though, so I think if you add it in as a build requirement it will work then.

[2016-04-01 16:17] bebatut commented on #1175
@acaprez It works :) Thanks !!!

[2016-04-01 16:49] bgruening commented on #1175
@bebatut can I recommend to use a downloadable URL and remove all the hg_url stuff?
Also using tip as a version is not reproducible and will result in new content every time you rebuild it.

This is a downloadable URL to current tip: https://bitbucket.org/CibioCM/export2graphlan/get/d6c10c11ed4c.tar.gz

[2016-04-01 16:57] bebatut commented on #1175
@bgruening I know it is better by downloading. But there is some mercurial submodules that are not downloaded using URL. And I did not find a better way than `hg_url` with a fixed `hg_tag`.
Do you have any suggestion to deal with submodules?

[2016-04-01 16:58] bgruening commented on #1175
Can you download it and submit it cargo-port? I know it is complicated ... feel free to leave it this way.

[2016-04-01 16:59] bebatut commented on #1175
I think I don't see what you mean. What is cargo-port?

[2016-04-01 17:02] bgruening commented on #1175
Oh sorry, this one: https://github.com/galaxyproject/cargo-port
You need to create your tarball store it somewhere and convince cargo-port to download it and store it forever.

[2016-04-01 17:51] acaprez commented on #1175
It looks like `tip` currently points to the `67:d6c10c11ed4c` changeset.  What about changing `hg_tag` to that instead?  That should ensure a reproducible build even if `tip` is updated to point at later changesets.

[2016-04-01 20:22] bebatut commented on #1175
@bgruening interesting! I will look at that after my holidays
@acaprez it seems an interesting solution also. Thanks

[2016-04-02 20:01] tiagoantao commented on #1145
I am going to close this issue to avoid "polluting" the open issues list. I will import the relevant gdal packages that I need for now.

Something to keep in mind, though...

[2016-04-02 20:01] #1145 closed

[2016-04-04 10:57] yhoogstrate commented on #1
Could I be added to the team?

[2016-04-04 11:23] johanneskoester commented on #1
Sure, welcome you two! @yhoogstrate can you give us your full name for the dev list on the homepage?

[2016-04-04 12:02] johanneskoester commented on #1175
Also, there is a version defined in the python script. Although they don't really seem to provide releases, I suggest to set the package version to the one defined in the Python script.

[2016-04-04 14:37] remimarenco commented on #1
Hi, please add me too! :D

[2016-04-04 14:37] nitesh1989 commented on #1
Could I join the team?

[2016-04-04 14:41] blankenberg commented on #1
Hello! I would like to join as well.

[2016-04-04 14:55] shiltemann commented on #1
I'd like to join too :)

[2016-04-04 15:38] johanneskoester commented on #1
Wow, what happened :-)? Welcome guys!

[2016-04-04 15:39] remimarenco commented on #1
(Hackathon on BioConda / Galaxy ;) )

[2016-04-04 15:40] johanneskoester commented on #1
I see, great!

[2016-04-06 15:07] TomSmithCGAT commented on #1
Hi. Could I join please!

[2016-04-06 15:14] johanneskoester commented on #1
Welcome!

[2016-04-07 20:29] drramki-chop opened #1243 "cannot compile xhmm"
Cannot compile xhmm (https://bitbucket.org/statgen/xhmm/overview) as it fails with not finding libblas. I have tried openblas and atlas recipes but it doesn't help (and tried with a modified makefile as well).

[2016-04-08 14:56] johanneskoester opened #1247 "Packaging GATK-protected"
I just had a look at this repository:
https://github.com/broadgsa/gatk-protected/

These seem to be the official sources of GATK including the non-commercial licensed parts (e.g. the callers I think). We have other non-commercial license software in bioconda. Hence, my question is, can't we package this as well? Both the anaconda page and the bioconda homepage will clearly state that this is non-c

[2016-04-08 15:01] johanneskoester commented on #1247
Looking into the license, this passage might be problematic:

[2016-04-08 15:24] kyleabeauchamp commented on #1247
That is pretty clearly a no-go IMHO.  Furthermore, even in the absence of such a clause, I don't think it's safe to assume that you have "redistribution" rights for binaries.

[2016-04-08 15:27] kyleabeauchamp commented on #1247
For example, all of the latest UCSC tools.

[2016-04-08 15:36] kyleabeauchamp commented on #1247
Also regarding ucsc, we should stop using varies in license field.
On Apr 8, 2016 8:01 AM, "Johannes Köster" <notifications@github.com> wrote:

[2016-04-08 15:37] chapmanb commented on #1247
You aren't allowed to re-distribute GATK, unfortunately. This has been the source of a lot of effort on building workarounds in bcbio. I'm having a conversation with the Broad team about allowing it in docker, but it's not yet clear if it will be possible. I'll ask their thoughts on bioconda as part of this conversation.

[2016-04-08 17:30] jfear commented on #1
I would like to join. Thanks!

[2016-04-08 19:22] tiagoantao opened #1254 "mummerplot does not work out of the box"
The subject is mostly self-explanatory, mummerplot does not seem to work out of the box. My user is getting:

[code]

[2016-04-08 19:23] tiagoantao commented on #1254
ping @tomkinsc

[2016-04-08 19:53] johanneskoester commented on #1
Welcome!

[2016-04-08 19:56] johanneskoester commented on #1247
Great, thanks Brad!
@kyleabeauchamp we are building ucsc packages from source, right? Does that also have these problems?

[2016-04-08 20:09] kyleabeauchamp commented on #1247
AFAIK yes.  Here is the license info:

http://genome.ucsc.edu/license/

It's noncommerical, so we at the very least need each yaml file to say that this component has a non-commericial license.  It's not clear to me that you are allowed to redistribute without their permission, even for academics.

[2016-04-08 20:09] tomkinsc commented on #1254
What OS are you running this under, and what version of perl (`perl -v`)?

[2016-04-08 20:22] tiagoantao commented on #1254
Linux, perl 5.22 (The one made available on bioconda)

[code]

[2016-04-08 21:00] johanneskoester commented on #1247
Well, the source code and binaries are freely available for academic use. Question is if redistribution via bioconda and installation by academic users can be seen as academic use. At least they don't disallow redistribution.

[2016-04-08 21:02] johanneskoester commented on #1243
Are you referring to a particular recipe?

[2016-04-08 21:12] kyleabeauchamp commented on #1247
At the very least, we need to fix the license section in the yaml files.

[2016-04-08 21:16] johanneskoester commented on #1247
Yes indeed. We should provide a license file and specify the license as "Custom". @yhoogstrate, you are currently working on ucsc recipes. Are you interested in changing the script accordingly? We could help with the details.

[2016-04-08 22:17] hainm commented on #1
I would like to join too. thanks.

[2016-04-08 22:29] jxtx commented on #1247
I do not think this is entirely accurate. Most of the code is under a
permissive license, "free for all use public private or commercial"

  https://github.com/ENCODE-DCC/kentUtils/blob/master/src/lib/README

The Genome Browser itself and Blat are under a different license which does
not allow commercial use without permission.

On Fri, Apr 8, 2016 at 4:09 PM Kyle Beauchamp <notifications@github.c

[2016-04-08 22:32] kyleabeauchamp commented on #1
+1 for adding @hainm

[2016-04-09 01:39] drramki-chop commented on #1243
I am trying to create a recipe for the CNV tool xhmm and one of the failing requirements is libblas.

[2016-04-11 12:29] #1005 closed

[2016-04-11 14:29] burkesquires opened #1266 "poretools not installing"
When I try to install poretools I get the following error:

[ squiresrb L01891689  ~ ]$ conda install poretools
Using Anaconda Cloud api site https://api.anaconda.org
Fetching package metadata: ........
Solving package specifications: .
Error:  Package missing in current osx-64 channels:
  - poretools

Did you mean one of these?

    r-devtools, pybedtools, dreamtools

You can search for this pack

[2016-04-11 14:30] burkesquires opened #1267 "pomegranate not installing"
When I try to run the pomegranate install I get the following error:

[ squiresrb L01891689  ~ ]$ conda install pomegranate
Using Anaconda Cloud api site https://api.anaconda.org
Fetching package metadata: ........
Solving package specifications: .
Error:  Package missing in current osx-64 channels:
  - pomegranate

You can search for this package on anaconda.org with

    anaconda search -t conda

[2016-04-11 14:36] johanneskoester commented on #1267
Hi, pomegranate is currently only build for linux-64, sorry. @druvus are the specific reasons for not building on osx did we just not try it so far?

Best,
Johannes

[2016-04-11 14:37] burkesquires commented on #1267
Thanks Johannes

[2016-04-11 14:39] johanneskoester commented on #1266
Same story, not build for osx so far. @emilhaegglund did we try to build on osx?

To clarify @burkesquires: bioconda switched building policies recently. Previously, we build linux-64 only per default. Now, we also build on osx per default, and the developer has to explicitly disable this if it does not work. However, most of the recipes are from before the change. Hence an osx build often has not

[2016-04-11 14:39] daler commented on #1266
Hi Burke -
poretools is currently not built for OSX, likely due to the problems with HDF5 libraries (see #476) that still need to be resolved. It may be that recent versions of conda have fixed the problem, so I'll give #476 another shot.

[2016-04-11 14:46] burkesquires commented on #1266
Thanks Johannes and Ryan! I am just excited to see something like bioconda exist! Keep up the great work!

[2016-04-11 14:46] #1266 closed

[2016-04-11 16:54] xguse commented on #1247
So I am gearing up to use GATK a lot and would REALLY like it to be as easy as including it in a requirements.txt file in my snakemake pipeline folder so it can be as portable as possible (at least across systems that I have user privileges on).

So I began writing a recipe that would source a local copy of `GenomeAnalysisTK-3.5.tar.bz2` and build a conda pkg that I could install easily. I was bas

[2016-04-11 17:23] druvus commented on #1267
No specific reason but it should work. I will try to fix it now by #1270

[2016-04-11 18:22] #1267 closed

[2016-04-11 18:23] burkesquires commented on #1267
That fixed it! Thanks!

[2016-04-11 18:58] gregvonkuster commented on #1
I would like to join.  Thanks!

[2016-04-11 19:38] johanneskoester opened #1275 "Move builds to anaconda.org/protoci"
The conda-recipes channel uses ProtoCI to build the whole repository (see the [corresponding setup](https://github.com/conda/conda-recipes/blob/master/.binstar.yml)), including topological sorting of the recipes. This is very much what we do here, just directly on anaconda.org instead of TravisCI. I think we want to try this, because we won't run into time limit issues any more. Also, anaconda.org

[2016-04-11 20:11] johanneskoester commented on #1
Welcome you two!

[2016-04-11 20:33] johanneskoester commented on #1247
@xguse I have also thought about some in this direction. What about the following: we add a recipe that installs

* a wrapper script ``gatk`` that basically invokes java with the GATK jar file and forwards all additional arguments.
* a script ``gatk-register`` that takes a GATK tarball and installs it into ``$PREFIX/usr/share/gatk``.

The workflow for the user would be
[code]

If ``gatk`` is calle

[2016-04-11 20:34] hainm commented on #1
thanks. Hai.

[2016-04-11 21:11] xguse commented on #1247
I actually like that MUCH better. It is cleaner and doesn't make folks have to download the bioconda repo, change a recipe meta.yaml tag from True to False, build the bloody recipe and THEN install it.

One problem I see though, is that without tying the GATK version number to the build itself, I don't know how we enforce which GATK jar version they supply to the register script.  I suppose the re

[2016-04-11 21:22] johanneskoester commented on #1247
Yes, the register script should do the check, and we build the script dynamically with the version of the recipe.

[2016-04-11 21:32] johanneskoester commented on #1243
Can you create a PR? This makes it easier for us to find the problem, because we see your code.

[2016-04-12 18:41] eggzilla commented on #1
Hi, I would like to request commit-access.
Thanks :-)

[2016-04-12 19:06] s-will commented on #1
Hi, I would like to join the team. Many thanks!

[2016-04-13 17:55] johanneskoester commented on #1
Welcome, guys!

[2016-04-13 18:01] hainm opened #1305 "protein viwer in Jupyter notebook"
What do all of you think if I make a PR for a protein viewer in Jupyter notebook?

https://github.com/arose/nglview

Since bioconda focus on bioinformatics tool, I am not sure if this is suitable. I am use it (nglview) for viewing trajectory from MD simulation.

[2016-04-13 18:02] eggzilla commented on #1
Thank you :-)

[2016-04-13 19:50] arahuja opened #1309 "star fusion not found"
Just started using `bioconda`, so perhaps there issues with my environment.

I am able to `conda install bwa`, `conda install star`, but `conda install star-fusion` says

[code]

[2016-04-13 20:18] wasade opened #1310 "biom-format and Python 3 support"
biom-format 2.1.5 supports Python 3.4 and 3.5, but the py3 builds are not available within bioconda. I suspect this is because the dependency stack for py3 differs. Notably, the Python 2 package `pyqi` is not part of the biom-format py3 build. Is it possible to specify Python version specific dependencies? I apologize if this is a trivial thing, I'm not very familiar with what can be done in `meta

[2016-04-13 20:26] johanneskoester commented on #1310
Thanks for reporting! Indeed, it is possible to specify dependencies for python3 that differ from python2. @bgruening any interest/time in taking this over, since you posted the package? We should add to our guidelines that Python 3 versions should be generated if possible. I don't want bioconda to slow down this **much** needed transition.

[2016-04-13 20:35] wasade commented on #1310
Ah, fantastic!

@bgruening, I'd be glad to help if needed.

[2016-04-13 20:43] bgruening commented on #1310
@wasade sure. Any other difference between the py2k and py3k builds besides pyqi?

[2016-04-13 20:45] wasade commented on #1310
Shouldn't be. We do docs via Sphinx off the 2.7 build, but that isn't pertinent here afaik. Travis config [here](https://github.com/biocore/biom-format/blob/master/.travis.yml).

[2016-04-13 21:08] yesimon commented on #1
Hi all, I'd like to join formally to make assigning issues easier 😛

[2016-04-13 21:16] yesimon opened #1312 "Trinity package issues"
@tomkinsc We have an older version of trinity - 2011_11_26, which I believe is overriding the default latest versions in the 2.* series based on trinity version numbering. We need to figure out a new numbering for one-offs, perhaps something like `date.2011.11.26`, which should work nicely without resorting to an epoch change.

Secondly I believe the OS X version of trinity in the `2.*` series is

[2016-04-13 21:25] bgruening commented on #1310
@wasade have a look at this PR: https://github.com/bioconda/bioconda-recipes/pull/1313

[2016-04-13 21:37] yesimon opened #1314 "OS X stdlib future direction and conda-recipes compatibility for C++ packages"
**Warning: Only relevant to C++ packages**

I talked about this briefly in #393, and have a fuller picture of OS X build environment in conda/conda-recipes#505.

They are linking against libstdc++ and setting a minimum OS X version of 10.7. Meanwhile, the homebrew package manager is linking against libc++ and requiring minimum OS X 10.9. I think that keeping in sync with conda-recipes might be pro

[2016-04-13 21:55] bgruening commented on #1310
Done!

[2016-04-13 21:55] #1310 closed

[2016-04-13 22:04] tomkinsc commented on #1312
The "`date.`" prefix sounds good, and the ordering checks out OK via [conda/conda/version.py](https://github.com/conda/conda/blob/master/conda/version.py). It's in PR #1315.

w/r/t the `2.*` version on OSX: builds for OSX are currently skipped. If you can alter the current recipe to add your clang-only build for OSX, it would be better than having no Mac builds. If we can preserve the current linu

[2016-04-13 22:06] wasade commented on #1310
Thanks!!

On Wed, Apr 13, 2016 at 2:55 PM, Björn Grüning <notifications@github.com>
wrote:

[2016-04-13 22:19] johanneskoester commented on #1305
Sure, go ahead, that's fine!

[2016-04-13 22:19] #1305 closed

[2016-04-13 22:32] hainm commented on #1305
cool. thanks.

[2016-04-14 07:33] abretaud commented on #1312
It looks good! I don't have an OSX machine to test, so I totally trust you!

[2016-04-15 22:07] johanneskoester commented on #1
Glad to have you in the team!

[2016-04-15 23:19] acaprez opened #1332 "Using llvm in OSX builds"
I'm trying to understand the motivation for specifying `llvm` as opposed to `gcc` for OS X builds.  Best I can tell, the conda `llvm` package doesn't include the clang compiler.  It's just the Core part of llvm with the library and utilities.  So when you specify `llvm`, what will really get used is the Xcode-provided clang (and llvm) that is symlinked to `/usr/bin/gcc`.  I'm just curious if that

[2016-04-18 04:18] yesimon commented on #1332
It does look like a mistake, and should be removed.

I think it's yet to be decided whether we are using clang or gcc for OS X builds in the future. One thing to note is that conda-recipes uses clang which would be my vote.

[2016-04-20 10:03] johanneskoester commented on #1332
Thanks for pointing this out. Indeed, the intention was to follow anaconda.org and conda-recipes and build using clang on osx. However, I am personally also fine with using the real gcc on osx, if that does not introduce incompatibilities with anaconda.org or conda-recipes.

[2016-04-20 10:03] johanneskoester commented on #1332
@bioconda/core we should collect some opinions and decide how to proceed.

[2016-04-20 10:09] johanneskoester commented on #1314
I would like to delay changes to the minimum dependencies as long as possible. I have seen many old osx installations on peoples desktops. Especially if bioconda shall be used by non-experts, requiring an os update for installing a package is a big hurdle. Maybe we should use this thread to collect a list of packages that won't build on the old setup. If that list contains enough important package

[2016-04-20 10:36] croth1 commented on #1332
I think it may make sense to check the policies of the conda-forge community project and see if their recipe format fits for us as well.

[2016-04-20 11:06] dakl opened #1349 "variant-effect-predictor recipe renames scripts"
`variant-effect-predictor` renames `INSTALL.pl` --> `vep_install.pl` which is reasonable. It also renames `convert_cache.pl` to `vep_convert_cache.pl` which causes `vep_install.pl` to fail when the `--CONVERT` flag is added to is since it looks for `convert_cache.pl`.

[code]

Does `convert_cache.pl` really have to be renamed?

[2016-04-20 18:09] yesimon commented on #1332
I think we should use built-in clang and default travis OS X setup for max compatibility with `conda-recipes` and `conda-forge`.

I was thinking it could be a good idea to provide an alternative channel such as `bioconda-gcc-osx` for gcc builds on OS X.

[2016-04-20 18:12] yesimon commented on #1314
Let's maintain max compatibility with and closely follow `conda-recipes`.

Similarly to #1332, I would strongly support a separate channel for newer OS X supporting 10.9 (what's available on travis)., `libc`, and newer C++ features because there are already some cases where `libstdc++` is not new enough.

[2016-04-20 19:15] tomkinsc commented on #1254
This probably a matter of patching to remove "defined" from the conditionals on the following lines, and pinning Perl to v5.22.

[code]

Can someone with more Perl experience weigh in?

[2016-04-20 19:38] lpantano opened #1356 "big files in recipes"
Hi,

I am getting this warning:

[code]

Do we want to add big files in the recipes?

[2016-04-21 08:02] johanneskoester commented on #1314
Having a separate channel is problematic. I believe our funding from Continuum is only for the primary bioconda channel. I wonder if there is a way to have such packages in the main channel, and have them automatically selected if a newer osx is available... We could use the "feature" functionality for that, similar to the mkl builds of numpy in the main channel.

[2016-04-21 16:42] pvanheus opened #1365 "mothur 1.36.1 boost library incompatibility"
The default version of mothur installed from the bioconda channel is 1.36.1. This installs boost 1.60.0 as a dependency but when run you get:

mothur: error while loading shared libraries: libboost_iostreams.so.1.57.0: cannot open shared object file: No such file or directory

[2016-04-21 17:35] chapmanb commented on #1356
+1 It would be great to avoid these huge files within the git repo. The git clone is currently pretty heavy.

[2016-04-21 17:35] shiltemann commented on #1365
hmm, which build number are you pulling? I encountered the same problem, but this should have been fixed in build 1 (see #1203) by pinning the boost dependency version to the one used at build-time (in the way of #1207)

[2016-04-21 17:36] kyleabeauchamp commented on #1356
Github large file storage is an option.  In the past, I've also used figshare to get DOI-numbered (e.g. citable) dataset storage.  See e.g. https://github.com/msmbuilder/msmbuilder/blob/master/msmbuilder/example_datasets/alanine_dipeptide.py

[2016-04-21 17:45] shiltemann commented on #1365
hmm, seems build 1 is not yet available in the bioconda channel?

@bgruening @johanneskoester ..did something go wrong here?

[2016-04-21 18:30] simonvh commented on #1
Thanks for all the good work on bioconda, I have to say the experience so far has been excellent. Could you add me to the team, so adding (and updating!) packages is less of a burden on you? ;)

[2016-04-21 18:45] yhoogstrate commented on #1365
How it worked for me: `conda install mothur boost=1.57.0` or `conda create -n mothur mothur boost=1.57.0`

[2016-04-21 18:54] yhoogstrate commented on #1309
It looks like this was done on purpose (https://github.com/bioconda/bioconda-recipes/commit/72f83c9ca571560cc1ab318e8dbe6b03d08c49f5#diff-c3003e41a4de2456cc63ab98ab2932d0R7). @bgruening any thoughts?

@arahuja Could you clone the repo, remove the line, and try to build the package and see if this works out for you? It's explained over here [ https://github.com/bioconda/bioconda-recipes#step-2-test

[2016-04-21 21:36] johanneskoester commented on #1365
Sure, manually specifying the version will always work. I will investigate the issue ASAP. It looks like the building works, but the package is not uploaded properly...

[2016-04-21 21:52] johanneskoester commented on #1
Glad to hear that! Welcome!

[2016-04-22 14:07] daler commented on #1356
Looking at the `group_humann2_uniref_abundances_to_go` [`meta.yaml`](https://github.com/bioconda/bioconda-recipes/blob/c4410c5ad3055010e7a572c6421608e4deb6fe3d/recipes/group_humann2_uniref_abundances_to_go/meta.yaml) file, the 111MB of files in question come from the downloaded github release. Then they are used for testing correctness of the `group_humann2_uniref_abundances_to_GO.sh` script in th

[2016-04-22 14:33] bebatut commented on #1356
My bad, I did not see the warning
I will remove the `test-data`

[2016-04-22 14:49] ernfrid opened #1372 "Replacing/updating hall-lab-svtools"
I've been significantly updating the hall-lab svtools suite and am narrowing in on a release. I was thrilled to see that there is already a bioconda recipe for an earlier version and would like to make a conda recipe for the new version.

I had a question though, the bioconda recipe is for hall-lab-svtools. The package itself is called svtools and I've uploaded it to pip under that name. Is it pos

[2016-04-22 16:23] #1356 closed

[2016-04-22 16:24] daler commented on #1356
Great, thanks!

[2016-04-22 20:19] bgruening commented on #1372
I would keep the old version and add a comment to the yaml that this one is deprecated and replaced by the new one.

[2016-04-23 12:41] simonvh opened #1377 "samtools should depend on ncurses-5.9-4"
samtools-1.3-2 doesn't work with ncurses-5.9-0 from the defaults channel:

[code]

Installing ncurses-5.9-4 from the r channel will fix this issue.
Is it possible to have samtools depend on ncurses from the r channel?

[2016-04-23 15:39] kbchoi-jax commented on #1
I would like to the team. Thanks!

[2016-04-23 17:51] johanneskoester commented on #1365
Should be fixed now. The pinned version has been uploaded.

[2016-04-23 17:51] #1365 closed

[2016-04-23 17:53] johanneskoester commented on #1377
The r channel is specified as a dependency of bioconda on our homepage. We cannot guarantee that bioconda works without the r channel. Unfortunately, as far as I know there is no way to enforce a particular channel as a dependency, sorry.

[2016-04-23 17:54] johanneskoester commented on #1377
Feel free to reopen if you disagree or have a suggestion how to improve this.

[2016-04-23 17:57] johanneskoester commented on #1349
@chapmanb, I guess this is yours. In fact, I like the renaming. Can we easily fix the error, maybe by patching? Also, it would be nice mention the changed script names in `extra -> notes`.

[2016-04-23 17:59] johanneskoester commented on #1275
I have tested this approach, and I think it would not help us for now. Anaconda.org does not provide an osx worker, even for payed plans. We would have to host our own workers on EC2 for example. With the latest updates to our travis build scripts, we should be flexible enough for the near future.

[2016-04-23 17:59] #1275 closed

[2016-04-23 18:00] #1175 closed

[2016-04-23 18:05] johanneskoester commented on #1372
For me, it would be fine to remove the old recipe from the repository, and just keep the packages in the bioconda channel. This would further decrease the chance that people install the old one. @brainstorm this is your recipe, what do you think?

[2016-04-23 18:24] johanneskoester opened #1378 "Depending on a glibc package"
Hi @bioconda/core, there are a couple of glibc packages on different channels. My question to you: do you think depending on a glibc package would help to avoid the need to build on an old CentOS image?
This might also make us more flexible in case we run into a package that requires a newer version of glibc.

Do you think doing this would make the conda distribution fully self-contained?

[2016-04-23 18:29] kyleabeauchamp commented on #1378
I recall a horror story where I set my bashrc PATH and LD_LIBRARY_PATH to ignore the system glibc and use my user-space one.  I basically bricked my cluster login and had to have the sysadmin sudo rm the bashrc file from my home directory :)  Obviously conda is a bit smarter because it uses RPATH instead of setting LD_LIBRARY_PATHS.

My silly story aside, though, I think we should see what the con

[2016-04-23 18:37] johanneskoester commented on #1378
There is also an intermediate way I think. We can use an old glibc as a build dependency. This way, we get compatible builds even if the package is build on a newer system.

[2016-04-23 18:41] kyleabeauchamp commented on #1378
On a somewhat related note, my old colleague wrote a PEP (https://www.python.org/dev/peps/pep-0513/) that suggests that recommends using restricted subsets of GLIBC and building on older boxes.    Probably worth a read because it points the way that pip / wheel is headed.

[2016-04-23 18:50] simonvh commented on #1377
Sorry, reopening :). If the r channel is required anyway, could samtools then just not depend on ncurses-5.9-4? It's only present in the r channel, but that wouldn't hurt then, would it?

[2016-04-23 19:16] chapmanb commented on #1372
Dave;
Thanks for the work on svtools and updating the bioconda package. I'm the originator of the hall-lab-svtools name and was probably being over specific. Happy to call it whatever you prefer and agree with Johannes that we can rename the current one to svtools and then update. Thanks again.

[2016-04-23 19:19] chapmanb commented on #1378
I'm also nervous about this change as I don't have enough experience with glibc to know about the consequences. I liked the old approach as it was battle tested, and I'm on the side of if ain't broke don't fix it. If we had someone who was able to test packages on older CentOS 5 machines that would be helpful.

[2016-04-24 10:49] #1349 closed

[2016-04-24 10:50] chapmanb commented on #1349
Daniel -- thanks for the report and Johannes thanks for pinging me. I pushed a fix so `vep_install.pl` will call the renamed `vep_convert_cache.pl` correctly and added details on this to the notes as well as the post-link message scripts. Thanks again.

[2016-04-24 11:11] dakl commented on #1349
😃👍

[2016-04-24 12:02] brainstorm commented on #1372
@johanneskoester, IIRC the reason for the naming was to differentiate from the different forks and name collisions the tool was having at the time. It's totally ok with me to remove (rename) the old tool and upload the new one with `svtools` name, much better, IMHO. Thanks all!

[2016-04-24 15:17] johanneskoester commented on #1372
@ernfrid, looks like we have a decision here. Feel free to take over the existing recipe, rename it to svtools and update the version. Do you want me to add you as a bioconda member?

[2016-04-24 15:27] johanneskoester commented on #1377
You are actually right, the ncurses version used for building samtools should be pinned. Thanks for reopening.

[2016-04-24 15:33] johanneskoester commented on #1
Welcome!

[2016-04-25 08:49] bgruening commented on #1378
:+1: for "go with the flow". This idea seams very appealing to me but I also fear some unexpected consequences.

[2016-04-25 13:18] johanneskoester opened #1389 "1000 packages"
Dear @bioconda/all,
I just noticed that we recently reached 1000 packages! I want to thank all of you for the amazing work you have done to make this happen!

Please help me spreading the word by liking or retweeting (or however people call this) this tweet:
https://twitter.com/johanneskoester/status/724585414309326851

Thanks!
Johannes

[2016-04-25 13:39] bgruening commented on #1389
What a great community!

[2016-04-25 13:59] ernfrid commented on #1372
Got it! Thanks very much everybody. I really appreciate the guidance.

@johanneskoester - Definitely add me. That sounds great.

Just so you're all aware. I'm still waiting on some documentation before releasing so there may be a delay before you see a new recipe.

[2016-04-25 15:28] zachcp commented on #1389
thanks for spearheading this, Johannes.

[2016-04-25 21:12] yesimon commented on #1378
I wasn't able to get linuxbrew standalone to work with a built from source glibc after much effort on an older RHEL system, so I would strongly advise against it.

[2016-04-26 06:19] jfreimer opened #1393 "rseqc genebody coverage doesn't work"
rseqc installed via bioconda errors while running geneBody_coverage.py. It fails with the following error:

`[jfreimer@h1 scripts]$ geneBody_coverage.py
Traceback (most recent call last):
  File "/N/u/jfreimer/Mason/miniconda/bin/geneBody_coverage.py", line 4, in <module>
    import pkg_resources
  File "/N/u/jfreimer/Mason/miniconda/lib/python2.7/site-packages/distribute-0.6.10-py2.7.egg/pkg_reso

[2016-04-26 06:23] jfreimer commented on #1393
Requires the distribute package to be installed separately for it to work.

[2016-04-26 06:23] #1393 closed

[2016-04-26 07:04] johanneskoester opened #1395 "Issue with skip-existing and pinning"
Hi @bioconda/all,
I recently activated the pinning of certain dependencies (so far boost). While this is properly supported by conda, there seems to be a bug in the conda code that detects whether a package is already uploaded. Instead of being able to skip such packages, conda currently wants to rebuild them over and over.

I will look into this issue now and submit a PR to Continuum ASAP. Please

[2016-04-26 11:54] johanneskoester commented on #1395
Ok, I fixed the issue in our fork of conda-build. I modified our build scripts such that our fork is temporarily used. The changes are summarized in [this PR](https://github.com/conda/conda-build/pull/897). Let's hope they merge it soon.

Feel free to merge into master again :-)!

[2016-04-26 11:54] #1395 closed

[2016-04-27 09:12] johanneskoester commented on #1378
I see. Can you give us some details about the problems that occured?

[2016-04-27 12:04] HenningTimm commented on #1
Hi Johannes, I would like to join the team and put some time into this project. Thanks :)

[2016-04-27 12:09] johanneskoester commented on #1
I'm glad to hear that, Henning! Welcome!

[2016-04-27 16:41] snewhouse commented on #1
sign me up please.

[2016-04-28 03:55] yesimon commented on #1378
Here's one example Linuxbrew/linuxbrew#867, experienced through linuxbrew standalone, which builds a standalone glibc. Building glibc works, but things started breaking left and right - for example this mysterious segfault on tmux.

[2016-04-28 09:47] johanneskoester commented on #1
Welcome!

[2016-04-28 13:39] snewhouse commented on #1
great to be a part of this

---
Sent from on the move...
---
Stephen J Newhouse (PhD)
Senior Bioinformatician
NIHR Biomedical Research Centre for Mental Health
South London and Maudsley NHS Foundation Trust&
Institute of Psychiatry, Kings College London
Box P092
De Crespigny Park
London SE5 8AF
---
email : stephen.newhouse@kcl.ac.uk
email : stephen.j.newhouse@gmail.com
email : snewhouse@hotmail.co

[2016-04-29 10:29] ewels commented on #1
Hi there, would be great to be added to the team please..

Phil

[2016-04-29 18:02] johanneskoester commented on #1
Sure, welcome!

[2016-05-01 05:49] jerowe opened #1438 "Best practices for perl libraries with lots of dependencies?"
Are there any best practices for this kind of thing?

For instance, I see in the perl-bio-db-sam, the build script is a call to cpanm. That's peachy by me, but if you'd prefer I build skeleton's for each of the dependencies and a pull request for each I could do that too.

[2016-05-01 19:58] daler commented on #1438
I think a skeleton for each dependency would be preferable so that each can be installed separately if needed.

Luckily you don't have to submit a pull request for each -- the testing and building setup will handle multiple recipes at once.

[2016-05-01 20:04] daler commented on #597
I think everything here has been resolved in #1436, #1371 (thanks @johanneskoester for those elegant improvements!), and the last part in #1439

[2016-05-01 20:04] #597 closed

[2016-05-01 20:36] daler commented on #1389
The new `scripts/utils.py` makes it easy to do things like this:

[code]

After loading `dag.gml` into Gephi, scaling node labels by out-degree and running YifanHu layout followed by Label Adjust layout we get something like this. I was a little surprised by how depended-upon `pysam` is. `R` is in the `r` conda channel, otherwise I bet that would be the most-depended-on package.

![dag](https://cl

[2016-05-02 19:53] simonvh opened #1449 "bioconda-builder command line from the Dev Guide doesn't work as shown"
I'm not sure if it's me, but the following command from the Developer Guide doesn't work for me:

[code]

However, it does work like this:

[code]

Anything I miss here?

[2016-05-02 22:26] acaprez commented on #1449
Nope, I had the same issue.  It's because the docker instance starts with `/` as the current working directory, and the repo is mounted at `/bioconda-recipes` inside of it.  So you have to prepend `/bioconda-recipes` for the path to be correct.

[2016-05-03 06:33] jerowe commented on #1
I love this project so much. After a few weeks of getting up to speed on this and anaconda environments I've been able to hand this off to users with great feedback. I feel like using anaconda environments has so many payoffs compared to the usual modules on an HPC environment. About 90% of our analytics infrastructure is moving or has already been moved towards anaconda and bioconda. My time inst

[2016-05-03 09:38] johanneskoester commented on #1
I'm glad to hear that, Jillian! It's fantastic to see people using bioconda in a large scale!

[2016-05-03 11:31] johanneskoester commented on #1389
Very nice Ryan! Looking at utils.py lets me think we should move away from scripts and have a proper bioconda-utils package that offers build, test and e.g. the DAG drawing as subcommands. This would avoid code duplication as we have it now.

[2016-05-03 13:59] #1449 closed

[2016-05-03 14:00] daler commented on #1449
Thanks, I updated the README to fix this.

[2016-05-03 15:18] daler opened #1463 "A bioconda-utils module"
It would be nice to have a general `bioconda-utils` module where all the infrastructure code could live to avoid overlap. Perhaps this issue can be a place to pool ideas. Here's a start:

`bioconda-utils` as the main command-line interface

Replace the existing `build-packages.py` with `bioconda-utils build`

Add a `bioconda-utils test` for stuff in #1402

`bioconda-utils bioconductor` can replace

[2016-05-03 15:36] daler commented on #1389
Thanks, and I definitely agree on a bioconda-utils package. My next step was going to be refactoring build-packages.py to use utils.py to cut down on duplication (more on this over on #1463).

[2016-05-04 01:40] chapmanb commented on #1463
Ryan -- this sounds so great. Thanks for organizing all the scripts like this.

[2016-05-04 05:22] johanneskoester commented on #1463
Perfect, that's exactly what we need!

On May 4 2016, at 3:40 am, Brad Chapman &lt;notifications@github.com&gt;
wrote:

this.

You are receiving this because you are on a team that was mentioned.
Reply to this email directly or [view it on
GitHub](https://github.com/bioconda/bioconda-recipes/issues/1463#issuecomment-
216717834)![](https://github.com/notifications/beacon
/ABxcVkM1ZQTwF5OXyWWztPFGWG

[2016-05-06 06:15] johanneskoester commented on #1438
I agree. At some point, we could add recursive skeleton capabilities to bioconda-utils.

[2016-05-06 09:29] johanneskoester opened #1487 "Broken conda-build"
Dear @bioconda/core. I have recently merged a PR of Continuum into our conda-build fork. I trusted them, hence I merged without prior testing. Unfortunately, this broke our fork [see here](https://travis-ci.org/bioconda/bioconda-recipes/jobs/128226989). I am moving to a new apartment this weekend. If somebody needs a quick fix before I have internet again, please have a look at our fork and above

[2016-05-06 11:22] chapmanb commented on #1487
Johannes;
I think I've fixed the issues with this branch and things seems to be building. In addition to the immediate error with refactoring, I had to fix the recursive check in this branch that looks for meta.yaml files and fails on your directory structure since we have multiple of these when there are older recipe versions. I'm trying to get the builds re-run now -- they were running into time

[2016-05-06 12:58] chapmanb commented on #1487
Hi all -- I'm not sure if something else is broken from the merge as I'm geting timeouts on all of the builds:

https://travis-ci.org/bioconda/bioconda-recipes/builds/128226983

I'm not familiar enough with the build system to know the best way to debug and need to appeal for some help. Sorry not have this resolved on a first pass.

[2016-05-06 14:56] hardingnj commented on #1
Hi there,

I'd like to be added to the team please. Planning to fix the scikit-allel recipe and add simuPOP

[2016-05-06 18:24] daler commented on #1487
travis-ci is having issues with OSX builds today, and to rule out problems with linux and/or docker builds I forced building of a single recipe. [That worked](https://travis-ci.org/bioconda/bioconda-recipes/jobs/128312342).

Locally in a docker container, the build script seems to want to build a LOT of packages. It correctly skips a bunch, but not all, and it's not clear to me why it wants to bui

[2016-05-06 18:55] nsoranzo opened #1491 "idr MD5 mismatch"
From `recipes/idr/meta.yaml`:
[code]
but:
[code]

This is breaking Travis: https://travis-ci.org/bioconda/bioconda-recipes/jobs/128365991

Ping @nboley.

[2016-05-06 19:02] daler commented on #1491
This had passed the PR test, @nboley was a different version with the same filename uploaded between then and now?

To avoid holding everything else up I'm going to temporarily disable the IDR build.

[2016-05-06 19:05] daler commented on #1491
Note we're having other build issues as well (xref #1487). Pretty sure it's unrelated, but you never know . . .

[2016-05-06 19:49] nboley commented on #1491
I submitted a PR that fixes this.

[2016-05-06 20:00] daler commented on #1491
Yep, first PR was #1481 that bumped to 2.0.3; that passed. The second PR was #1485 that changed the filename to match that of the downloaded URL, that also passed and was merged.

However, upon merging #1485, when travis-ci tried to build it (the very same version that just passed!) it got an md5 mistmatch when downloading the file.

As @nsoranzo mentions, the yaml currently says this:

[code]

an

[2016-05-06 21:00] nboley commented on #1491
This is because I accidentally re-tagged a new patch as 2.0.3 rather than 2.0.4 (as I should have).

This is completely about me being stupid - not problem with github, travis, or the build system.

I'm really sorry for all of this confusion.

[2016-05-06 21:14] daler commented on #1491
Phew! Good to know. Once the file settles down, feel free to submit a PR to revert #1492.

[2016-05-06 21:22] nboley commented on #1491
Submitted and merged [#1495](https://github.com/bioconda/bioconda-recipes/pull/1495)

[2016-05-06 21:53] #1491 closed

[2016-05-07 10:16] chapmanb commented on #1487
Ryan;
Thanks for investigating this and for rolling things back to keep it working. Hopefully Johannes will have more of an idea about the excessive package builds once he's settled into his new place.

[2016-05-08 08:24] #1487 closed

[2016-05-08 18:18] Yue-Jiang commented on #1
Hi there, would be great if i could be added to the team... planning to add a package. thanks!

[2016-05-09 15:31] hardingnj opened #1507 "docker image build-packages.py doesn't run tests"
The docker test build functionality doesn't run tests.

`docker run -v /home/bioconda-recipes:/bioconda-recipes bioconda/bioconda-builder --packages pybigwig --env-matrix /bioconda-recipes/scripts/env_matrix.yml`

Yields

Despite tests being defined in the meta.yaml

[2016-05-09 15:34] bgruening commented on #1
@hyeshik @Yue-Jiang welcome to the project!

[2016-05-09 15:36] hardingnj commented on #1507
(they are run with conda build recipes/pybigwig)

[2016-05-09 21:19] odoublewen commented on #1
Hi team bioconda, I would be happy to contribute.  I see some recipes I can help with.  Thanks

[2016-05-09 21:25] bgruening commented on #1
@odoublewen welcome!

[2016-05-10 07:40] bgruening opened #1516 "nightly builds are failing"
The nightly builds are failing because of a missing expat library.

https://travis-ci.org/bioconda/bioconda-tests/jobs/128760945

This one is already included in conda-forge. We should focus on solving the conda-forge union imho and depend on this channel. It will make our life easier.

Any idea how to proceed here before we can depend on conda-forge?

[2016-05-10 08:32] matthdsm opened #1518 "conda skeleton List::Util"
Conda skeleton fails to create a recipe for CPAN package List::Util
Traceback:

<pre>
vagrant@vagrant-ubuntu-trusty-64:~/bioconda-recipes/recipes$ conda skeleton cpan List::Util --recursive
WARNING: List::Util was part of the Scalar-List-Utils distribution, so we are making a recipe for Scalar-List-Utils instead.
Using url https://cpan.metacpan.org/authors/id/P/PE/PEVANS/Scalar-List-Utils-1.45.tar

[2016-05-10 08:53] bgruening opened #1519 "Java wrapper script"
Currently we use a bash script to wrap Java programs ins Bioconda. This is a port to python of the same script. I think this is more maintainable and we can define a strict dependency on python. Whereas the old wrapper depends on bash, which is not often available in minimal Docker containers and there is no dependency yet (alternatively we could write one).

I'm not sure this is worth the effort

[2016-05-10 13:59] chapmanb commented on #1519
Björn;
Cool, thanks for doing this. python code looks so much better than bash. The idea behind the bash scripts was that they're portable outside of conda so folks can take and use them on most systems, but this is just as portable in a conda environment.

The main issue I see is that the errors from the wrapped program are going to be confusing since you'll get a python stacktrace surrounding th

[2016-05-10 14:31] bgruening commented on #1519
I guess they do, but they are not as portable as `subprocess`. os.system() has problems with the return values - not sure this matters so much. Let me know what you think and I will proceed or abandon this idea :)

[2016-05-10 14:55] snewhouse opened #1524 "building from git that requires `git clone --recursive` flag"
Hi All & @bioconda/all

New to conda/bioconda and really glad to be part of the community.

Quick question when putting together the `build.sh`, anyone know how to or has anyone specified/used the  `git clone --recursive` flag when wanting to build from a `git` repo?

Cheers

Steve

[2016-05-10 14:58] bgruening commented on #1524
Afaik the `git_url` approach clones the repo with `--recursice`.

http://conda.pydata.org/docs/building/meta-yaml.html#source-from-git

[2016-05-10 22:15] johanneskoester commented on #1524
Yes, that is also what I have experienced so far.

[2016-05-10 22:15] #1524 closed

[2016-05-10 22:29] johanneskoester commented on #1519
Interesting. Thanks for working on this!! I think this is a good idea since Python comes for free with conda. We should just make sure that this works with all Python versions. A few comments:

* You can wrap `call()` with a try except and hide any python stacktrace in case of an error.
* There is no need to join the command line args, call can take a list directly.
* Is there a particular reason

[2016-05-10 22:42] johanneskoester commented on #1516
Indeed, some nightlies are failing at the moment. The good news is that the vast majority of the packages works ok.

Expat is also available in the main channel, but the graphviz package is not including nor pinning it. I think, at the moment, we should focus on getting all packages to work in the nightly tests, when using the r and the default channel. Once that is achieved, we can think about ad

[2016-05-11 12:09] snewhouse commented on #1524
thanks all. not too clear in the docs...unless I missed  it. cheers again

[2016-05-11 18:47] eclarke commented on #1
Hi all, would like to join the team as well. Thanks for organizing this!
I have the same username on anaconda.org

[2016-05-11 18:51] bgruening commented on #1
Welcome @eclarke!

[2016-05-17 10:03] hardingnj opened #1581 "License description consistency"
Currently the licence descriptions are a bit all over the place. Is it work spending some effort bringing them into line? I'm not sure whether down the line we may want to filter by license type etc?

Happy to do the work if people think it's worthwhile

`grep -r "license:" . | perl -lne '$_ =~ m/license: (.+)$/; print $1;' | sort | uniq -c`

[2016-05-17 11:31] bgruening commented on #1581
Great idea! I would merge a PR :-)
I think it would make sense to add a Travis check to this field with a huge list of allowed licenses.
I was thinking about this since a while we could also check if tests are defined. In rare cases we need a way to explicitly deactivate those checks.

[2016-05-17 12:07] hardingnj commented on #1581
Cool, as a first pass I can slim down the list of allowed licenses and fix some of the license/license_file mix ups.

Some licenses require that copies of themselves are included in any distribution, so that's something else to look into.

[2016-05-17 12:09] bgruening commented on #1581
You might also look how github handels license and to get an initial list.
Thanks for looking at it!

[2016-05-17 12:26] daler commented on #1581
I agree, and it will be nice to have a linter to warn about this kind of thing. Can you keep track of the set of allowed licenses so we can check against that list in future PRs? Thanks for brining this up and working on it.

[2016-05-17 19:00] rvalieris commented on #1
Hello there, this is a great project for the bioinfo community, I would like to help updating a few packages.

[2016-05-17 20:09] bgruening commented on #1
@rvalieris welcome! Glad you like this project!

[2016-05-17 20:51] rvalieris opened #1582 "gatk and java versions"
It seems to me that gatk 3.5 works with java 8, am I missing something or we could remove the java < 8 restriction on the gatk-framework package ?

[2016-05-18 16:28] rvalieris commented on #1518
following traceback to the conda GitHub issue tracker at:

I think this should be reported at the [conda repo](https://github.com/conda/conda-build/issues) not here.

Nonetheless, I just tested the command on my install, and did not reproduce the error.

[code]

               platform : linux-64
          conda version : 4.0.6
    conda-build version : 1.20.2
         python version : 3.5.1.final

[2016-05-19 21:10] roryk commented on #1507
Same issue.

[2016-05-20 14:38] rvalieris commented on #1582
Found a very recent post on gatk forums on the java versions.
http://gatkforums.broadinstitute.org/gatk/discussion/7605/java-7-8-correctness-issues

It seems its better to wait until they officially switch to java 8.

[2016-05-20 14:38] #1582 closed

[2016-05-21 12:38] nturaga opened #1614 "[WIP] Implementing an PR functionality to bioconda via planemo"
Hi,

I'm implementing a feature in planemo which allows users to issue Pull requests with a new recipe. Each of the recipes submitted as a PR via the planemo feature will be tagged [recipe-generated-via-planemo].

Thanks

[2016-05-21 12:42] #1614 closed

[2016-05-23 08:45] lecorguille commented on #1065
Indeed, great logo.
So why not change the bioconda github-organization logo as well! Perhaps, just the O?

[2016-05-25 01:51] sfletc commented on #1
Hi, love to join too.

[2016-05-25 06:43] bgruening commented on #1
Welcome @sfletc!

[2016-05-25 09:35] OvoiDs commented on #1
Hi. I'd like to join too, please.

[2016-05-25 09:36] bgruening commented on #1
@OvoiDs great! Welcome to the community!

[2016-05-25 13:06] daler opened #1633 "travis not starting tests"
ping @bioconda/all, does anyone know what's going on with travis? There are a few PRs waiting 10+ hrs to start building. travis-ci.com is not reporting any issues.

[2016-05-25 13:21] bgruening commented on #1633
@daler travis granted us yesterday a increased max build-time. Maybe they screwed something up during the configuration. Let me call the service again ... sorry. If this is working we should have 75min.

[2016-05-25 13:23] daler commented on #1633
@bgruening I just saw your other messages -- thanks for getting increased build times, that's great!

[2016-05-25 18:15] chapmanb commented on #1633
Björn -- thanks for doing this and investigating what is going wrong with our builds. Did you have any luck getting us unstuck so we can start pushing packages through again?

[2016-05-25 18:54] daler commented on #1633
Looks like we're back in business -- thanks @bgruening (xref #1629).

[2016-05-25 18:54] #1633 closed

[2016-05-25 19:44] bgruening commented on #1633
Great, sorry for the inconvenience. Travis is looking at this bug and we will get an increased build-time.

[2016-05-25 21:37] nellore commented on #1
Could you please add me? I'd like to contribute a package for http://rail.bio .

[2016-05-26 00:28] bgruening commented on #1
Welcome to the team @nellore!

[2016-05-26 13:44] hardingnj commented on #1581
Right, just an update on this. For the many packages that use GPL/Apache/Academic this should be straightforward. However there are a number that use custom or institutional licenses (eg https://github.com/TGenNorth/NASP/blob/master/LICENSE.rst). For these I was planning to use a custom tag, then we can enforce a `license file` in the meta.yaml.

Also, several software packages use the >= notation

[2016-05-26 23:14] jeffhsu3 opened #1639 "python3"
I'm getting an conflict error for bx-python when trying to install from bioconda using python3.  Don't see anywhere in the recipe where it specifies the python version.  Not sure how conda handles it.

[2016-05-27 12:01] JungeAlexander commented on #1
Hi,
This is a great initiative and would like to contribute, too.

[2016-05-27 12:59] bgruening commented on #1
@JungeAlexander welcome! Great to see you here!

[2016-05-27 21:09] andrewdelong opened #1644 "dependency issue (samtools -> libcurses -> libtinfo)"
Hi,

Maybe a build configuration with how samtools depends on libncurses?

# PROBLEM
Reproduced below. Fresh Ubuntu 16.04 (x64), fresh Anaconda (x64, python2.7), empty `LD_LIBRARY_PATH`.

[code]

Inside `/home/andrew/ext/anaconda2/lib` there is
* `libtinfo.so.5`, and
* `libncursesw.so.5` (wide-char version), but
* notably no `libncurses.so.5` (non-wide-char version).

It seems my system `libncurse

[2016-05-29 01:01] daler commented on #1639
By using conda's [preprocessing selectors](http://conda.pydata.org/docs/building/meta-yaml.html#preprocessing-selectors) on the `skip: True` line, we can control which packages get skipped. In this case, the recipe is skipped for anything that's not py27 (see [this line](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/bx-python/meta.yaml#L13)). bx-python does not currently support

[2016-05-29 03:56] tomkinsc opened #1647 "Snakemake and others not building for Python 3.4?"
Looking at the builds of Snakemake [available on anaconda.org](https://anaconda.org/bioconda/snakemake/files) (and other packages), it seems Snakemake 3.7.1 is only available in a build for Python 3.5. Is this expected with the new build system? Was 3.4 eliminated from the build matrix for any particular reason (storage constraints?)?

[2016-05-29 06:23] croth1 commented on #1644
Can you check if installing with `conda install -c bioconda -c r samtools --override-channels` solves this issue?

A general problem in the samtools recipe is that the Makefile links against `-lcurses`, not against `-lncurses`. The samtools version here at bioconda uses ncurses from the `r` channel, which only provides `libncurses`, but no symlinks to `libcurses`. So if you use ncurses from the r-

[2016-05-30 21:31] anatskiy commented on #1
Hi! I would like to contribute.

[2016-05-30 21:39] bgruening commented on #1
Welcome @anatskiy!

[2016-06-01 11:11] dakl commented on #1519
The main issue with capturing any errors and presenting them to the user is that some tools have a non-zero exit status even if no "real error" has occurred. An example of this is when `picard` is invoked without any parameters. The user is shown a list of subcommands, and the return code is 1.

[code]

This means that if this is wrapped with a check on the exit code, the user will be presented wi

[2016-06-01 12:22] johanneskoester commented on #1647
You are right. I added it again in PR #1667. Thanks for pointing this out!

[2016-06-01 12:22] #1647 closed

[2016-06-01 12:54] dakl commented on #1519
Fyi; https://github.com/broadinstitute/picard/pull/553

[2016-06-02 02:53] tomkinsc commented on #1507
I'm seeing the same problem.

[2016-06-02 14:55] daler commented on #1507
In this case, the output of "Ran 0 tests" is nosetests saying that no packages were built. A package won't be built if it already exists in the bioconda channel. If you're expecting a package to build but it doesn't, the most common reason is that the version already exists in the channel and you need to bump the build number in order to trigger a new build for the same version.

Also for local bu

[2016-06-02 16:57] tomkinsc commented on #1247
@johanneskoester The gatk-register solution is a good workaround to the gatk licensing problem. Is anyone working on it? @bioconda/core

[2016-06-03 09:45] karel-brinda commented on #1
Hello, I would like to contribute, too.

[2016-06-03 10:18] bgruening commented on #1
Great @karel-brinda! Welcome to our small community!

[2016-06-04 05:25] jerowe commented on #1438
An update for this - the conda skeleton cpan does have a recursive option, but it chokes on Test::Deep. I opened an issue with the conda-build.

The only problem with this approach is that there is a mix of requiring perl and perl-threaded, and I've been told having both in a single env is problematic. ;-)

So far I am solving this issue with sed to make sure all the dependencies require perl-thre

[2016-06-04 05:33] jerowe opened #1688 "Best practices for software with licensing restrictions?"
I see that @tomkinsc added an installer for gatk-protected (and that's AWESOME, thanks!), and I'm wondering if this is the method that should be used for all software that has a licensing restriction against distributing.

Is there anyway to bootstrap the process during the conda install itself? Ideally I would want for conda install -c to prompt for the tarball (or whatever) on the users local ma

[2016-06-04 14:56] thephilross commented on #1
Hello! I would like to start making contributions, starting with [CAGEr](https://bioconductor.org/packages/release/bioc/html/CAGEr.html). Could someone please add me?

[2016-06-04 15:13] bgruening commented on #1
@thephilross welcome! You are now part of the Team!

[2016-06-06 08:40] johanneskoester commented on #1644
@chapmanb I always thought the fixes of PR #1391 went into PR #1650. I guess something is still missing? Should we patch the Makefile to link to ncurses instead of curses?

[2016-06-06 08:44] johanneskoester opened #1699 "Dockerfile not building"
Currently, our docker container fails to build due to checksum errors in the autotools repo (see [here](https://hub.docker.com/r/bioconda/bioconda-builder/builds/b8wt7nbuutqjawpnlfwexhb/)). @bioconda/core, whoever implemented the autotools installation: Is it possible to switch to a more stable repo, or do we have to wait until this is fixed upstream?

For bioconda-recipes, this has no impact, how

[2016-06-06 09:44] chapmanb commented on #1644
Johannes -- I believe this report was prior the fixes in #1650 so it should work now. We do link against ncurses now -- the configure step (https://github.com/bioconda/bioconda-recipes/pull/1650/files#diff-af9278efb21daa738f1f15b62efe8376R19) picks up ncurses instead of curses so we don't need to patch the Makefile explicitly. Since curses-dev is no longer present in the container the approach in

[2016-06-06 09:52] johanneskoester commented on #1644
Thanks for the clarification, Brad!

[2016-06-06 11:13] johanneskoester opened #1701 "Adding new members"
Dear @bioconda/core,
when adding new members to the team, please make sure to put them into the "all" team so that we can properly mention them in issues that concern everybody. Further, they should also be added to the list of devs in the file `docs/index.rst`.

[2016-06-07 09:10] kepbod commented on #1
Hi! I would like to contribute.

[2016-06-07 09:12] bgruening commented on #1701
Can we push to master directly to add members. Creating a PR for every new member seem like a little bit of overhead. Maybe we should generate the `docs/index.rst` automatically, or just link to https://github.com/bioconda/bioconda-recipes/graphs/contributors ?

[2016-06-07 09:14] bgruening commented on #1
Welcome @kepbod!

[2016-06-07 12:36] johanneskoester commented on #1701
I think it would anyway be a clean solution would to move the docs out of the recipes repository. For such a separated repository, there is no need to protect the master branch.

[2016-06-08 13:10] johanneskoester commented on #1699
Ok, I have disabled the autotools COPR in the Dockerfile in PR #1713.

[2016-06-08 13:10] #1699 closed

[2016-06-09 15:01] marcelm commented on #1377
I believe this issue can be closed.

[2016-06-09 15:25] #1377 closed

[2016-06-09 15:25] bgruening commented on #1377
@marcelm thanks the pointer.

[2016-06-09 18:34] tomkinsc commented on #1247
Closing this for now due to #1683, at least until the GATK license terms change.

[2016-06-09 18:34] #1247 closed

[2016-06-10 06:49] dakl commented on #1519
Ok then, I was clearly confused when I wrote my previous comment. I've cleaned up the script and put it here:

https://github.com/dakl/bioconda-recipes/blob/java-python-wrapper/scripts/java-wrapper.py

Let me know what you think.

[2016-06-10 13:41] johanneskoester commented on #1519
Looks good! I wonder what would be a good place for now. Maybe put it into scripts/ and add an information about how to use it in the Java section of the guidelines.

[2016-06-10 17:18] johanneskoester opened #1728 "Symbol lookup error with samtools 1.3.1_1"
With the latest samtools build, I get a lookup error that apparently comes from the system libncurses:
[code]

@chapmanb any idea how that can happen? I thought that we pin the version and explicitly use the packaged ncurses.

[2016-06-11 00:07] chapmanb commented on #1519
Daniel;
Thanks for this. I tested it out and was wrong about the python stacktraces. I don't see them for failed commands with just a subprocess.call wrapped in the sys.exit. Great -- sorry for throwing up an incorrect red flag. The only thing I noticed were two typos of 'startwith` instead of `startswith` on lines 55 and 77. Thanks again to both of you for working on this. Agree that scripts is a

[2016-06-11 01:29] chapmanb commented on #1728
Johannes;
I think one is the annoying incompatibility between ncurses in the `r` channel and standard ncurses. Both are `5.9` but the packages in bioconda get built against the `r` version (5.9-4) and this is apparently different than the standard version (5.9-0). I can reproduce your problem if I force install the standard system r and can fix with:

https://github.com/bioconda/bioconda-recipes/i

[2016-06-11 15:28] bgruening commented on #1519
I created a first PR here: https://github.com/bioconda/bioconda-recipes/pull/1731

[2016-06-13 07:08] johanneskoester commented on #1728
Right, I forgot about this. Sorry for the noise! We could think about adding a pre-link script that issues a warning to activate the r channel. Another nice thing would be channel dependencies (i.e., activating bioconda implies activating the r channel).

[2016-06-13 07:48] johanneskoester opened #1734 "GCC dependency and common build platform"
Hi @bioconda/core ,
Last week, I have attended a meeting with Continuum and Conda-Forge about what strategy to follow in terms of depending on gcc or using the built-in compiler. The bottom line was that both strategies have their downsides and limitations, and no consensus has been reached so far. A side question was what would be the minimum CentOS version to support. Conda-forge is using CentOS

[2016-06-13 08:48] zjhzxjm opened #1735 "GLIBC error for running dag"
Hi,

when I run the command "snakemake -s Split_QC.snake --dag | dot | display", I got the error as follows:
dot: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /home/xujm/soft/Anaconda/anaconda3/envs/snakemake/bin/../lib/libgvc.so.6)
dot: /lib64/libm.so.6: version `GLIBC_2.15' not found (required by /home/xujm/soft/Anaconda/anaconda3/envs/snakemake/bin/../lib/libgvc.so.6)
dot: /lib

[2016-06-13 11:00] bgruening commented on #1734
Adding a few more items for the conda-forge meeting last week:

1. conda-forge wants to add more prefixes to the packages, like bioconda is doing with `perl-`, `r-` and `bioconda-`, but also for `python-`, `node-` and what ever we will package. Any objections against this?

2. I would also like to split our repo into subdirectories, `perl`, `python`, `r` and so on. We currently have more packages