[2016-06-13 12:00] johanneskoester commented on #1734
1. For the python prefix, I would only do this if Continuum does it as well in the default channel. For the rest, we do this anyway, right?
2. That would be fine for me. Any such changes should wait until we have switched to the new bioconda-utils, because the current scripts/build-packages.py should not be changed anymore (in order to avoid the need to port things over to bioconda-utils).

[2016-06-13 12:50] bgruening commented on #1734
The  Continuum people in conda-forge are fine with this move. I think changing the default channel will not happen in the near future, it's not high priority.
If you ask me, conda-forge will define standards (with us) and the default channel will be synced with conda-forge.

[2016-06-13 13:02] johanneskoester commented on #1734
For the user, this is quite inconvenient. If this move is not made in an orchestrated way, you can end up with two installations of the same package in the same environment, and you don't know which one overwrites the other.

Further, did they mention if this is planned only for libs or also for tools? It does not make sense to call a command line utility python-xy, only because it has been writte

[2016-06-13 13:17] chapmanb commented on #1734
Johannes and Björn;
We support systems with bcbio that run CentOS 5, so would vote for keeping with that to maintain compatibility. Why do the conda-forge team prefer CentOS 6? With the devtoolset you can get up to date compilers for 5 and everything builds cleanly. It seems like we should error on the side of being more compatible if there are no build downsides.

I'd also be careful about renami

[2016-06-13 13:24] bgruening commented on #1734
Channel priorities will fix this and it was discussed to enhance conda to give smarter hints to find the correct package.

My understanding was that this holds true for all python packages (e.g. coming from pypi). Debian, Fedora is doing the same, so I don't see a problem here. We already have prefixes all over the place just for python packages we don't.

? I think prefixing with `python-` is the

[2016-06-13 13:40] bgruening commented on #1734
@jxtx nothing decided yet, please participate here: https://t.co/q0l2mkS5Na

[2016-06-13 13:51] chapmanb commented on #1734
Björn -- I don't keep stats like that but I'd guess a handful of places (~5?) are running older CentOS versions. It would be useful to know. I assume Galaxy is going to have the same problem as these are primarily infrequently updated academic clusters.

[2016-06-13 13:57] bgruening commented on #1734
Yes Galaxy will have the same problem.
The problem is really that we want to support newer toolchains but can not do this with such old systems. My personal opinion is that the merge with conda-forge is worth to break the compatibility with CentOS-5, if needed. But it's not yet clear if conda-forge will switch to CentOS-6. We wanted to ask the community first - that's the reason for the questionna

[2016-06-13 16:29] johanneskoester commented on #1734
I thought that conda-forge is already building on CentOS-6. They might move to CentOS 5 depending on the questionnaire.
To clarify, there won't be a merge with conda-forge, we just want to unify our build-platform and to be able to depend on packages in conda-forge.

[2016-06-13 16:39] johanneskoester commented on #1734
@bgruening, I don't think that the prefix-policy convinces me. For R packages, the prefix makes sense, because they are always imported from R. The same for Perl and node in general. However, for any tool that just offers a command line interface (regardless of the language), I think a package name without prefix makes more sense. Think about it: package names like "c-bwa", "java-gatk", "c++-bowti

[2016-06-13 16:59] bgruening commented on #1734
@johanneskoester I'm not talking about compiled languages. At least this is what I remember from the last meeting - sorry to not being concrete enough. I think bioconda is pretty much on the save side here as we do prefixing a lot, just not python afaik.
Perl packages also offer a lot command-line utilities and we do prefix them. I think this makes logically sense and is in consensus to other pack

[2016-06-13 18:22] tomkinsc opened #1741 "Add command to register novoalign license"
A package exists for Novoalign, however it does not provide a simple way to add a license file. Novoalign expects a license file, `novoalign.lic`, to exist in the same directory as the `novoalign` binary. The conda package should expose a command, `novoalign-register-license`, to copy in a license file, similar to how the current GATK package copies in a jar file. Usage would be:

[code]

A licens

[2016-06-13 20:59] tomkinsc commented on #1741
In #1742

[2016-06-13 20:59] #1741 closed

[2016-06-14 07:20] johanneskoester commented on #1734
Making a distinction between scripting and compiled languages sounds rather arbitrary to me. Regarding perl, STAR-Fusion is written in Perl, and we don't prefix it. There is no reason to call it perl-star-fusion. It can't be used from within perl, it adds no value to the perl ecosystem, there won't ever be a package called python-star-fusion, unless the author decides to port the package entirely.

[2016-06-14 11:34] bgruening commented on #1734
It's not so arbitrary if you look at how most of the packages are created, compiled ones are written from scratch, scripting ones are created by skeletons - and these are usually prefixed.

The only reason star-fusion has no prefix is that it is not in cpan ;)

`reasonable name`, `general use` sounds like some loose definition. If we can make this more concrete and share this view with other conda

[2016-06-14 12:11] johanneskoester commented on #1734
I meant that the distinction is arbitrary from a user perspective.

Well, technically, every python package exposes public modules, because private modules are impossible in Python. However, I think the distinction that is meant in the Debian docs (cli vs lib) is very clear and valid. Plus, it feels very natural when installing something. And mercurial is not the only example. This is consistent f

[2016-06-14 12:14] johanneskoester commented on #1735
Thanks, its me again :-). Which Linux (distro and version) do you use?

[2016-06-14 12:14] #1728 closed

[2016-06-14 14:35] johanneskoester opened #1744 "Recipes to fix due to failing nightly build"
- [x] pysam/0.8.3 ([glibc error due to precompiled htslib?](https://travis-ci.org/bioconda/bioconda-tests/jobs/137505202))
- [x] merfishtools ([weird conda dependency conflict that cannot be reproduced locally](https://travis-ci.org/bioconda/bioconda-tests/jobs/137505208#L1452))
- [x] mapsplice ([dependency conflict due to incorrect build string](https://travis-ci.org/bioconda/bioconda-tests/jobs/

[2016-06-14 15:20] bgruening commented on #1744
@johanneskoester I will work on pysam today if this is ok.

[2016-06-15 01:05] zjhzxjm commented on #1735
Centos 6.5

[2016-06-15 07:55] johanneskoester commented on #1735
Can you please also provide the output of `conda info graphviz`?

[2016-06-15 08:00] johanneskoester commented on #1744
Sure, thanks!

[2016-06-15 08:14] bgruening commented on #1735
@jeromekelleher I think I have fixed this in: https://github.com/bioconda/bioconda-recipes/compare/bioperl
At least I have seen a similar error.

[2016-06-15 12:21] bgruening commented on #1735
I have updated graphviz, can you try the new build?

[2016-06-16 02:54] zjhzxjm commented on #1735
Thanks. It works, but gets another error: Error: Could not find/open font

[2016-06-16 09:43] marcelm opened #1763 "SHAPEIT license"
I would like to add a recipe for SHAPEIT, which is free for academic use. The web site states, however:

I do not know what a "web-diffusion purpose" is, but to be on the safe side, I assume it includes making a bioconda package available.

I have therefore asked the license holders Prof. Zagury and Prof. Marchini whether they would agree to include SHAPEIT into bioconda. I will record their decis

[2016-06-16 09:50] bgruening commented on #1763
Hi @marcelm,

please have a look at this section: https://github.com/bioconda/bioconda-recipes/blob/master/GUIDELINES.md#other-examples
You could do something similar for the gatk package.

Thanks to @tomkinsc for updating this document!

[2016-06-16 09:51] marcelm commented on #1763
Thanks, that is a possibility if the answer is negative - but it’s worth asking.

[2016-06-16 09:54] bgruening commented on #1763
Definitely! Thanks for doing so, hopefully it will be positive!

[2016-06-16 17:40] marcelm commented on #1763
Jonathan Marchini has thanked for the offer, but has declined it.

I will myself not create a GATK-like recipe.

[2016-06-16 17:40] #1763 closed

[2016-06-16 17:59] bgruening commented on #1763
This is so sad :(

[2016-06-16 21:53] johanneskoester commented on #1734
Actually, apparently because of similar concerns as raised here, there won't be such a prefixing strategy. Instead, conda will support implicit namespaces, as outlined in [this comment](https://github.com/conda-forge/staged-recipes/pull/568#issuecomment-225315370).

[2016-06-17 21:24] prvst commented on #1
Hi, I'm one of the guy behind the [BioDocker](http://biodocker.org/) project, we are starting to use Bioconda for managing software inside containers, I would like to join in.

[2016-06-17 21:28] johanneskoester commented on #1
Cool, glad to hear that!! Welcome!

[2016-06-17 21:47] tgjohnst commented on #1
I've started using Bioconda recently and would love to start contributing to the project!

[2016-06-17 22:21] leobiscassi commented on #1
Hi, I made my first contribution with the MGL Tools recipe and I would like join to the project. :smiley:

[2016-06-18 00:09] bgruening commented on #1
@leobiscassi @tgjohnst welcome on board!
@prvst nice to see you here! Let me know if you want access to mulled as well!

[2016-06-18 01:19] leobiscassi commented on #1
@bgruening thanks!

On Fri, Jun 17, 2016, 9:09 PM Björn Grüning <notifications@github.com>
wrote:

--
Best regards,
*Léo Biscassi*

[2016-06-20 14:19] prvst commented on #1
@bgruening , sure thanks!

[2016-06-21 20:54] dpark01 commented on #1312
I think this works fine now, can this be closed?

[2016-06-22 07:36] abretaud commented on #1312
Yes! (for me at least)

[2016-06-22 08:24] johanneskoester commented on #1744
Any update on pysam?

[2016-06-22 17:10] dpark01 commented on #1312
@yesimon or @tomkinsc can you close this issue?

[2016-06-22 18:05] #1312 closed

[2016-06-22 20:46] tomkinsc opened #1808 "Errors of popularity (anaconda.org over capacity)"
We had an automated test on Travis fail today while installing a conda package, because the anaconda.org server was at capacity:

`Fetching package metadata .......Error: HTTPError: 503 Server Error: Service Unavailable: Back-end server is at capacity for url: https://conda.anaconda.org/bioconda/linux-64/repodata.json.bz2: https://conda.anaconda.org/bioconda/linux-64/`

This has happened a few tim

[2016-06-22 20:47] daler commented on #1808
I've been getting similar errors, but sometimes for the R channel as well. Most recently about 5 mins ago. So presumably it's not just our channel . . .

[2016-06-23 08:22] johanneskoester commented on #1808
I think the conda-forge people have the same problem, see [here](https://conda-forge.hackpad.com/conda-forge-meetings-2YkV96cvxPG).
They are discussing caching of packages, but I would say this problem should be solved on continuum site. There is a meeting tomorrow(see the link above). Can anybody join that and ask about the problem? @bgruening are you already planning to join the meeting?

[2016-06-23 08:23] #1735 closed

[2016-06-23 08:33] bgruening commented on #1808
@johanneskoester I will join. If you have anything else to discuss, vote fore let me know.

[2016-06-23 08:42] bgruening commented on #1744
@johanneskoester is this still a problem with the newer pysam? I tried to reproduce the error of the old pysam version locally but never saw an error. I thought it was fixed with the new pysam version. Do you have a link to a recent pysam failure?

[2016-06-23 12:29] johanneskoester commented on #1744
You are right :-). I can't find the failure anymore.

[2016-06-23 12:30] johanneskoester commented on #1744
Oh no, it is just in a diffferent subdag:
https://travis-ci.org/bioconda/bioconda-tests/jobs/139373626#L1894

[2016-06-23 12:31] johanneskoester commented on #1744
It is the old version, but we have a recipe specifically for that version. So if somebody wants to keep this package, we should make sure it works.

[2016-06-23 15:22] tomkinsc commented on #1808
[According to](https://github.com/conda/conda/issues/2816#issuecomment-227879776) @kalefranz, Continuum is aware of the problem and working to resolve the issue. Closing this.

[2016-06-23 15:22] #1808 closed

[2016-06-23 17:07] jrderuiter commented on #1
I would also like to contribute :)

[2016-06-23 17:10] bgruening commented on #1
@jrderuiter welcome!

[2016-06-23 18:28] hainm commented on #1734
I just feel relieved when reading  this.

I mostly use Python and it's common to `conda install xyz` then `import xyz`

[2016-06-24 18:16] rvalieris commented on #1254
as described in [defined](http://perldoc.perl.org/functions/defined.html), simply removing the defined in these cases should solve the problem, but I don't think pinning perl is necessary, a simple if(%hash) should also work in older versions, quoting from [release notes](http://perldoc.perl.org/perl5220delta.html#defined(%40array)-and-defined(%25hash)-are-now-fatal-errors):

to patch these out, p

[2016-06-27 09:28] jma1991 opened #1840 "DREME tool from MEME suite uses Python 2 print statement in Python 3 environment"
The DREME tool from the MEME suite uses Python 2 print statements. This means when you try and run it in a Python 3 environment with Anaconda you get an error.

[code]

[2016-06-27 14:03] mdehollander commented on #1
I would like to join the bioconda dev team. I already placed a merge request for a version update, but I first need to get permission to let it go through: https://github.com/bioconda/bioconda-recipes/pull/1841

[2016-06-27 14:18] pierrickrogermele commented on #1
Hi,

I would like to be part of the team, as I want to add the following new recipes: r-stringr, r-plyr and r-xml.

Regards,
Pierrick

[2016-06-27 16:27] johanneskoester commented on #1
Welcome you two!

[2016-06-27 21:51] #1254 closed

[2016-06-29 10:05] jerowe commented on #1734
I only just saw this, but my HPC cluster is still on Centos5 for the next few months. We should have a new cluster up and running by September, but I am sure other clusters are still using Centos5. This distinction is especially important for command line packages and packages that must import glibc.

I want to go and read the rest of the thread now and the conversation seems to have evolved.

[2016-06-29 14:14] bgruening opened #1860 "Add more tests"
I think we need more tests for some general cases, like:
- [ ] check if this packages exists in conda-forge, r, default - if so fail
- [ ] a test is included
- [ ] a checksum is integrated
- [ ] meta.yaml syntax checks, linting and the filename
- [ ] check the size of an package - max size package?
- [ ] checksum required; no git_url if possible (_added by Ryan, xref #2194_)

Please add any other

[2016-06-30 19:07] jerowe opened #1876 "osx builds on travis"
Are stopping. Anyone know why? I got an email about it this morning. I just restarted my builds to see if it was a temporary problem.

Why do things need to build with osx? I always specify skipping those...

[2016-06-30 19:22] bgruening commented on #1876
@jerowe we want to have as many packages as possible build on OS-X as we want to support both OS-X. Maybe in the future even Windows.

OS-X builds are a little bit flaky at the moment.

[2016-07-01 04:29] jerowe commented on #1876
@bgruening, I restarted a few builds last night and they completed, so I'm restarting the others that failed.

Is there a limit to the number of pull requests I should submit at a time?

That's fine, but I have no experience with OSX. Whats the best way to go about making sure my packages build? Just build them and see? Are there any particular tricks I need to know for OSX?

Windows? Whyyyyyyyyyy

[2016-07-02 07:00] jerowe opened #1884 "trinity doesn't build"
Trinity 2.1.1 doesn't build. Its having issues with zlib.

Since trinity 2.2.0 is out I'm working on that. It currently builds and links against zlib properly, and I'm in the process of organizing the executables.

Linking samtools/bcftools/htslib against zlib is an issue that is coming up again and again. I think it would be good to have a few patch files available as resources. Maybe there shoul

[2016-07-03 11:10] jerowe commented on #1884
Looks like there are already some examples for linking against zlib in the guidelines, and I'm updating the trinity package, so I'll just close this. ;-)

[2016-07-03 11:10] #1884 closed

[2016-07-04 12:46] johanneskoester commented on #1860
This is a very good idea.

[2016-07-04 12:49] johanneskoester commented on #1744
@simonvh can you have a look at the emboss error? It looks like the build environment has leaks into the test case when the package is being built, but some file is missing when you invoke e.g. needle after a new installation.

[2016-07-04 13:14] simonvh commented on #1744
I will have a look!

[2016-07-05 10:44] raistlin91 opened #1902 "bioconda-recipes/recipes/entrez-direct"
When I install entrez-direct with conda
`conda install entrez-direct -c bioconda`
it installs the EDirect tools one folder above the bin folder. Same with creating an environment.

[2016-07-05 16:49] bgruening commented on #1902
My attempt in fixing it: https://github.com/bioconda/bioconda-recipes/pull/1906

[2016-07-05 17:27] #1902 closed

[2016-07-06 04:14] raphenya opened #1909 "failing to install or search for recipes"
[code]
[code]

@bgruening any ideas?

[2016-07-06 06:10] bgruening commented on #1909
[code]

[2016-07-06 06:11] #1909 closed

[2016-07-06 13:02] raphenya opened #1914 "failing to install rgi"
[code]

@bgruening please help

[2016-07-06 16:00] raphenya commented on #1914
@bgruening it works. I guess it took a while for the build to propagate. cheers.

[2016-07-06 16:00] #1914 closed

[2016-07-06 17:48] bgruening commented on #1914
It was not that easy, needed to fix the recipe in https://github.com/bioconda/bioconda-recipes/pull/1915
Glad it's working now.
Btw.: https://github.com/mulled/mulled/pull/124

[2016-07-06 20:10] cristhomas commented on #1
Hello, hi, can someone please add me? I have some packages to contribute. Much thanks

[2016-07-06 20:14] bgruening commented on #1
Welcome @cristhomas!

[2016-07-07 06:19] #1518 closed

[2016-07-08 01:28] ericenns commented on #1
I would like to join, we are moving our galaxy tools to use the build system and I have a lot to add.

[2016-07-08 05:32] bgruening commented on #1
@ericenns awesome to see you here! Maybe soon on tools-iuc? :) Welcome!

[2016-07-10 19:32] wilzbach commented on #1389
Congrats! Sorry that I hijack this discussion a bit, but are there any plan to deal with the growing `recipes` folder? Within the last two months the number of packages went up to 1400 packages.

[2016-07-10 20:21] wilzbach commented on #1
After finishing a project with a gigantic Makefiles, I really enjoyed discovering this project and would love to help this project by "demakeifying" such dependencies.

[2016-07-10 20:29] bgruening commented on #1
Welcome @wilzbach! Nice to see you here as well :)

[2016-07-10 20:32] bgruening commented on #1389
@johanneskoester we have briefly discussed this topic here: https://github.com/bioconda/bioconda-recipes/issues/1734
My proposal was to split it according to the main language or the conda skeleton generator, e.g. perl, r, node ...

[2016-07-10 20:42] bgruening commented on #1734
@johanneskoester @hainm there is a need for treating python packages in the same way as any other package from other programming languages. And it is not so clear how-to proceed. We had lengthy discussions about this in the last conda-forge meetings and I think we have an emerging consensus (imho a very good) one that will serve all our users equally.

What do you think about:
https://gist.github.

[2016-07-10 22:34] johanneskoester commented on #1734
The proposal is perfect in my opinion. I hope it gets implemented as soon as possible.

[2016-07-10 22:36] bgruening commented on #1734
@johanneskoester let them know! :)
I also think that gets everything together in a coherent and correct way.

[2016-07-10 22:39] johanneskoester commented on #1734
I did :-).

[2016-07-10 23:36] johanneskoester commented on #1389
What about having alphabetical subfolders a, b, c, d, ...?

[2016-07-10 23:51] bgruening commented on #1389
@johanneskoester which name would you take from "bioconductor-deseq"? `d` or `b`.
It seems conda-recpies has done this: https://github.com/conda/conda-recipes/tree/master/python but also only for python not for `r`. It seems everything is in a flux.

With the new package naming that was proposed we need to ensure that packages with the same name do not end up in the same directory, my feeling is t

[2016-07-10 23:59] wilzbach commented on #1389
As @bgruening already pointed out that will be very misleading and user unfriendly. Apart from the obvious fact that it will be hard to find the according folders also smaller stuff like tab-completion won't work well. I really liked the idea to group them  into their according namespaces :)

[2016-07-11 00:28] johanneskoester commented on #1389
@bgruening, that is a good point. @wilzbach, I actually thought that it would make finding the package easier. However, Björns argument holds. We just need to decide how to proceed for packages with a mixture of languages.

[2016-07-11 12:15] michaelmhoffman opened #1953 "Add recipes for Genomedata and Segway"
Could you please add recipes for the Genomedata dense genomic data storage system and the Segway semi-automated genome annotation software?

http://genomedata.hoffmanlab.org/
http://segway.hoffmanlab.org/

Genomedata is a prerequisite for Segway.

Thank you!

[2016-07-11 14:09] michaelmhoffman commented on #1953
PyTables appears to be in the anaconda channel too (https://anaconda.org/anaconda/pytables). forked-path and textinput are pure Python packages in PyPI. The latest GMTK tarball is available from http://melodi.ee.washington.edu/downloads/gmtk/gmtk-1.4.4.tar.gz. Do you need a way to figure out the newest GMTK automatically? That would take more doing but I could liaise with the GMTK authors.

[2016-07-11 14:11] dpryan79 commented on #1953
No, this would use a single version of gmtk. I've added textinput and forked-path as new packages in the branch with genomedata already and those appear to work. I'm just trying to get genomedata happy now.

[2016-07-11 15:40] bgruening commented on #1953
Community :heart:!

[2016-07-11 20:42] dpryan79 commented on #1953
`genomedata` seems to work now (at the very least TravisCI is happy). Note that this isn't compatible with python3. I'll try to add in segway now.

[2016-07-11 22:53] xguse opened #1961 "Can't seem to build the bioconda-builder container anymore"
I am not sure what has changed, but when I tried to launch and enter the container just now (which I have been able to do many many times before) I got this weird error that I cant seem to find a way to fix: `docker: Error response from daemon: Container command '/bin/bash' not found or does not exist`.  The suggestions of adding a `--workdir` as in (https://github.com/docker/docker/issues/23411)

[2016-07-12 07:38] bgruening commented on #1961
@xguse works for me here. Can you try changing your Docker backend by starting Docker in this way:
`docker daemon -s aufs`

[2016-07-12 08:17] dpryan79 commented on #1953
TravisCI is showing green for segway now too. The PR is waiting for approval.

@michaelmhoffman: If you have a chance sometime, you might update some of the dependency packages you wrote to support python3.

[2016-07-12 09:43] #1953 closed

[2016-07-12 09:43] bgruening commented on #1953
@michaelmhoffman Docker containers also needed for segway?

[2016-07-12 10:20] bgruening commented on #1953
@michaelmhoffman here is your Docker container: https://github.com/mulled/mulled/pull/129

[2016-07-12 16:10] xguse commented on #1961
Thanks @bgruening, for checking it out for me.

What you suggested produced another error.

I finally just decided to finish up what I was working on besides the docker issue and do a reinstall followed by a reboot.

Things work now. Not sure what broke or how, but things seem to be online again.

Thanks again.

[2016-07-12 16:10] #1961 closed

[2016-07-13 08:42] ewels opened #1971 "Poster badge"
Quoting @tomkinsc in #1951:

Mockup of something along those lines here:  http://beta.tallphil.co.uk/bioconda-badge/

[Source here](https://github.com/bioconda/bioconda-recipes/files/360845/poster_badge.zip). Resulting images look like this:

---
![image](https://cloud.githubusercontent.com/assets/465550/16797099/397e447e-48e6-11e6-94e9-e5a8af8fb3a2.png)

---
![image](https://cloud.githubuserconte

[2016-07-13 08:45] bgruening commented on #1971
Love it!!!

[2016-07-13 08:48] ewels commented on #1971
Added `-c bioconda` to the page, though now only packages with short names will fit on the wide version. I'll update the SVG to be wider.

[2016-07-13 12:50] tomkinsc commented on #1971
Wonderful! Looks great! Nice work, @ewels.

While it's more "correct", I'd say we can omit the "-c bioconda" part since it clutters the design and deemphasizes how easy it is to install something from bioconda. I guess I see configuring conda to use the bioconda channel as part of the initial setup process for most people, like installing miniconda. It's described on the GitHub page and doesn't ne

[2016-07-13 12:54] ewels commented on #1971
I like the idea of making it optional. Then people can choose (probably depending on how long their package name is).

How does bioconda.github.io work? Is it possible to put a static HTML file with browser JS somewhere? (I'm assuming that it can't run server side code as it's a github.io site). Would be nice to put this as an interactive tool there instead of me hosting it on my site..

[2016-07-13 13:28] tomkinsc commented on #1971
Pretty sure it has to be static. Here's a JS-only page of mine from a while back that modifies SVGs and saves them in a zip file: https://github.com/tomkinsc/carcassonne-shading/blob/gh-pages/js/carcassonne_shading.js

[2016-07-13 13:36] ewels commented on #1971
Nice! Where is the source controlled from though? It looks like bioconda.github.io repo is automatically overwritten by Travis?

[2016-07-13 14:24] tomkinsc commented on #1971
That's a question for @johanneskoester, but it appears the static docs may be generated based on the files within the [`docs/`](https://github.com/bioconda/bioconda-recipes/tree/master/docs) directory of this repository.

[2016-07-13 17:48] raphenya commented on #1
@bgruening Please add me to the team 👍

[2016-07-13 17:54] bgruening commented on #1
@raphenya welcome!

[2016-07-13 18:44] tomkinsc commented on #1971
Maybe we can have a third, "compact," style too? Something where the logo text and the other text are about the same size? Not sure what that would look like. Maybe:

![397e447e-48e6-11e6-94e9-e5a8af8fb3a2](https://cloud.githubusercontent.com/assets/53064/16815540/2fc87d38-4908-11e6-86b2-b72ee3327f59.png)

[2016-07-14 10:16] johanneskoester commented on #1971
@ewels, @tomkinsc, yes the pages are generated from the docs directory via sphinx.

[2016-07-14 10:17] johanneskoester commented on #1971
This is great work, and I have to say that I like the compact style most. I would maybe replace the ``>`` with a ``$``?

[2016-07-14 13:32] daler opened #1977 "Updating R packages"
R 3.3.1 is out. Between the last R update and now, we started using the `env_matrix.yml` to determine which R version to use for all builds. If we just make a single change -- simply add `CONDA_R: 3.3.1` to env_matrix.yml -- it triggers a re-build of every R package in bioconda. As you would expect, we get lots of errors. I would expect we would go over the 75 min limit even it we could build them

[2016-07-14 13:41] johanneskoester commented on #1977
Option 1: sounds like an ok solution to me. Maybe an even more clear solution that does not include modifying the recipes: introduce a blacklist of packages, that will be ignored by our build scripts. This way, we can temporarily omit packages based on the needs of our build system without messing with the git history of a package.

Option 2: I would not make the recipes unnecessary complicated ju

[2016-07-14 13:56] daler commented on #1977
I like that idea, an R blacklist should do the trick and be minimally disruptive.

[2016-07-14 14:00] johanneskoester commented on #1977
Since this needs changes in the build scripts, it would be ideally implemented in bioconda-utils. I haven't yet merged that PR, because it needs some modifications in the dockerfile. I will try to do that as soon as possible. If you want, you could already include the blacklist code into bioconda-utils.

[2016-07-14 14:57] daler commented on #1977
OK, I'll add the blacklist code to bioconda-utils.

[2016-07-14 15:47] johanneskoester commented on #1971
Amazing! Thanks Phil!

[2016-07-14 16:29] PietJones opened #1981 "Trinity: Error Unable to access ExitTester.jar"
Hi,

I am trying to run trinity (after installing it from the bioconda recipe), on a cluster environment. But, I get the following error:

[code]

I know the ExitTester.jar file is located in the miniconda share subfolder, but for some reason it is not being detected. Any advice?

P

[2016-07-15 21:47] bgruening commented on #1977
Option one with blacklist sounds good! Thanks for working on it!

[2016-07-18 14:30] nsoranzo commented on #1
Hi! I added a few packages lately and I plan to add/fix more as needed by Galaxy tools. Can you please add me too? Thanks!

[2016-07-18 14:43] bgruening commented on #1
Welcome @nsoranzo!

[2016-07-19 08:21] yhoogstrate commented on #1644
On my arch instance which has no libncurses5 installed I'm now getting a samtools error too:
`samtools: error while loading shared libraries: libncurses.so.5: cannot open shared object file: No such file or directory`

`ldd $(which samtools` gives:
[code]

I was able to solve this by running `ln -s "$CONDA_PATH/lib/libncursesw.so.5.9" "$CONDA_PATH/lib/libncurses.so.5" `

[2016-07-19 08:58] chapmanb commented on #1644
Sometimes conda seems to get confused about installing ncurses. If you have this problem you should be able to fix it by installing the version that samtools is compiled against:
[code]
Hope this avoids the manual symlinking.

[2016-07-20 00:48] spikebike opened #2009 "Tophat-2.1.1 receipe names segment_juncs, but doesn't install it."
https://github.com/bioconda/bioconda-recipes/blob/master/recipes/tophat2/build.sh names a binary called segment_juncs.

But when I install:

[code]

But when I look I find tophat

[code]

I can't find segment_juncs:

[code]

If I compile tophat-2.1.1 manually from source I get:

[code]

So when I run a test case:

[code]

[2016-07-20 00:55] spikebike commented on #2009
I downloaded the named binary blob in the receipt and ran the build script and the segment_juncs was copied to the $PREFIX as expected.  I can't explain why conda install tophat doesn't do the same thing as:
[code]

[2016-07-20 02:09] daler commented on #2009
I just ran a successful test in a fresh environment. The only thing I can think of is that in your first post it looks like conda is immediately linking an existing cached package. Can you try on a different machine? If that works, maybe try `conda clean` to clear the cache?

[2016-07-20 06:58] jerowe commented on #1981
@PietJones, I built the most recent trinity recipe. I'll look into it today.

[2016-07-20 06:59] jerowe opened #2010 "Tandem Repeats Finder and Licensing"
[code]

The source code is not available, only precompiled binaries. I'm kind of unclear on whether or not the binaries could be bundled into a conda package because of the 'redistribute' clause.

?

[2016-07-20 07:01] #1688 closed

[2016-07-20 07:10] yhoogstrate opened #2011 "EdgeR should depend on r-locfit"
To estimate dispersion EdgeR needs to make use of the conda package `r-locfit`. I tried to update the edgeR package but the bioconductor package is already gone and conda gives the following error:
[code]
I don't know the bioconda policy on how to solve this. I could go for 3.12.0 instead which has maintained urls by  the galaxy team, or upgrade to 3.14.

[2016-07-20 13:59] daler commented on #2011
We're working on moving to R 3.3.1 which should help resolve this by allowing the latest updates for all bioconductor packages. You can also try using the `scripts/bioconductor/bioconductor_skeleton.py` script which should build a recipe for the latest version, but the dependency chain might require R 3.3.1. @bgruening, is there a way for you to get a previous bioconductor package into bioaRchive?

[2016-07-20 15:44] bgruening commented on #2011
@daler in principle yes. We can get all packages that where taged as a release from the bioarchive svn. But it seems that 3.12.1 is missing, so never was tagged. https://bioarchive.galaxyproject.org/#/pkg/edgeR/3.12.0 is the only one available :(

[2016-07-21 07:37] jrderuiter opened #2023 "MPI support on OSX (gmap)"
A number of packages (such as gmap) currently are not built for OSX, which I am assuming is due to the lack of MPI support on a default OSX installation.

For example, building gmap on OSX gives the following error:

[code]

Is MPI support (for example using OpenMPI) possible using conda? I tried (naively) adding openmpi as a build requirement for gmap but that does not solve the issue.

We could

[2016-07-21 08:04] jrderuiter commented on #2023
Maybe a bit of an unrelated question, but why are many packages currently marked skip for osx? (Examples being libdb, perl-db-file etc.).

[2016-07-21 08:14] bgruening commented on #2023
@jrderuiter for most of the packages there is no real reason, just historical.
We started with a OS-X whitelist and by default nothing was build on OSX. Then there was an effort in removing the OSX whitelist. So we included the skip and removed the whitelist, so that every new package will be build on OSX by default. The idea was to incrementally fix all old packages and build them on OSX as well.

[2016-07-21 08:15] bgruening commented on #2023
I'm fine with disabling OpenMPI for OSX.

[2016-07-21 15:45] abretaud opened #2028 "Trinity 2.2 perl lib problem + missing bin"
ping @jerowe
With trinity 2.2 I can no longer make some util scripts to work. For example align_and_estimate_abundance.pl throws an error like this:

`Can't locate Fasta_reader.pm in @INC (you may need to install the Fasta_reader module) (@INC contains: /home/abretaud/miniconda2/pkgs/perl-threaded-5.22.0-10/lib/perl5/site_perl/5.22.0/x86_64-linux-thread-multi /home/abretaud/miniconda2/pkgs/perl-th

[2016-07-21 18:36] jerowe commented on #2028
@abretaud, I'm really sorry about all the bugs. I wanted trinity restructured in such a way that it wasn't calling all kinds of hard coded paths, but there seem to be too many deeply nested things calling things that call other things. I'm putting the code back in the way it was for 2.1.1, which, while it made me insane, seemed to work.

Once the check is finished I'll merge the new build and hope

[2016-07-21 18:39] jerowe commented on #2028
Actually, now that I think of it its probably that

[code]
should be

[code]

You could do a quick sed and see if that works until the new build is pushed.

[2016-07-21 19:20] jerowe commented on #2028
@abretaud, the PR is merged. Could you reinstall trinity and try again, please?

Thanks!

[2016-07-21 21:32] Horta opened #2030 "bioconductor-rhdf5 does not support R 3.3"
R 3.3 has been recently introduced into the R channel but the above mentioned package doesn't support it:  https://anaconda.org/bioconda/bioconductor-rhdf5/files

And maybe other packages as well.

[2016-07-22 12:50] abretaud commented on #2028
Hi and thank you for fixing it! It works now
I agree that the 2.1.1 recipe is not very pretty, so I have no objection to change it if you want :)

[2016-07-22 13:18] daler commented on #2030
Actually just about all R packages currently in bioconda are not supported on R 3.3. We're working on it; see https://github.com/bioconda/bioconda-recipes/issues/1977.

[2016-07-22 14:17] #2030 closed

[2016-07-22 16:36] rvalieris commented on #2010
license page: https://tandem.bu.edu/trf/trf.license.html

I think its pretty clear the author doesn't want his software to be available anywhere but his site.

We can distribute instructions on how to acquire the software, such as a conda recipe, but not distribute the software itself, as a conda package.

We could either use a register system similar to the gatk package, or try to contact the aut

[2016-07-23 01:27] kyleabeauchamp opened #2039 "Alternative zlib packages?"
Does anyone have any good experiences using either (intel, cloudfire) of the faster zlib implementations?  It's something that should be "possible" to add using bioconda, but it could be tricky getting the HTSLib / Samtools / pysam builds to work properly with conda RPATH stuff.  There's also the issue of incomplete testing etc.

See http://www.htslib.org/benchmarks/zlib.html for details.

[2016-07-25 07:43] jerowe commented on #2010
I figured that with the redistribute clause, but then I was thrown by the 'unlimited number of copies'. I think its completely reasonable for an author to want that. I will just move onto other things. Thanks for the opinion. ;-)

[2016-07-25 07:43] #2010 closed

[2016-07-25 07:45] #1876 closed

[2016-07-26 15:40] croth1 commented on #1644
I've run into the same issue today on my arch as well. `ncurses` in the r channel for some reason does not provide the symlinks `libncurses.so.5` and `libncurses.so.5`, only `libncurses.so`, but our samtools explicitly linked against `libncurses.so.5`.

[2016-07-27 09:43] johanneskoester commented on #1644
Weird, how can that be, since we linked against the R channel samtools when building? @chapmanb any idea? Maybe they changed the package without incrementing the version?

[2016-07-27 11:22] croth1 commented on #1644
A quick workaround is changing to conda-forge's version of ncurses.

`conda install -c conda-forge ncurses`

This version seems to be compatible with our build and also ships all symlinks - Seems like the current ncurses version in the r channel is broken.

[2016-07-27 12:52] chapmanb commented on #1644
Christian and Johannes -- thanks for investigating this and for the workaround. It looks like the r packaging team did bump the sub-version of ncurses so it now ships with libncursesw.so.5 instead of libncurses.so.5. I pushed a PR with more details that should fix this with a recompile (#2057). Thanks again for letting us know about the issue.

[2016-07-27 13:44] johanneskoester commented on #1644
Thanks, Brad!

[2016-07-27 14:01] #1644 closed

[2016-07-31 11:48] endrebak commented on #1
I'd like to be added. Will only update packages of my own software until I learn the ropes.

[2016-07-31 20:56] bgruening commented on #1
Hi @endrebak! Welcome to our community. @daler is currently working like crazy to enhance our build-infrastructure so during the next days you might encounter some hickups.

[2016-08-01 17:43] kyleabeauchamp commented on #2039
I'm going to close this due to limited interest (zero posts in 10 days).

[2016-08-01 17:43] #2039 closed

[2016-08-02 05:44] colinbrislawn commented on #1
I'd like to join, mostly to update vsearch and qiime dependencies.
(Thanks to @bgruening for building most of those qiime dependencies!)

[2016-08-02 07:24] bgruening commented on #1
@colinbrislawn nice to see you here! Enjoy this community!

[2016-08-03 22:25] JohnGreeley commented on #1744
The emboss problem is for any emboss tool that uses these ACD files, I had a similar problem with seqret:

`Error: File /anaconda/conda-bld/work/EMBOSS-6.5.7/emboss/acd/seqret.acd line 0: ACD file not opened`

[2016-08-04 13:02] bgruening commented on #1744
@JohnGreeley the reason is that emboss compiles the path to the acd files into the binaries. This is something like `/anaconda/build/...`. I propose the following, for every tools we write a short shell script that exports the path to ACD files.

The following should work:
[code]

Do you have time to work on this?

[2016-08-08 10:06] endrebak opened #2109 "Docker tests: `conda-build: error: the following arguments are required: RECIPE_PATH`"
I am trying to run the docker tests on OS X, but they fail with `conda-build: error: the following arguments are required: RECIPE_PATH`.

I ran this command:

[code]

Is it okay if I add my software packages without running the docker tests? It won't break any builds as no-one is using them yet. And it seems like if I try to test another, already included, package, I get the same error messages.

[2016-08-08 11:10] endrebak commented on #2109
Added #2111

[2016-08-08 13:28] daler commented on #2109
Does it work if you add a `$` in front of `(pwd)`?

[2016-08-09 06:10] endrebak commented on #2109
Thanks for your reply.

I am using the fish shell, so `$` does not work :)

I should have explained that I also tried this command in bash. My bad. I am using stable docker for OS X.

The bash command I tried:

[code]

[2016-08-09 08:13] #2109 closed

[2016-08-10 11:12] endrebak opened #2118 "The local docker/build tests worked and the travis CI tests worked, but I broke the build"
Since I am not allowed to merge a pull request without Travis CI passing, I do not know how this could have happened.

Can someone please help me interpret the error below, found on the following page: https://travis-ci.org/bioconda/bioconda-recipes/jobs/151169104

It seems like a `user.email` was not set when it tried to add some stuff to git to update the `bioconda.github.io` page.

[code]

The

[2016-08-10 11:13] endrebak commented on #2118
I tried restarting the build, the only possible fix I can think of.

[2016-08-11 09:48] matthdsm opened #2122 "recipe in master branch not found with conda search"
Hi,

Recently I've submitted a recipe for umi_tools to bioconda. This was accepted and merged, but I'm not able to find the tool using conda. Is it possible the recipe wasn't pushed to anaconda yet?

Thanks
M

[2016-08-11 09:50] bgruening commented on #2122
@matthdsm this can be. We had some build environment issues. Can you change the recipe, some whitespace changes and try it again, please?

[2016-08-11 10:19] matthdsm commented on #2122
done in #2123

[2016-08-11 10:57] endrebak opened #2124 "Can someone please help me debug this `build.sh` for ASCIIGenome?"
I have the following `build.sh`:

[code]

As you can see

1) I create the necessary directories,
2) then I move the ASCIIGenome.jar to its location.
3) Next, I create a small bash file to run the java file and
4) lastly I move the script to `$PREFIX/bin`.

Still, `conda build` claims it cannot find the file `ASCIIGenome`.

This is the error message I get:

[code]

This is my `meta.yaml`:

[code]

[2016-08-11 11:07] endrebak commented on #2124
The docker tests give a different error, which has given me a clue as to what it is. Might reopen this later.

[2016-08-11 11:07] #2124 closed

[2016-08-11 11:14] endrebak opened #2125 "Docker tests: ASCIIGenome -h works, but tests still fail."
I have the setup as described in #2124

Now it seems like the test `ASCIIGenome -h` runs, but still the tests fail. I have appended the error message below. Does anyone have an inkling about why my tests fail? The help command seems to work, since you can see the output several times.

[code]

[2016-08-11 11:46] matthdsm commented on #2122
wrong extension on meta.yaml seems to be the cause, fixed in #2126

[2016-08-11 12:23] matthdsm commented on #2122
Issue seems to be resolved, I'll close this now.

Thanks for the help!
M

[2016-08-11 12:23] #2122 closed

[2016-08-11 13:21] RJMW commented on #1
@bgruening Please, I'd like to join the team. Great initiative!

[2016-08-11 13:24] bgruening commented on #1
@RJMW - Awesome! More MS tools? :)

[2016-08-11 13:38] daler commented on #2125
All the tests do is check for exit code 0. So if ASCIIGenome exits 1 after printing the help (like a lot of tools do), then you'll need to test for that specifically, e.g,

[code]

and once that's working, make the output quieter for the travis logs:

[code]

[2016-08-11 13:53] endrebak commented on #2125
Thanks! I tried `ASCIIGenome -h && True`, which was the same idea, but absolutely moronic execution.

[2016-08-11 14:20] endrebak commented on #2125
@daler

With your suggestion

[code]

I get the error:

[code]

This works however:

[code]

[2016-08-11 14:29] daler commented on #2125
Oops, sorry, add the space before the `]]`:

[code]

[2016-08-12 02:32] hmkim opened #2130 "I want to join the team."
Hello!

Firstly, I'm very thanks for all support in bioinformatics.

I really love the conda. and I already trying to contribute on conda.

- Repository
https://anaconda.org/hmkim/
- Font
https://github.com/FortAwesome/Font-Awesome/issues/9716

[2016-08-12 02:32] hmkim commented on #1
Hello!

Firstly, I'm very thanks for all support in bioinformatics.

I really love the conda. and I already trying to contribute on conda.

Repository https://anaconda.org/hmkim/
Font FortAwesome/Font-Awesome#9716

[2016-08-12 02:33] #2130 closed

[2016-08-12 08:40] bgruening commented on #1
Welcome @hmkim!

[2016-08-12 10:48] endrebak commented on #2125
Thanks again. I guess I'll have to learn bash.

[2016-08-12 10:48] #2125 closed

[2016-08-12 10:49] endrebak commented on #2118
I guess this will remain a mystery.

[2016-08-12 10:49] #2118 closed

[2016-08-12 14:31] daler commented on #2118
see #2121

[2016-08-12 16:15] hmkim commented on #1
Thanks! I'll try to move my item on bioconda.

[2016-08-12 18:06] alexpreynolds commented on #1
If I wanted to update the bedops recipe, could I join the group and submit a pull request? Thanks!

[2016-08-12 18:41] bgruening commented on #1
@alexpreynolds you can create PR without being member, but you only can merge PR if you are a member. I will add you in a minute, welcome!

[2016-08-13 00:02] bgruening commented on #1744
@johanneskoester @JohnGreeley EMBOSS is fixed in https://github.com/bioconda/bioconda-recipes/pull/2095
Here is a Docker container. with tests: https://github.com/mulled/mulled/pull/134

I will check this one off.

[2016-08-13 00:03] bgruening commented on #1744
Only one left.

[2016-08-13 08:05] johanneskoester commented on #1744
Great work, Björn!! Thank you so much!

[2016-08-13 08:47] bgruening commented on #1744
Your welcome. One tool left and the build-infrastructure migration :)
Should be fix a date and coordinate this all a little bit and get everything done in one shoot? We also need to migrate the r/perl packages in it's own subdir and so on.

[2016-08-13 11:56] bgruening commented on #1744
@johanneskoester osra is fixed in: https://github.com/bioconda/bioconda-recipes/pull/2135

These kind of errors can happen at any time, as we do not pin every library. So rebuilding at a later time point can cause such errors :(

What's left on this front?

[2016-08-15 07:18] endrebak opened #2140 "Setting memory in java apps: high or low?"
Do I err on the side of too much or too little?

I added ASCIIGenome to bioconda and set the default memory size to 8 gigs. This is because I had experienced a problem with the standard settings (1.5gb) where it could not even parse a gencode gtf.

Like you see below, the author thinks this is too much and I want to respect his wishes, but I also want to know what the community thinks.

https://gi

[2016-08-15 07:43] johanneskoester commented on #1744
@bgruening that's right. We agreed at some point that it is a good strategy to only pin once the need occurs. Otherwise, we would end up pinning literally everything, just to be sure. However, for many libs it is not clear if they use semantic versioning. Hence, this would significantly prolong the review of each PR. I am still in favor of doing it in the trial and error way like it is now.

[2016-08-15 07:49] bgruening commented on #1744
@johanneskoester I'm fine with this, as we have a Docker container as backup. I'm just a little bit worried about the disc space at anaconda.com? Do we replace old unpinned version? Should we not care?

[2016-08-15 07:58] johanneskoester commented on #1744
In principle, we could replace old builds. But for reproducibility (even of errors), I would like to give the guarantee that no build number ever disappears. At the moment, we are at 26GB of 100GB storage. So there is still plenty of room. As our knowledge about which libraries to pin grows, there will be less and less such events. I think this will become a no-issue before we hit the 100GB limit.

[2016-08-15 08:10] bgruening commented on #1744
@johanneskoester I like your optimism :)
The point is that currently it is not strictly reproducible, as dependency changes and package will break. It's hard to know which dependency was available at a certain time in the past. So this reproducible argument does not count for such packages. But I'm fine to keep all builds as well, as long as we don't have to worry about space!

Let me know what el

[2016-08-15 08:21] johanneskoester commented on #1744
Well, if we guarantee that no build number disappears, people can achieve full reproducibility using environment.yml files that list all packages of the environment, including the build number and recursive dependencies. This is very easy with the env export command.

We have  a weird error in the last weekly tests on osx: [here](https://travis-ci.org/bioconda/bioconda-tests/jobs/152190039#L217).

[2016-08-15 16:53] daler commented on #2140
Can you add a wrapper script as described in the [guidelines](https://github.com/bioconda/bioconda-recipes/blob/master/GUIDELINES.md#java)? Then the user can specify whatever memory they need.

[2016-08-15 18:04] jrderuiter opened #2148 "Freebayes parallel and vcflib issues"
Freebayes parallel is currently not working because the required vcflib scripts (such as vcffirstheader) are not copied over when freebayes is installed. This can be solved in two possible ways:
- We can build freebayes' vcflib submodule as part of the freebayes build and copy over the required scripts to the bin directory.
- Or we can make the freebayes package depend on the vcflib package and us

[2016-08-16 07:55] matthdsm opened #2150 "umi_tools not working after conda update"
Hi,

recently I've submitted the `umi_tools` recipe to bioconda. Everything seemed to work fine up until I updated conda to the latest version. When I try to run the tools I get the following error

[code]
I already tried to `force install` the recipe and conda to resolve any issues.
Anyone have an idea what could be causing this?

`conda list`output:

[code]

[2016-08-16 09:13] endrebak commented on #2140
I'll try copying this script the next time I update asciigenome: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/peptide-shaker/peptide-shaker.py

Thanks for your help.

[2016-08-16 09:13] #2140 closed

[2016-08-16 09:16] bgruening commented on #2140
thank @endrebak!

[2016-08-16 10:49] bgruening commented on #2150
@matthdsm I can not reproduce this error. For me it's installing fine. Please make sure you have `-c bioconda` specified and that you wrote `umi_tools` and not `umi-tools`, like in your error message: ``The 'umi-tools==0.2.3' distribution

[2016-08-16 10:53] matthdsm commented on #2150
Hi Björn,
Yeah, installing is not an issue, and the test seems to work, I only get the error message when I actually try to run the program. I've tried it in our default conda env, in a clean vagrant box and on a OSX system, all with the same result. It's weird. I also had an older conda installed on a different location, en there it seemed to work properly.

[2016-08-16 16:21] rob-p opened #2152 "Update salmon version"
There's a new release of salmon (v0.7.0), and it would be great to update the version in bioconda. There are a few details about how the build is specified that I don't completely grok yet.  Also, some of the RPATH issues that were in v0.6.0 [have been fixed in v0.7.0](https://github.com/Homebrew/homebrew-science/pull/4058), so hopefully fixes some of the shared library problems in the current bui

[2016-08-16 16:51] roryk commented on #2152
Thanks Rob, I messed around with this a little bit yesterday and couldn't get it to build properly right off the bat. This wasn't the problem, but do you know if including gperftools is still necessary for getting it to run on older CentOS systems? I had to grab libunwind and build that to get past the gperftools step.

[2016-08-16 19:04] bgruening commented on #2150
This is strange! Works for me. Which conda version are you using?
[code]

[2016-08-17 08:18] matthdsm commented on #2150
Currently we're on conda 4.1.11, which is the latest version I presume. I think the last version it worked on was 4.0.5, but that was actually by accident, as that was a forgotten conda installation which took precedence in `$PATH`

It's a bummer I can't get it to work, I'd like to test my galaxy wrapper

[2016-08-17 16:54] roryk commented on #2152
If I drop that stuff I can get it to build.

[2016-08-17 19:16] roryk commented on #2152
It fails building in the docker container though-- there are lots of clashes with multiple definitions of stuff inside of jemalloc:

[code]

[2016-08-17 19:20] rob-p commented on #2152
What are the specs of the docker container?  I have a successful docker image [here](https://hub.docker.com/r/combinelab/salmon/).  I wonder what the differences might be (my dockerfile is [here](https://github.com/COMBINE-lab/salmon/blob/master/docker/Dockerfile)).

[2016-08-17 19:45] roryk commented on #2152
Hi Rob, thanks for looking into it. The dockerfile for the bioconda builder image is here, if that helps at all: https://hub.docker.com/r/bioconda/bioconda-builder/~/dockerfile/

[2016-08-17 20:51] bgruening commented on #2150
@matthdsm how do you run these tools. I can not reproduce.

[2016-08-18 06:51] matthdsm commented on #2150
what exactly do you mean by "how do you run these tools"?
I install the recipe using `conda install -c bioconda umi_tools`, after which I just call the executable with the `umi_tools --help`command.

output:
[code]

[2016-08-18 09:48] osallou opened #2166 "missing libgomp.so.1"
Hi,
I tried to install salmon in a container with conda on a Debian.

[code]

However it fails with missing library:  libgomp.so.1

[code]

If I install manually the library it works.

[2016-08-18 09:57] osallou opened #2167 "weblogo error"
weblogo install on a Debian is ok, but it fails to run due to missing perl modules:

    root@6b0eb9328ff0:/# conda install -y weblogo
    ...
    The following NEW packages will be INSTALLED:

        ruamel_yaml: 0.11.14-py35_0
        weblogo:     2.8.2-2

    The following packages will be UPDATED:

        conda:       4.0.5-py35_0 --> 4.1.11-py35_0
        conda-env:   2.4.5-py35_0 --> 2.5.1

[2016-08-18 10:05] osallou opened #2168 "$R command unknown"
meta.yml sometimes specifies test commands.
For R related packages, those commands specifies for example:

https://github.com/bioconda/bioconda-recipes/blob/master/recipes/r-snowfall/meta.yaml

    $R -e "library('snowfall')"

but $R is unknown, R should be used instead.

This error prevent auto-testing of packages install from meta.yml. test commands should specify commands that can be run in the

[2016-08-18 10:33] druvus commented on #2166
Try to add libgcc as run dependency in salmons meta.yaml file. I think this would fix this issue.

[2016-08-18 10:46] osallou commented on #2166
libgcc runtime dep fixes the issue, but recipe and package need to be fixed.

[2016-08-18 10:50] bgruening commented on #2166
@osallou see here: https://github.com/bioconda/bioconda-recipes/pull/2169

[2016-08-18 21:55] notestaff commented on #1
I'd like to join the bioconda team.   I work at the Broad Institute.  I would be contributing recipes related to population genetics simulation and to viral genome assembly.  Thanks!

[2016-08-19 08:46] bgruening commented on #1
@notestaff welcome on board!

[2016-08-19 23:19] lzamparo commented on #1639
From their [setup.py](https://github.com/bxlab/bx-python/blob/master/setup.py):

[code]
They now support contemporary versions of python3. Can we just omit the `skip: True` line to install for python3, or is it more involved?

[2016-08-19 23:31] jxtx commented on #1639
You can but it is unlikely to work. You can see this on the Travis tests
for bx-python.

The lines in setup.py are new in the dev branch, not in the last release.

On Fri, Aug 19, 2016 at 7:19 PM Lee Zamparo <notifications@github.com>
wrote:

[2016-08-21 10:41] johanneskoester commented on #1971
Hi Phil, any update on this? There are a few conferences upcoming in September and I would like to use it ;-).

[2016-08-21 22:02] bgruening opened #2194 "Source tarballs are from now on archived"
@bioconda/all from now on we will mirror all source tarballs via The Cargo Port project https://depot.galaxyproject.org/software/

The mechanism is implemented in large parts in https://github.com/galaxyproject/cargo-port/pull/93.
 * do a git checkout of bioconda-recipes
 * look for new meta.yml files during a fixed time period
 * extract the relevant `url`s and `git_url`s
 * downloads and stores

[2016-08-21 22:08] kyleabeauchamp commented on #2194
Great work!

[2016-08-22 07:30] johanneskoester commented on #2194
Björn, this is awesome, thank you!! I would vote for automatically adding the cargo url to the package after the source has been backed up.

[2016-08-22 14:07] daler commented on #2194
This is fantastic. @jxtx, @nekrut, @jgoecks, much thanks for the storage space.

Agreed, cargo urls should definitely be added automatically. Should probably append to the original URL so we have a record of where cargo port got the tarball in the first place.

@bgruening: if a meta.yaml updates source/md5/sha256 and the build number is bumped (but not the version number), is the cargo port url up

[2016-08-22 14:38] bgruening commented on #2194
@daler this is currently not covered. It's mainly a problem of the storage organisation. If you have an idea how to structure the depot? I guess you need to put the hash in the directory structure or something like that. But than again what happens with packages without a checksum?

@daler I think this would perfectly fit into bioconda-utils :)

[2016-08-22 14:58] daler commented on #2194
@bgruening If cargo port were a conda-specific depot, then using build numbers in the directory structure would work. Otherwise, updating the cargo port tarball upon checksum collision with meta.yaml would delete the original stored tarball. Bad news for reproducibility. So I agree, including checksum in directory (or maybe just in the basename) would help. But maybe we just need to be careful on

[2016-08-22 15:08] bgruening commented on #2194
We should definitely be more strict in using checksums as mentioned above I'm all in. Please add it to this list: https://github.com/bioconda/bioconda-recipes/issues/1860

All github/bitbucket URLs. Even worse if you calculate the checksum from on of these, it can change in the future for the same commit. I think they creating the archives on the fly and as soon as they change the underlying zlib

[2016-08-22 20:19] bgruening commented on #1744
@johanneskoester eigensoft and the gfold links are fine and there is no error.

[2016-08-23 12:47] johanneskoester commented on #1744
Thanks!

[2016-08-23 15:20] lzamparo commented on #1639
So do you think my best chances are to check out the dev branch and build from setup.py?

[2016-08-23 22:26] keyavi commented on #1
Hello BioConda Team,
I'd really love to be a part of the team and can I add my tool too?
https://anaconda.org/k3yavi/rapclust

[2016-08-23 22:28] bgruening commented on #1
Hi @keyavi! Welcome to bioconda!

[2016-08-24 08:26] bow opened #2208 "Add previous versions of a package"
Hi Bioconda developers,

I saw that the VarScan (version 2.4.2) is available in the recipes. I am wondering, however, what the policy is for adding previously released versions of a package.

My concrete use case is that I may need to use a previous version of VarScan (version 2.3.7 to be exact). I've tested this locally, following the guidelines set in the README up to the docker test, and everyt

[2016-08-24 13:27] bgruening commented on #2208
@bow they are allowed and a few of us really want to have them visible at any time.
For the moment, please create a subdirectory called 2.3.7 in the varscan folder, this should do the trick.

[2016-08-24 13:45] bow commented on #2208
Hi @bgruening,

Great :). Would you prefer I open a merge request for this?

[2016-08-24 13:52] bgruening commented on #2208
@bow that would be awesome! Btw. it's called Pull request. You are asking us if we can pull your changes :) Strange words I know :)

[2016-08-24 14:03] bow commented on #2208
@bgruening Aha, indeed ~ I often get lost in the terminology :P. But anyway, it's open now here: https://github.com/bioconda/bioconda-recipes/pull/2211 :).

[2016-08-24 14:03] #2208 closed

[2016-08-24 19:17] ewels commented on #1971
Apologies, I've been away and I must admit it slipped my mind..

I've just updated it, including where it's hosted:

* URL is now http://beta.tallphil.co.uk/bioconda-badge/
* `-c bioconda` is now optional with a checkbox
* Dropdown allows you to choose between `$` or `>` as a prompt
* New compact version
* Option for black & white variants
* Preview shows you the badge as you update the form

I mo

[2016-08-24 19:35] kyleabeauchamp commented on #1971
This looks great.  IMHO I would replace "See:" with "See".  E.g. delete the colon.

[2016-08-24 19:59] ewels commented on #1971
Ok, just updated the URL with a version with is now a single HTML file and fully standalone (needs no server backend). @johanneskoester - if you're happy with it, should be possible to put wherever you think appropriate. I'll also leave it at the above URL for the foreseeable future.

I created a gist with the code here: https://gist.github.com/ewels/20814963119c80f545a88950ec6b4a4e

@kyleabeaucha

[2016-08-24 21:03] tomkinsc commented on #1971
Awesome! Looks great, @ewels! Do you have the original SVG files (with text as text, not paths), in case we want to make changes?

I still like the idea of a more compact version, though I do like yours as well—can't hurt to have another variant, right? I may add a compact version once the generator page has been merged in. I may also extend the JS to generate png images in addition to the SVGs.

[2016-08-24 21:21] ewels commented on #1971
@tomkinsc: All sounds great! I think that there's an editable file for one of them in the zip file right up in the first comment.. [This zip file](https://github.com/bioconda/bioconda-recipes/files/360845/poster_badge.zip). None for the others sorry, I just moved the expanded text around.

[2016-08-25 09:03] johanneskoester commented on #1971
Great work, thanks! I have noticed two remaining showstoppers:

1. when you scale the svg, the command line does not scale. It seems to have a fixed font size.
2. At least in firefox, it is not straightforward to download the SVG from the page. Can you add a link, that contains the file base64-encoded in a download tag?

Apart from that one minor request:
can the command line be formatted in a mon

[2016-08-25 13:20] ewels commented on #1971
Hmm, sounds like there is some system dependent stuff going on here.

1. The text scales normally for me. Will have to look into it.
2. Yeah this is more difficult than I expected. Will add a download trigger.
3. The command line is already formatted in a monospace font for me, so this probably means that you don't have the font (Monaco). It uses a regular CSS font stack though, so I can add some

[2016-08-25 13:22] tomkinsc commented on #1971
I'm actually reworking the page as we speak, so I can try to address these things!

[2016-08-25 16:05] ewels commented on #1971
Ok great! I'll leave it alone for now then so that we don't duplicate each other's work.

[2016-08-26 05:12] nvictus commented on #1
Hello, bioconda! This is fantastic! May I contribute too?

[2016-08-26 06:31] bgruening commented on #1
@nvictus Of course - welcome! Please start with reading our guidelines about package development. Thanks!

[2016-08-26 07:46] alexpreynolds opened #2222 "conda recipe builds locally, but does not build remotely in one of four Travis CI tests"
I tried to issue a PR for the following commit:

https://github.com/bioconda/bioconda-recipes/pull/2220/files

I was able to build the conda recipe locally (OS X) without errors.

On the remote side, the first of the four Travis CI tests failed (Ubuntu 14). The other three passed.

Is there something I can do to troubleshoot the failed test? I don't know how to replicate the setup related to the f

[2016-08-26 10:09] notestaff commented on #2222
You can look at the build logs here: https://travis-ci.org/bioconda/bioconda-recipes/pull_requests

[2016-08-26 14:12] yhoogstrate commented on #2167
Could you try adding:
[code]

to this file: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/weblogo/meta.yaml

and follow the build instructions to test (https://github.com/bioconda/bioconda-recipes#step-2-test-the-recipe)

[2016-08-26 15:09] daler commented on #2222
The [README](https://github.com/bioconda/bioconda-recipes/blob/master/README.md) describes how to set up the Docker container used for travis-ci tests. You can give this a shot on your local machine for troubleshooting.

[2016-08-26 16:00] tomkinsc commented on #1971
Ok, the page is proposed in PR #2227. I wasn't sure of the best place to put it, but `docs/_static/` seemed reasonable. @johanneskoester, would you suggest a different location? I did have to remove `_*` from the `.gitignore` file for `docs/`.

[2016-08-26 16:00] notestaff opened #2228 "depending on only the executables in a package"
Bioconda recipes often have a particular type of package dependency: package A depends on package B, but only in that A runs some executables that B puts in bin/ .  In such a case, when installing A into an environment (say env_main), it is not necessary to install B and its dependencies into env_main, where they may create conflicts.   Instead, a separate environment (say env_B) can be created au

[2016-08-26 16:06] ewels commented on #1971
Brilliant! Sounds like it is a lot more robust now 😀

[2016-08-26 16:07] johanneskoester commented on #1971
Yep, perfect! Feel free to merge. Thanks Chris and Phil for putting this together!

[2016-08-26 16:57] #1971 closed

[2016-08-26 17:19] tomkinsc commented on #1971
It's now live here:
https://bioconda.github.io/_static/badge-generator/

[2016-08-26 17:24] ewels commented on #1971
Great, works like a dream! 👍

Agh, sorry to be annoying and wait for the merge already, but just noticed that for me, some of the PNG exports come out squashed:

<kbd><img title="bioconda-badge-very-compact" src="https://cloud.githubusercontent.com/assets/465550/18014256/b00a8878-6b87-11e6-9d37-79c7ae4a667d.png"></kbd>

[2016-08-26 17:26] tomkinsc commented on #1971
Hmm...what browser (flavor, and version) and platform are you running?

[2016-08-26 17:33] ewels commented on #1971
Chrome Version 52.0.2743.116 (64-bit) OSX. SVGs are fine, some PNGs are squashed. Full set:

<kbd>
<img title="bioconda-badge-wide 1" src="https://cloud.githubusercontent.com/assets/465550/18014526/e870bb46-6b88-11e6-98d3-fafea033f45e.png">
</kbd>

<kbd>
<img title="bioconda-badge-tall" src="https://cloud.githubusercontent.com/assets/465550/18014530/ef239904-6b88-11e6-841d-4cf8ca9085f3.png">
</kbd

[2016-08-26 17:36] tomkinsc commented on #1971
I'm on Chrome 51.0.2704.106 (64-bit) on OSX. I guess I'll update and see if I can replicate.

[This line](https://github.com/bioconda/bioconda-recipes/blob/master/docs/_static/badge-generator/index.html#L224) is probably the one to change (along with its corresponding height line), with some variant of `svgElement.getBBox().width` or maybe `svgElement.getBoundingClientRect().width`.

Now that I th

[2016-08-26 17:55] tomkinsc commented on #1971
I'm now on the same version of Chrome as you, @ewels, 52.0.2743.116 (64-bit), on OSX 10.11.6, and the PNGs are still rendering OK for me. Strange. Do you see the squashing using incognito mode as well?

[2016-08-26 18:12] ewels commented on #1971
Weird! Yes, same thing in incognito. OSX 10.11.6 in case that could make any difference. Interestingly I just tried it on my iPhone 6 (Safari) and got the same thing, though even more extreme.

The SVGs are fine though, and browser display is fine so it's pretty obvious that it's happening.

Phil

[2016-08-26 21:02] alexpreynolds commented on #2222
From following the README, I am not able to get the Docker container running:

[code]

Am I perhaps missing some configuration file or settings not described in the README?

[2016-08-26 21:26] daler commented on #2222
Haven't seen this before. Could be that dockerhub is down (though the [status](http://status.docker.com/) page seems fine). Docker version could also be an issue as described ([here](https://github.com/docker/docker/issues/15442) and [here](https://github.com/docker/hub-feedback/issues/398)).

[2016-08-26 21:39] alexpreynolds commented on #2222
Maybe I can fix this without trying to locally replicate the one remote Docker setup that is not working.

Is there documentation for what the variable `SUBDAG=0` changes for compilation by Bioconda?

There are two Linux-based Travis CI tests, and the one Linux test which passes uses `export SUBDAG=1`. The Linux host that fails uses `export SUBDAG=0`.

Since this is the only difference, there's pr

[2016-08-26 22:03] daler commented on #2222
Subdags are actually unrelated to the problem:

The subdags are a trick we use to get travis-ci to build recipes in parallel when possible. Recipes to be built are bundled into topologically-sorted sub-DAGs that can be built together. The job running with SUBDAGS=0 is building different recipes than the job running with SUBDAGS=1.  For a single recipe, there will only be one subdag (containing jus

[2016-08-28 21:17] tomkinsc commented on #1971
I can reproduce it on iOS. Not quite sure of the best fix given available time; I could use help from the group if there are any javascript wizards among us.

[2016-08-29 08:23] edurand opened #2235 "bioconductor-rhdf5 2.16 should require R 3.3"
rhdf5 2.16 is designed for Bioconductor 3.3, which itself is built for R 3.3. Allowing rhdf5 2.16 to build and install with R 3.2 creates issues with other bioconductor packages, and in fact makes opening most hdf5 files impossible on my system.

meta.yaml file should reflect this.

Thanks,
Eric

[2016-08-29 13:30] daler commented on #2235
Thanks. Due to various technical reasons related to the build system infrastructure, we're still working on supporting R 3.3. However the [rhdf5 bioconductor page](http://bioconductor.org/packages/release/bioc/html/rhdf5.html) does not list R >3.2 as a dependency the same way, e.g., [S4Vectors](http://bioconductor.org/packages/release/bioc/html/S4Vectors.html) does. If it were listed then we would

[2016-08-29 13:38] daler commented on #2228
Give it a try -- that'll be the best way to figure out what if any problems it would cause. I can't think of any show-stoppers off the top of my head.

[2016-08-29 15:15] blankclemens commented on #1
Hello team, I'd like to update the `planemo` recipe and would have to add `aenum` and update `galaxy-lib` for this. May I add these recipes?

[2016-08-29 17:48] osallou commented on #2167
I gonna try, but this is not the first bioconda package failing to run due to missing deps. I wonder how packages are tested before being put in available packages. Packaging is a hard task, but here I faced several packages not running at all.... :-(

[2016-08-29 22:37] dkoppstein opened #2238 "problem running HTSeq"
Am getting:

[code]

Looks like a typo in the htseq-count script, but oddly is specific to the bioconda tarballed bz2. It looks like I'm defaulting to this version:

https://conda.anaconda.org/bioconda/linux-64/htseq-0.6.1.post1-py27_0.tar.bz2

Indeed, the typo is present in the script in the bzipped tarball. However, if I download the tarball from PyPI and install manually into the same environme

[2016-08-30 13:51] daler commented on #2238
Actually I can't reproduce:

[code]

And building the recipe with tests, `CONDA_PY="2.7" conda build recipes/htseq`, works fine. Are you installing into an existing env? Maybe try bumping the build number to upload a new build and see if that fixes things?

[2016-08-30 14:07] daler commented on #2167
I'm unable to reproduce on the `continuumio/miniconda3` docker container, which is debian 8.5:

[code]
Based on your prompt you might be running docker as well -- can you share your docker image or dockerfile? As for your question about tests, [these test commands](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/weblogo/meta.yaml#L16) must pass before anything is uploaded to anaco

[2016-08-30 15:37] osallou commented on #2167
I am indeed using Docker (osallou/bioconda). I'm fine to use continuumio/miniconda3 instead, but it should have no impact. Or it is a conda version issue with wrong management in dependencies... (but we see in logs that conda is updated too).

Other packages were bioconda ones (see #2166)

[2016-08-30 16:11] daler commented on #2167
Thanks, I can reproduce with that. The big differences is that it's based on the stripped-down busybox rather than the full debian used by continuumio/miniconda3. As @yhoogstrate mentioned, adding `perl-threaded` should fix this recipe, though it might need some other as-yet-unknown dependencies.

@jerowe, here's an example of a package that depends on perl but we wouldn't otherwise know since it'

[2016-08-30 16:59] osallou commented on #2167
Busybox and alpine are *good* base images to test such issues as they are
with almost nothing installed... ;-)

In the meanwhile i will try with continuum debian based image

Le mar. 30 août 2016 18:15, Ryan Dale <notifications@github.com> a écrit :

[2016-08-30 20:14] dkoppstein commented on #2238
Hmmm, interesting. I am indeed installing into an existing environment, and building a new environment from scratch works for me as well. Perhaps there is something in the environment that is causing this error. I'll try narrowing down what that might be.

[2016-08-30 21:33] daler commented on #2167
Agreed, while it would be hard to build on those images, it would be great to test on them.

Looking more closely at the weblogo recipe, it's for the original perl version 2 which hasn't been updated in 11 years (!). @percyfal, looks like you were the one to add this originally back in the early days of bioconda; any objections to updating to 3.5? I can move the existing 2.8.2 recipe to a subdir a

[2016-08-31 00:50] alexpreynolds commented on #2222
I get the following error when trying to build an updated recipe via the `bioconda-builder` container (the recipe references code that is known to compile correctly on other hosts):

[code]

[2016-08-31 01:19] stevecassidy opened #2247 "planemo 0.29.1 requires bioblend>=0.8.0"
Current version of planemo recipe doesn't work because of a missing required update of bioblend. (in particular, shed_update breaks).

[2016-08-31 04:29] jerowe opened #2248 "perl travis builds on osx:"
[code]

Anyone know what is happening here? I think it should be lvm or something for OSX instead of libgcc, but I'm not sure why that would be pulled in as a

[2016-08-31 13:49] jerowe commented on #2248
I'm seeing this problem again and again with perl builds on OSX. It keeps bringing in vanilla perl as a dependency, and then I get that the 'run_test.pl' fails.

Here is a travis build of perl-test-simple. It doesn't require any non core modules, just perl-threaded, and perl is still being pulled in as a dependency. Its making me kind of crazy, and I would like some insight. ;-)

[2016-08-31 13:51] jerowe commented on #2248
pinging @daler  and @bgruening . Whyyyyyyyy?

[2016-08-31 13:55] daler commented on #2248
My initial guess would be that there's something hard-coded in conda; I'll need to look closer at this.

[2016-08-31 17:22] bgruening commented on #2167
Indeed we are very close to test everything in busybox as soon as I got mulled to autobuild docker container for us. Mulled is using busybox and already found a few errors. Will write more about this as soon as I'm back from vacation.

[2016-08-31 17:32] bgruening commented on #1
Welcome Clemens!

[2016-08-31 17:35] bgruening commented on #2247
Ping @blankclemens

[2016-08-31 18:10] forrestzhang commented on #1
Hello Bioconda Team,
I'd like to join the Bioconda team.

[2016-08-31 18:14] bgruening commented on #1
Welcome @forrestzhang !

[2016-09-01 06:31] jerowe opened #2261 "Anaconda build migration"
[Blog](https://www.continuum.io/blog/developer-blog/anaconda-build-migration-conda-forge)

I don't feel very up on the different build systems. Will this affect bioconda at all?

[2016-09-01 08:34] #2247 closed

[2016-09-01 13:44] daler commented on #2261
Nope, we're using docker containers on travis-ci rather than anaconda build system -- shouldn't affect us at all.

[2016-09-01 14:51] bgruening commented on #2261
Ryan this blog is talking about that conda-forge will replace the anaconda build system. So cf will be the new standard. I think this affects us, but we are already discussing how to work together with cf and how to unify the builsystem based on Docker!
Maybe I'm misunderstanding something - sorry.
On Sep 1, 2016 3:44 PM, Ryan Dale <notifications@github.com> wrote:Nope, we're using docker containe

[2016-09-01 17:44] daler commented on #2261
My understanding of the post was just that the anaconda build system was being shut down and conda-forge was suggested as a replacement and the way forward. Since we don't use the anaconda build system and have our own build system, then it wouldn't affect us. But as you say, hopefully we'll be able to integrate with conda-forge, at least in terms of build systems and infrastructure.

[2016-09-02 06:16] jerowe commented on #2261
I don't know much about this and just briefly read the articles, but it looked like conda-forge wants to be a unified repository. Does this mean different channels (bioconda, javascript, etc) go away?

Will they still be building against centos? I feel like I need so much more information and don't even know what questions to start with!

[2016-09-03 05:59] onkarnath89 opened #2272 "error in installing meme"
PASS: ama1
PASS: ama2
PASS: ame1
PASS: centrimo1
PASS: create-priors1
PASS: create-priors2
**FAIL:** dreme1 (CRASH!)
**FAIL:** dreme2 (CRASH!)
PASS: fasta-center1
**FAIL:** fasta-dinucleotide-shuffle1 (CRASH!)
PASS: fimo1
PASS: fimo2
PASS: fimo3
PASS: fimo4
**FAIL:** glam2_1 (CRASH!)
FAIL: glam2scan1 (CRASH!)
PASS: gomo1
PASS: gomo2
PASS: mast1
PASS: mast2
PASS: mast3
PASS: mast4
PASS: mast5
PASS:

[2016-09-03 06:36] bgruening commented on #2272
Are you running this under python3? Can you try it with python2?
@gregvonkuster is meme python3 ready?

[2016-09-03 06:43] onkarnath89 commented on #2272
I also tried it with python 2
the details are included in the above message. I had one error of "glam2_1" with version 2.7.12. see detail at the starting of the error detail section above

[2016-09-04 13:05] bgruening opened #2276 "Packages without a test-case"
Here is a list of packages without tests defined.

No tests defined for: recipes/extract_fullseq/meta.yaml
No tests defined for: recipes/setuptools_cython/meta.yaml
No tests defined for: recipes/libgd/meta.yaml
No tests defined for: recipes/libgtextutils/meta.yaml
No tests defined for: recipes/perl-test-xml/meta.yaml
No tests defined for: recipes/perl-bioperl/meta.yaml
No tests defined for: recipe

[2016-09-04 13:13] bgruening opened #2277 "Bioconda Contribution Fest: 2-3 November"
<s>With all the changes that will come in the next weeks and a few open issues concerning the overall quality of our packages I thought about organizing an online contribution fest. Maybe over one or two days, where we all gather together (online) and work on some specific tasks.</s>

Our first Contribution Fest will be on the 2-3 November! We will have an IRC channel (maybe gitter?) and a google

[2016-09-04 13:26] tomkinsc commented on #2277
This is a great idea; I will happily participate to the extent I have time available.

[2016-09-04 13:31] jmchilton commented on #2277
I'd participate in some capacity.

[2016-09-04 14:06] daler commented on #2277
Good idea. I may not be able to do things synchronously due to time constraints, but would be happy to participate otherwise.

[2016-09-04 14:16] bgruening commented on #2277
@daler this could be a chance to see PR all 24h :)

[2016-09-04 14:45] brwnj commented on #2277
What are your specific task ideas so far? In any case, I'd participate.

On Sun, Sep 4, 2016, 7:16 AM Björn Grüning <notifications@github.com> wrote:

[2016-09-04 14:51] bgruening commented on #2277
@brwnj I have added a few ideas to the top post.

[2016-09-04 15:08] eggzilla commented on #2277
Hey, I will also contribute. Especially #1860 sounds interesting for me :-)

[2016-09-04 15:35] bgruening commented on #2194
More than 50 tarballs are already mirrored: https://depot.galaxyproject.org/software/

I will close this Issue now! Please remember that we have this feature, we should check it after restructuring the repo and such things, maybe we break it.

[2016-09-04 15:35] #2194 closed

[2016-09-04 15:57] bgruening commented on #1389
We now passed the 1500 packages! :)
Nevertheless, I will close this issue and waiting for the 2000 package to create a new one!

[2016-09-04 15:57] #1389 closed

[2016-09-04 16:49] dkoppstein commented on #2277
Would be happy to contribute! I think weekends might be easier for me, but
perhaps we should find a consensus time.

On Sun, Sep 4, 2016, 8:09 AM Florian Eggenhofer <notifications@github.com>
wrote:

[2016-09-04 17:44] tomkinsc commented on #1860
I'm not sure it's best to hard-fail (i.e. block merging) if a package already exists in coda-forge, r, default, etc., or at least we'd have to be careful about what we compare. Package name collisions are possible, and we may want to offer a package where other channels may not have a newer version available, or we may want to offer an older version of some package (for example, Trinity v1.x, whic

[2016-09-04 21:58] leobiscassi commented on #2277
Hi all, I'm in! :smiley:

[2016-09-04 22:45] nturaga commented on #2277
I will try participate too.

[2016-09-05 00:01] tiagoantao commented on #2277
I am very pressed for time, but I will try to participate

[2016-09-05 00:07] tiagoantao opened #2282 "Age of packages"
The biggest problem that I have found with bioconda is that some packages are quite old. This is probably to be expected as there are a lot of packages.

I have found myself just compiling some packages locally instead of using the bioconda package. Another alternative would be to submit a PR with an upgrade, but sometimes I simply do not have time for that.

One possibility would be to simply rai

[2016-09-05 00:08] tiagoantao commented on #2277
Idea:

#2282 (age of packages)

[2016-09-05 02:28] jerowe commented on #1389
Awesome! Looking forward to 2000!

On Sep 4, 2016 7:57 PM, "Björn Grüning" <notifications@github.com> wrote:

[2016-09-05 02:28] jerowe commented on #2277
I would be very interested,  but it depends on when.

On Sep 5, 2016 4:08 AM, "Tiago Antao" <notifications@github.com> wrote:

[2016-09-05 05:55] cbrueffer commented on #2277
Same here; interested but depends on date/time.

[2016-09-05 08:42] johanneskoester commented on #2277
I'm in of course. My time is very limited at the moment, but I'll try to join!!

[2016-09-05 09:46] mdehollander commented on #2277
I am also interested. My contribution depends as well on the time i have available and my knowledge of the bioconda system

[2016-09-05 09:48] jrderuiter commented on #2277
I am also interested, time and familiarity with the bioconda system
permitting!
On Mon, 5 Sep 2016 at 11:46, Mattias de Hollander <notifications@github.com>
wrote:

[2016-09-05 13:41] endrebak opened #2288 "bx-python intervaltrees work for python3. Can we allow bx-python for python3?"
Can we allow bx-python to be installed on Python3? Many modules there do not work, but intervaltrees do and I desperately need them :)

If so, how should I/we fix it?

https://github.com/bioconda/bioconda-recipes/issues/1639

[2016-09-05 13:52] bgruening commented on #2288
ping @jxtx

[2016-09-05 13:55] endrebak commented on #2288
We would need to change the yaml to:

[code]

Perhaps we could have a `bx-python3` where we reduce the tests to only those modules that work? Seems suboptimal to not include anything from `bx-python` just because not all of it works in `python3`. I never use all bx-python modules at the same time, only 1 or at most 2 (interval and clustertrees both work in py3).

[2016-09-06 02:52] zachcp commented on #2282
I can't think of a way to auto-update ALL packages but it should be possible to autobuild CRAN/PyPi/CPAN using a script that does the following.

1. scan the bioconda-recipes for packages built with conda-skeleton

For each package record the package name and:

2. git bracn then delete the package directory
3. run conda skeleton to recreate the directory with the latest info
4. git  add/commit/pus

[2016-09-06 03:00] zachcp commented on #2277
bioconda has been a great resource to me. I'd be interested in helping.

Another potential issue to flag, related to #1860 is what to do with packages that were added to bioconda early on but are now upstream.  (r-ggplot2, click, others? probably many now). maybe these should be pruned?

[2016-09-06 04:45] endrebak commented on #2288
Come to think of it, a much more hackish (but less intrusive) way to use bx-python in conda with python3 is just to do this in the `build.sh`:

[code]

If you would mind this for some reason, please tell me. I see it than better than not adding something to python3 in bioconda just because it uses intervaltrees.

[2016-09-06 06:33] endrebak commented on #2277
Is someone working on upgrading R and Rpy? If so I'll join you. We should make our own TODO-thread for this. I cannot do it alone: someone with a more complete understanding of R, Rpy2, anaconda and its quirks is needed.

[2016-09-06 08:10] abretaud commented on #2277
I'll try to join if I have time!

[2016-09-06 08:21] jrderuiter commented on #2277
Maybe a bit unrelated, but what is actually the approach that we should use for building/testing packages on OSX? For Linux we have docker, but do we also have a default clean build image for OSX?

[2016-09-06 20:54] tomkinsc commented on #2282
At a minimum it would be helpful to have something like a Google spreadsheet form to request a package recipe update. The fields could include: package name, newer version available, url (optional; needed if the origin has changed). The form would allow users to easily request updates without having git knowledge, and it would centralize the requests to keep noise off the GitHub issue tracker. A l

[2016-09-07 17:32] lucapinello commented on #2277
This is a great idea!

[2016-09-08 12:52] tseemann commented on #2277
I'd like to - might be able to join depending on timing.

I'm a bit behind on Bioconda recent changes however, would need to find out what's been happening.

[2016-09-08 12:58] roryk commented on #2277
Down for helping with this!

[2016-09-08 20:21] bgruening opened #2297 "Announcement: Linux containers (Docker, rkt) for all conda packages"
Dear @bioconda/all,

this is a small announcement to let you know that we succeeded in creating an very efficient Linux container for every\* Bioconda package. Yes, there are now 1338 [Docker](https://www.docker.com/) and [rkt](https://coreos.com/rkt/docs/latest/) containers build from your contributions to Bioconda, freely available for everyone!
## How does it work?

We have created a tool calle

[2016-09-08 20:43] kyleabeauchamp commented on #2297
Once again great work by @bgruening, looking forward to test it out.

[2016-09-08 20:45] hainm commented on #2297
Fantastic. Thanks.

[2016-09-08 21:51] daler commented on #2297
@bgruening, this is awesome. Amazing work.

[2016-09-08 22:15] gregvonkuster commented on #2297
@bgruening You rock!!  Thanks!

[2016-09-08 22:23] yesimon commented on #2277
I might take some time to look at some OS X issues!

[2016-09-09 01:41] roryk commented on #2297
sick!

[2016-09-09 04:33] thriqon commented on #2297
It's nice to hear that you folks like it :) If you want to know more about the usage of different base images that @bgruening mentioned just tell me.

And we're looking for help... If anybody knows a slick way to get the list of recently (i.e. since yesterday) updated packages directly from the Conda repository, you'll be our hero!

[2016-09-09 05:32] endrebak opened #2300 "Donate $ to bioconda"
I have more money than time (not much of either though). Would you be able to set up a paypal and use donations for bioconda-related purposes? I can't give much, but I give worthy FOSS projects 5-10 bucks every now and then...

[2016-09-09 06:58] dmaticzka commented on #2297
nice!

[2016-09-09 07:29] mwolfien commented on #2297
That's "a thing"! =)

[2016-09-09 08:35] jerowe commented on #2297
This is so cool!

@thriqon , this could be accomplished using the binstar api. I do something similar for our conda packages. I can't work on it today, but I should be able to get it written for you by the end of tomorrow.

[2016-09-09 10:08] snewhouse commented on #2297
@bgruening this is amazing!

[2016-09-09 10:09] jerowe commented on #2297
@thriqon

[code]

[2016-09-09 13:23] bgruening commented on #2297
Thanks for all your positive comments! I'm also really excited and see so many potential in it.
@jerowe thanks for this snippet, this will help us to improve at least the bioconda integration. Unfortunately, `default` does not store the `meta.yaml` in its packages and we need this file to extract the test cases. So I think at least for `default` and `r` we still need to clone the github repos.

An

[2016-09-09 13:55] jerowe commented on #2297
@bgreuning, what do you mean? The original source url?

[code]

'api.anaconda.org/download/anaconda/scipy/0.18.0/linux-64/scipy-0.18.0-np111py35_0.tar.bz2', is an actual url.

I am very interested in how this works. ;-)

[2016-09-09 17:54] Luobiny commented on #1
I am thinking about to add the latest version of skewer to the repository.

[2016-09-09 18:42] JohnGreeley commented on #1
Hello all! I'd like to join the bioconda team.

[2016-09-09 19:24] josephvitti commented on #1
Greetings Bioconda Team! I would like to join as well :)

[2016-09-09 19:32] daler commented on #1
Great -- welcome @Luobiny, @JohnGreeley, and @josephvitti!

[2016-09-09 19:36] Shicheng-Guo commented on #1
Me too.  Hope to join the team.

Shicheng Guo

On Sep 9, 2016 10:54 AM, "Luobin Yang" <notifications@github.com> wrote:

[2016-09-09 19:36] tomkinsc commented on #2300
That is very kind of you, @endrebak! Paging @johanneskoester and @bgruening.

Related to this: If bioconda more of a full-time activity for its maintainers, a case could be made for it to operate as an independent non-profit organization (something like a 501(c)(3) in the US). This would make it easier to handle things like donations, and would make it more compelling for companies (like Continuum

[2016-09-09 19:37] kyleabeauchamp commented on #2300
I think NumFocus is a good model:

http://www.numfocus.org/

[2016-09-09 19:40] tomkinsc commented on #2300
NumFocus looks great, @kyleabeauchamp, and Continuum is a founding corporate sponsor so bioconda should be right at home there.

[2016-09-09 21:18] daler commented on #1
Welcome @Shicheng-Guo !

[2016-09-10 06:36] bgruening opened #2304 "Conda-Proteomic hackathon"
Hi @bioconda/all,

The [GalaxyP community](https://github.com/galaxyproteomics/tools-galaxyp/) is organizing a Hackathon dedicated to port as many Proteomic tools to Conda as possible. https://github.com/galaxyproteomics/tools-galaxyp/issues/57

From the announcement:

[code]

Everyone is invited and you can of course also work on other things or not Proteomics related stuff, the most important th

[2016-09-11 09:53] bgruening commented on #2277
Wow, what a great response! Thanks so much!!!!
What about the 10th and 11th of October - or do we need a doodle?

[2016-09-11 13:19] leobiscassi commented on #2277
That's great for me

On Sun, Sep 11, 2016 at 6:53 AM Björn Grüning <notifications@github.com>
wrote:

--
Best regards,
*Léo Biscassi*

[2016-09-11 20:05] johanneskoester commented on #2277
I'm on vacation from 2 to 15. October. If nothing else works, you can of course still do it without me though.

[2016-09-11 20:11] johanneskoester commented on #2300
Indeed, this is a good idea. I will have a look what to do once the build system migration is finally done.

[2016-09-14 07:10] jerowe opened #2319 "https with cmake"
Hello,

I'm not 100% sure this is an error with the bioconda curl, so bear with me here.

I have a conda env that I use just for building - with cmake, autoconf, automake, gcc, zlib, and ssl installed.

[code]

`which curl` gives me the correct curl.

[code]

Looks right too.

I can run

[code]

Just fine.

Ideas?

[2016-09-14 07:11] jerowe commented on #2319
Ah.

Its actually that cmake is compiled without ssl support.

Any votes against me adding a cmake with ssl support to the bioconda channel? This would be very handy for me to have, but I don't now if its useful for anyone else.

[2016-09-15 01:23] roryk commented on #2152
I ended up getting this to go a couple days ago, seems to be fine. Thanks!

[2016-09-15 01:23] #2152 closed

[2016-09-15 06:29] jerowe commented on #2319
Doesn't conda forge build against centos6? That would make many recipes unusable for anyone still relying on the centos5 architecture.

[2016-09-15 06:34] bgruening commented on #2319
Yes they do. But CentOS5 is running out of supported soon and joining the conda-forge has so many advantages.

[2016-09-15 07:15] #2150 closed

[2016-09-15 07:22] johanneskoester opened #2327 "Pull request reviews"
Dear @bioconda/core,
shall we enable [pull request reviews](https://help.github.com/articles/about-pull-request-reviews/)? The consequence would be that PRs cannot be merged before one other dev has added an approval without further requests.

This would be great for quality control, but maybe slow down some PRs which only update the version of a tool. Nevertheless, I am in favor of trying this ou

[2016-09-15 07:43] bgruening commented on #2327
As discussed at GCC I'm in favor of this + working on more strict travis quality control!

[2016-09-15 09:26] chapmanb commented on #2327
Sorry for always being negative recently, but I'm -1 on this. Being able to quickly merge fixes/updates is one of the things I especially like about the bioconda community process. I'm against blocking people by forcing every update to get a review, but for encouraging reviews when contributors would like them. Since testing catches lots of issues and it's pretty easy to provide a fix for package

[2016-09-15 09:49] johanneskoester commented on #2327
I see your point, Brad. I think mandatory reviews would mostly avoid problems with missing pinning or missing dependencies (e.g. gcc). But alternatively we could enforce that via linting as well. Another possibility would be to try to enable mandatory reviews only for new recipes (e.g. via adding an automatic review via the API in case of update-only PRs).

On the other hand, mandatory reviews for

[2016-09-15 16:51] bgruening commented on #2327
@chapmanb the largest concern about bioconda I frequently hear is that this channel is not secure. Everyone can basically change everything. It is easy to trick travis and inject some code, include a new numpy version that breaks everything else. And because most of the versions are not pinned this has the potential to break a lot of packages.

@s-will thought already about signing packages to dis

[2016-09-15 16:55] kyleabeauchamp commented on #2327
I also worry about the security concern that @bgruening brings up.

[2016-09-15 17:01] tomkinsc commented on #2327
Security of the channel concerns me as well. Could we have a mechanism to require code reviews until a user has a certain number of accepted PRs? We could add them to a particular organizational group after so many successful merges, under the assumption they'd be trusted at that point. Routine contributors would be able to make quick fixes by approving their own PRs, but new contributors would ne

[2016-09-15 18:01] jerowe commented on #2319
I think a lot of HPC centers are still on centos 5. We only just switched. I suppose if centos5 support is going away at least some of these will upgrade.

I don't know a whole lot about conda forge. I see they have their own perl - 5.20 I think. It looks like there are lots of cool things happening over there, and they have all my desired build tools!

I'm still working on testing it out. I was g

[2016-09-15 18:35] bgruening opened #2330 "Please do not merge PR for the time being"
@bioconda/all we are currently working on the build-system and we have some issues, please do not merge your PR until we are done.

Thanks! :)
Bjoern

[2016-09-15 20:09] johanneskoester commented on #2327
We could stop adding people immediately. Instead, we could only provide invitations after x successful PRs.

[2016-09-16 00:04] johanneskoester commented on #2330
@bioconda/all, the new build system has been finally fixed. You can go on with your PRs. I had to adapt to various unexpected changes in conda-build 2.0. Sorry for the delay. Time to get some sleep now ;-).

[2016-09-16 00:04] #2330 closed

[2016-09-16 01:06] lpantano commented on #2330
thank u!

sent not from my computer

[2016-09-16 05:04] brainstorm commented on #2330
Thanks @johanneskoester! Unfortunately I've retriggered the build and the timeouts persist, but nothing we can do since it's anaconda.org timing out, I guess?:

https://travis-ci.org/bioconda/bioconda-recipes/jobs/160205653

And now it also fails but a bit randomly, some anaconda timeouts return exit code 0 and others errors, bizarre:

https://travis-ci.org/bioconda/bioconda-recipes/builds/1602056

[2016-09-16 05:30] croth1 commented on #2327
The github infrastructure should work very well with only a small number of trusted core members that review and merge pull requests. This will not only improve security but will also help to ensure quality standards of our recipes in the future.
I think this model would be much better, provided the core team is large enough so that waiting periods for reviews are reasonably short.

Users that con

[2016-09-16 06:49] johanneskoester commented on #2330
@brainstorm, retriggering the old build won't help, because it will work with the old checkout, still pointing to the conda-build version with the bugs I have fixed last night. However, your updated version of BRASS should be online already, because it has been built automatically after the fixes.

[2016-09-16 06:52] brainstorm commented on #2330
That's great, thanks Johannes!

How should I proceed then? Phony commit to retrigger a "fresh" build in order to be able to merge the pull request?:

https://github.com/bioconda/bioconda-recipes/pull/2329

[2016-09-16 06:56] johanneskoester commented on #2330
You should sync your with current master (e.g. by merging master in).

[2016-09-16 06:57] brainstorm commented on #2330
Gotcha, thanks!!

[2016-09-16 07:11] koustav-pal commented on #1
I would like to join the initiative!!

Koustav Pal,

[2016-09-16 15:40] PietJones opened #2332 "Perl GD"
Hi,

I have installed the package on my Mac system.
`conda install -c bioconda perl-gd`
Though when I import the package in my perl script, I get the error:

`Can't locate GD/Simple.pm in @INC (you may need to install the GD::Simple module) (@INC contains: /Users/jq2/miniconda/envs/python3/lib/perl5/site_perl/5.22.0/darwin-2level     /Users/jq2/miniconda/envs/python3/lib/perl5/site_perl/5.22.0  /U

[2016-09-16 18:46] hainm commented on #2327
I am +1 for pull request review and completely agree with @bgruening about

I agree with @tomkinsc about this. And may be the core developer here can also review new user's profile to either prove or defer (until they prove themselves).

[2016-09-16 19:43] mvdbeek commented on #1
I'd also be happy to join!

[2016-09-16 21:13] bgruening commented on #1
@koustav-pal, @mvdbeek welcome.

[2016-09-17 05:13] wckdouglas commented on #1
I would like to join as well!

[2016-09-18 16:10] souravsingh commented on #2277
I am really looking forward to this!

[2016-09-18 16:16] bgruening commented on #2277
What about the 2-3 November? Is this better?

[2016-09-19 11:52] johanneskoester commented on #1
Welcome!

[2016-09-19 11:54] johanneskoester commented on #2277
Works for me!

[2016-09-19 21:35] yesimon opened #2351 "Update certificates before installing wget on docker image"
I tried recreating the docker image recently and got this error:

[code]

I think we need to upgrade certificates first before installing wget. Of course adding `--no-check-certificates` is a temporary workaround 😉

[2016-09-19 23:57] yesimon opened #2354 "gcc: compilation optimization march/mtune level"
I'm opening this issue so that we can standardize on instruction level support. Typically compilation with gcc will default to `-march=x86-64` which is the most generic x86 support available and should work on all processors. However, newer processors have newer instruction sets such as SSSE3, AVX, etc that are only supported on a subset of processors.

Some packages have Makefiles that include pa

[2016-09-20 00:01] kyleabeauchamp commented on #2354
We may wish to check in with conda-forge and Continuum about best practices.

Clearly a lot of bioinformatics can benefit from having some level of optimization so it would be great if we had systems in place to maximize performance.

[2016-09-20 00:04] yesimon commented on #2354
Another approach, such as by RAxML is to compile multiple binaries with suffixes in a single package:
https://github.com/bioconda/bioconda-recipes/blob/master/recipes/raxml/build.sh

[2016-09-20 00:17] kyleabeauchamp commented on #2354
As food for thought, intel has a whitepaper that claims having AVX instructions may improve BWA:

http://www.intel.com/content/www/us/en/healthcare-it/solutions/documents/performance-benchmarking-of-burrow-wheeler-aligner.html

I'm not sure if their results apply to the current versions of BWA, but I for one would be thrilled to have faster alignment.

[2016-09-20 00:20] kyleabeauchamp commented on #2354
Looks like this might be in a non-standard branch of bwa, sadly: https://sourceforge.net/p/bio-bwa/mailman/message/34618535/

[2016-09-20 00:30] yesimon commented on #2354
Yes the whitepaper is very misleading by because it claims bwa was compiled with gcc flags `-O2 -funroll-loops`, which should still default to `-march=generic`. It's also comparing two completely different CPUs.

I have actually tested compiling with `icc` with ipo optimizations and even then the performance difference was negligible (0-5% improvement).

[2016-09-20 13:36] chapmanb commented on #2327
Thanks all for the comments and the great discussion. I appreciate the potential concerns about security and other issues, but still favor a lightweight process to push updates and recipes. Contributors will try to do the right thing and we can handle bad actors on a single case basis if they occur. The vibrant bioconda community exists because of the way we've removed barriers to contributing, an

[2016-09-20 13:54] johanneskoester commented on #2327
That's a reasonable argument. I must say that I am unsure what approach is better. Both have advantages and disadvantages. In a perfect world, we would have an easy way to enable forced reviews only for new recipes...

Maybe we make a two-step process out of this? I guess anybody is ok with inviting only after the first successful PR? That means, people posting in the join thread would post a link

[2016-09-20 14:10] s-will commented on #2327
I appreciate this discussion very much as well. Also, I share the concerns about making contributions to bioconda more complicated. However, IMO security is extremely important for the success of the bioconda project. Some time ago, I wrote down some ideas, how security could be fundamentally improved while keeping updates and pushing of new recipes as lightweight as possible. I want to share thes

[2016-09-20 17:45] kyleabeauchamp opened #2359 "Env issue"
Hey, wanted to cross-post this env issue I've observed over the past couple of months in case someone else observed it:

https://github.com/conda/conda/issues/3478

[2016-09-20 17:55] johanneskoester commented on #2327
@s-will indeed, signing packages would be a good solution, and your concept sounds reasonable. I fully support this, although it sounds like conda (or anaconda) is not quite there yet, right?

[2016-09-20 18:40] yesimon commented on #2148
I actually wouldn't recommend making it depend on the vcflib package precisely because freebayes is vendoring it and is only promising for it to work with the specific vendored version. Looking at it briefly it seems like all references to vcflib scripts are relative instead of looking on the `$PATH` so checking out the submodule should work fine.

[2016-09-20 19:31] yesimon commented on #1734
At the very least CentOS 5 will be EOL on April 1, 2017 which I think will be safe to switch no matter what.

I'm excited that conda-forge will have more consistent support for OS X packages due to building with `libc++`. As long as we don't have to deal with system packages then using conda's GCC should be fine, and is probably better because we get updates and better optimizations. System packag

[2016-09-20 19:33] yesimon commented on #2276
I know that kraken-all is a metapackage which probably shouldn't have tests. If there are any other metapackages they should probably also be filtered out.

[2016-09-20 20:50] s-will commented on #2327
Hi @johanneskoester, you are right, conda is not there yet, but it looks good that this will be completely supported soon.
I just found this tweet from Kale Franz, where he announces such functionality for end of 2016/early 2017: https://twitter.com/kalefranz/status/741094414085435392
(TUF-The Update Framework is a framework to facilitate making software update systems secure).
I found other 'hint

[2016-09-21 17:31] kyleabeauchamp commented on #2359
cc @johanneskoester  According to commends on the external thread, the `conda env update` command is allegedly semi-busted.  I don't think you used that in your Snakemake env work (or herein), but I figured I'd ping you just in case for an FYI.

[2016-09-21 21:57] johanneskoester commented on #2359
Thanks for the hint! I hope they'll fix it soon!

[2016-09-22 17:00] blaiseli commented on #2354
I have just learned about bioconda and conda today, and it looks like it could be a good substitute for the set of install scripts I started to use in order to be able to install programs at the user level without having to bother the admins of our computing server.

I'm by no means a C/C++ expert, but I took the habit to try to build from source as much as possible and add the `-march=native  -fo

[2016-09-22 18:58] yesimon commented on #2354
@blaiseli Yes conda is meant to be a platform for portable packages (it should work on any x86-64) CPU. Otherwise compiling with the latest instruction sets may make binaries invalid and fail even on relatively recent hardware.

For your own software feel free to compile from source and try to optimize as much as possible. Back in the olden days Gentoo was popular because you had the opportunity t

[2016-09-23 02:26] bogemad commented on #1
Hello everyone.

I would love to contribute some packages I have generated. I'd like to join the team!

[2016-09-23 03:13] jerowe commented on #2277
Great for me too! I'm excited!

Is there an agenda? Do we all just choose things we want to contribute?

On Mon, Sep 19, 2016 at 3:54 PM Johannes Köster <notifications@github.com>
wrote:

[2016-09-23 03:16] jerowe commented on #2332
Can you print out a perl -V, and see what else is in there? I had an issue once where I had some variables hanging around in my $PERL5LIB when I installed bioconda perl-, and it messed it all up.

[2016-09-23 03:21] jerowe commented on #2319
For anyone else who was wondering I was able to get around the issue of conda-forge having its own perl by simply not subscribing to conda-forge, but creating a separate environment with conda-forge build tools.

[2016-09-23 03:23] #2319 closed

[2016-09-23 03:35] jerowe commented on #2327
As a contributor I wouldn't mind if my recipes had to be reviewed before merging. Generally I ask for input anyways. The only recipes I've merged without asking for input have been things like perl/python packages, or just a quick version update of an existing recipe, but I wouldn't mind having a review process for any case. I'm not sure when @bgruening sleeps, because he nearly always reviews my

[2016-09-23 03:45] jerowe commented on #2276
On a possibly related note, my boss, who is a real live scientist, is interested in having actual data to test against. He already has trimmed down data sets for many kinds of analysis, and we test all tools against our local data sets.

For instance, we recently discovered that htseq needs a specific version of pysam to actually run its analysis. This is not something you would pick up on by simp

[2016-09-23 07:50] blaiseli commented on #2354
@yesimon About portability: I thought that the the situation was either one of the following:
1. The original program is available as binary.
2. The original program is only available as source code.

In situation 1, conda has two possibilities:
1.1 Chose a rather "universal" binary.
1.2 Find the source and provide a recipe for compiling it.

For situation 2, conda does the same as 1.2.

I thought

[2016-09-23 08:02] blaiseli commented on #2238
I think I had similar weird problems when the python with which a package was installed was not the same as the python with which it was run.

[2016-09-23 12:59] blaiseli commented on #2354
After some further reading and some experimentation (installing packages with conda takes much less time than with my install scripts that compile them from source), I understand now that conda actually does install a pre-compiled binary when possible, and that the build recipe is used for package creation and is not meant to be run on the user's machine. Sorry for my misunderstanding.

It would b

[2016-09-24 00:00] dkoppstein commented on #2277
We can use the new project board functionality that github recently integrated!

[2016-09-24 07:29] yhoogstrate opened #2387 "ncurses linking error on Arch"
Hello everyone,

I am experiencing an issue with tools linked with ncurses (samtools and tmux). It terminates with the following error:
[code]
and so does samtools.

Similarly, ldd indicates it's not present:
[code]
This also seems to be correct:
[code]
If I understand this correctly it looks like somehow the build process made use of `libncurses.so.5` which does not seem to exist in the ncurses a

[2016-09-24 08:10] bgruening commented on #2387
This is fixed in a ncurses version of conda-forge. Can you enable conda-forge before the r-channel and test? We are pretty close to enable conda-forge and all this will go away.
The root cause was probably that back in time we build this package out build-environment container ncureses and many other libs, this has also changed recently. So we getting better and better :)

[2016-09-24 11:42] yhoogstrate commented on #2387
Thanks @bg, adding conda-forge solved this properly, thanks you deserve a medal!

"*...this has also changed recently.*" Meaning that rebuilding by only increasing the build version would also solve it?

[2016-09-24 11:46] bgruening commented on #2387
I haven't tried but I think a rebuilt will solve it as well.

[2016-09-24 11:57] yhoogstrate commented on #2354
For those who are curious about the possible impact of adding the `-march=native` compile flag, you can find frequently benchmarks at Phoronix.

Here you have an example: http://www.phoronix.com/scan.php?page=news_item&px=GCC-6.1-Compiler-Optimizations

Of course, it's architecture, written code and GCC version dependent.

[2016-09-24 11:57] #2387 closed

[2016-09-24 12:19] yhoogstrate commented on #2387
Yes, it solved it. The proper binary is now available in bioconda and does not require conda-forge.

[2016-09-24 12:44] bgruening commented on #2387
Awesome! Thanks.

[2016-09-24 21:57] bgruening commented on #1
@bogemad welcome! :)

[2016-09-24 21:59] bgruening commented on #2327
@s-will have a look at: https://conda-forge.hackpad.com
Add your topic and join the next meeting :)

[2016-09-24 22:02] bgruening commented on #2277
@bioconda/all let's fix the data for our first online bioconda hackathon: 2-3 November! Looking forward to it!!!!

[2016-09-25 09:36] tseemann commented on #2277
Managed to choose the exact dates of our national bioinformatics conference - but that's ok :)
http://www.abacbs.org/conference/

[2016-09-25 09:53] bgruening commented on #2277
arg, sorry :(
Maybe you can organize a break-out session :)

[2016-09-25 22:33] fabianomenegidio commented on #1
I'd like to join the bioconda team. I would be contributing recipes related to bacterial genome assembly and RNA-Seq softwares.

[2016-09-26 03:04] kyleabeauchamp commented on #2297
cc @etal  did you see this?  https://quay.io/repository/mulled/cnvkit claims you can do `docker pull quay.io/mulled/cnvkit`.

[2016-09-26 11:42] bgruening commented on #2297
More precisely `docker pull quay.io/mulled/cnvkit:0.8.0--py35_0`. I do not currently create a `default` image. So you need to specify the version.
Maybe this small script is useful. https://github.com/mulled/auto-mulled/blob/master/mulled.py

You can do something like: `mulled.py -s cnvkit` to see all versions.

[2016-09-26 14:16] souravsingh commented on #1
@bgruening I would like to join the bioconda team.

[2016-09-26 14:45] tomkinsc commented on #2277
Another idea for the contribution fest would be to start transitioning generic packages (ex. `scala`) from bioconda to conda-forge, now that we're depending on the latter.

[2016-09-26 14:47] bgruening commented on #2277
@tomkinsc please add it to the top post.

[2016-09-26 15:15] daler opened #2404 "R 3.3 migration"
Opening this as a catch-call for all R 3.3-related issues.
### What's happening and why

We really want to have R and Bioconductor packages built for R 3.3. But it gets tricky.

Conda looks for a `$CONDA_R` environmental variable when building packages dependent on R. In bioconda, this is configured in [scripts/env_matrix.yml](https://github.com/bioconda/bioconda-recipes/blob/master/scripts/env_ma

[2016-09-26 15:20] bgruening commented on #2404
Just to add, this will hopefully get easier as we are mirroring tarballs from now on. So at least this will be a non-issue in the future.

[2016-09-26 16:12] jj-umn commented on #1
I'd like to join the bioconda team. I hope to be contributing some packages for proteomics in the next few days.

[2016-09-26 16:23] bgruening commented on #1
@fabianomenegidio @souravsingh @jj-umn welcome!

[2016-09-26 18:29] dkoppstein commented on #2277
Any high priority issues that we should add to the backlog for this sprint?

[2016-09-26 18:32] kyleabeauchamp commented on #2277
Two more ideas:

1.  Implement security enhancements (e.g. #2327)
2.  Perhaps we should set up a doodle poll for a "kickoff" google hangout of 1 hour, something like the opening session of a conference or a meet-and-greet?

[2016-09-26 18:47] bgruening commented on #2277
@kyleabeauchamp added.
@dkoppstein I think everyone has a different priority list but we will introduce all our ideas and we are happy for every single contribution ... docu, code, recipes, license cleanups ....

[2016-09-26 19:59] etal commented on #2297
This looks great. I'd like to point CNVkit users to this instead of the hand-rolled one on [Docker Hub](https://hub.docker.com/r/etal/cnvkit/), which I've been building less efficiently from the Dockerfile in CNVkit's repo. How would you recommend I do that? Is there a command I can put in README that includes the string "biodocker", or should I use the line above?

[2016-09-26 20:07] bgruening commented on #2297
@etal please test before :)
Currently, the URL is all what I have and this URL will stay. I'm in contact with the biodocker guys and mulled will at some point be renamed either to biodocker or biocontainers. But this will take a while.

[2016-09-26 22:31] etal opened #2412 "CNVkit installs outdated version by default"
If I run `conda install cnvkit -c bioconda`, version 0.7.4 is fetched instead of the latest 0.8.

Looking at the dependencies, and the error message printed for `conda install cnvkit==0.8 -c bioconda`, it appears that the bundled R packages `cghFLasso` and `pscbs` might be asking for the wrong version of R base.

For example:

    $ conda create -n demo pandas
    $ source activate demo
    $ cond

[2016-09-26 22:36] kyleabeauchamp commented on #2412
You need to do `-c bioconda -c r`

[2016-09-26 22:37] kyleabeauchamp commented on #2412
R packages live in another channel.

Starting soonish (after next build), you may also need to do `-c bioconda -c r -c conda-forge`, as bioconda now depends on both the R and conda-forge channels for basic infrastructure tools.

[2016-09-27 05:53] jerowe commented on #2404
Thanks for the all the work! It will be awesome to have multiple versions of R. ;-)

I'm wondering, will all packages still exist for R 3.2?

Also, I would like to get working on updating at least my contributions, and obviously there dependency trees. I'm not sure how to go about doing this. Could you please advise?

In terms of building, I'm still doing my local building against the bioconda-bui

[2016-09-27 06:32] bgruening commented on #2404
All old packages will stay. Only your packages will not really help, or it would make more work to find out the dependencies of your packages. But you could help to comment out the blacklist step-by-step and rebuild packages. The bioconductor packages are the most problematic once as the tarballs are often missing for a rebuild.

Yes you would need to test your build against conda-forge/linux-anvi

[2016-09-27 06:34] jerowe commented on #2404
Is the blacklist already sorted? I don't mind just starting from whichever direction I should work from and going up until I hit mine.

[2016-09-27 06:38] bgruening commented on #2404
Yes, look at this PR: https://github.com/bioconda/bioconda-recipes/pull/2414
Similar to this. Thanks for your help.

[2016-09-27 06:42] jerowe commented on #2404
Got it. I will try to get some work done on it in the next few days.

[2016-09-27 06:46] bgruening commented on #2404
I hope we are done in a few days ;)

[2016-09-27 17:56] etal commented on #2412
Ah, sorry. It's been a long week.

[2016-09-27 17:56] #2412 closed

[2016-09-27 19:33] oena commented on #1
I'd like to be added!

[2016-09-27 21:01] malloryfreeberg commented on #1
I'd like to join! :]

[2016-09-28 12:29] johanneskoester commented on #1
Welcome @oena and @malloryfreeberg! Looking forward to your PRs!

[2016-09-28 13:57] tomkinsc opened #2446 "channel precedence, ncurses, and package linking woes"
@bioconda/core: This is related to the issues I was having with samtools that prompted [my rebuild PR](https://github.com/bioconda/bioconda-recipes/pull/2431). The cause is partially my fault, but it may warrant greater attention and a conversation.

If my `~/.condarc` gives precedence to `conda-forge` over the `r` channel (not unreasonable given recent changes?), I see the following error when I

[2016-09-28 14:14] sebastian-luna-valero opened #2448 "Runtime error: HTTPError: 404 Client Error: NOT FOUND for url"
Hello,

Is there anybody else having this errors?
https://github.com/Anaconda-Platform/support/issues/56#issuecomment-250119179

Best regards,
Sebastian.

[2016-09-28 16:09] kyleabeauchamp commented on #2446
Thanks for figuring all this out.  My only thoughts are:

1.  perhaps we can ping the R and conda-forge people to encourage them to build ncurses consistently?
2.  Can we get the R channel to use the conda-forge version and remove the overlaps?

[2016-09-28 17:26] tomkinsc commented on #2446
The second option sounds like the better option to me, especially if Continuum is moving to source packages from conda-forge.

[2016-09-28 17:31] kyleabeauchamp commented on #2446
I don't think so, I think it is maintained by Continuum.

Actually, could this be a DAG-related bug?   IMHO shouldn't `conda` always pick the higher version number (5.9.9), regardless of the order of the channels in your RCfile?

[2016-09-28 17:33] johanneskoester commented on #2446
As long as the r channel relies only on anaconda, we should not put conda forge in between. Other dependencies could break as well. So there are two reasonable orders: conda forge before or after bioconda but both after anaconda and r.

The real solution to the problems is having channel dependencies in conda.

[2016-09-28 17:50] tomkinsc commented on #2448
Someone in our group was seeing 404 errors earlier today while trying to install `R` packages from anaconda.org.

[2016-09-28 18:01] tomkinsc commented on #2446
Channel dependencies in conda would be amazing (for this, and [working support](https://github.com/conda/conda/issues/2800) for `conda env create`).

I suppose I'll list `r` first in my config, and close this...

[2016-09-28 18:49] pjr314 commented on #2448
I think this is an intermittent network connection problem.  It seems to have crept up other places before.  after numerous retries, eventually had successful instal.
https://github.com/Anaconda-Platform/docs.anaconda.org/issues/116

[2016-09-28 18:52] #2448 closed

[2016-09-28 19:24] johanneskoester commented on #2446
Let's keep this open until I have fixed the docs tomorrow.

[2016-09-29 00:31] daler commented on #2404
@bgruening just noticed that recipes that specify an R version are not being picked up as needing a rebuild. First noticed this in `bioconductor-dupradar` in #2456.

[code]

[code]

Looks like these are all bioconductor packages, so the bioconductor skeleton script probably needs to be fixed to not pay attention to R version restrictions. For this R3.3 migration I think we should just change these

[2016-09-29 05:19] bgruening commented on #2404
Sounds good to me. I will be busy today, sorry. I think we can change this in on PR without rebuilding in the same PR?

[2016-09-29 05:45] aymanm commented on #1
Hi, I'd like to join the team.

Thanks

[2016-09-29 07:22] johanneskoester commented on #1
Welcome @aymanm!

[2016-09-29 11:45] bsennblad commented on #1
Hi,
I have created and built a few r- and bioconductor-recipes (using your excellent skeleton-tools) for a project I am working on and I thought it would be convenient to contribute them to bioconda. Would it be possible to join the team?
Thanks,

[2016-09-29 16:27] tomkinsc commented on #2277
For processes that can be automated, I would advocate adding functions to [`bioconda-utils`](https://github.com/bioconda/bioconda-utils/tree/master/bioconda_utils) so we can easily repeat parts of this effort in the future.

#### A few potential functions to automate:
- `source_url_https <package_name>` — changes urls `http://` -> `https://` for hostnames known to support TLS (github, etc.)
- `lis

[2016-09-29 18:41] daler commented on #2404
@bgruening the default [limma](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/bioconductor-limma/meta.yaml#L6) specifies https://depot.galaxyproject.org/software/limma/limma_3.28.10_src_all.tar.gz which I'm getting a 404 on. Other tarballs seem available in https://depot.galaxyproject.org/software/limma. I'll switch limma to the bioaRchive tarball for now, but wanted to give you

[2016-09-29 18:44] daler commented on #2404
@bgruening also, the [older limma package directories](https://github.com/bioconda/bioconda-recipes/tree/master/recipes/bioconductor-limma) won't work since they specify versions that don't exist in bioaRchive. I will keep them blacklisted for now.

[2016-09-29 20:18] daler commented on #2282
@zachcp `scripts/bioconductor/update-bioconductor-packages-wrapper.sh` does pretty much what you're suggesting. The pieces are there but need to be cleaned up and generalized for CRAN/PyPI/CPAN as well.

One thing to consider is that often we add some dependencies to a recipe (`gcc #[linux]`, for example) that need to be carried through to the updated recipe. That can get tricky.

[2016-09-29 20:21] daler commented on #1977
closing in favor of #2404

[2016-09-30 10:24] glormph commented on #1
I'd also like to add proteomics packages.
cheers

[2016-09-30 20:52] zachcp commented on #2282
this could be a project for November 2-3 #2277

[2016-09-30 21:05] bgruening commented on #2282
I like this attitude :)

[2016-10-01 19:57] daler opened #2475 "errors with gcc and gfortran from defaults channel"
I've been hitting some issues with building R packages that I think is related to the gcc package from defaults channel.

How to reproduce:

[code]

fails with the following message:

[code]

The information I've found makes me think it's an issue with how it was compiled, e.g.,
- https://trac.macports.org/ticket/41364
- https://bugzilla.redhat.com/show_bug.cgi?id=222371
- https://github.com/Homeb

[2016-10-01 21:27] johanneskoester commented on #1
Welcome @bsennblad and @glormph! It is great to see bioconda growing and growing!

[2016-10-01 21:58] bgruening commented on #2475
I was also seeing it and have no clue how to fix it. A few ideas ... Does the GCC from r work? Is this a regression in the latest build and maybe a previous build works?

[2016-10-03 07:56] duxan commented on #1
Hi everyone, I would like to help as well. Please add me: **duxan** here and also on anaconda.org

Tnx!

[2016-10-03 13:46] daler commented on #2475
No luck. I don't see a gcc in r channel, and gcc 4.8.2 (the earliest available in defaults channel) has the same error.

[2016-10-03 18:28] bgruening commented on #1
Welcome @duxan!

[2016-10-03 18:53] bgruening commented on #2475
You are right, libgcc is in `r`:

`libgcc                       4.8.4                         0  r `

I guess the we should raise this issue upstream. Something is broken here :(

[2016-10-03 20:57] daler commented on #2475
xref: https://github.com/conda/conda-build/issues/1424

[2016-10-03 21:48] mingwandroid commented on #2475
libgcc in `r` is at version 4.8.5:

`libgcc:     4.8.5-1   r`

.. but IMHO it shouldn't be there at all.

[2016-10-04 11:21] RoelKluin commented on #1
I'd like to join to add a fastseg package,
Thanks

[2016-10-04 13:20] bgruening commented on #1
Cool, welcome @RoelKluin!

[2016-10-04 18:16] miasteinberg commented on #1
I'd like to join, please!

[2016-10-04 19:46] tiagoantao opened #2501 "stacks version"
Hi,

The current stacks version is 1.40. (though the log says 1.42).
Stacks 1.40 clone_filter has a problem with fastq non-gzipped files. This is quite serious on galaxy.
I can put a 1.42 version in ASAP as long as @abretaud is fine with that.

[2016-10-05 01:40] daler commented on #1
Welcome @miasteinberg!

[2016-10-05 02:36] bgruening commented on #2501
:+1:

[2016-10-05 06:13] abretaud commented on #2501
Hi,
That's strange, I uploaded the [1.42 version](https://github.com/bioconda/bioconda-recipes/blob/f6d2c07011f8b5fd9dece5a50c4ee3d2425cf03f/recipes/stacks/meta.yaml#L10) a few days ago, and the tests for galaxy wrappers used that version...
Did I miss something?

[2016-10-05 09:36] jrderuiter opened #2506 "SnpSift executable does not parse filter strings correctly"
Calling SnpSift using its executable currently does not parse filter strings correctly if these contain brackets. For example, the following command:

[code]

gives this error:

[code]

whilst calling the jar directly does work:

[code]

I guess that the issue lies in how the executable script parses its arguments to extract the arguments for the JVM.

[2016-10-06 11:27] simonvh opened #2519 "pysam / htslib issue"
@tomkinsc  @lparsons

There seems to be an issue with the latest version of pysam and/or htslib.

When I try to test a new build of my Python 2.7 module, which depends on pybedtools, I get the following issue:

[code]

It seems that somewhere in the process a compiled version of htslib is used, one that is not compatible with the Centos 5 glibc.

The following line in my own `meta.yaml` seems to f

[2016-10-06 15:25] kyleabeauchamp commented on #2519
Are you using centos 5?  Afaik that is no longer supported.

On Oct 6, 2016 4:27 AM, "Simon van Heeringen" <notifications@github.com>
wrote:

[2016-10-06 16:06] simonvh commented on #2519
Ah. Then I'm doing something wrong. Isn't the bionda build box based on
centos 5?

[2016-10-06 16:07] kyleabeauchamp commented on #2519
Centos 6

[2016-10-06 16:07] kyleabeauchamp commented on #2519
Changed a month ago or so to use the conda-forge builder

[2016-10-06 16:12] simonvh commented on #2519
Ah, thanks, I missed that, that explains things. Does that mean that
https://github.com/bioconda/bioconda-recipes/blob/master/README.md is out
of date? Seems to still mention bioconda-builder...

[2016-10-06 16:42] daler commented on #2519
Thanks @simonvh, I just updated the build info in the readme (#2522).

[2016-10-06 21:59] bgruening commented on #2304
The report of the event can be found here: https://gist.github.com/bgruening/97b1fa16b92f5ab30b1e7c193b286432

Thanks for joining everyone!!!! It was great to work with all of you!

[2016-10-06 21:59] #2304 closed

[2016-10-06 22:23] bgruening commented on #2297
A small update we have now `1690` containers and we are using now the `biocontainers` name space. I have updated the description above accordingly.

[2016-10-07 09:50] simonvh commented on #2519
This indeed fixes the issue, thanks @kyleabeauchamp and @daler!

[2016-10-07 09:50] #2519 closed

[2016-10-08 13:10] arvkevi commented on #1
Hello, can I please join?

[2016-10-08 13:51] zachcp opened #2557 "Delete Old Docker Image or Update Docs to flag as outdated"
Team Bioconda,

As the build system has changed it is probably a good idea to take down the CentOS5 image from DockerHub or at least to add a prominent disclaimer at the top of the page that this is no longer the correct route for building bioconda packages.

https://hub.docker.com/r/bioconda/bioconda-builder/

zcp

[2016-10-08 18:41] bgruening commented on #2277
I plan to go over all PR in the next days and label them. For example see this one: https://github.com/bioconda/bioconda-recipes/pull/2562

We need help from someone who owns a Mac and cares about OSX packages. If we can label PR appropriate we can use this hopefully during our hackathon.

[2016-10-08 21:15] gregvonkuster commented on #2277
I have a mac and I definitely care about OS X packages - I will participate as much as I can.

[2016-10-09 06:59] bgruening opened #2568 "gnuplot is missing libjpeg"
gnuplot: error while loading shared libraries: libjpeg.so.8: cannot open shared object file: No such file or directory

[2016-10-09 11:15] bgruening commented on #2327
@johanneskoester do we agree to invite people as soon as they have contributed a few packages? This would mean closing #1 and writing a statement into the readme about this new mechanism.

[2016-10-09 11:18] bgruening commented on #2501
True, there is a stacks version 1.42 and a container: https://quay.io/repository/biocontainers/stacks?tab=tags

Will close this. @tiagoantao please let me know if you do not see this package and make sure you have enabled conda-forge as channel as well.

[2016-10-09 11:18] #2501 closed

[2016-10-09 11:21] bgruening commented on #2282
@tiagoantao I playing around with the idea of building all pypi packages and bioconductor packages automatically - this should be possible with a good skeleton and mulled based testing. But it means a lot of packages and we would need more space on anaconda.org.

[2016-10-09 11:23] bgruening commented on #2238
I will close this now. Please feel free to reopen if this is still a problem.

[2016-10-09 11:23] #2238 closed

[2016-10-09 11:26] bgruening commented on #2276
@jerowe yes please fix a few packages!
Regarding your question of testing with real data you might want to contact the IUC. They do already have data and testing tools for Galaxy. E.g. here: https://github.com/galaxyproject/tools-iuc/tree/master/tools/htseq_count/test-data

[2016-10-09 11:46] bgruening commented on #2167
I will close this now. @osallou please feel free to reopen if you still have problems.

[2016-10-09 11:46] #2167 closed

[2016-10-09 11:48] bgruening commented on #2168
$R is replaces by the conda test infrastructure afaik. On Windows you need to call an other executable as under Linux afaik.

We could discuss if this makes sense in bioconda as we do not support Win intentionally, but it does not seem to be a bug to me.
Feel free to reopen if this is an issue in your setup.

[2016-10-09 11:48] #2168 closed

[2016-10-09 11:50] bgruening commented on #2248
@jerowe does this still happen with the new conda build system?

[2016-10-09 11:51] jerowe commented on #2248
I'm not sure.

I've bit off more than I can chew with current projects, but I'll be getting back to conda builds SOON. I need to add some perl projects shortly, and I will keep an eye out.

[2016-10-09 11:52] bgruening commented on #2235
Since yesterday we have R3.3 builds for hdf5: https://anaconda.org/bioconda/bioconductor-rhdf5/files

[2016-10-09 11:52] #2235 closed

[2016-10-09 12:19] bgruening commented on #2148
@jrderuiter can you work on option 1?

[2016-10-09 12:21] bgruening commented on #2011
@yhoogstrate we build yesterday a edgr version. Can you retest please?

[2016-10-09 12:21] #2011 closed

[2016-10-09 12:22] bgruening commented on #1519
I will close this now. Thanks for all your comments.

[2016-10-09 12:22] #1519 closed

[2016-10-09 12:24] bgruening commented on #1701
@johanneskoester can we simply link to this page everywhere? https://github.com/bioconda/bioconda-recipes/graphs/contributors

[2016-10-09 12:25] bgruening commented on #1463
@daler is rocking this already. So I close this issue now.

[2016-10-09 12:25] #1463 closed

[2016-10-09 12:27] bgruening commented on #1378
We are now depening on conda-forge and I think we agreed all on following there advice on these kind of questions. Currently, they don't build there own glibc but using CentOS-6 to compile against glibc.

I will close this for now, but feel free to reopen if necessary.

[2016-10-09 12:27] #1378 closed

[2016-10-09 12:28] bgruening commented on #1507
A lot has changed during May. Please feel free to reopen if this is still an issue.

[2016-10-09 12:28] #1507 closed

[2016-10-09 12:29] bgruening commented on #1516
Afaik nightly builds are currently not working and maintained. We have some ideas to enhance testing and I will close this for now.

[2016-10-09 12:29] #1516 closed

[2016-10-09 12:29] bgruening commented on #1581
This would be a nice project for the upcoming hackathon.

[2016-10-09 12:31] bgruening commented on #1438
We will be switching back to `perl` and try to get the `threaded` functionality into the conda-forge perl package.

[2016-10-09 12:31] #1438 closed

[2016-10-09 12:32] bgruening commented on #1372
@ernfrid thanks for your contribution. I will close this issue now.

[2016-10-09 12:32] #1372 closed

[2016-10-09 12:34] bgruening commented on #1309
Not on purpose this was just during migration from a white list to a blacklist. So feel free to try to build it on OSX.

[2016-10-09 12:34] #1309 closed

[2016-10-09 12:34] bgruening commented on #1243
@drramki-chop please create a PR and ask for help. We will see if we can fix it!

Thanks!

[2016-10-09 12:34] #1243 closed

[2016-10-09 12:35] bgruening commented on #1065
This logo is great! Thanks for your work!

[2016-10-09 12:35] #1065 closed

[2016-10-09 12:39] bgruening commented on #1015
We have now 211 packages mirrored on https://depot.galaxyproject.org/software.
We still need a mechanism to get these URLs back into the recipe and check that this service is working over time. But its a great step forward - closing this issue.

[2016-10-09 12:39] #1015 closed

[2016-10-09 12:42] bgruening commented on #595
This is related: https://github.com/bioconda/bioconda-recipes/issues/2327
Can we agree on a strategy before the hackathon?

[2016-10-09 12:43] bgruening commented on #246
We are pinning versions for ncurses now. I hope this is fixed. Please feel free to reopen.

[2016-10-09 12:43] #246 closed

[2016-10-09 12:45] bgruening commented on #185
Since a few weeks we are depending on conda-forge, which offers many system level packages. So I think a loosely defined guideline is to store scientific packages in bioconda and system level packages in conda-forge.

Please feel free to reopen if you feel we should make this more clear in the readme file.

[2016-10-09 12:45] #185 closed

[2016-10-09 12:46] bgruening commented on #162
@tomkinsc this is something for the hackathon, isn't it? I think a natural first step is to improve the skeleton builders and using the tools from conda-forge to lint recipes.

[2016-10-09 12:48] bgruening commented on #124
Yes!!! Packages without a test should fail. See this one: https://github.com/bioconda/bioconda-recipes/issues/2276

Imho this should part of linting and bioconda-utils. Marking for the hackathon.

[2016-10-09 12:49] bgruening commented on #126
For now we are using whatever conda-forge is using. Let's propose this to conda-forge if we think it is the correct approach. Will close this issue now.

[2016-10-09 12:49] #126 closed

[2016-10-09 12:51] bgruening commented on #1
Welcome @arvkevi!

[2016-10-09 12:52] bgruening commented on #2277
I have collected a few issue and tagged them as `hackathon`: https://github.com/bioconda/bioconda-recipes/labels/hackathon

Feel free to add more if relevant.

@gregvonkuster thanks!!!

[2016-10-09 17:47] jrderuiter commented on #2148
I'll try to have a go in the coming week or two!

[2016-10-09 17:49] jrderuiter commented on #2277
I'm also interested in helping with the OSX packages if I have time!
On Sun, 9 Oct 2016 at 14:52, Björn Grüning <notifications@github.com> wrote:

[2016-10-09 18:13] tiagoantao commented on #2501
argh! I did not notice the top version. just the subdirectories...
Sorry for wasting everybody's time

[2016-10-10 04:40] osallou commented on #2167
As it is used for your test infra, i agree it is not a bug. But i feel it
sad that package test command is not a reusable command, be it by an other
system or simply a user  wishing to test/validate the install.

Le dim. 9 oct. 2016 13:46, Björn Grüning <notifications@github.com> a
écrit :

[2016-10-10 07:01] bgruening commented on #2167
@osallou it is very reusable, thats the aim of $R. You can reuse it on Win, OSX and Linux you just need to implement the meaning of $R depending on your platform.

[2016-10-10 09:27] pirovc commented on #1
Hi, I would like to join the group.

[2016-10-10 09:32] bgruening commented on #1
Great, welsome @pirovc!

[2016-10-11 11:31] jrderuiter commented on #2148
See 2588.

[2016-10-11 11:50] jrderuiter commented on #2148
See pull request #2588.

[2016-10-11 13:01] rasmusagren commented on #1
Hi, I would be happy to join!

[2016-10-11 14:04] daler commented on #1
Welcome @rasmusagren!

[2016-10-11 15:12] sndrtj opened #2592 "Can't build package bioconductor-cn.mops"
I'm not able to build the `bioconductor-cn.mops` package.
Running `conda build recipes/bioconductor-cn.mops` finally results in:

[code]

[2016-10-11 17:06] daler commented on #2557
Fixed in #2557, and addressed more generally in #2593.

[2016-10-11 17:06] #2557 closed

[2016-10-12 04:30] kashyapchhatbar commented on #1
I would be happy to join!!

[2016-10-12 14:56] mcornwell1957 commented on #1
long time user, first time contributor, please add me! Thank you!

[2016-10-12 16:29] daler commented on #1
Welcome @kashyapchhatbar and @mcornwell1957!

[2016-10-12 20:20] daler commented on #2592
It's not biobase that's the problem, it's likely other dependencies (see https://github.com/conda/conda-build/issues/1454).

We are rebuilding all the R packages and we'll get to this one. They have to be done in order so we don't hit dependency issues -- [here](https://github.com/bioconda/bioconda-recipes/blob/master/sorted-r-blacklist#L386) is where it is in the list.

[2016-10-12 22:02] zachcp opened #2609 "Issues with the simulate_travis script"
Team Bioconda,

Thanks for the updated instructions for local builds.  This is great. However, I've encountered a few errors when running the `simulate_travis.py script`.

1.  PATH variables aren't passed. I'm on OSX and when I run simulate_travis i get an error about conda. It seems that the script calls out to scripts/travis-run.py and that this gets its PATH from the following line:

    ```exp

[2016-10-13 00:45] daler commented on #2609
@zachcp Sorry about that, I wasn't updating the environment passed to `travis-run.sh` with the shell environment. As of #2610 PATH should make it through now, and you can set TRAVIS_OS_NAME to linux (check the help for `simulate-travis.py`) to build for linux while running on a mac.

[2016-10-13 01:42] zachcp commented on #2609
@daler  - you are the man.

[2016-10-13 09:31] sndrtj commented on #2592
Thanks for that explanation. I guess I'll just have to sit tight and wait for this to resolve, in that case.

[2016-10-14 14:24] #2609 closed

[2016-10-17 18:40] leipzig opened #2626 "gatk spaced arguments need another set of single quotes to make it through the gatk.sh"
doesn't work:

[code]

works:

[code]

[2016-10-17 18:40] leipzig commented on #2626
maybe some kind of notice could be added

[2016-10-18 10:40] johanneskoester commented on #1701
Done, see PR #2628.

[2016-10-18 10:41] #1701 closed

[2016-10-18 10:44] johanneskoester commented on #2327
We can do that, if the rest of @bioconda/core is fine with the change. What number of PRs should we require?
I would not close the issue. Rather I would change the text that the user requesting invitation shall quote n successful Bioconda PRs. This way, we don't need to track this information ourselves.

[2016-10-18 13:50] daler commented on #2327
Not sure if PR count is the right metric, since successfully merging a conda skeleton recipe might give false confidence. On the other hand it's not like we have a 'difficulty of recipe' score, so PR count is probably the best we have.

1 PR is pretty close to what we have now because there are a quite a few people that join and then submit one PR. So we would just be switching the order, which wo

[2016-10-18 14:12] rvalieris commented on #2626
same problem as #2506, the java wrapper doesn't handle quoted parameters properly.

[2016-10-19 10:12] guillaumecharbonnier opened #2635 "HTTPError installing bioconductor-chipseeker"
I get an HTTPError if i want to install R package chipseeker (in its own environment because it wants to downgrade a lot of my other packages).

Install command:
`conda install -n chipseeker -c bioconda bioconductor-chipseeker`

Traceback:

[code]

[2016-10-19 14:34] Tanta-University commented on #2282
if we integrate an (optional) update code this is good but what is better to me if all new packages contain that code (not optional) and you can activate or deactivate it when you want like antivirus updates they are built in but you manage activation or deactivation

[2016-10-20 09:18] lecorguille commented on #2277
I'm in!

[2016-10-20 09:21] lecorguille opened #2649 "Travis: the download failed but Travis is happy"
One of the download url is broken so,

Travis failed for OSX
https://travis-ci.org/bioconda/bioconda-recipes/jobs/169154254#L559

But succeed for Linux
https://travis-ci.org/bioconda/bioconda-recipes/jobs/169154252#L630

[2016-10-20 09:30] jrderuiter opened #2650 "Bioconductor links are broken by new bioconductor releases"
Bioconductor source links for many packages are now broken after the update of bioconductor from 3.3 to 3.4. This is because many links refer to the current release, rather than a specific bioconductor version. An example is the below link, which is now broken because this version of BSgenome is specific to bioconductor 3.3:

http://bioconductor.org/packages/release/bioc/src/contrib/BSgenome_1.40.

[2016-10-20 09:32] jrderuiter commented on #2650
Maybe slightly off-topic, but are there plans to migrate to bioconductor 3.4?

[2016-10-20 11:24] jrderuiter commented on #2650
And is there any reason that the bioconductor packages are not linked to specific R version(s)? As I understand, releases of bioconductor are linked to specific R version(s). This does not seem to be the case in the bioconda recipes.

[2016-10-20 13:51] daler commented on #2650
@jrderuiter see https://github.com/bioconda/bioconda-recipes/issues/2404. We are working on it but it is very time consuming.

Many existing bioconductor packages were built before conda-build added the R version to the build string. So those still on the `sorted-r-blacklist` will not have the R version.

[2016-10-20 14:18] jrderuiter commented on #2650
Thanks, it wasn't clear for me if this also was included in that issue.

[2016-10-24 08:02] tobiasrausch commented on #1
I would be happy to join to update the delly package.

[2016-10-24 08:18] johanneskoester commented on #1
Glad to hear you want to join, Tobias! Thank you! I have sent an invitation.

[2016-10-25 22:07] daler opened #2695 "the new bioconda build system"
@bioconda/all:

As of #2694, bioconda will be using [`bioconda-utils`](https://github.com/bioconda/bioconda-utils) for building all packages.

**The workflow will remain unchanged**. Contributors will still submit PRs with recipes and watch for them to be tested on travis-ci. The most noticeable difference is probably the improved logs to help debug recipes both locally and within travis-ci.

If y

[2016-10-26 18:04] molpopgen commented on #1332
The OS X/GCC thing came up for me while prepping PR #2682, which is a C++11 package.  In short, the issues are:

1. The built-in clang on OS X was not feature-complete for C++11 until 10.9  or so.
2. The built-in clang on the Travis install is simply too old, resulting in "unrealistic" failures (there just can't be that many 10.5/10.6 machines still in use).
3. Ignoring the Travis issue, clang on

[2016-10-28 07:23] mictadlo opened #2719 "Software requests"
Hi,
Seqping (https://sourceforge.net/projects/seqping/) has the following:
- BLAST 2.2.25 (ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/)
- CD-HIT 4.5.4 (http://www.bioinformatics.org/downloads/index.php/cd-hit/)
- Exonerate 2.2 (http://www.ebi.ac.uk/~guy/exonerate/)
- GlimmerHMM 3.0 (ftp://ccb.jhu.edu/pub/software/glimmerhmm/)
- AUGUSTUS 2.6.1 (http://bioinf.uni-greifswald.de/augustus/bina

[2016-10-28 08:02] bgruening commented on #2719
We accepting Pull Requests :-)

[2016-10-28 08:04] vodkatad commented on #2277
Will try to join you to get a gist on how to give a hand in the future to this project.

[2016-10-28 17:43] daler commented on #2475
@bgruening this seems to be CPU architecture related. Locally on my machine it still fails, but on travis-ci it's working (https://travis-ci.org/bioconda/bioconda-recipes/builds/171435307). I have a Xeon X5482, so if you're running on something around the same age it might be why you have issues too.

Being able to build these fortran-compiled packages opens up a lot of the R package DAG that can

[2016-10-29 07:59] bgruening commented on #1332
Here a little bit more background from conda-forge. https://github.com/conda-forge/staged-recipes/issues/1193 I think the agreement is to move to GCC on OSX as well at some point.

Also please note that travis upgraded there OSX images and XCode a week ago.

[2016-10-29 08:13] bgruening commented on #2719
@mictadlo if you like join us during your Contribution fest: https://github.com/bioconda/bioconda-recipes/issues/2277

... and we will get you kickstarted!

[2016-10-29 08:17] bgruening commented on #2650
We are now also mirroring all tarballs to cargo-port. So we should be able to replace all links in one go the next time we rebuild them.
@jrderuiter can you try to rebase #2647

[2016-10-29 08:18] #2650 closed

[2016-10-29 08:30] bgruening commented on #2277
I updated the description a little bit and I'm starting to get exited only for days left. Please prepare a bioconda-recipes fork that is working with travis to distribute the work load a little bit. Let me know if you have any questions.

[2016-10-29 10:34] bgruening commented on #2297
Short update we do have 1800 containers now available via biocontainers. @daler has incorporated the mulled in the new build-system which is explained in https://github.com/bioconda/bioconda-recipes/issues/2695.

This means we are now testing all packages in a busybox, which should ensure high-quality packages.

[2016-10-31 07:34] mictadlo commented on #1
Hi, I would like to try to contribute.

[2016-10-31 10:13] bgruening opened #2749 "bioperl 1.7 was released - package update needed"

[2016-10-31 13:26] mra8187 opened #2752 "problem with tophat"
tophat2 -p 4 -G '/home/mra/DATA/Anotation.gtf' -o '/home/mra/DATA/out' ref '/home/mra/DATA/genome_index_base.fa' '/home/mra/DATA/1.fastq.gz' '/home/mra/DATA/2.fastq.gz'

[2016-10-31 20:21:41] Beginning TopHat run (v2.1.1)
-----------------------------------------------
Traceback (most recent call last):
  File "/home/mra/miniconda3/bin/tophat", line 4107, in <module>
    sys.exit(main())
  File "/

[2016-10-31 13:27] mra8187 commented on #2752
tophat2 -p 4 -G '/home/mra/DATA/Anotation.gtf' -o '/home/mra/DATA/out' ref '/home/mra/DATA/genome_index_base.fa' '/home/mra/DATA/1.fastq.gz' '/home/mra/DATA/2.fastq.gz'

[2016-10-31 20:21:41] Beginning TopHat run (v2.1.1)
-----------------------------------------------
Traceback (most recent call last):
  File "/home/mra/miniconda3/bin/tophat", line 4107, in <module>
    sys.exit(main())
  File "/

[2016-10-31 14:04] daler commented on #2752
This error is from running TopHat using Python 3.

Tophat itself is not supported under python3. We tried to fix that in the bioconda package using the 2to3.py script, but it appears that conversion was incomplete and will require tests to make sure it works.

The immediate fix would be to run tophat in a python2 environment:

[code]

@bioconda/core, I think one solution would be to drop python3 s

[2016-10-31 14:34] bgruening commented on #2752
Like the idea with the hackathon task, otherwise it should be ok to drop python3 support.

[2016-10-31 15:11] fgiacomoni commented on #1
Hi folks,
I will be very happy to join the party and work on perl recipes... for metabolomic tools.

[2016-10-31 15:13] mra8187 commented on #2752
thank you very much ..... i work on it for 2 day at least . and i never can
fix it.....  thank you

On Mon, Oct 31, 2016 at 6:04 PM, Björn Grüning <notifications@github.com>
wrote:

[2016-10-31 23:20] bgruening commented on #2749
xref: https://github.com/bioconda/bioconda-recipes/pull/2751

[2016-11-01 09:56] johanneskoester commented on #1
Welcome @mictadlo and @fgiacomoni!

[2016-11-01 11:40] claresloggett commented on #2277
I might have some blocks of time to contribute but I'm probably in a different timezone to most. What time (and timezone) are you planning to start the Hangout / Gitter?

[2016-11-01 12:18] bgruening commented on #2277
There will be a bunch of people from all over the world my hope/guess is that 24h someone will be available ... :-)

[2016-11-01 18:38] chapmanb commented on #2695
Ryan;
This is amazing work, thank you. I've gotten way behind on understanding how the build infrastructure works and would definitely appreciate documentation on the best way to setup for local testing. I've got something cobbled together `condaforge/linux-anvil` and `bioconda-utils build` but am guessing it's suboptimal with all these fixes. Looking forward to understanding this better once you'

[2016-11-01 18:51] daler commented on #2695
Hi Brad - once you have bioconda-utils installed, the short answer is to use `simulate-travis.py`. This [FAQ section](https://github.com/bioconda/bioconda-recipes/blob/master/FAQs.md#how-do-i-get-set-up-to-test-recipes-locally) might give some extra details but you're probably aware of them already.

The biggest hurdle at the moment for the docs is figuring out how to describe everything coherentl

[2016-11-01 19:06] bgruening commented on #2277
@bioconda/all just a few our and we will start our first bioconda hackathon. Please prepare yourself with our PreHack list:

### PreHack preparation:

- FAQs: https://github.com/bioconda/bioconda-recipes/blob/master/FAQs.md
- Please try to get your own fork to work with Travis. I think if we all push to the main repository for testing travis will be busy and we don't get anything done.
- please re

[2016-11-01 22:29] #2446 closed

[2016-11-01 23:42] bgruening opened #2764 "Investigate other CI systems"
Given the vast amount of PR every day I think it makes sense to split our testing into 2 different CI systems. Similar to what conda-forge is doing. Travis can do the OSX jobs and some other service could take over the Linux builds.

[2016-11-01 23:47] claresloggett commented on #2277
Great I think so too :)  but I meant more, what's the kickoff time? Of course we can start working any time but sounds like at some point there will be a chat running and I'd like to check in at the start of that if I'm awake!

[2016-11-02 07:59] johanneskoester opened #2770 "Packages that need to be pinned"
This issue is to collect problems with packages where a newer version of a dependency has been discovered to cause breakage (because of ABI changes).

| to pin | in package |
| ------- | ------------- |
| libjpeg | r-sartools |

[2016-11-02 08:55] lecorguille commented on #2770
Question: how do you do that?

[2016-11-02 09:35] johanneskoester commented on #2770
One adds a key-value pair to the [env matrix](https://github.com/bioconda/bioconda-recipes/blob/master/scripts/env_matrix.yml), e.g. `CONDA_LIBJPEG`. This becomes available as an env variable in the recipe. In the recipe, that variable is used to pin the version in the run requirements and in the build string, see [here](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/merfishtools

[2016-11-02 10:15] druvus commented on #2719
I quickly checked what already exist in bioconda and repos it depends on.

- [x] BLAST (2.5.0)
- [x] CD-HIT (4.6.0)
- [x] Exonerate (2.2.0) (missing osx)
- [ ] GlimmerHmm
- [x] Augustus (3.2.2) (missing osx)
- [x] SNAP (2013_11_29)
- [ ] Maker
- [x] Emboss (6.5.7)
- [x] HMMER (3.1b2)
- [x] Repeatmasker (4.0.6) (missing osx)
- [ ] NCBI C++ toolkit

For linux three additional packages are needed. An

[2016-11-02 16:00] tomkinsc commented on #162
This should be part of https://github.com/bioconda/bioconda-utils

[2016-11-02 16:05] tomkinsc opened #2777 "Expand functionality of bioconda-utils: validation, hash population, secure urls, and automated package updates"
For processes that can be automated, I would advocate adding functions to [`bioconda-utils`](https://github.com/bioconda/bioconda-utils/tree/master/bioconda_utils) so we can easily repeat parts of this effort in the future.

#### A few potential functions to automate:
- `source_url_https <package_name>` — changes urls `http://` -> `https://` for hostnames known to support TLS (github, etc.)
- `lis

[2016-11-02 19:36] bgruening opened #2781 "Build optimization"
Currently, if someone merges a PR into master and a second PR is created afterwards, this second PR will also build the content of the first merged PR. One solution would be to only build packages that have a modified meta.yaml file in the TRAVIS_COMMIT_RANGE.

[2016-11-02 20:09] daler commented on #2781
The `--quick` option in bioconda-utils does something close to this. It will only build recipes different from master, e.g.:

* https://github.com/bioconda/bioconda-utils/blob/master/bioconda_utils/build.py#L215
* https://github.com/bioconda/bioconda-utils/blob/master/bioconda_utils/utils.py#L431

Simple enough to add this -- just need to change `.travis.yml` from

[code]
 to
[code]

[2016-11-02 20:16] bgruening commented on #2781
Why not activating it by default?

[2016-11-02 20:34] daler commented on #2781
I figured it was more robust to do the full check against what's been uploaded to anaconda. This is mostly to handle corner cases, like if a merge to master is still building dependencies needed by a PR, but the PR wouldn't build it because it's not different from master. I guess the latter could be solved by paying attention to what was just merged into master and making sure those recipes are in

[2016-11-02 21:52] bgruening commented on #2781
I'm fine with this! Feel free to merge :) https://github.com/bioconda/bioconda-recipes/pull/2785

[2016-11-03 02:57] jerowe commented on #162
Conda forge has a linter. Maybe we could coopt it from there.

[2016-11-03 02:58] jerowe commented on #162
I think this is it

https://github.com/conda-forge/conda-forge-webservices

[2016-11-03 09:35] martin-raden opened #2792 "(t)csh needed as alternative shell for builds"
@bioconda/core  We (me and @druvus) do encounter the problem that some tools (e.g. NCBI toolkit) come with `csh` make scripts, see #2587, that cannot be bypassed when building from source (available binaries not working due to glibc problems).

I just discussed with @bgruening that it should be no problem to add the `tcsh` package to the general docker container unless you set `bash` to be the sta

[2016-11-03 10:07] johanneskoester commented on #2792
Sounds good to me!

[2016-11-03 11:38] jlanga opened #2795 "Download binaries of old Blast+ instead of compiling"
Hi.

I want to contribute and learn to make recipes in Bioconda by adding the recipes of the older Blast+ versions (from 2.2.18 to 2.4.0).

I've been able to run `simulate-travis.py` on my machine and it exits successfully. My problem comes when using the real Travis: it runs out of time.

I've read blast-legacy's [meta.yaml](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/blast-l

[2016-11-03 11:46] keuv-grvl opened #2796 "Duplicate packages between bioconda and conda-forge"
Bioconda relies on conda-forge which is a general purpose channel. There are some (105) duplicates between bioconda and conda-forge. Here is the list: https://gist.github.com/keuv-grvl/1580f12a07d400728ec690ec517229a8
Maintaining several recipes for the same software will be counterproductive as we can freely submit PR to `conda-forge` or `bioconda`. Moreover, the conda-forge community is active.

[2016-11-03 12:04] daler commented on #2795
Binaries sound fine to me for older versions if there's no clear way to speed up builds and if we're already doing it for OSX. I suppose the mulled-build test will tell us if the binaries are truly portable. @bioconda/core thoughts?

[2016-11-03 12:10] claresloggett opened #2797 "r-ahocorasicktrie requires Rcpp >= 0.12.5"
On my system recipe r-ahocorasicktrie fails. `conda_build.sh` attempts to install the R package, and fails with `namespace ‘Rcpp’ 0.12.1 is being loaded, but >= 0.12.5 is required`

Presumably needs a version number on the Rcpp requirement in meta.yaml?

[2016-11-03 12:30] daler commented on #2796
@keuv-grvl thanks for looking into this. It would be helpful to have this duplicates-checking built in to bioconda-utils. Perhaps a way that pays attention to versions and platforms available might be to compare the packages in each channel's `https://conda.anaconda.org/{channel}/{arch}/repodata.json`.

Channel priority would work in theory, but we've been playing around with that. Since we also h

[2016-11-03 12:35] daler commented on #162
And also pay for hosting on heroku! Maybe an amazon micro instance would work?

[2016-11-03 12:59] daler opened #2799 "R/bioconductor hackathon small-ish tasks"
If anyone is looking for a small-ish chunk to work on for the hackathon, here are some ideas that could help. In most cases, check `sorted-r-blacklist` for comments.

-  there are a few package that have rgl issues that we've skipped for now, and it would be nice to get them fixed (e.g., `r-ks`).

- `r-spp` 1.14 appears to be having boost issues.

- there are several packages with older versions t

[2016-11-03 13:12] druvus commented on #2799
@daler autoconf is building correctly on the image but I not sure it actually got tested by travis. I am currently away from the computer so I am happy if someone could check the autoconf build.

[2016-11-03 13:41] daler commented on #2799
@druvus I figured out what the issue is, see #2793. I'll be updating bioconda-utils to only filter out a recipe if a package is in bioconda (and don't care if it's in conda-forge, r, or defaults).

[2016-11-03 13:49] druvus commented on #2799
Thanks I missed that this filter was already implemented.

[2016-11-03 19:38] bgruening commented on #2796
An other option is to put all these packages on a blacklist with a comment that these are deprecated and conda-forge is the way to go. Disadvantage is that they are still visible to our contributors and maybe someone updates them. We could also write a big disclaimer in meta.yml file ...?

Having a separate folder seems als a very nice idea, something like `deprecated` but this only makes sense if

[2016-11-03 20:11] bgruening commented on #162
@tomkinsc @jerowe what about https://github.com/bioconda/bioconda-utils/issues/19

[2016-11-04 04:04] mictadlo opened #2810 "mktemp: failed to create directory via template `XXXXXXXXXX': No space left on device"
Hi,
I tried to make a recipe for Falcon_unzip, but it failed with the below error. I have 4 TB free partition where conda is installed and therefore I do not understand the first error `mktemp: failed to create directory via template `XXXXXXXXXX': No space left on device`

[code]

Hear it the recipe:

[code]

[code]

What did I do wrong?

Thank you in advance.

Michal

[2016-11-04 06:39] jerowe commented on #162
So there are fancy hooks so it the linting messages show up on the PR, but the hooks aren't really necessary.

https://github.com/conda-forge/conda-smithy/blob/master/conda_smithy/lint_recipe.py

The main linting is being done here (I think). You could call this as the first travis test, and exit 1 if it finds any linting. As far as I can tell this gets imported, the recipe_dir is passed to main,

[2016-11-04 06:40] jerowe commented on #162
@bgruening , I think using the anaconda verify is a good idea, but does it do linting?

[2016-11-04 12:42] keuv-grvl commented on #2796
Just to be sure I understand. If a package is blacklisted, it won't be used as a build dependency? So the `conda-forge` (or `r`, or `defaults`) package will be used even if versions are the same and bioconda have higher priority ? That sounds great.

A disclaimer could be added in each `meta.yaml` like:
[code]
The package name will be `mypackage-1.2.3-deprecated`.

[2016-11-04 13:27] daler commented on #2796
Blacklists are only for determining which recipes (i.e., directories containing a meta.yaml) to build on travis-ci. It doesn't have any say about installing dependencies for building or installing. That is determined by the channels configured and which packages (i.e., name-version-build.tar.bz2) are available on anaconda.org for each channel.

So unfortunately the blacklist won't work as a mechan

[2016-11-04 13:38] daler commented on #2810
I don't get the same error you do, but I do get an error about getting submodules. It looks like this repo has a lot of them

[code]

However in general it's better to use the url for the tarball instead, e.g.,

[code]

Using that tarball fixes the submodule errors, but then I get errors about unlisted dependencies not being installed: it tries to download pysam but pysam is not listed in the meta

[2016-11-04 13:51] bgruening commented on #2796
@daler I'm just talking about the best strategy to reitere a package on github not during the installation. Currently, my only concern is that we should tell our developers to __not__ use this recipe anymore, but please go to conda-forge and upgrade it.

[2016-11-04 13:56] daler commented on #2796
@bgruening ah, I see. I agree with what you said: blacklisting might be confusing, and a deprecated dir prob makes the most sense. We might be able to do it before restructuring by adding a top-level `recipes-deprecated` dir outside of `recipes`.

[2016-11-04 17:12] bgruening commented on #2300
@endrebak This is a great offer thanks a lot! What would be a pretty doable solution in short term is if we could pay travis or any other CI to extend build-time or concurrent jobs.

[2016-11-04 20:26] mictadlo commented on #2810
Thank you, it did fix my error, but I got a new one https://github.com/PacificBiosciences/FALCON_unzip/issues/42 .

Furthermore, I added the missing dependecies to meta.yaml
[code]

[2016-11-05 12:18] druvus opened #2821 "autoconf"
I have now spent some time to understand why autoconf build is failing using bioconda's setup while it is built successfully at conda-forge. The difference semms to be the version of conda-build  used in the two projects (2.0.0 vs. 1.21.14). conda-forge includes the following in their setup script to force using a version v1 of conda-build.

<pre>
# KLUDGE to work around changes in conda-build 2.0

[2016-11-05 12:45] bgruening commented on #2821
I'm fine with including the hack from conda-forge here as well - in the build-sh script.
@druvus I probably ask this before, but why not getting this fix upstream? Unlikely?

[2016-11-05 20:30] druvus commented on #2821
I initially thought it would be faster to fix the bioconda version. It seems that the conda-forge version correctly adds the correct absolute path to the shebang. See the snippet below where I am using a environment called test on the docker image. It is not generic but it get correct for the environment it get installed to. The only drawback is the pinned perl version but it would probably not ma

[2016-11-06 00:32] bgruening commented on #2821
@daler @johanneskoester what do you think? I'm ok with removing it, also it's not ideal but it is a build dependency and should only be relevant during rebuilds ... which we hardly can do at the moment.

[2016-11-07 01:56] daler opened #2826 "Expert teams"
I was thinking it would be useful to have easy ways of calling in help for especially tricky recipes. Currently the common method is to ping @bioconda/core, but we have a lot of expertise spread across other contributors who could provide better help than @bioconda/core, but aren't necessarily notified.

I'd like to propose a small set of "teams" that can be notified for specific help. Here's a fi

[2016-11-07 03:41] druvus commented on #2821
Fixed in #2825. Thanks @dyusuf

[2016-11-07 03:41] #2821 closed

[2016-11-07 08:29] johanneskoester commented on #2826
This is a great idea, Ryan! Let's do that.

[2016-11-07 09:33] johanneskoester commented on #2300
Yes, CI speed is really the area to improve at the moment.

[2016-11-07 09:59] johanneskoester commented on #162
We should do both. I also prefer a failing test instead of a message posted to the PR, so it should be fine to use `lint_recipe` directly.

[2016-11-07 14:05] cdunn2001 commented on #1
Please add me to the team!

[2016-11-07 14:12] bgruening commented on #1
Welcome @cdunn2001!

[2016-11-07 14:53] martin-mann commented on #2795
Hi,

it seems there are some problems with the precompiled blast-legacy binaries (see #2587), so we are working on a build from source, which is currently hindered due to the missing (t)csh shell in the base system (see #2792).

Just to let you know...

[2016-11-07 19:25] martin-mann commented on #2792
Any status/plan update?

[2016-11-07 22:27] martin-raden opened #2846 "Automatic travis abort for old pushes in PRs"
Seems there are solutions for this, which can speedup test and build processes

https://github.com/grosser/travis_dedup

https://github.com/travis-ci/travis-ci/issues/2505

Just a suggestion

[2016-11-08 06:26] dyusuf commented on #476
@daler  any verdict yet on the issue? I am experiencing the same with rhtslib #2844

[2016-11-08 09:05] glormph opened #2853 "Travis prefers defaults over conda-forge"
When building a recipe I needed boost from `conda-forge` (`defaults` doesn't include static libs). This worked fine in a local conda build run, but when pushing to travis the jobs failed because boost was installed from `defaults` anyway.

My guess is that my local conda has channels ordered with conda-forge before defaults (as specified in my `.condarc` file) and that it stops searching after it

[2016-11-08 14:32] daler commented on #476
Haven't made progress on this in many months . . . however using gcc instead of llvm for OSX has fixed some other problems in the meantime, so maybe that would help here?

[2016-11-08 14:40] dyusuf commented on #476
I added gcc as one build dependency, while it did not work.  I guess I need to override the environmental variables?

could you point me to the related recipe? cheers.

[2016-11-08 14:45] bgruening commented on #476
There is no environment variable from bioconda to change the compiler.

[2016-11-08 15:10] daler commented on #2853
The recent changes were inconsistent across docs and travis-ci, which is probably what was causing this. See #2862 for the PR that fixes it.

However, we need to choose a single consistent channel order, and we decided that defaults should have higher priority than conda-forge. See #2675 for details.

@johanneskoester maybe we should keep track of cases like this, where the conda-forge should have

[2016-11-08 16:02] glormph commented on #2853
In my particular case I just specified a version not in defaults and that fixed it, but good to know. I assume the issue can be closed.

[2016-11-08 19:07] jlanga commented on #2795
Hi @martin-mann. I was successfully compiling those blast+ versions in my laptop with `conda build` and `simulate-travis.py`. I think it's only an issue in `blast-legacy`.

The major issue I found was with `conda build` because I have installed `g++-5`.

@bioconda/core: I've [tested](https://travis-ci.org/jlanga/bioconda-recipes/builds) all 15 blast+ recipes on Travis. I made a pull request for th

[2016-11-08 19:33] daler commented on #2795
@jlanga looking great! Would you mind submitting 1 PR at a time?  That is, submit one PR, wait for it to pass, merge into master and wait that to pass, before opening another PR. The reason is that travis-ci is pretty slow recently and 14 long-running PRs would pretty much block any other PRs from running for something like a day or two.

[2016-11-08 21:01] jlanga commented on #2795
Hi @daler. I have already one branch per version in my fork, all of them tested in Travis. So as you say, I'll be doing one or two merges to master per day to allow other people's work.

[2016-11-09 07:08] johanneskoester commented on #2853
@glormph, can you refer to the problematic PR please?

[2016-11-09 08:24] glormph commented on #2853
Sure, it was my [percolator again PR](https://github.com/bioconda/bioconda-recipes/pull/2854)

[2016-11-09 08:43] johanneskoester commented on #2853
The hardcoding of boost is a bit problematic though. It will cause incompatibilities with other packages in bioconda that depend on a different boost version. That's why we have the global variable for that.

So, in your case, what was the problem with the boost version from default?

[2016-11-09 08:50] glormph commented on #2853
The default boost did not install static libs. The conda-forge one does.

Another way around it would be installing boost from source. Since I only need filesystem and system libs it would maybe not take as much time as a full install (which would timeout Travis).

Not sure I understand the problem with the hardcoding. Do you mean the buildstring or the requirement?

[2016-11-09 08:54] johanneskoester commented on #2853
I mean the requirement. Say two packages depend on boost. One on the version we consistently define globally, the other on a differnt one. They cannot be installed into the same environment. This is fine if there is a technical reason for depending on a particular version. But it is not ok, if the only reason to use a different version is to work around a more fundamental problem.

But wait, the t

[2016-11-09 08:57] johanneskoester commented on #2792
@jakirkham we need an optional tcsh for building certain packages. Since we use the same docker image, what is your opinion on adding tcsh to condaforge/linux-anvil?

[2016-11-09 09:02] glormph commented on #2853
Good catch! I am really quite a noob at packaging (and compiling) but I think I understand that. Will give it a try immediately!

[2016-11-09 09:20] johanneskoester commented on #2853
When you create a new PR, please also refer this issue and the old PR and ping me.
Thanks!

[2016-11-09 09:31] glormph commented on #2853
Will do. One thing, the buildstring (which contains boost version), will I need to remove that? In other words, is that for showing what it runs with, or what it was built with?

[2016-11-09 09:53] johanneskoester commented on #2853
You can keep that. It is for the build dependency.

[2016-11-09 20:04] bgruening commented on #2795
@jlanga @daler do we agreed here to create 14 binary packages or compiled ones?
I think @martin-mann was able to compile them as soon as we can fix: https://github.com/bioconda/bioconda-recipes/issues/2792

[2016-11-10 01:22] JinfengChen commented on #1
Please add me in to this great team. Thanks.

Jinfeng

[2016-11-10 01:24] dkoppstein opened #2887 "default simulate-travis.py run requires mulled-build"
I was trying to test out a few new packages, using the new command in the documentation:

`./simulate-travis.py --packages bioconductor-ebarrays --loglevel=debug`

However, the build fails here:

[code]

presumably because I don't have mulled-build in my PATH. I'm not sure where to get this executable and it's not in the documentation, am I invoking simulate-travis incorrectly?

[2016-11-10 04:10] hainm commented on #2764
I've been using [circleci](https://circleci.com) and seems to be a good additional ci.

- ssh for debugging
- easy to retrieve artifacts

[2016-11-10 08:12] bgruening commented on #2887
Try to install galaxy-lib. This should give you the executable.

[2016-11-10 15:09] daler commented on #2826
Going by contributions/conversations I can remember and a bit of git-log grepping, here's a first attempt. I'm sure I'm missing others, so please add to the list.

team | possible members not already on `core` team
--------|--------------------
Perl | @jerowe, @martin-mann, @druvus, @acaprez
gcc/lib | @kyleabeauchamp, @yesimon, @druvus, @acaprez, @marcelm
travis/build | @kyleabeauchamp
R | @lecorg

[2016-11-10 15:14] dyusuf commented on #2826
@daler thanks for the effort! yes, I am in.

[2016-11-10 15:40] martin-mann commented on #2826
not sure if I am really considable as a 'perl-expert' since I 'chose' accidentially the update of bioperl to v1.7+ as my bioconda intro... kept me busy for more than a week now since this required an immense dependency update. still not done.. :/

but since I had to work around a few quirks, you can ping me if needed for perl-questions.

btw: avoid perl ..  ;-)

[2016-11-10 16:17] acaprez commented on #2826
Likewise, I'm not sure I'd consider myself an expert on any or all of those, but I'm happy to contribute and help.

[2016-11-10 17:20] daler commented on #2826
Thanks @dyusuf @martin-mann @acaprez!

[2016-11-10 19:17] dkoppstein commented on #2887
Thanks @bgruening, that worked. My build is succeeding now; however, I'm still getting a warning from bioconda_utils that `involucro` can't be found. Perhaps we should update the README.md to direct users building their own packages to install galaxy-utils and whatever package has `involucro`?

Here's the relevant part of the debug log:

[code]

[2016-11-10 19:18] acaprez opened #2897 "Typo in FAQ setup command"
Looks like there's a typo in the `pip install` command in the FAQ.  The leading `$` is missing from the variable name; i.e. the line should read:

`pip install git+https://github.com/bioconda/bioconda-utils.git@${BIOCONDA_UTILS_TAG}`

[2016-11-10 19:20] daler commented on #2897
Thanks @acaprez, I'll make the change.

xref #2887

[2016-11-10 19:29] daler commented on #2887
@dkoppstein there was a typo in the FAQ, should be fixed soon in master (see #2897, #2898 )

`involucro` should be downloaded by mulled-build and placed in the current directory. @bgruening would it be possible to have a

[code]

command to make this step more explicit?

[2016-11-10 21:00] bgruening commented on #1
Welcome @JinfengChen

[2016-11-10 21:16] #2897 closed

[2016-11-11 06:34] jerowe commented on #2826
I'm in. Always glad to be a part of bioconda. ;-)

[2016-11-11 11:48] dyusuf opened #2904 "bulding R pacakge on OSX - Library not loaded: @rpath/libreadline.6.2.dylib"
This is an unusual error starting to appear during last two days.

please check the Travis output:
https://travis-ci.org/bioconda/bioconda-recipes/jobs/174520712

The same recipe was successful two days ago.
https://travis-ci.org/bioconda/bioconda-recipes/jobs/174406798

From yesterday, all R packages in my doing list got the same error on OSX.

[2016-11-11 13:38] martin-mann commented on #2332
Hi, I just pushed a new libgd and perl-gd version, which should be available in the bioconda channel by now.

@PietJones Please check if the error persists. Note, as @jerowe said: you might have to ensure using the `perl-threaded` from the bioconda channel rather than using the `perl` from the conda default channel. But not sure about that.. (not tested by me)

Hope that helps. @PietJones : If it

[2016-11-11 14:33] martin-raden opened #2910 "enable bioperl 1.7.* for osx : currently for linux only"
Due to the new bioperl 1.7 dependencies

[code]

that are NOT available for osx, the new `perl-bioperl` 1.7.1 is only available for linux.

@bgruening started already to get the dependencies working on osx in the [perl-osx-nov](https://github.com/bioconda/bioconda-recipes/compare/perl-osx-nov?expand=1) branch, but failed so far. So please, everybody interested in osx builds contribute there!

an u

[2016-11-11 14:39] martin-mann commented on #2910
Maybe something I found concerning osx issues faced in the perl-osx-nov branch:

 [https://github.com/minrk/patch-conda-rpaths](https://github.com/minrk/patch-conda-rpaths)

plus discussion here:

 [https://github.com/ContinuumIO/anaconda-issues/issues/498](https://github.com/ContinuumIO/anaconda-issues/issues/498)

which might be also related to #2904

[2016-11-11 14:43] martin-mann commented on #2749
I updated `perl-bioperl-core` to 1.7.1 and (currently running) update `perl-bioperl` to 1.7.1 too.

What is left open is getting it enabled for osx, see #2910

[2016-11-11 14:57] martin-mann opened #2911 "recipe updates : how is upstream runtime stability ensured?"
Maybe a very stupid question, but just tell me if so, no prob. :)

Given the situation that I or somebody updates a recipe pushing a new version. Is it and how is it ensured that all packages depending ON the changed package are still working when freshly installed (with the updated package)? (might be related to #2904 )

Would it be possible to setup a (travis?) check that
- identifies all direct

[2016-11-11 17:32] daler opened #2915 "docs overhaul"
Currently we have documentation spread across:

- `docs/index.rst` (hosted on bioconda.github.io/bioconda-recipes, along with package documentation)
- README.md
- GUIDELINES.md
- FAQs.md
- CONTRIBUTING.md

The first one is mostly just for users while the rest are for developers. It gets confusing, and we're lacking a single cohesive place to point folks for information.

To start addressing this I

[2016-11-11 21:17] martin-raden opened #2917 "Perl-bioperl-core-1.7.1 package broken.. please remove!!"
@bgruening I am crying... the bioperl 1.7 package (which kept me busy for more than a week) is not packed correctly.. even with successful travis build... (test was disabled due to cyclic deps...)

See file size: [perl-bioperl-core-1.7.1](https://anaconda.org/bioconda/perl-bioperl-core/files) = 14kb ...

Please remove the 1.7 package from the channel.

This causes no problems, since the `perl-biop

[2016-11-11 21:32] martin-mann commented on #2917
Grmpf.. guess its this [local::lib](https://github.com/bioperl/bioperl-live/blob/master/INSTALL.md) quirk that is needed to get it installed in the target directory... so another dependency..

[2016-11-11 21:50] martin-mann commented on #2917
Is there a way to incorporate this perl-local-lib package from a private channel?

[https://anaconda.org/dan_blanchard/perl-local-lib](https://anaconda.org/dan_blanchard/perl-local-lib)

Ahhh.. will pull conda `perl` as well... 😣

[2016-11-11 23:22] olgabot opened #2918 "`conda skeleton pypi packagename` fails"
When I try to run `conda skeleton` on my package, [`outrigger`](https://pypi.python.org/pypi/outrigger), I get this error:

[code]

Is this a pypi specific issue or something? I'm not sure how to deal with it.

[2016-11-12 02:45] daler commented on #2918
I'm also getting an error, but a different one (I'm guessing you've added 0.2.9 in the last few hours). Seems to be something with the readme, but based on your commits to README.rst looks like you're already working on it.

[code]

[2016-11-12 02:54] daler commented on #2911
@johanneskoester had set up https://github.com/bioconda/bioconda-tests to do this. The infrastructure is there, we just have to work out details.  I forget what the issues were . . . I think one of them was long build times on travis consuming resources that could otherwise go to building new recipes. Maybe we could restrict the DAG as you mention to speed things up. The new tools in bioconda-util

[2016-11-12 07:33] dyusuf commented on #2904
As commented in #2900, it is related to channel order.

[2016-11-12 13:03] #2853 closed

[2016-11-12 13:28] johanneskoester opened #2921 "How to deal with incompatibilities between conda-forge and r channel"
@bioconda/core, recently, we had numerous problems with packages from e.g. the R channel pulling dependencies from conda-forge. I described the issue in conda/conda#3721.

### Current workaround
So far, our workaround for the issue is to fix channel priorities such that conda-forge has least priority.
This fixes the issue only for packages from the default and the R channel though. For the conda-f

[2016-11-12 14:00] bgruening commented on #2921
I don't see it as dark as your post sounds like. anaconda tries imho to find a way to rebuild their collection of packages and make it more open with conda-forge. This process is not finished and things was getting more complicated with the conda-build 2 release and the short-prefix problems. What is a little bit sad is that there is a lack of communication and the future of `r`, `anaconda` and `c

[2016-11-12 14:55] johanneskoester commented on #2921
@bgruening good to hear that it is not as bad as my impression was.

To clarify: this was not about working against conda-forge. On the contrary, I still want to contribute whenever possible. This is only about a different way of including a channel. We still use conda-forge as a dependency and contribute back. The only difference is that rebuilds of some of their recipes are also available direct

[2016-11-12 15:14] bgruening commented on #2904
Fixed by @daler!

[2016-11-12 15:14] #2904 closed

[2016-11-12 15:18] bgruening commented on #2921
@johanneskoester I understand too less about conda-smithy but I think it is a more or less automatic system to create the feedstocks - so I think technically it might be "easy". But not sure about the politics behind it. Let's join the next conda-forge meeting and see if @msarahan @jakirkham can help us here with input.

[2016-11-12 16:52] dyusuf commented on #2904
@daler thanks!

[2016-11-12 18:01] bgruening commented on #2915
My vote is for including all docs in bioconda-utils, this makes PR and enhancements fast and does not infer with the build setup. I think a third repo is not needed. Before we do this, I think it would be good to restructure our recipe directory and implement the subdir idea for r, bioc and perl packages. This will also make recipes more discoverable.

[2016-11-12 23:02] johanneskoester commented on #2911
Indeed, I hope to reactivate this at some point. The problem was that the load became too high. However we could either use a different ci, or run the tests in an alternating way, e.g. only test a sample of the recipes per week.

[2016-11-13 00:32] daler commented on #2915
Quick turnaround is a good reason for having source in bioconda-utils. And we can host on bioconda.github.io (rather than say bioconda.github.io/bioconda-utils). But I'm not sure I see a reason to hold up docs while we reorganize.

[2016-11-14 09:08] martin-mann commented on #2911
Hi both, thanks for the feedback so far.

Did you run "only" the tests without build (ie the tests registered within the meta.yaml and not the `make test`)? I am quite surprised that this takes so long.. but this is something easy to "parallelize" via chunking up the list of dependencies to test into blocks.. but anyway.

Maybe to illustrate the problem I see here a small example about two (perl)

[2016-11-14 09:24] johanneskoester commented on #2911
Yes, only the tests. Indeed, we parallelized them across the connected dependency subdags. With over 1500 packages, it is just a lot of downloads. Also, travis penalizes based on the number of spawned jobs and so on. There is certainly room for tuning the tradeoffs.

The scenario you describe was exactly the reason why I wanted the continuous (weekly) testing of all packages.
Your solution is inte

[2016-11-14 09:38] bgruening commented on #624
Time flys and we have a much nicer build system by now.

[2016-11-14 09:38] #624 closed

[2016-11-14 10:49] bgruening commented on #2911
Just to recap: We are talking here about the problem that, let's say, matplotlib is released in version 2.0, it will potentially break all package that depends on `- matplotlib` and what we are searching here is a solution to automatically detect these things and update packages to `- matplotlib <2.0,>=1.0`. Some holds true for boost, zlib, R ...

If so, we did discuss this before and I was told t

[2016-11-14 13:05] martin-mann commented on #2911
Another point I see in that direction (was about to put another issue) is

# Would it be possible to provide the list of dependency versions used for the package build?

This would enable an easier bug tracking once a package is (automatically or manually) reported to fail. In that case, one can compare the build version list with the one that failed.

[2016-11-14 13:43] johanneskoester commented on #2911
@martin-mann yes, but that would be an extension to conda. Feel free to issue a request or check if it is already possible or planned. I would like to see something like that.

[2016-11-14 15:16] martin-mann commented on #2796
a problem I see: *time* .. it takes quite a while till a pull request to conda is finally merged and available as a dependency. So by pushing the stuff to conda (what I would prefer too), you very much delay (and annoy) contributors, since they have to wait until the new version is available before they can continue to setup their package..

how difficult is it to do both (adding to bioconda plus

[2016-11-14 19:41] saketkc commented on #2921
I recently bumped into an issue, I am not sure if it has been considered before:

What is the best way to avoid package name conflicts? For example, there is Piranha, a CLIP/RIP-Seq peak caller in [bioconda](https://github.com/bioconda/bioconda-recipes/pull/1711) and Piranha, a computer algebra system in [conda-forge](https://github.com/conda-forge/staged-recipes/pull/1918)

While updating my pack

[2016-11-14 20:28] bgruening opened #2943 "Pinning the conda-forge way"
@johanneskoester whould it be worth to sync our pinning with the one from conda-forge?

https://github.com/conda-forge/conda-forge.github.io/blob/af6e7b282efb2bf9b62fe10f8093d76b37c333e1/scripts/pin_the_slow_way.py#L29-L60

[2016-11-15 04:34] mictadlo opened #2949 "Problems with Pysam"
Hi,
I tried to create a `conda` package for GenomicConsensus with the following steps:

[code]

[code]

[code]

What did I do?

Thank you in advance.

Mic

[2016-11-15 04:37] kyleabeauchamp commented on #2949
Your setup.py has a hard-coded pysam version requirement but your recipe allows any version.  These two are not compatible.

[2016-11-15 05:17] mictadlo commented on #2949
Thank you, but now I got:

[code]

After I did:

1. conda skeleton pypi --version 0.8.1 pysam
2. conda build pysam

What did I do miss ?

Thank you in advance.

Mic

[2016-11-15 06:19] druvus commented on #2949
I was looking at the setup.py file and I see a mismatch between your listed requirements and the ones in setup.py.

I would suggest a meta.yaml that looks like this. Seems that the tool is written for py27 so skipping all other python versions. It is also recommended to use an url instead of get_rev.

You need to fix recipes for pbcore and pbcommand before trying to build this.

[code]

[2016-11-15 06:44] martin-mann opened #2951 "Package packing broken?"
Some builds say a recipe build failed and stop AFTER successfully building them..

Have restarted them for to see if temporary..

Eg

[https://travis-ci.org/bioconda/bioconda-recipes/jobs/175918364(https://travis-ci.org/bioconda/bioconda-recipes/jobs/175918364)

[2016-11-15 08:24] druvus commented on #2949
@mictadlo I submitted a pcbore PR #2953

[2016-11-15 08:31] #2951 closed

[2016-11-15 08:38] johanneskoester commented on #2921
@saketkc this should be handled by the channel priorities. Can you please post the output of  `conda config --get`?

[2016-11-15 09:18] johanneskoester commented on #2943
Yes, sounds like a good idea. I think this should not happen automatically, because changing a version might trigger a lot of updates, but we should try to keep it in sync manually.

[2016-11-15 09:27] saketkc commented on #2921
[code]

Shouldn't `conda-forge` always supersede `bioconda` (as it now does)

[2016-11-15 09:33] johanneskoester commented on #2921
Ideally, this would depend on your use case. Currently, we need the channel priorities to avoid the incompatibilities outlined above. The correct channel order is listed on bioconda.github.io. I am quite sure that it will fix your problem.

[2016-11-15 12:27] martin-raden opened #2957 "Perl-osx-nov PR merge: linux package build failed"
@bgruening Somehow the `perl-osx-nov/xmlbuilder` merge builds failed even after it went through for the branch build

[https://travis-ci.org/bioconda/bioconda-recipes/builds/175984864](https://travis-ci.org/bioconda/bioconda-recipes/builds/175984864)

What to do?

[2016-11-15 13:02] bgruening commented on #2957
"fixed" it by put it on the blacklist: https://github.com/bioconda/bioconda-recipes/pull/2958

@daler any idea why all tests pass with "SUCCESSFUL" but the summary actually fails?
https://travis-ci.org/bioconda/bioconda-recipes/jobs/175984865#L495

[2016-11-15 13:26] martin-mann commented on #2957
As said, also happend for the following merge of `xmlbuilder`...

[2016-11-15 14:38] daler commented on #2957
@bgruening no idea -- I'll block out some time later today to look at this.

[2016-11-15 19:33] martin-mann commented on #2911
the dependency list conda request was moved to conda-build : [https://github.com/conda/conda-build/issues/1534](https://github.com/conda/conda-build/issues/1534)

[2016-11-15 20:34] jakirkham commented on #2921
Also you guys may want to weigh in on our meeting schedule. We are changing it because Phil is now in Australia. So we need to find some new times that work. It may be touch and go for a few weeks while we iron out what works and plan around holidays.

xref: http://doodle.com/poll/pgaw6c654wenigmy

[2016-11-15 21:18] druvus commented on #2949
@mictadlo here is pbcommand #2963

[2016-11-15 21:59] bgruening commented on #2949
That's community! Thanks a bunch @druvus!

[2016-11-15 22:53] mictadlo commented on #2949
Thank you @druvus . How is it possible to use your recipes?

[2016-11-16 02:46] dprada opened #2964 "jpeg 9 as gnuplot-py requirement"
Hi!

I think gnuplot-py has to explicitly require jpeg 9 (with jpeg 8 doesn't work).

I was getting this:
`gnuplot: error while loading shared libraries: libjpeg.so.9: cannot open shared object file: No such file or directory`

Until I updated my jpeg to 9.

Thanks for keeping this conda repo updated!

[2016-11-16 08:41] johanneskoester commented on #2921
Thanks @jakirkham.
So, to be concrete again: @mingwandroid, what is your opinion on duplicating the R channel in conda-forge. Do we have your permission to use the recipes in conda/conda-recipes as a base?

[2016-11-16 09:25] druvus commented on #2949
I haven't merged them yet. I am a little bit unsure if we should use the `python-` prefix or not. Right now I added it because of `python-consensuscore` also used it.

python-consensuscore is already in the bioconda channel so I think you need to add the correct channels to your setup. Please read the instructions [here](https://github.com/bioconda/bioconda-recipes#step-2-test-the-recipe).

[2016-11-16 09:37] druvus commented on #2949
I was going through pacbio tools and only consensuscore use the the python prefix so I dropped it from the new packages and they will be ready soon. Various pacbio tools are on my todo list so I am happy to help.

[2016-11-16 10:38] mingwandroid commented on #2921
@johanneskoester, Yes, I currently handle all of the R packages.

I would rather wait to see what happens with the new build system that @msarahan is working on at present. I expect to adopt a more `conda-forge`-like layout for the R packages once that is ready. At that point, if you still feel that copying R into `conda-forge` is the way to go then it should be easier for you to do.

A lot of thi

[2016-11-16 16:24] wasade opened #2972 "SortMeRNA OSX support"
I attempted to grab `SortMeRNA==2.0` on OSX and was surprised that the package didn't exist for the osx channel. Is there a quick fix here? I believe that `build.sh` is inline for an OSX build. If there is a quick fix, I'd be happy to issue a PR with a little guidance :)

[2016-11-16 18:11] bgruening commented on #2972
@wasade try to remove the `skip: True  # [osx]` in the recipe and build it on your box with `conda build path/to/recipe`. Hopefully this will pass and you can create a PR with this single-line change.

[2016-11-16 18:18] wasade commented on #2972
Thanks! Testing right now

On Wed, Nov 16, 2016 at 10:11 AM, Björn Grüning <notifications@github.com>
wrote:

[2016-11-16 19:07] wasade commented on #1
Please add me to the team

[2016-11-16 19:10] yesimon commented on #2826
I'm not an expert but I'll be willing to help in things like OS X

[2016-11-16 20:19] bgruening commented on #1
Welcome @wasade!

[2016-11-16 22:18] mvdbeek opened #2977 "simulate-travis.py failure reporting"
I had forgotten to add my current user to the docker group, and simulate-travis.py was failing with exit code 127 (command not found). This took me quite a while to figure out.
I guess it would be helpful to report the stderr of whatever command returns a non-zero exit code.

[2016-11-16 23:15] daler commented on #2957
Hopefully this will fix it: https://github.com/bioconda/bioconda-utils/pull/34

[2016-11-16 23:25] mictadlo commented on #2949
Thank you for doing it. `python-consensuscore` exist only 1.0.0. I am also interested in FALCON_unzip, but it apparently will require FALCON 1.8.0 [see](https://github.com/PacificBiosciences/FALCON_unzip/issues/44#issuecomment-259034142)

[2016-11-17 09:27] mvdbeek commented on #2977
Or another instance, now it's probably lack of online connectivity, because the PROXY env vars are not passed on to docker build:
[code]
I guess the call to subprocess.run should be wrapped in a try except statement, so that docker's stdout and stderr can be reported?

[2016-11-17 10:22] martin-mann commented on #2957
so after merging this, should I push a new build (number) of the failed package? (and remove it from the blacklist)

[2016-11-17 11:23] mvdbeek opened #2982 "simulate-travis.py fails if no host-conda-bld directory exists"
If you go straight to simualte-travis.py, without attempting a normal build:
[code]

Workaround is to first build a local package, but I guess this could be handled better (perhaps make /opt/host-conda-bld/linux-64/ a volume in the docker image?).

[2016-11-17 12:03] iwohlers commented on #1
Please add me to the team, thanks!

[2016-11-17 12:58] johanneskoester commented on #1
Welcome Inken! Glad to hear that!!

[2016-11-17 13:49] daler commented on #2977
`simulate-travis.py` is a Python script using subprocess to call the bash script `travis-run.sh` used on travis-ci, which in turn is calling the Python CLI tool `bioconda-utils`, which in turn is calling docker in a subprocess call (!). So the trick is to get the docker call to be more verbose rather than a try/except in simulate-travis. I think [this commit](https://github.com/bioconda/bioconda-u

[2016-11-17 13:54] mvdbeek commented on #2977
yep, that looks good.

yeah, I realize this is quite the corner-case, and a bit tricky to get right. I just switched to cloud machines, they're faster anyway. Thanks for working on this!

[2016-11-17 13:54] #2977 closed

[2016-11-17 13:56] mvdbeek commented on #2982
This should be resolved by https://github.com/bioconda/bioconda-utils/pull/34.

[2016-11-17 13:56] #2982 closed

[2016-11-17 14:27] daler commented on #2977
I think I'm going to hold off for now on the env-var-to-docker stuff, but please feel free to open a PR on bioconda-utils.

[2016-11-17 22:51] ksuderman commented on #1
Greetings,

I would like to join the team so I can start contributing our NLP (Natural Language Processing) tools for Galaxy! @bgruening tells me this is the place to do it.

[2016-11-17 22:57] bgruening commented on #1
Welcome @ksuderman :)

[2016-11-17 23:13] upendrak commented on #1
@bgruening, i would like to join the Bioconda team so that i not only contribute to the Bioconda project but also use it for bringing bioconda packages to our CyVerse infrastructure.

[2016-11-17 23:15] bgruening commented on #1
@upendrak thats awesome! Please let me know if anything is wrong with the containers.