[2019-02-28 12:10] johanneskoester opened #13846 "bioconductor-genomeinfodbdata postlink failure"
It seems like suddenly, the genomeinfodbdata package cannot be installed anymore, because the post-link script fails. The failure reason is not shown by conda, and when I try to run the script manually, it seems to work. Any idea what could be wrong?

[code]

[2019-02-28 13:45] AlexGa commented on #13846
I have the same problem and checked the urls in the recipe. It seems that the version 1.2.0 is not available at https://depot.galaxyproject.org/software/bioconductor-genomeinfodbdata. Could this be the reason for the LinkError?

[2019-02-28 14:30] johanneskoester commented on #13846
It should try the first source first, which at least I could download when I tested. Of course, it won't hurt if the others would be there as well. @bgruening is there an expected delay in getting the sources up on depot?

[2019-02-28 19:52] shihaoshen opened #13853 "rMATS bioconda version"
https://anaconda.org/bioconda/rmats/4.0.2/download/linux-64/rmats-4.0.2-py27h24bf2e0_0.tar.bz2

For rMATS 4.0.2 on bioconda, its two binary files are different from the rMATS 4.0.2 Sourceforge version:
https://sourceforge.net/projects/rnaseq-mats/files/MATS/rMATS.4.0.2.tgz/download

Could someone check what causes the difference in these two pre-complied binary files? Thanks.

diff -r rmats-4.0.2-

[2019-02-28 20:24] shihaoshen commented on #12782
There is an issue of where rMATS searches for its component in the conda environment. As a temporary solution, you can copy the rMATS directory into the conda bin, when you are in the conda environment.

cp -r $CONDA_PREFIX/rMATS/* $CONDA_PREFIX/bin/

[2019-03-01 02:22] nsoranzo commented on #13846
Just found the same issue for version 3.7.0 of bioconductor-org.dm.eg.db , bioconductor-org.hs.eg.db bioconductor-org.mm.eg.db , ... All missing from https://depot.galaxyproject.org/software/ .
See https://travis-ci.org/galaxyproject/tools-iuc/jobs/500101334 for https://github.com/galaxyproject/tools-iuc/pull/2320

[2019-03-01 03:23] bgruening commented on #13846
Ok, depot has problems. We will look into this today. But this issue seems to be unrelated to depot right? Depot is caching tarballs used during build-time. Depot has nothing to do with run-/install-time dependencies. Can it be that BioC is simply down or has changed URLs? Or is it just late and I miss something obvious?

[2019-03-01 03:42] bgruening commented on #13846
The first link also works for me https://bioconductor.org/packages/3.8/data/annotation/src/contrib/GenomeInfoDbData_1.2.0.tar.gz

Conda issue with post-scripts?

[2019-03-01 09:15] nsoranzo commented on #13846
I am not up-to-date with bioconductor packages in Bioconda, but it seems that since https://github.com/bioconda/bioconda-recipes/pull/6505/files#diff-470b868b8f873e497edfdad44fdefd28 for annotation packages, `build.sh` has been removed in favour of `post-link.sh`, which means that packages on anaconda.org are almost empty and the actual download and installation happen at install time.

[2019-03-01 10:06] bgruening commented on #13846
Yes this is correct. But still has nothing to do with depot atm and also not with this issue I think. The tarball in question (
bioconductor.org/packages/3.8/data/annotation/src/contrib/GenomeInfoDbData_1.2.0.tar.gz) is downloadable. So the error has nothing to do with a wrong link or something like that, isn't it?

[2019-03-01 11:51] mmiladi commented on #13774
Hello @bioconda/core,

Is there any statistics about the popularity and usage level of the R packages, e.g. the ratio of bioconda recipes that depend on the R packages or number of downloads?

Usually simple solutions win, like the Conda itself! Wouldn't it work to simply(?) split and clone the latest version of the recipes into 2-3 new spawned channels like `bioconda-R`, `bioconda-core`, ... and

[2019-03-01 12:35] nsoranzo commented on #13846
You are right, this seems to be a [conda 4.6 bug](https://github.com/conda/conda/issues/8306).

[2019-03-01 14:31] bgruening commented on #13846
Closing as a conda bug and not a bioconda issue.

[2019-03-01 14:37] bgruening commented on #13846
However, @johanneskoester if you can figure out what is missing from the R packages in the environment, so the real error. We might want to enhance our recipes during the next rebuild. Maybe `md5sum` is missing in the run-deps?

Cargo-port should work again.

[2019-03-01 15:48] jbaaijens commented on #11007
I've updated the recipe to savage version 0.4.1 but it doesn't compile. It seems to have something to do with boost: https://circleci.com/gh/bioconda/bioconda-recipes/46101

I'm not sure how to fix this, any help would be very much appreciated!

[2019-03-01 18:59] sprouffske opened #13869 "bioconductor-genomeinfodb installation fails"
I can't install `bioconductor-genomeinfodb`, and it fails when running the post-link script.

I've tried the installation a few times. Following is the relevant bit from a verbose attempt. The post-link script fails when attempting to download the data.

[code]
When I picked a URL from the post-link script to manually download using `wget`, I was successful.

[code]

Following is another unsuccess

[2019-03-02 18:05] cimendes commented on #1
I would like to join! Thanks!!

[2019-03-03 02:25] nsoranzo commented on #13869
Duplicate of #13846.

[2019-03-03 02:25] #13869 closed

[2019-03-03 02:28] nsoranzo commented on #13784
xref. https://github.com/bioconda/bioconda-recipes/issues/13846

[2019-03-03 11:02] reslp opened #13883 "maker package not working: can't find x86_64-conda_cos6-linux-gnu-gcc compiler"
Hi,

I am having troubles getting maker to run inside my conda environment. Everything seemed to have installed correctly. I had to make some changes to link RepBase correctly but I got it to work. Now when I run maker I get errors like this:

[code]

maker keeps running but the contigs are not processed correctly. It seems that while trying to compile inline C code, maker can't find the compiler

[2019-03-03 11:42] sdayal commented on #1
Hi Johannes,
I would like to contribute as well. Could you please add me.

[2019-03-03 16:05] mbhall88 commented on #13784
@nsoranzo I'm not sure it's the same problem? The post-link script runs fine, it's just that the files don't seem to be where I expect them to be at runtime.

[2019-03-03 16:09] nsoranzo commented on #13784
@mbhall88 I still don't understand what's causing these issues, so I can't tell if they have the same origin. But they both involve the post-link scripts, so I've added the xref for your information.

[2019-03-03 22:09] unode commented on #13578
Hi @bgruening

#13885 passed all tests prior to merge but failed to do the final build and upload.
There's nothing conclusive in the logs so, would this still fall under this issue or general CI related ones?

[2019-03-04 06:42] bgruening commented on #13578
@unode it seems that the upload to anaconda actually worked isn't it?

https://circleci.com/gh/bioconda/bioconda-recipes/46302

The problem seems to be on the quay.io site that your Docker container is not uploaded because it takes longer than 10min. This is because the Docker container contains the 1GB file of the post-link script. The solution could be to fix our CCI setup to not time-out after

[2019-03-04 08:27] johanneskoester commented on #13846
I'll try to figure it out today.

[2019-03-04 09:38] unode commented on #13578
The second try made a little more progress. The first didn't get to upload anything.

Would printing some kind of progress mark also help?
Dots (`.`) printed during testing, maybe the same could be done with upload?

[2019-03-04 11:30] johanneskoester commented on #13846
So, it seems like the wget from conda-forge has an SSL problem. When I deactivate the -q, I get `Disabling SSL due to encountered errors.` and the download fails.

[2019-03-04 11:33] johanneskoester commented on #13846
Actually the wget seems to come from the anaconda channel. We could switch to curl, which should be installed on any system without the need to depend on a package.

[2019-03-04 11:36] jbaaijens commented on #11007
@bioconda/core Could you help me getting savage compiled?

[2019-03-04 11:41] johanneskoester commented on #11007
@jbaaijens could you open a pull request with the changes? This way, it will be easier for us to diagnose the problem and discuss solutions.

[2019-03-04 12:19] brendanf opened #13892 "Pasta not functional without additional configuration"
Apparently `Pasta` is looking for the included SATe tools in the wrong location:
[code]
The issue isn't just with MAFFT, all of the included tools are installed in `.../envs/pasta/bin/`, but `pasta` looks for them in `.../envs/pasta/lib/python3.6/site-packages/bin/`.

Of course I can make it work by following the advice and making `.pasta/pasta_tool_paths.cfg` in my home directory, but that isn't

[2019-03-04 12:40] brendanf commented on #13892
This works:
[code]

[2019-03-04 12:45] gregvonkuster commented on #13892
Here is how I use PASTA in a command line for a Galaxy tool https://github.com/gregvonkuster/galaxy_tools/blob/master/tools/phylogenetics/plant_tribes/gene_family_aligner/gene_family_aligner.xml#L19.  This approach will work the same outside of Galaxy if you are not using Galaxy.

[2019-03-04 13:02] jbaaijens commented on #11007
Oh ok, done!

[2019-03-04 13:42] bgruening commented on #13892
You own the quay.io repos isn't it? This is a configuration think on quay.io. I can do this if you give me admin access to it.

[2019-03-04 17:23] johanneskoester commented on #13832
Ok, let's do it like that. @msarahan we will contact you here once openSSL migration is done. As I understood @dpryan79 before, this will be in a couple of weeks, once conda-forge is finished with it.

[2019-03-04 20:59] cmnbroad opened #13904 "GATK4 conda environment isn't activated by the bioconda recipe"
Most GATK4 tools depend only on Java, but some (the CNN and CNV tools) also depend on Python, and use a conda environment to establish a set of Python dependencies. The .yml file defining the conda environment is [shipped with GATK4](https://github.com/broadinstitute/gatk#python).

It looks like the current GATK4 bioconda recipe doesn't activate/include the GATK conda environment, which is creatin

[2019-03-04 21:09] jdblischak commented on #13846
I got the post-link error using conda 4.4.10, 4.5.12, and 4.6.7. As a temporary workaround, I was able to install GenomeInfoDbData by pinning `wget` to its previous version of [1.19.4](https://anaconda.org/anaconda/wget/files?version=1.19.4):

[code]

[2019-03-04 22:37] jakevc commented on #13774
After no resolution in an overnight conda solving fiasco, I simply removed conda-forge channel from my conda config and solved in under three minutes, creating a new environment with a package from bioconda.

[2019-03-05 05:57] dpryan79 commented on #13774
Can you tell us the contents of the environment? BioConda uses conda-forge for a great many dependencies.

Sent from my iPhone

[2019-03-05 06:07] jakevc commented on #13774
`conda create -n cnvkit -c bioconda cnvkit` is what I was executing. As it turns out, it doesn't install the most recent version this way, so conda-forge is probably necessary to solve for the dependencies of the most recent version.

[code]

With conda-forge in my channels and the following config, the solver was still running overnight:

[code]

[2019-03-05 07:35] bgruening commented on #13774
@jakevc following the suggestions from above the following works on seconds for me: `conda create -n cnvkit-r cnvkit r-base=3.5.1`

[2019-03-05 10:34] dpryan79 commented on #13774
Make sure to put conda-forge before BioConda in your channel list.

Sent from my iPhone

[2019-03-05 10:36] PertuyF commented on #13774
@jakevc the r[ecommended channels order](https://bioconda.github.io/#set-up-channels) changed a few months back when using bioconda and conda-forge, could you reorder your channels as below?

[code]

[2019-03-05 15:36] jakevc commented on #13774
The recommended channels order did make everything more responsive:

[code]

[2019-03-05 15:37] johanneskoester commented on #11007
Fixed with PR #13893.

[2019-03-05 15:37] #11007 closed

[2019-03-05 15:38] johanneskoester commented on #11007
@chapmanb we were able to use boost from conda-forge. I just had to ensure that the correct cxx is used and I had to pass the library path with -L.

[2019-03-05 16:07] patrickturko commented on #12100
I'm having this problem. I've tried explicitly downgrading openssl to version 1.0, but the same error appears.
[code]

I've also tried installing them in the same command:

`RUN conda install samtools openssl=1.0`

As well as downgrading samtools itself:

`RUN conda install samtools=1.8 openssl=1.0`

Nevertheless I get the same error every time:

`samtools: error while loading shared libraries: li

[2019-03-05 16:17] leipzig commented on #12100
Sorry, did you run this in Docker? What base image did you choose?

[2019-03-05 16:18] ralonso-igenomix commented on #12100
@patrickturko this is my recipe in singularity and it works:

BootStrap: docker
From: continuumio/miniconda3

%setup

    mkdir -p ${SINGULARITY_ROOTFS}/users

%post

    export PATH=/opt/conda/bin:$PATH

    # make sure to have the latest conda version
    conda update -n base -c defaults conda

    # add some extra channels
    conda config --add channels defaults
    conda config --add channels

[2019-03-05 16:20] patrickturko commented on #12100
@leipzig yes, this is in Docker, but actually I was mistaken about the bug. See my edit.

[2019-03-05 16:54] ozcan commented on #1
Hi Johannes,
I would like to contribute as well, Thank you!

[2019-03-05 17:14] unode commented on #12100
In case you missed it, can you try the same commands you were using initially (without the workarounds?). If #13909 is correct the problem should no longer occur.

[2019-03-05 20:15] carolzhou opened #13919 "sha256 codes do not match"
I compute the sha256 for my .tar.gz (tarball) file, then upload it to my GitHub repository. In running conda-build with the meta.yaml, in the step where the build script downloads the tarball from the GitHub address, there is a mismatch between the stated sha256 (in meta.yaml) and the sha256 that conda-build computes on the tarball upon downloading. Why do they not match, and how can this be fixed

[2019-03-05 21:36] PertuyF commented on #13919
Download from the same url indicated in your `meta.yaml`, then compute the sha256sum and use this in the recipe. That's the only thing to do.

[2019-03-05 23:04] pjedge commented on #1
Hi, may I be added as a contributor?

[2019-03-06 00:39] carolzhou commented on #13919
I did that. The behavior I am seeing implies that the sha256 changes. If it works once, then with the next download I get the mismatch error again. It makes no sense to me. I am not changing the file that is being downloaded.

[2019-03-06 09:02] dpryan79 commented on #13832
I'm hoping to get the OpenSSL migration going tonight. We don't have a huge number of packages directly using is (a couple hundred, almost exclusively ucsc-* stuff and samtools/htslib/etc.), so I'm hoping that that will be "finished enough" by Monday morning. I'll give an update around that time.

[2019-03-06 10:20] dpryan79 commented on #13904
@cmnbroad The closest to an automated solution would be to make a package using that yaml file and add it as a dependency to the current GATK4 recipe. However that just shifts the burden of updating of updating dependencies to another recipe. So I don't currently foresee anything more automatic aside from writing an updater script (like we do for bioconductor packages).

[2019-03-06 10:21] dpryan79 commented on #13919
@carolzhou Can you link to the github repository/tarball producing this issue? Usually you only have this problem if you use a tarball of an entire branch, since that will change with every commit.

[2019-03-06 10:28] chapmanb commented on #11007
Nice one, thanks for the heads up on boost working without any changes again. That's great news and I'll swap over all my recipes when they get updates. Thanks again for testing this all out.

[2019-03-06 10:49] RomainFeron commented on #1
Hi, I would like to be added to the bioconda team. Thank you !

[2019-03-06 10:51] dpryan79 commented on #13853
Conda uses an rpath for libraries, which is the cause of the differences:

    $ objdump -x foo/rMATS/rMATS_C/rMATSexe | grep RPATH
      RPATH                $ORIGIN/../../lib
    $ objdump -x rMATS.4.0.2/rMATS-turbo-Linux-UCS4/rMATS_C/rMATSexe | grep RPATH
    $

The former is the conda binary. The same can be seen in the shared library.

[2019-03-06 11:08] dpryan79 commented on #12782
This is simply due to there being a symlink in `bin` that's ignored by the python script. I'll push a fix shortly.

[2019-03-06 11:31] dpryan79 commented on #12782
@fgypas @zhaosq2016 Please try the updated package. If it doesn't work then let me know and we can reopen this issue.

[2019-03-06 11:31] #12782 closed

[2019-03-06 16:14] huidongchen commented on #13432
`bioconductor-chromvar` seems broken again. Errors happened even when using `conda create`

[code]

[2019-03-06 16:18] dpryan79 commented on #13432
Please refrain from reopening this. The actual issue is being addressed [here](https://github.com/bioconda/bioconda-recipes/issues/13846).

[2019-03-06 16:18] #13432 closed

[2019-03-06 16:35] cmnbroad commented on #13904
Ok, will look into those - thanks for the response @dpryan79.

[2019-03-06 17:03] widdowquinn opened #13932 "circleci fails and scripts do not run on macOS"
I'm following the guides at:

- [https://bioconda.github.io/contrib-setup.html](https://bioconda.github.io/contrib-setup.html)
- [https://bioconda.github.io/contribute-a-recipe.html](https://bioconda.github.io/contribute-a-recipe.html)

while trying to bump the version of a recipe I've previously contributed. The steps in the guide for local testing are failing for me in various ways.

I'm probabl

[2019-03-06 21:50] carissableker commented on #10277
Use the biobuilds channel to get the correct perl version:

    conda install -c biobuilds perl=5.22

I had to create a new conda environment to make sure down-grading perl didn't mess with other dependencies.

[2019-03-06 22:40] shihaoshen commented on #13853
Thanks for the reply. I can verify that the 4.0.2 version on bioconda generates the same results as the rMATS 4.0.2 Sourceforge version.

[2019-03-06 22:40] #13853 closed

[2019-03-06 22:43] carolzhou commented on #13919
The bigger problem I am trying to solve is:  I need to upload a tarball of my code into a location from which it will be downloadable when conda-build is run. I need to know the sha256 (to put in meta.yaml), and it must match the sha256 that is computed by conda-build upon download.  Right now the tarball is on git lfs. Is this an appropriate location? I don't see how to get the URL of the tarball

[2019-03-06 23:05] dpryan79 commented on #13919
@carolzhou Can't you just tag a release on github? Then you have a static tarball you can point to.

[2019-03-06 23:06] #10311 closed

[2019-03-07 07:59] carolzhou commented on #13919
Ok, I tagged a release on GitHub and got the URL, which ends in /releases/latest.  I manually downloaded either the .tar.gz or the .zip, and in either case the file downloads as a .tar.  I can locally compute the sha256 for that file, and put that in the meta.yaml, but what would the correct url: (or git_url) be? Do I add the name of the .tar.gz or .zip file? I've tried every combination of URL wi

[2019-03-07 08:01] dpryan79 commented on #13919
Great, you can use `url: https://github.com/carolzhou/multiPhATEb/archive/v0.1.1.tar.gz`.

[2019-03-07 09:07] rhpvorderman commented on #1
@bioconda/core
Is there a procedure/schedule or something to add members to the bioconda group? It's been 8 days. And all these good people can't ping bioconda/core unless they are part of the team (which they aren't obviously).
Maybe it's a good idea to have some sort of rotating schedule for bioconda/core members. When your name's up, you have to subscribe to this issue and add all the members f

[2019-03-07 09:20] dpryan79 commented on #1
@rhpvorderman That's a good idea. I'll add everyone that's made a request in the last week and we can discuss how we should handle this going forward in /core.

[2019-03-07 09:24] dpryan79 commented on #1
@RomainFeron @pjedge @ozcan @sdayal @cimendes @mdeloger @sndrtj Welcome to bioconda!

[2019-03-07 17:41] lparsons opened #13951 "Package update request: toil to 3.18.0"
I started looking into updating Toil to the latest version, but it's looking rather daunting, esp. since I know very little about toil or it's dependencies. Is there any interest in doing this? @chapmanb @johanneskoester @matthdsm

I'm trying to get Cactus running and I'm hoping that an updated Toil will make things go smoother (not really sure though).

[2019-03-07 18:40] pinellolab-service commented on #13432
Hi @dpryan79 @johanneskoester . I just want to say thank you for the great support you have provided to Huidong and to the bioconda community.

[2019-03-07 19:32] carolzhou commented on #13919
Thank you, that worked. Now my local conda-build can download the code and build the package. I'm now troubleshooting the test of my package, but will start a new thread on that issue, assuming the problem has not already been answered on this forum.

[2019-03-07 19:32] #13919 closed

[2019-03-07 19:42] s22chan commented on #13488
For posterity, it appears the anaconda channel ncurses is no longer compatible with samtools. The following works:

[code]

[2019-03-07 19:53] dpryan79 commented on #13488
There should actually be a compatible samtools now. I've started updating things for the new OpenSSL version and samtools was in the first PR merged of that. I'll make an announcement about the change in OpenSLL pinnings within the next couple hours.

[2019-03-07 22:08] bgruening commented on #12100
This is hopefully now fixed properly by rebuilding it against openssl. Thanks to @dpryan79!

[2019-03-07 22:13] bgruening commented on #13846
This was fixed by a rebuild of wget against the newest openssl version.

[2019-03-07 22:56] johanneskoester commented on #13432
You're welcome, Luca! All of this would not work at all if there weren't users who take the effort of reporting bugs and issues, so thanks go back to you guys!

[2019-03-07 23:19] dpryan79 opened #13958 "OpenSSL migration"
@bioconda/all Thanks to conda-forge [largely finishing their migration to OpenSSL 1.1.1](https://conda-forge.org/status/), we've now upgraded the bioconda-wide pinnings to match.

# Why was this done?

There has been a recent spate of people running into cryptic error messages due to using `conda install` and it upgrading OpenSSL on them. Recently a new minor release of OpenSSL (1.1.1) was made av

[2019-03-08 08:08] bgruening commented on #13589
@pcm32 this can be closed now, isn't it?

[2019-03-08 08:42] pcm32 commented on #13589
Thanks, yes

[2019-03-08 08:42] #13589 closed

[2019-03-08 14:03] #13578 closed

[2019-03-08 14:03] #9404 closed

[2019-03-08 14:05] bgruening commented on #5109
We are now pinning boost globally in sync with conda-forge, so I think we can close this one.

[2019-03-08 14:05] #5109 closed

[2019-03-08 14:05] bgruening commented on #4592
We have a more robust pinning system in place now, so closing this off.

[2019-03-08 14:05] #4592 closed

[2019-03-08 14:06] bgruening commented on #6219
This is hopefully working now and we sync the pinning across channels.

[2019-03-08 14:06] #6219 closed

[2019-03-08 14:07] bgruening commented on #10771
Thanks for all the help.

[2019-03-08 14:07] #10771 closed

[2019-03-08 14:08] bgruening commented on #8947
We have progressed here a lot during the last month and indeed @dpryan79 managed to build entire Bioconductor. Closing this now.

[2019-03-08 14:08] #8947 closed

[2019-03-08 14:09] bgruening opened #13964 "packages that should be migrated to conda-forge"
A few packages in bioconda, should actually be migrated to conda-forge. This can be a very simple task and is ideally suited to learn both bioconda and conda-forge.

We will keep a list here of packages that we think should be migrated:

- [ ] grep

[2019-03-08 15:28] Kata-Pa commented on #13883
I have the same problem.
I found this
https://github.com/CompSynBioLab-KoreaUniv/FunGAP/issues/11
but unfortunately didnt work for me. Any luck for you?

[2019-03-08 17:30] mbnmbn00 commented on #13883
Could you show me the output of:

`conda list`

It should look like below. Note that all the channels end with **/label/cf201901**.
Hope it helps.

[code]

[2019-03-09 00:43] jbelyeu commented on #13958
I'm still having a related issue. Installing with conda works fine, but the samtools package is still pointing to libcrypto.so.1.0.0. Similar to https://github.com/PacificBiosciences/pbbioconda/issues/85

Example:
`
$ samtools

samtools: error while loading shared libraries: libcrypto.so.1.0.0: cannot open shared object file: No such file or directory

$ openssl version

OpenSSL 1.1.1b  26 Feb 201

[2019-03-09 00:47] dpryan79 commented on #13958
What does `conda list | grep samtools` show?

[2019-03-09 02:10] jbelyeu commented on #13958
[code]

[2019-03-09 05:24] nfahlgren opened #13974 "Missing libGL error in circleci build"
Hi all, I'm working on updating the `plantcv` recipe and I'm hitting an error I can't quite figure out. Steps I have taken:

* System: macOS
* Updated my local `bioconda/bioconda-recipes` clone
* Created a new branch
* Updated the `plantcv` recipe files and committed changes to the new branch
* Updated my Bioconda build container: `docker pull bioconda/bioconda-utils-build-env`
* Updated circleci:

[2019-03-09 08:32] dpryan79 commented on #13958
You'll need to `conda install samtools`, there are more recent builds against the updated OpenSSL.

[2019-03-09 20:36] jbelyeu commented on #13958
Ok, great, working now.

[2019-03-09 21:11] npavlovikj commented on #13964
In case this helps, here are few other general packages as well:
- [ ] shapeshifter
- [ ] shapeshifter-cli
- [ ] sharedmem
- [ ] r-ldrtools
- [ ] r-syntactic
- [ ] r-msm
- [ ] r-swamp
- [ ] r-perfmeas
- [ ] r-mess
- [ ] smhasher
- [ ] fitter
- [ ] gromacs
- [ ] logbook
- [ ] xopen
- [ ] libdeflate
- [ ] optbuild
- [ ] fit_nbinom
- [ ] pytest-workflow
- [ ] cromwell
- [ ] scikits-datasmooth

[2019-03-10 19:59] PertuyF commented on #13974
You may find interesting things in [conda-forge documentation](https://conda-forge.org/docs/maintainer/knowledge_base.html#core-dependency-tree-packages-cdt). Not sure it will solve, but it could help.

[2019-03-10 22:06] nfahlgren commented on #13974
Thanks @PertuyF! That is a really useful link. It seems to me like the libGL stuff should be taken care of in the OpenCV conda-forge package, and indeed they have the configuration discussed in the conda-forge documentation in their recipe: https://github.com/conda-forge/opencv-feedstock/tree/master/recipe.

I tried various forms of adding `yum_dependencies.txt` with `mesa-libGL` or `mesa-libGL-de

[2019-03-10 22:23] PertuyF commented on #13974
From what I understand, you need to add `{{ cdt('mesa-libgl-devel') }} # [linux]` to your build requirements. Then likely set a `yum_requirements.txt` for mesa-libGL so that the tests will be able to access this library.

[2019-03-11 00:54] nfahlgren commented on #13974
Thanks @PertuyF, the last iteration I tried looked like this but didn't work:

meta.yml:

[code]

yum_requirements.txt:

[code]

[2019-03-11 12:58] Kata-Pa commented on #13883
I did the conda list, but none except one has the /label/cf201901.

packages in environment at /home/katerina87/miniconda3:
Name                    Version                   Build  Channel
asn1crypto                0.24.0                   py37_0
binutils_impl_linux-64    2.31.1               h6176602_1    conda-forge
binutils_linux-64         2.31.1               h6176602_6
bz2file

[2019-03-11 13:14] smoretti opened #13985 "biocontainers / mentalist run failure"
Hi

It looks the biocontainers/mentalist version 0.2.4 (at least) containers do not work.
mentalist help is runnable but once you want to run call or db_info commands it fails with the error message below.

I also have to execute those commands first
mkdir -p /usr/local/share/julia/site/lib
chmod -R a+wrx /usr/local/share/julia/site/lib/

Error message:

[2019-03-11 13:17] RStadhouders commented on #13958
Hi Devon,

Despite trying to follow your advice mine is still not working.

I get the following error message:

(base) ralphs-imac:~ ralphstadhouders$ samtools
dyld: Library not loaded: @rpath/libcrypto.1.0.0.dylib
  Referenced from: /Users/ralphstadhouders/bioinformatics/anaconda2/bin/samtools
  Reason: image not found
Abort trap: 6

This is what conda list | grep samtools shows:

(base) ralphs-i

[2019-03-11 13:20] bgruening commented on #13958
@RStadhouders the version you need to install is `samtools-1.9-h7c4ea83_11` to the 11 build number. Also try to not install into your root/base environment, always use `conda create -n samtools samtools` for example.

Hope that helps!

[2019-03-11 13:56] RStadhouders commented on #13958
Thanks Björn!

It’s strange (although I have the feeling I’m forgetting something silly):
if I run conda install samtools=1.9=h7c4ea83_11 f I get an error that it
can’t find the package. If I do conda search for it I do see it in the
bioconda channel (which already exists in my channels list, as conda
config —add channels bioconda tells me it’s already there - see below).

What am I missing here?

[2019-03-11 14:02] dpryan79 commented on #13958
`conda install samtools=1.9` by itself should suffice, you can't give `conda install` the full hash and build number as far as I know.

[2019-03-11 14:24] RStadhouders commented on #13958
Thanks, although there are a lot of samtools=1.9 builds around:

samtools                         1.9      h28b8610_6  bioconda

samtools                         1.9      h28b8610_7  bioconda

samtools                         1.9      h46bd0b3_0  bioconda

samtools                         1.9     h7c4ea83_10  bioconda

samtools                         1.9     h7c4ea83_11  bioconda

samtools

[2019-03-11 14:27] dpryan79 commented on #13958
Then use `conda update samtools`
--
Devon Ryan, Ph.D.
Email: dpryan@dpryan.com
Data Manager/Bioinformatician
Max Planck Institute of Immunobiology and Epigenetics
Stübeweg 51
79108 Freiburg
Germany
<devon.ryan@dzne.de>

On Mon, Mar 11, 2019 at 3:24 PM Ralph Stadhouders <notifications@github.com>
wrote:

[2019-03-11 14:33] RStadhouders commented on #13958
Same results unfortunately… Version installed/updated is still:

samtools                  1.9                  hb029021_5    bioconda

Perhaps removing samtools and a clean install will force conda to use the
latest build?

Op ma 11 mrt. 2019 om 15:27 schreef Devon Ryan <notifications@github.com>:

[2019-03-11 14:35] dpryan79 commented on #13958
Yes, give that a whirl.

[2019-03-11 14:41] bgruening commented on #13985
ping @dfornika

[2019-03-11 14:59] Kata-Pa commented on #13883
I had to uninstall and reinstall perl and all modules needed, always with the label /label/cf201901. Now it works! Thank you for the help!

[2019-03-11 15:30] mikecormier commented on #13958
Hey @dpryan79, I am having the same problem. That is, I can only install/update samtools to build 5, and am unable to access build 11. However, this seems to be isolated to an anaconda distribution. It seems that there is no problem when using a miniconda distribution. I am not sure why there would be a difference. Any suggestions?

[2019-03-11 15:34] dpryan79 commented on #13958
What version of conda do you have and what else is in the environment?

[2019-03-11 15:42] mikecormier commented on #13958
Conda version: `conda 4.6.8`
This installation of anaconda is new and the environment should be clean

[2019-03-11 16:28] frytime32 commented on #13826
I am having the same issue with updating recipes, 'update' is an invalid choice.

[2019-03-11 17:53] dfornika commented on #13985
@smoretti Thanks for posting this issue because we've had some discussion recently amongst the team that develops MentaLiST about creating a Singularity image, which would be based on this Docker image.

I'm not sure if there is a good solution for running julia code in a Docker container. If I understand correctly (and I'm not an expert on either Docker or Julia), there isn't currently an easy/st

[2019-03-11 19:18] PertuyF commented on #13958
You should be able to provide part of the build number with `conda install samtools=1.9=*_11`.

Otherwise, `conda install samtools=1.9 --force-reinstall` will try to install samtools even if it is already in your environment.

[2019-03-11 19:52] PertuyF commented on #13974
Last error is because `libjasper` cannot be found, so likely the `mesa-libGL` issue is resolved?

[2019-03-12 05:20] nfahlgren commented on #13974
Something I missed in the documentation is using the extended container: https://bioconda.github.io/troubleshooting.html#using-the-extended-image. A specific use case is when you need `libGL.so.1`. Adding

[code]

did not fix a local `circleci build` for me but I'm thinking that's because I would need to pull the extended Docker container. I went ahead and submitted a pull request #14002 to test i

[2019-03-12 13:56] ctb commented on #13774
Relevant: https://github.com/conda/conda/issues/7239

[2019-03-12 19:15] nfahlgren commented on #13974
I am totally stuck at this point. Local testing is not working for me at all. To get away from potentially clashing environments on my MacBook I created a clean AWS instance to work in. I installed git and docker, cloned the bioconda-recipes repo and updated the plantcv recipe (just bumping the version number only). I then follow the testing instructions at https://bioconda.github.io/contribute-a-

[2019-03-12 21:02] nfahlgren commented on #13932
I'm seeing these issues as well #13974

[2019-03-12 21:34] s22chan commented on #13488
@dpryan79 still broken wrt to ncurses from defaults:
[code]

[2019-03-12 23:18] nfahlgren commented on #13974
I think I got around the issue with the new PlantCV build in #14002. Looks like conda was installing OpenCV 3.1.x and I think that was causing the error with the missing `libjasper.so.1`. Maybe related to the issue described in the OpenCV feedstock (https://github.com/conda-forge/opencv-feedstock/issues/147).

I pinned OpenCV to 3.4.4 in our recipe and that seems to have fixed it. I'm testing remo

[2019-03-12 23:18] #13974 closed

[2019-03-13 10:20] PertuyF opened #14015 "Undocumented Nanopolish dependency on libcrypto.so"
Hi @bioconda/core ,

One of my users ran in a libcrypto.so error as described in #13958 using `nanopolish`, and I think it is due to the new pinning to `openssl 1.1`.
It seems that the dependency of nanopolish on libcrypto should be clearly stated somewhere in the recipe, don't you think so?

Any help will be appreciated!

#### Further info:

Creating an environment with just `nanopolish` ends up

[2019-03-13 10:37] dpryan79 commented on #14015
I expect this is related to using `gcc` rather than `{{ compiler('cxx') }}`. I think you're getting a mixture of old and new compiler packages.

[2019-03-13 10:51] dpryan79 commented on #14015
Anyway, libcrypto is getting pulled in by htslib and libcurl.

[2019-03-13 13:07] dpryan79 commented on #13488
@s22chan Actually, the most recent version of samtools is built against ncurses 6.1 and `conda create -n samtools_test samtools` on OSX works appropriately (at least for me). Are you still getting an error?

[2019-03-13 13:24] PertuyF commented on #14015
@dpryan79 you're right, I updated the recipe accordingly and it build for Linux. But it appears `gcc` was used specifically because `nanopolish` does not support building with `clang` on OSX.

I see several possible solutions:

1. Force `gcc` as compiler for OSX using selectors in the recipe
2. Force `gcc` as compiler for OSX using some recipe-level extension of `conda_build_config.yaml` (does it

[2019-03-13 13:36] dpryan79 commented on #14015
Pinning is already performed (we reuse conda-forge-pinning), so I don't think 3 will do much. You can try 1 and 2 (you can create `recipes/nanopolish/conda_build_config.yaml` and the global versions will get updated with its contents). I also noticed that nanopolish makes use of STLs not distributed by clang, which seems to make things difficult.

[2019-03-13 13:52] s22chan commented on #13488
@dpryan79 can you `conda list` and confirm you got ncurses from defaults instead of conda-forge? I understand conda-forge priority is part of the bioconda instructions but as you can see, a lot of other people came across it incidentally.

[2019-03-13 13:55] dpryan79 commented on #13488
It's from conda-forge, as it should be:

[code]

[2019-03-13 13:57] s22chan commented on #13488
I'll change the title to reflect that it doesn't work for defaults

[2019-03-13 13:59] dpryan79 commented on #13488
It shouldn't come from defaults, that suggests your channel order is wrong.

[2019-03-13 14:04] PertuyF commented on #14015
Just saw you tried a few things in #14016 , but that `gcc` is not available for OSX using the new compilers.

Looks like using selectors in the recipe does the trick, build succeeded for OSX (although calling `nanopolish --help` in testing should have failed with missing `libcrypto.so.1.0.0`).

Merging #14014 and closing issue.

[2019-03-13 14:04] #14015 closed

[2019-03-13 14:10] dpryan79 commented on #14015
The `{{ compiler('c') }}` syntax just doesn't work when you change things, which I had forgotten. Glad you got it working though!

[2019-03-13 18:14] romain-lopez opened #14020 "unit-tests fetches a GPU version of pytorch"
Hi,

I am trying to update scVI to 0.3.0.

It looks like when enforcing pytorch >= 0.4.1, the unit tests try to fetch version 1.0.1 of pytorch, which seems only available as a GPU version on anaconda (https://anaconda.org/anaconda/pytorch/files?version=1.0.1). This makes my PR to fail when I want to update my recipe. https://github.com/bioconda/bioconda-recipes/runs/76968620

When I enforce pytorc

[2019-03-13 22:24] dpryan79 commented on #13832
@johanneskoester @msarahan I'm now finished updating packages for the OpenSSL migration, so you have the all-clear from me to begin moving things to the CDN.

[2019-03-14 08:12] mgalland opened #14033 "Problems with ShortStack installation"
Dear bioconda team,

When trying to install [ShortStack](https://github.com/MikeAxtell/ShortStack) version ShortStack version 3.8.5 with `conda create --name shortstack -c bioconda ShortStack` into its own dedicated environment, I get a bug upon execution:

[code]

It comes from the samtools dependency as I also have the same error message when installing samtools `conda create --name samtools -c

[2019-03-14 13:26] amizeranschi opened #14037 "Problems with entrez-direct -- perl-net-ssleay might be broken"
Hello,

I'm having trouble getting the entrez-direct conda package to work. I've installed the latest version available (`10.2-pl526_0`) in a fresh environment. When running e.g.

[code]

I get:

[code]

This seems related to an older issue (https://github.com/BioContainers/containers/issues/178) and, like there, I tried setting up and running a short test script containing just the line `use LWP:

[2019-03-14 14:57] davebx commented on #13932
I can confirm that Problem 1 also occurs in an ubuntu 18.10 installation I created yesterday.

[2019-03-14 15:54] lukasjelonek opened #14039 "eggnog-mapper container does not include wget"
Hey,

I'd like to use the eggnog-mapper container and tried the latest release `quay.io/biocontainers/eggnog-mapper:1.0.3--py27_2`. Apparently it is missing `wget` for their database download script, although the last commit in this recipe (f935cd6a46281fb45048a98be4b77f1ce3dea117) states "Use the extended-base container because of wget issues when downloading databases". Is there a way to include

[2019-03-14 15:55] bgruening commented on #14039
@lukasjelonek you could add wget as a runtime dependency to the recipe.

[2019-03-14 16:15] lukasjelonek commented on #14039
I'll check it out and test it locally

[2019-03-14 16:59] lukasjelonek commented on #14039
Can you give me a hint how to build the docker container locally? I don't want to submit untested code.

[2019-03-14 17:09] rspreafico-vir opened #14041 "womtool does not find jar file"
Execute:

[code]

Get this error:

[code]

Way around issue:

[code]

Notice the issue is that `womtool` looks for `jar` in `.../share/womtool` whereas in fact it is in `.../share/womtool-36-0`.

[2019-03-14 21:40] peterjc opened #14045 "Document replacement for simulate-travis.py in local testing"
As of https://github.com/bioconda/bioconda-recipes/pull/7329 with the move from TravisCI to CircleCI, the script ``simulate-travis.py`` has been removed.

However https://bioconda.github.io/contribute-a-recipe.html#test-locally still talks about it for local testing, so we need to update this page - the source for which is at https://github.com/bioconda/bioconda.github.io/blob/master/_sources/cont

[2019-03-14 21:40] #14045 closed

[2019-03-15 06:57] suhrig commented on #1
I would like to be added. Thanks!

[2019-03-15 08:01] dpryan79 commented on #1
Welcome @suhrig !

[2019-03-15 14:22] dpryan79 commented on #13832
@msarahan Are things being migrated over to the CDN now? We're noticing a LOT of failed builds at the moment and I'm hoping that that's the reason.

[2019-03-15 14:24] msarahan commented on #13832
Nope, something else is wrong.  We're looking into it.

[2019-03-15 14:25] dpryan79 commented on #13832
OK, thanks for the update!

[2019-03-15 15:03] tuguangxian commented on #13562
I met the same problem, do you have a solution?thank you！

[2019-03-15 15:16] Mahmoudbassuoni opened #14052 "Graphlan installing error on Windows"
guys I encountered an issue while installing the "Graphlan" package from bioconda so can you please help me ?

this is the error that I always encounter..

I am using windows 10 and python 2.7.16
![Capture](https://user-images.githubusercontent.com/16631169/54441756-0e04f700-4746-11e9-8476-2c0978f39e01.PNG)

[2019-03-15 16:40] maysam commented on #7478
how?

[2019-03-16 00:11] npavlovikj commented on #14052
@Mahmoudbassuoni , Bioconda only supports 64-bit Linux and Max OSX systems, and not Windows.
In the "_Installers_" section of https://anaconda.org/bioconda/graphlan, you will also see that "_graphlan_" is only available for Linux and OSX.

[2019-03-16 06:00] druvus commented on #14052
It is a work around to activate Linux bash shell in W10. I have tried it and it seems to work with Bioconda even if real OS X/Linux is preferable.

See more details here: https://github.com/kapsakcj/win10-linux-conda-how-to/blob/master/README.md

[2019-03-16 06:00] #14052 closed

[2019-03-16 11:06] Mahmoudbassuoni commented on #14052
thanks guys I tried it on Ubuntu and it haven't show any errors yet,  it still taking too much time in the "solving environment" part, is it normal ? I canceled the operation after around 30 min and now I am trying it again.

[2019-03-16 11:21] bgruening commented on #14052
@Mahmoudbassuoni please also see https://github.com/bioconda/bioconda-recipes/issues/13774

[2019-03-16 19:25] npavlovikj commented on #14041
@rspreafico , I updated "womtool" to 38 (https://anaconda.org/bioconda/womtool), and this update should include the correct path to the "jar" file. Can you please give it a try, and let me know if you encounter any further issues?

[2019-03-16 19:58] epruesse commented on #838
outdated

[2019-03-16 19:58] #838 closed

[2019-03-16 19:59] epruesse commented on #595
outdated - may have to revisit at later time though

[2019-03-16 19:59] #595 closed

[2019-03-16 20:01] epruesse commented on #1113
and collectl has been fixed in 38b2a3088ec16b73a030e42633a74397cd9273fc

[2019-03-16 20:01] #1113 closed

[2019-03-16 20:01] epruesse commented on #1332
outdated

[2019-03-16 20:01] #1332 closed

[2019-03-16 20:03] epruesse commented on #1581
closing in favor of https://github.com/bioconda/bioconda-utils/issues/438

[2019-03-16 20:03] #1581 closed

[2019-03-16 20:03] epruesse commented on #1734
outdated

[2019-03-16 20:03] #1734 closed

[2019-03-16 20:05] epruesse commented on #2228
Not sure I understand OP

closing because stale

[2019-03-16 20:05] #2228 closed

[2019-03-16 20:05] epruesse commented on #2276
yes. closing. we can re-open a new one if we need to.

[2019-03-16 20:05] #2276 closed

[2019-03-16 20:08] epruesse commented on #2327
closing as stale

Not that the point made here is irrelevant. Should be split into separate issues on bioconda-utils with label 'security' if anyone wants to pick this up.

[2019-03-16 20:08] #2327 closed

[2019-03-16 20:57] rspreafico-vir commented on #14041
Thanks @npavlovikj , I confirm this works indeed. Thank you for the quick resolution!

[2019-03-16 20:57] #14041 closed

[2019-03-17 01:20] unode commented on #13958
How should package versions that are no longer in the git repository be handled?
For instance `blast==2.6.0` is pinned by `rgi==4.4.2` and exists in anaconda but is no longer in git-master nor does it pin openSSL. Due to this it breaks if openssl 1.1 is installed in the conda environment.

[2019-03-17 02:18] npavlovikj commented on #14039
@lukasjelonek , I added "wget" to the "eggnog-mapper" recipe. The updated biocontainer is `quay.io/biocontainers/eggnog-mapper:1.0.3--py_3`.
For future reference, you can check https://bioconda.github.io/contributing.html to see how to set and test the recipe itself (usually using the bootstrap method).
Please let me know if you are still encountering issues with "eggnog-mapper".

[2019-03-17 07:32] dpryan79 commented on #13958
@unode The general strategy is to ignore them unless absolutely needed. These packages will still install and work fine in new environments, they just won't be able to be mixed with newer versions of other programs.

[2019-03-17 22:01] shunhuahan opened #14067 "Use old c compiler instead of GCC7"
- I'm trying to compile MEME 4.8.1 which requires old gcc compiler and library (like gcc-4.8.5) to get all MEME utilities to work properly.
- Since bioconda GCC7 migration is recently finished, I used the following way to use old gcc compiler and library in `meta.yaml`. However, the gcc library doesn't seem to be recognized properly during `circleci build`. I get the feeling that I have to specifi

[2019-03-18 02:42] ljq12697 commented on #13826
Same issue when building recipies using `bioconda-utils` following the [Guide](https://bioconda.github.io/contribute-a-recipe.html).

[2019-03-18 12:01] pachorip opened #14075 "tall maxbin2"

[2019-03-18 12:02] #14075 closed

[2019-03-18 14:01] lukasjelonek commented on #14039
@npavlovikj Thanks for the changes. Now it works for me.

[2019-03-18 14:13] nick-youngblut opened #14076 "kraken2: libiconv.so.2: cannot open shared object file"
@dfornika I'm running: `kraken2-build --download-taxonomy --db path/to/db`, and I'm getting the following error:  `Downloading nucleotide est accession to taxon map...rsync: error while loading shared libraries: libiconv.so.2: cannot open shared object file: No such file or directory`

I'm not getting this error when running `kraken2-build --download-taxonomy` for build pl526h2d50403_0, so it appe

[2019-03-18 14:18] nick-youngblut commented on #14076
Actually, I just tried downgrading to `pl526h6bb024c_0` from `pl526h6bb024c_0`, and I got the same error. I don't get the same error when using a different conda env that has kraken `pl526h6bb024c_0` installed, so it appears to be a dependency issue.

conda env that's not working:
[code]

conda env that is working:
[code]

[2019-03-18 14:59] Irrationone commented on #1
Hello, I would like to be added to the bioconda team. Thank you!

[2019-03-18 15:40] amizeranschi commented on #13951
This could also be relevant: https://github.com/DataBiosphere/toil/issues/2528#issuecomment-469358333.

Did you manage to run Cactus successfully through Toil, on a cluster?

[2019-03-18 15:59] grimbough commented on #13932
I'm experiencing these problems with local CircleCI too.

OS: Linux Mint 19.0
circleci version: 0.1.5490+82d3083
docker version: 18.09.3

[code]

[2019-03-18 16:15] #14039 closed

[2019-03-18 16:50] epruesse commented on #1
Welcome @Irrationone!

[2019-03-18 16:52] epruesse commented on #1
- To accept your invitations go to: https://github.com/bioconda
- To have the Bioconda membership logo display in your profile, find yourself at https://github.com/orgs/bioconda/people and select "public" where it says "private".

[2019-03-18 16:54] epruesse commented on #2777
Got most of this by now.

[2019-03-18 16:54] #2777 closed

[2019-03-18 16:55] epruesse commented on #2957
outdated

[2019-03-18 16:55] #2957 closed

[2019-03-18 16:55] epruesse commented on #2964
outdated

[2019-03-18 16:55] #2964 closed

[2019-03-18 16:56] epruesse commented on #3017
outdated

[2019-03-18 16:56] #3017 closed

[2019-03-18 16:56] epruesse commented on #3147
outdated

[2019-03-18 16:56] #3147 closed

[2019-03-18 16:56] epruesse commented on #3131
outdated

[2019-03-18 16:56] #3131 closed

[2019-03-18 16:57] epruesse commented on #3335
outdated

[2019-03-18 16:57] #3335 closed

[2019-03-18 16:57] epruesse commented on #2943
outdated

[2019-03-18 16:57] #2943 closed

[2019-03-18 16:57] epruesse commented on #3427
outdated

[2019-03-18 16:57] #3427 closed

[2019-03-18 16:57] epruesse commented on #3496
outdated

[2019-03-18 16:57] #3496 closed

[2019-03-18 16:58] epruesse commented on #3732
outdated

[2019-03-18 16:58] #3732 closed

[2019-03-18 16:58] epruesse commented on #2332
outdated

[2019-03-18 16:58] #2332 closed

[2019-03-18 16:58] epruesse commented on #3291
outdated

[2019-03-18 16:58] #3291 closed

[2019-03-18 16:58] epruesse commented on #3838
outdated

[2019-03-18 16:58] #3838 closed

[2019-03-18 17:21] molpopgen commented on #14067
Why does the package require an older compiler?  Typically, this is a sign that the code needs some updating--newer GCC versions are much better at finding standards violations, etc..

I think you may need `==` instead of `=` to pin versions.   Also, libgcc will be a `run` dependency as well as a `build` dependency.

[2019-03-18 21:29] dfornika commented on #14076
Hi @nick-youngblut. This seems to be a problem with the conda-forge `rsync` package:

https://github.com/conda-forge/rsync-feedstock/issues/1

That issue has been closed, but based on your envs it seems that the issue might not have actually been fixed.

[2019-03-18 22:34] PertuyF commented on #14067
@shunhuahan Looks like this version was added to Bioconda 5 days ago (see #14017 ).

[2019-03-19 02:12] abishara commented on #13615
@martin-steinegger did you ever make forward progress on your related issue?

[2019-03-19 08:27] dariober opened #14082 "Linting recipe stuck in the queue"
I have pushed the branch [gat-py2](https://github.com/bioconda/bioconda-recipes/tree/gat-py2) 4 days ago and since then it is in the queue waiting for [liniting](https://github.com/bioconda/bioconda-recipes/runs/78855609). Is it normal that it takes so long or something went wrong?

[2019-03-19 12:04] simonvh opened #14086 "Error with click, Python 3 & missing UTF-8 locale"
I get the following error (for full details see [here](https://circleci.com/gh/bioconda/bioconda-recipes/48034)):

[code]

However, in `meta.yaml`  I [have the following lines](https://github.com/simonvh/bioconda-recipes/blob/79fd891620848c793d22569d8261d6be42f20184/recipes/genomepy/meta.yaml#L52-L56):

[code]

This used to work, what am I doing wrong? @bgruening any idea?

[2019-03-19 12:19] simonvh commented on #13964
I'm moving bucketcache and its deps (logbook and represent) to conda-forge. What is the procedure once they're up and running at conda-forge? Delete them from bioconda-recipes via PR?

[2019-03-19 12:40] simonvh commented on #14086
Looks like this issue bioconda/bioconda-utils#70 @epruesse

[2019-03-19 13:07] simonvh commented on #14086
Update: I restarted the the CircleCI check and then it runs fine (at least the Linux build does).

[2019-03-19 14:06] smoretti commented on #13985
Hi @dfornika
I managed to create a Singularity image of MentaLiST 0.2.4:

1) I had first to create a local directory within the image where to store Julia packages -> JULIA_PKGDIR
See https://stackoverflow.com/questions/36398629/change-package-directory-in-julia
2) I set JULIA_PKGDIR (or JULIA_DEPOT_PATH for Julia 0.7+) accordingly.
3) I manually installed Julia packages one by one.
4) I used/call

[2019-03-19 14:31] nick-youngblut commented on #14076
In short, the problem was that my conda env was lacking `libiconv`. It appears that this was missing due to using `conda env create` to create the conda env.

**Longer answer:**
The broken kraken2 conda env was created with `snakemake`, which I believe still uses `conda env create` to create environments from yaml files. When I instead used `conda create` to create the kraken2 env outside of snake

[2019-03-19 14:47] DavyCats opened #14090 "Missing (bio)container on quay.io for biopet-fastqsplitter"
As I understand it there should be a container auto-generated on quay.io for every bioconda package. However, for the [biopet-fastqsplitter](https://anaconda.org/bioconda/biopet-fastqsplitter) package there does not seem to be a container available. Did something go wrong during the creation of the container or is there some other reason it's missing?

[2019-03-19 17:36] dpryan79 commented on #14082
@dariober That happens on occasion, Elmar is still working on the bot and ironing out the bugs. You needn't wait for it to be green to merge.

[2019-03-19 17:36] #14082 closed

[2019-03-19 18:15] rspreafico-vir opened #14093 "HTTPS error for sra-tools fastq-dump ONLY from biocontainer"
Running the following:

[code]

succeeds with bioconda but not with the version-matched (2.9.1-1) biocontainer.

Error from biocontainer:

[code]

vs output from the bioconda version:

[code]

[2019-03-19 19:24] dfornika commented on #13985
Great @smoretti good to know. I'm hopeful that we'll be able to create a Docker/Singularity image through the Biocontainers repo using a similar approach once MentaLiST-1.0.0 is tagged & released. Thanks for sharing your solution.

[2019-03-19 19:37] dpryan79 commented on #14090
There was probably a transient network error. If you really need it you can just make a PR increasing the build number by 1. Merging that in should create a new container :)

[2019-03-19 19:56] dpryan79 commented on #14076
@nick-youngblut I'll close this here, maybe you can create a small example and post it over on the snakemake gitlab page.

[2019-03-19 19:56] #14076 closed

[2019-03-19 19:58] dpryan79 commented on #13958
This should be done now, closing.

[2019-03-19 19:58] #13958 closed

[2019-03-19 20:07] dpryan79 commented on #14033
I just tried this on a mac and can't reproduce the issue. Please use `-c conda-forge -c bioconda` and try creating new environments. My guess is that you're picking up some very old version of ncurses from bioconda rather than conda-forge.

[2019-03-19 20:14] dpryan79 commented on #14032
This seems to no longer be an issue, closing.

[2019-03-19 20:14] #14032 closed

[2019-03-19 20:23] dpryan79 commented on #14020
Specify `pytorch-cpu` as the dependency instead.

[2019-03-19 20:23] #14020 closed

[2019-03-19 20:26] dpryan79 commented on #14031
I assume this is no longer an issue, closing.

[2019-03-19 20:26] #14031 closed

[2019-03-19 21:08] #13904 closed

[2019-03-19 21:21] dpryan79 commented on #13826
It rarely matters whether you install with pip from github or `conda install`, you'll usually get the same thing. As others have noticed, `autobump` is the current name of the `update` subcommand.

[2019-03-19 21:21] #13826 closed

[2019-03-19 21:22] dpryan79 commented on #13826
BTW, feel free to reopen if there are other questions.

[2019-03-19 21:41] suhrig commented on #13439
I'm having the same issue and it has nothing to do with omitting `--no-update-deps`. Version 6 of libreadline was never installed. Recent releases of Miniconda are shipped with version 7 of libreadline. Packages that were built with older releases are linked against version 6. That's the problem.

Here are the steps to reproduce (in an ubuntu:bionic Docker):

[code]

I am not sure what is the best

[2019-03-19 21:41] dpryan79 commented on #13799
The conda recipe doesn't perform a full quast install, though it should actually be removing anything downloaded during uninstall. If you're actually observing it installing stuff then please reopen this.

[2019-03-19 21:41] #13799 closed

[2019-03-19 21:42] dpryan79 commented on #13798
If this is still an issue then please reopen. You'll need to pass `$CC` in as the compiler, since `gcc` will not work.

[2019-03-19 21:42] #13798 closed

[2019-03-19 21:49] dpryan79 commented on #13439
Old versions of R are not supported and all bioconda packages are built with R 3.5.1 currently.

[2019-03-19 21:55] pb-cdunn commented on #13964
Somewhat related question:

There is a package in Anaconda on a non-standard channel that I would like to use at build-time for Bioconda packages, but it's not in `conda-forge`. How can I use it in a Bioconda recipe? (At build-time only.)

Would it be easier if that package were actually in conda-forge?

[2019-03-19 22:15] #3921 closed

[2019-03-19 22:18] dpryan79 commented on #3701
Closing, since we do this now.

[2019-03-19 22:18] #3701 closed

[2019-03-19 22:19] dpryan79 commented on #3224
Closing, since we're using newer compilers now

[2019-03-19 22:19] #3224 closed

[2019-03-19 22:30] suhrig commented on #13439
Okay, makes sense.

It turns out an R package (bioconductor-genomicalignments) used by my Conda package (arriba) causes a conflict with R 3.5.1, such that version 3.3.1 is installed instead. I will try to get to the root of this and report back.

Thanks for the speedy reply.

[2019-03-19 22:35] dpryan79 commented on #13439
I suspect you have the `r` channel in your channel list. If so, remove it and see if that causes the problem.

[2019-03-19 22:44] unode commented on #14090
@dpryan79 Writing it here as this seems to be a more prevalent issue. In #14097 we are seeing the same issue. Everything is green but nothing appeared online (bioconda, quay).

On circleCI it seems there's a build job but no upload.

[2019-03-20 02:23] shunhuahan opened #14105 "Use svn url as source in yaml file"
- I'm trying to create recipe for R package h5r. The package is currently maintained in a SVN repository. I used `svn_url` and `svn_rev` in the `meta.yaml` file according to guidelines from https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html. Local `conda build` works fine, but `circleci build` can not recognize `svn_rev` and would throw `missing_hash` error.
- I se

[2019-03-20 08:28] ljq12697 commented on #1
Hi, I would like to be added to the team. Thanks!

[2019-03-20 08:34] dpryan79 commented on #1
Welcome @ljq12697

[2019-03-20 08:36] ljq12697 commented on #1
Thank you! ^_^

[2019-03-20 09:56] dpryan79 commented on #14090
@unode You'll have to remove motus from `build-fail-blacklist`. It was giving me issues in `bulk` so I had to disable building it.

[2019-03-20 09:56] #14090 closed

[2019-03-20 12:33] Matt-BF commented on #1
Hi! I'd like to be added too. Thanks!

[2019-03-20 16:59] mbnmbn00 commented on #13883
Glad it helped! Please close the Issue.

[2019-03-20 17:20] epruesse commented on #1
Welcome @Matt-BF!

[2019-03-20 17:26] epruesse commented on #10146
Fixed

[2019-03-20 17:26] #10146 closed

[2019-03-20 20:48] suhrig commented on #13439
If `conda config --show channels` does not list it, this means I haven't, right?

`conda search bioconductor-genomicalignments` gives me this:

[code]

Does this mean R 3.3.1 is chosen, because `bioconductor-genomicalignments` is not available for R 3.5.1 and someone needs to build a package? If yes, who is responsible?

[2019-03-20 21:15] PertuyF commented on #14105
An interface to hdf5 is not directly relevant to Biology.
IMO this package does not belong to Bioconda, any though @bioconda/r ? (see #14106 )

@shunhuahan Why do you want to create a conda recipe for this package? It has been archived and is not maintained since 2014. Not even sure it belongs to conda-forge unless someone resumes this project.

[2019-03-20 21:37] romain-lopez commented on #14020
Hi,
that is not going to solve the problem as I would like the requirement to be independent of either the gpu version or the cpu version. However, for the unit tests, it seems that I need to force a cpu version. Is there a way to do that ? It would be inefficient to force users to use a cpu version of pytorch just because of the unit tests of bioconda-recipes.

[2019-03-20 21:48] dpryan79 commented on #13439
The last three lines are for R 3.5.1 (the `r351` prefix is meant to indicate that).

[2019-03-20 21:52] dpryan79 commented on #14020
The only way to force the CPU version is to specify that rather than the GPU version. There's unfortunately not a more flexible way at the moment. It might be easier to make a weird test that doesn't actually load pytorch.

[2019-03-20 21:59] suhrig commented on #13439
Then why does `conda install -c bioconda bioconductor-genomicalignments r=3.5.1` result in a conflict and `conda install -c bioconda bioconductor-genomicalignments r` wants to install R 3.3.1 or 3.3.2? I am clueless.

[2019-03-20 22:02] dpryan79 commented on #13439
You'll want `r-base=3.5.1` instead of `r`.

[2019-03-20 22:13] suhrig commented on #13439
Sorry to bombard you with questions, but this does not help. Heck, even installing `bioconductor-genomicalignments` alone results in a conflict:

[code]
I don't understand this. Am I the only person with this problem? What could I be doing wrong? This a fresh Ubuntu Docker with nothing but Miniconda installed.

[2019-03-20 22:22] dpryan79 commented on #13439
I can't reproduce it, so possibly yes. `conda create -n foo bioconductor-genomicalignments r-base=3.5.1` installs bioconductor-genomicalignments-1.18.1 for me. Never use `conda install` unless you absolutely have to, it's an excellent way to break packages you're already using.

[2019-03-21 03:05] shunhuahan commented on #14105
- Thanks for the comment, this package is the dependency for `R-pbh5` (https://github.com/PacificBiosciences/R-pbh5), which is an R package for interacting with data in HDF5 format from PacBio. I'm trying to make `R-pbh5` available in Bioconda, hence the effort of making `h5r` available first.
- `h5r` has been archived since version 1.4.7 and further being maintained under this svn repo https://r-

[2019-03-21 06:54] PertuyF commented on #14105
Thanks for your answer, the situation is now clearer.
I think there is some point where it is questionable to make packages available to the community that are outdated, or too early.

In the present case both `r-pbh5` and `h5r` are unsupported and have been unmaintained for 4-5 years. Knowing how fast proprietary file formats can change in the field of Bioinformatics, there is even no guarantee t

[2019-03-21 08:58] Kata-Pa commented on #13883
Sorry for asking but I am a bit new in Github. I dont think I can close the issue, I guess @reslp  should do it, (if his problem was solved) since he is the one who opened it?

[2019-03-21 09:06] reslp commented on #13883
Hi, thanks for the answers. I have not had time to test using the different conda channel. I will close the issue now. I will test with /label/cf201901 as soon as I have time and will reopen in case it does not work.

[2019-03-21 09:06] #13883 closed

[2019-03-21 12:36] bgruening commented on #13439
This is probably because in your current environment contains `r-base` in a version that is not compatible with `bioconductor-genomicalignments=1.18.1`. So please follow @dpryan79 advice and use `conda activate` to create a new environment.

[2019-03-21 12:49] dpryan79 commented on #14105
As @PertuyF said, this is a recipe for conda-forge and generally releases should be tagged (I don't know if they have any policy regarding svn specifically). On the bioconda side, we don't yet have a strict policy against using things like git/svn in recipes, though it's generally preferred to avoid that if at all possible. This is actually a topic that will be discussed in the next core-group mee

[2019-03-21 12:49] #14105 closed

[2019-03-21 12:51] dpryan79 commented on #13751
@bgruening Should we add "Adding ps to the extended image" to our list of things to discuss (not that I expect there'd be much objection)?

[2019-03-21 12:53] rhpvorderman commented on #14090
@dpryan79 I have looked trough all of the documentation, but could not find the answer. How long does it take for containers to be built? Is there anywhere the process can be monitored? (Other than rabidly F5-ing quay.io/biocontainers/biopet-fastqsplitter)

[2019-03-21 13:00] bgruening commented on #13751
Yes, please let's add this and let's discuss this.

[2019-03-21 13:01] bgruening commented on #14090
Can you all check again. There was probably an API change in quay.io so all repos are private by default. Need to fix this at some point.

[2019-03-21 13:01] dpryan79 commented on #14090
The containers are uploaded right after packages once the CI job is run on the master branch, so if you see the linux/noarch package uploaded to anaconda.org then the biocontainer should within a couple minutes.

[2019-03-21 13:01] dpryan79 commented on #13751
I'll put it on the list (we should schedule this meeting at some point...)

[2019-03-21 13:06] dpryan79 commented on #13615
My expectation is that having python/perl in the host: section but not the `run:` section was causing problems. I'm made a change to the PR this issue relates to, but someone will need to `git pull` the current master branch and then `git merge` it in so the CI testing will run.

[2019-03-21 13:08] rhpvorderman commented on #14090
@dpryan79 Thank you for the answer. It was indeed uploaded in a few minutes.

And this is why I did not have access. Thanks @bgruening for enabling the repo!

[2019-03-21 13:16] dpryan79 commented on #13423
In case this is still an issue, you can theoretically use `post-link.sh` for this to create an `etc/activate.d` in the environment in which the package is installed. That should REALLY be avoided though, as @PertuyF said.

I'll close this, but feel free to reopen if there are further questions.

[2019-03-21 13:16] #13423 closed

[2019-03-21 13:20] dpryan79 commented on #13415
This is probably a nice example of why `conda install` should be avoided and `conda create` used instead, since the latter will nicely pull in perl 5.26 100% of the time and be faster. If there are still issues regarding this then please feel free to reopen this.

[2019-03-21 13:25] dpryan79 commented on #12944
I'll close this issue for now, please feel free to reopen it if anything is still unclear.

[2019-03-21 13:30] dpryan79 commented on #12841
@vodkatad Were you able to get this built and merged in or is this still an open issue?

[2019-03-21 13:34] vodkatad commented on #12841
@dpryan79 honestly I did not find any explainable cause for the "Too long with no output" so not knowing what to change I stopped investigating - is it reasonable to trigger another build without changing anything? I can give another look this weekend, if the same error happen twice there should be something off in how I updated the recipe...

[2019-03-21 13:38] dpryan79 commented on #12841
@vodkatad Rerunning things should suffice, though `master` will need to get merged in first. I'll merge the updated master branch in and then we can see if this is still an issue.

[2019-03-21 13:42] dpryan79 commented on #12841
I don't know if you had a PR made already, so if not: https://github.com/bioconda/bioconda-recipes/pull/14128

[2019-03-21 14:10] ialbert commented on #13415
I honestly don't understand what this means - I am even more puzzled of why the issue was closed.

Are you saying that the chain of commands I have listed on the top:

[code]

are not the way to install `entrez-direct` with conda?

If that is so what are the commands?

[2019-03-21 15:31] dpryan79 commented on #13415
I can't reproduce the issue with the exact commands you gave. In general it's best to create environments with everything you want in them from the beginning. Obviously this isn't always possible, in which case you can run into issue like you observed. In this particular case what likely happened is that there was a dependency that needed to be rebuilt (and since has been).

[2019-03-21 17:13] ialbert commented on #13415
this problem has been plaguing my students for a very long time (several years)! There is a separate section in my book titled: "How to fix a Chronic Case of Entrez Direct" which discuss various recovery scenarios.

Every single year I have numerous people reporting it, I have seen it happen to me as well, though it is still not clear under what circumstance. The order in which tools are installed

[2019-03-21 18:55] epruesse commented on #5457
Seems to be fixed by gcc7

[2019-03-21 18:55] #5457 closed

[2019-03-21 18:56] epruesse commented on #10372
Stale - assuming fixed.

[2019-03-21 18:56] #10372 closed

[2019-03-21 18:57] epruesse commented on #14067
Thanks @PertuyF and @shunhuahan

[2019-03-21 18:57] #14067 closed

[2019-03-21 20:27] bgruening commented on #13415
Hi @ialbert!

I think what you are seeing here is a variety of different issues with conda in general. (Also I'm not sure if these are issues or we should just be more clear about how to use conda.)

1. `conda create` vs. `conda install`

`conda create` takes the specified pkgs, and only those, to find a feasible env solution. `conda install` in contrast takes the specified packages but also the p

[2019-03-21 21:45] suhrig commented on #13439
I am starting to question my own sanity. :-D I tried using the exact command @dpryan79 suggested. It results in a conflict on two systems (Ubuntu bionic, CentOS 7). I am not using the `r` channel. There is no `r-base` installed according to `conda list`. Here are my exact commands to reproduce the error:

[code]

I you confirm that these commands do not throw an error on your system, then we will

[2019-03-21 22:17] dpryan79 commented on #13439
You're missing the conda-forge channel, which should have the highest priority.

[2019-03-21 23:00] smortezah commented on #1
Hi,
I'd like to be added to the team.
Thanks!

[2019-03-21 23:10] suhrig commented on #13439
THANK YOU! Solved.

[2019-03-21 23:11] dpryan79 commented on #1
Welcome @smortezah !

[2019-03-22 05:20] ialbert commented on #13415
as I mentioned before I  am not quite sure what this advice consists. As I mentioned before I installed my tools with:

[code]

neither @dpryan79 nor yourself are sufficiently specific as to what alternative code are you suggesting for the above installation. What is the replacement code for the above that you claim to work?

And most importantly if one wanted to install more than one package beyo

[2019-03-22 07:44] dpryan79 commented on #13415
Looks like indeed that perl-threaded requires a rebuild, I must have misread that originally. I'll reopen this then and see if I can update it to 5.26.

[2019-03-22 07:51] dpryan79 commented on #13415
Actually, that package has no contents. It appears as though the OSX perl-5.26 package from conda-forge actually contains perl-5.22. That will obviously break a great many things, of which this appears to be one. We'll have to track this down with the conda-forge folks (I wonder how this wasn't caught during CI testing).

[2019-03-22 08:18] dpryan79 commented on #13415
I've tracked down the cause of this and also why it isn't always reproducible. While perl-threaded is an empty package, it has a run-time dependency on perl-5.22. So if perl-threaded happens to get installed after the other perl packages then the perl executable will point to perl-5.22 rather than perl-5.26 and many things will break. `perl-threaded` predates the perl pinnings and I wonder why it'

[2019-03-22 08:47] dpryan79 commented on #12841
I've merged in the update. Please feel free to reopen this if there are additional issues.

[2019-03-22 08:47] #12841 closed

[2019-03-22 09:02] dpryan79 commented on #13415
@ialbert Please try this again, it should be fixed after #14147

[2019-03-22 09:23] druvus commented on #13415
I was digging into this problem last summer when we rebuilt all perl packages. I think the issue is coming from "ancient" bioconda packages (<=2016) built with conda build v1. Those early perl packages seems not have any perl version pinned so sometimes they are dragged in and pulling in other 5.22. It was an real issue during the rebuild process on osx and as some packages got rebuilt and labelle

[2019-03-22 09:29] dpryan79 commented on #13415
Hopefully we can start fixing some of these long-standing pinning issues once bioconda has been migrated to the anaconda CDN and we can patch metadata.

[2019-03-22 10:00] bgruening commented on #13415
@ialbert what we meant is something along those lines:

[code]

@druvus maybe we can create a list of those packages, rebuild them and mark the old once as deprecated?

[2019-03-22 10:40] dpryan79 commented on #8869
For a number of recipes we've added `llvm-openmp` to both the `build:` and `run:` sections, which seems to suffice for this. We set a few thinks like `C_INCLUDE_PATH`, which are likely needed. That's probably the closest we have to a best-practice, which we should really document.

[2019-03-22 13:05] EricR86 commented on #1
Hello. May I be added to to the team as well?
Thanks!

[2019-03-22 13:16] bgruening commented on #1
@EricR86 welcome!

[2019-03-22 14:37] guillaumecharbonnier commented on #1
Hi,
Can i hop on board?
Thanks!

[2019-03-22 15:06] bgruening commented on #1
@guillaumecharbonnier welcome on board!

[2019-03-22 18:22] ialbert commented on #13415
Hello all. Thanks for the fix.

It does look like the fundamental issue was corrected: having the wrong version of perl linked as executable. Thanks for the effort @dpryan79 .

I will run a few more tests but I am optimistic that the "Chronic Case of Entrez Direct" might be cured for good. Thus I'll close the issue.

[2019-03-23 15:59] abishara opened #14162 "recipe successfully merged, but conda install from bioconda fails"
My PR #14158 was successfully merged and passed the CI. It also seems publicly available:

https://anaconda.org/bioconda/athena_meta

however, when I try to install it with conda using the docker image I see the following error:

[code]

Can someone advise how to address this?  `python-lzo` is not even called out as a dependency in my recipe.  I'm unsure how to determine why it failed if the CI pa

[2019-03-23 16:27] kyleabeauchamp commented on #14162
You need to include the conda-forge channel

[2019-03-23 19:30] abishara commented on #14162
Thanks for the response.  I found that simply adding the channel didn't quite work; the resulting samtools=1.9 dependency didn't work properly for some reason:

[code]
Is there a way to make things work from the end user's perspective with a vanilla conda install by just following the instructions here https://anaconda.org/bioconda/athena_meta (`conda install -c bioconda athena_meta`)?

[2019-03-23 20:15] abishara commented on #14162
Sorry, I didn't realize that including the conda-forge channel is a part of the setup of bioconda.  I'll try to see why the samtools dependency is failing.

[2019-03-23 22:37] PertuyF commented on #14162
@abishara regarding the `libcrypto.so` issue, have a look to #13958 , it should be related.

Looks like your PR #14158 adding `athena_meta` is your first contribution since you joined Bioconda, [documentation](https://bioconda.github.io/contribute-a-recipe.html#push-changes-wait-for-tests-to-pass-submit-pull-request) indicates you should have asked @bioconda/core for a review on this PR.

[2019-03-24 18:34] epruesse commented on #13776
copying https://github.com/benjjneb/dada2/issues/684#issuecomment-475985615

---
Ok, please run this with your broken conda environment activated:

[code]

In my case, it says

[code]

It looks like the package was linked to `libgfortran.so.3` while it installs `libgfortran.so.4`, which in my case leads to no lib found, in other cases might lead to a mismatching one being loaded. Not sure if this

[2019-03-24 18:35] epruesse commented on #13776
At the very least, `datatable.so` seems to not be linked correctly.

[2019-03-24 18:40] epruesse commented on #13776
Looks like it's a case for `conda config --set channel_priority strict` or for removing those packages from our `repodata.json`.

[2019-03-25 09:43] duboism opened #14170 "Are packages rebuilt when the recipe changes?"
It might be a silly question but I'm not familiar with bioconda so I prefer to ask it.

I merged a recipe for a simple tool we developed based on a Github release ([plaScope](https://github.com/GuilhemRoyer/PlaScope)). After that I realized I made a mistake in the release (I forgot to bump the version number in the code) so I deleted it and recreated it (with the same version number). Therefore I

[2019-03-25 10:00] ialbert commented on #13415
I spoke too soon a different error occurs, foolishly enough I only tested that the command starts efetch, not that it returns the proper content. Perl 5.22 still gets installed and some libraries are installed for 5.22 instead of 5.26:

    efetch -db nuccore -id 2

[code]

even though the required module seems to be installed:

[code]

the following command fails like so:

`perl -e 'require LWP::

[2019-03-25 10:21] dpryan79 commented on #13415
This is probably the same as #14037

[2019-03-25 10:23] dpryan79 commented on #13415
@ialbert Thanks for noting the perl 5.22 path issue with perl-net-ssleay, that's hopefully enough for us to track down the root cause.

[2019-03-25 10:44] dpryan79 commented on #13415
@ialbert Can you try making a new environment? I can't reproduce this with the default `perl-net-ssleay` (1.85-pl526h9dad42d_0) that I'm getting with a fresh env. If you get the same result, can you post the output of `conda list` in that env?

[2019-03-25 11:27] ialbert commented on #13415
on my system it installs

[code]

both on Ubuntu for Windows and on MacOSX

[2019-03-25 11:29] dpryan79 commented on #13415
What's the output of `conda config --show channels`?

[2019-03-25 11:30] ialbert commented on #13415
[code]

[2019-03-25 11:35] dpryan79 commented on #13415
What happens if you create an env without `python=3.6`? That is, just `conda create -n bar entrez-direct`? There seems to be a conflict between python and more recent versions of the perl packages (we should track that down).

[2019-03-25 11:57] ialbert commented on #13415
that way it works and it installs

    perl-net-ssleay           1.85            pl526h9dad42d_0    bioconda

python 3.6 is required by many bioinformatics tools, thus we can't quite do without that. In addition I want to note that previously once can upgrade with `conda install perl-net-ssleay==1.84` and that seems to work as well.

Finally installing two different versions of perl seems to be a

[2019-03-25 12:41] dpryan79 commented on #13415
I found the root problem. The most recent `perl-net-ssleay` has openssl properly pinned, but it hasn't been updated to be pinned to openssl-1.1.1. perl-net-ssleay-1.74 has no pinning to openssl, so it's incorrectly getting installed and therefore pulling in `perl-threaded`. A lot of the perl packages are currently blacklisted, which is why they didn't get updated for the new pinnings (among the ma

[2019-03-25 12:54] dpryan79 commented on #14170
The package will only be rebuilt if you increment the build number. As is, it sees a package with the same version and build number already exists and therefore skips it.

[2019-03-25 12:55] dpryan79 commented on #14162
@abishara Did adding conda-forge to your channels resolve this issue?

[2019-03-25 12:56] dpryan79 commented on #13415
Xref: #14172

[2019-03-25 13:03] mgalland commented on #14033
Works like a charm thanks! The `-c conda-forge` was missing indeed.
Thanks a lot.

[2019-03-25 13:03] #14033 closed

[2019-03-25 16:07] abishara commented on #14162
@dpryan79 Adding that was not sufficient to make the recipe work as I ran into the issue with samtools `libcrypto` above.  It wasn't clear to me from looking at the related issue(s) how I should address this.

[2019-03-25 16:41] dpryan79 commented on #14162
@abishara Can you post the output of `conda list` while in that env (or better yet, what `conda create` command reproduces this)?

[2019-03-26 03:57] abishara commented on #14162
I was able to produce it just installing from the miniconda docker image as follows:

[code]

[2019-03-26 07:56] duboism commented on #14170
Thank you. I will increment the build number.

[2019-03-26 07:56] #14170 closed

[2019-03-26 08:07] PertuyF commented on #14162
@abishara you should try to create a new environment, as suggested by @dpryan79 :

[code]

This pulls the last versions of `htslib` and `samtools`, that are no longer linked to `libcrypto.so1.0.0`, and should solve your issue.

Else, try to run `conda update --all` after setting up bioconda and conda-forge channels, then install your package.

[2019-03-26 08:42] dpryan79 commented on #14162
As @PertuyF showed, if you use `conda create` in the docker container you'll get the correct samtools. `conda install` has some weird properties due to trying to forcibly update openssl (seemingly after already solving the environment).

[2019-03-26 17:53] KyleL1998 commented on #13784
@mbhall88 I've submitted a fix that hopefully corrects this problem.

[2019-03-26 21:48] abishara commented on #14162
@PertuyF @dpryan79 Okay, after first creating an environment with `conda create` and then installing, I am able to get it working successfully.  Thanks for the assistance and also the clarification of the behavior of `conda install`.

[2019-03-27 10:43] dpryan79 commented on #13415
@ialbert Can you confirm that this issue is now resolved on OSX? The new perl-net-ssleay seems to fix things on this end.

[2019-03-27 11:42] ialbert commented on #13415
I can confirm that it works on both MacOSX and Windows Ubuntu Bash. Thanks for the assistance.

[2019-03-27 11:42] #13415 closed

[2019-03-27 11:55] ialbert opened #14197 "Entrez Direct needs to brought up to date to account for NCBI throttling"
the entrez-direct package needs to be brought up to the version of at least 11.0  to account for the throttling rules imposed by NCBI at the end of 2018.

When using pre 11.0 versions of entrez-direct chaining of `esearch` into `efetch` may fail with permission errors as requests may be sent faster than the default throttling permits. In addition, the latest versions of entrez-direct allow passing

[2019-03-27 11:57] ialbert commented on #14037
This has now been fixed.

[2019-03-27 12:16] amizeranschi commented on #14037
Thanks for letting me know. The `perl-net-ssleay` update got things working for me as well.

[2019-03-27 12:16] #14037 closed

[2019-03-27 13:02] ialbert commented on #1
Hello, I'd like to join. Cheers.

[2019-03-27 13:05] dpryan79 commented on #1
Welcome @ialbert !

[2019-03-27 14:13] #14197 closed

[2019-03-27 15:57] ldenti commented on #1
Hi,
I would like to join. Thanks!

[2019-03-27 15:59] dpryan79 commented on #1
Welcome @ldenti !

[2019-03-27 16:01] ldenti commented on #1
Thank you!

[2019-03-28 01:31] romain-lopez commented on #14020
Thanks for your answer, I forced pytorch 0.4.1 which did not have this
problem and will wait for another version.

Best,
Romain

On Wed, Mar 20, 2019 at 2:52 PM Devon Ryan <notifications@github.com> wrote:

[2019-03-28 08:32] dpryan79 commented on #12755
It's quite annoying, but for perl packages you have to do something like [this](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/perl-net-ssleay/build.sh#L15-L22) and [this](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/perl-net-ssleay/build.sh#L39-L40). I agree that this is incredibly annoying, but until someone comes up with a good way to make perl behave in a

[2019-03-28 08:34] dpryan79 commented on #11458
Since this has been merged in as `parasail-python` I'll close this issue. Please reopen if there are still problems.

[2019-03-28 08:34] #11458 closed

[2019-03-28 08:34] #11485 closed

[2019-03-28 08:35] dpryan79 commented on #11485
Closing for now, if this reoccurs then please feel free to reopen.

[2019-03-28 08:35] dpryan79 commented on #11048
@t-neumann Can you confirm that this is now resolved? It should be after all of the recent R updates.

[2019-03-28 08:36] #10925 closed

[2019-03-28 08:37] t-neumann commented on #11048
Sorry @dpryan79 - I must have overlooked that comment. I will have a look this week.

[2019-03-28 10:00] #10671 closed

[2019-03-28 10:02] dpryan79 commented on #10662
@scottx611x Are you still getting segfaults when run via slurm or has this issue gone away?

[2019-03-28 10:04] dpryan79 commented on #10557
At least for bioconductor packages we're now performing builds of all packages with each bioconductor release, so this should no longer be an issue. For more general packages we actually have a bot in development that checks for new package versions and creates PRs accordingly.

[2019-03-28 10:04] #10557 closed

[2019-03-28 10:04] #10400 closed

[2019-03-28 12:59] scottx611x commented on #10662
Hi @dpryan79, not 100% sure now I've since moved on to a new role. We ended up using Kallisto in the interim for our needs.

I think this can be closed, and reopened if the issue ever arises again, thanks for the follow-up!

[2019-03-28 12:59] #10662 closed

[2019-03-28 13:00] dpryan79 commented on #10662
Fair enough, thanks @scottx611x

[2019-03-28 14:56] abalter commented on #10557
That is really awesome. Thanks folks!

[2019-03-28 15:59] jmarshall commented on #13488
(There's the relatively well-known openssl problem, and separately there's an ncurses problem.)

FWIW the reason for this is that the anaconda channel ncurses has not had a fix equivalent to conda-forge/ncurses-feedstock#45 applied. This is what I was alluding to in https://github.com/samtools/samtools/issues/940#issuecomment-452654909 with “Provided the conda user has selected conda-forge for the

[2019-03-28 23:42] rspreafico commented on #13751
Upvoting this issue. There was previous discussion on ensuring compatibility between Biocontainers and Nextflow with a number of Github issues addressed last year. The lack of `ps` only in a single container breaks the expectation that a minimal toolset is available in any biocontainer. So far, `multiqc` was the only biocontainer lacking `ps` that I could find. Also, the other option `ewels/multiq

[2019-03-29 08:58] mbhall88 commented on #13784
@KyleL1998 that has fixed the problem. Thanks very much!

This fixes https://github.com/Mykrobe-tools/mykrobe/issues/46

[2019-03-29 08:58] #13784 closed

[2019-03-29 13:44] simonbray commented on #1
Hello, can you add me to the team too? Thanks!

[2019-03-29 13:50] dpryan79 commented on #1
Welcome @simonbray!

[2019-03-29 14:15] #14162 closed

[2019-03-29 14:17] dpryan79 commented on #13964
Regarding what to do once packages are migrated, just put them in the `build-fail-blacklist` file (put the reason why above as a comment). At some point we might due a "grand purge" of such recipes.

[2019-03-29 14:18] dpryan79 commented on #13964
@pb-cdunn Yeah, try to get it into conda-forge. You can probably download the package from anaconda.org and largely copy what's under `info/`.

[2019-03-29 15:12] simonbray commented on #13932
Did anyone find a solution? I'm experiencing an identical problem with CircleCI.

[2019-03-29 21:14] ressy commented on #12100
Just to add some clarification about the recent samtools 1.9 builds, h8571acd_10 onward looks OK to me, and the conda commands suggested by @PertuyF in #13958 work as expected to force the latest samtools build: `conda install samtools=1.9 --force-reinstall` (or `conda install samtools=1.9=*_11` to do a wildcard match on a specific build).

We were still seeing this issue come up for users with ol

[2019-03-30 20:37] martin-steinegger opened #14243 "hhsuite recipe failed while coping the build"
My recipe https://github.com/bioconda/bioconda-recipes/pull/13796  for hh-suite (https://github.com/soedinglab/hh-suite) seems to successfully compile on bioconda. However, there is an error at the next stage (ci/circleci: test-linux) while copying the build. The error message is `cp: cannot stat /opt/conda/conda-bld/linux-64/hhsuite-v3.1.0-hf484d3e_1.tar.bz2: No such file or directory.` The full

[2019-03-31 05:12] Rakshith-Manandi commented on #1
Hi,
I would like to join the team and contribute to it too. Please add me, thanks! :)

[2019-03-31 09:24] bgruening commented on #1
Wlecome @RajuKalidindi!

[2019-04-01 04:16] Dr-Handsome commented on #12100
Somehow this bug still exist. conda install samtools=1.9 --force-reinstal didn't work. h8571acd_11 and h8571acd_10 still need openssl 1.0

[2019-04-01 05:28] PertuyF commented on #12100
@Dr-Handsome, are you sure openssl 1.0 is not required by other packages in your environment? Try `conda install samtools openssl=1.1` just to see what the solver says.

[2019-04-01 07:13] Dr-Handsome commented on #12100
See below.

  added / updated specs:
    - openssl=1.1
    - samtools

The following packages will be UPDATED:

  curl                                    7.64.0-h646f8bb_0 --> 7.64.0-h646f8bb_2
  krb5                                 1.16.3-hc83ff2d_1000 --> 1.16.3-h05b26f9_1001
  libcurl                                 7.64.0-h01ee5af_0 --> 7.64.0-h541490c_2
  openssl

[2019-04-01 07:17] dpryan79 commented on #12100
I'll reiterate that people should **not** use `conda install`, it will ignore package pinnings and update openSSL to versions that will break many currently installed packages.

[2019-04-01 11:32] cagaser opened #14262 "Missing biocontainer for Lumpy"
Hello. I am having the same issue as #5986 .  #14215 was merged but missing updated biocontainer for lumpy on quoy.io.

[2019-04-01 13:12] ressy commented on #12100
@dpryan79 I'm not sure what you mean; could you give an example?  If I have samtools 1.9 h57cc563_6 installed and I try to `conda install openssl=1.1`, it threatens to remove samtools (rather than leave it in a broken state).  It's the other way around for h8571acd_10/h8571acd_11 with openssl 1.0, so it looks like it's handling versions in dependencies as expected from the package recipes.  @Dr-Ha

[2019-04-01 13:14] rpetit3 opened #14264 "ISMapper merged but conda package not found"
Hello BioConda Team,

I submitted and merged (after passing CI) a recipe for ISMapper (https://github.com/bioconda/bioconda-recipes/pull/14180) 7 days ago. The conda package is still not available for install [ISMapper Readme](https://bioconda.github.io/recipes/ismapper/README.html).

[code]

The recipe did have samtools, so I'm wondering if it is related to https://github.com/bioconda/bioconda-re

[2019-04-01 13:20] dpryan79 commented on #12100
@ressy If you explicitly `conda install openssl` you'll get sane behavior. If you `conda install` any other package conda will always update openssl to the newest version.

[2019-04-01 15:06] crashfrog commented on #13932
I'm seeing this in current builds of `bioconda-utils-build-env`

[code]

[2019-04-01 16:08] ldenti opened #14271 "KMC segmentation fault"
Hi,
I was testing the KMC recipe and I noticed that from build number 1 of the recipe, KMC crashes at runtime with a segmentation fault.

Steps to reproduce this behavior (in a clean miniconda environment):
1. create a simple fastq file, such as the [sample_test.fq.tar.gz](https://github.com/bioconda/bioconda-recipes/files/3030226/sample_test.fq.tar.gz) I attached to this message:
[code]
2. instal

[2019-04-01 20:10] ldenti commented on #14271
Oh, I see. Anyway, kmc crashes only on my debian stretch system. I also tested the recipe on ubuntu 18.04 and kmc works without problems.

So, I think that you can close this issue.

For completeness, these are the commands I ran (I made a clean installation of miniconda, I updated it, and, as you suggested, I created a clean env and installed kmc):
[code]

[2019-04-01 21:45] baraaorabi commented on #1
Hello! I am a grad student at @vpc-ccg. Can I join the team? Thanks!

[2019-04-01 23:27] epruesse commented on #1
Welcome @baraaorabi! :)

[2019-04-02 00:07] npavlovikj commented on #14264
Can you maybe try to re-trigger another build with increasing the build number to 1?

[2019-04-02 01:57] #14264 closed

[2019-04-02 02:43] rpetit3 commented on #14264
That did the trick! Thank you very much for your help @npavlovikj!

[2019-04-02 02:59] epruesse commented on #1
And welcome @Rakshith-Manandi - sorry about the mixup! :)

[2019-04-02 09:35] maarten-k commented on #13932
I reproduced also the same circleci error under Linux. Should this issue not move to bioconda-utils?

[2019-04-02 20:30] dfornika opened #14288 "kraken2: wget: error while loading shared libraries: libssl.so.1.0.0"
I get the following error when building a standard kraken2 library:

[code]

[code]

[code]

[2019-04-02 20:51] #14271 closed

[2019-04-02 20:57] #14288 closed

[2019-04-03 20:41] sjanssen2 commented on #1
Hallo team. I am trying to contribute my first PR #14233 , but tests are failing. I could need some help please. Local building works.
SEPP places short sequences into a larger reference phylogeny. We use that to compute trees for 16S amplicon data via Qiime2.

[2019-04-03 21:52] dfornika opened #14320 "mentalist-0.1.9: wrong Julia version"
mentalist-0.1.9 is pinned to `julia-0.5.2`, but when the package is installed it installs `julia-1.0.3`.

This causes mentalist to fail:

[code]

[code]

[2019-04-04 03:11] Slugger70 opened #14323 "snpEff get latest version of java and doesn't work."
New installs of snpEff are getting java version 11 and snpEff requires java version 8.

When you run snpEff with java 11 it runs to completion but doesn't output anything, no error messages either.. :( But when it's run with version 8 it all works fine.

When I downgraded the version of java installed in snpEff env to `openjdk=8.0.192` everything worked as expected.

[2019-04-04 09:03] npavlovikj commented on #14320
I believe the reason for this is the current pinning in the recipe, https://github.com/bioconda/bioconda-recipes/blob/f27fe117e2c86e69167cd39ed6bb18690c9c6053/recipes/mentalist/0.1.9/meta.yaml.

It should be:
    **- julia ==0.5.2**
    **- hdf5 ==1.8.17**
instead of:
    **- julia 0.5.2**
    **- hdf5 1.8.17**

As far as I can tell, not using "=" or ">" or "<" would pick up the newest version ins

[2019-04-04 09:58] rhpvorderman commented on #13964
I would say that WDL is more aimed at the life sciences than anything else. But I can understand if this needs to be in conda-forge.

If this is the case then I will migrate `pytest-workflow` also to conda-forge as soon as cromwell is moved.

[2019-04-04 13:18] SchwarzMarek opened #14331 "blast and blast-legacy ClobberWarning"
Hi,
I've encountered multiple `clobber warnings` and `clobber errors` when running `conda build`
for a package with `blast` and `blast-legacy` as dependencies.

The package appears to be build successfully but I could not find much info about the clobber stuff. Is it safe to ignore?

(they are together used at least in `t-coffee` package (trough sub-dependency))

<details>
<summary>Clobber warning

[2019-04-04 15:55] dfornika commented on #14320
Thanks @npavlovikj that should be a simple fix. I'll submit a PR.

[2019-04-05 09:19] micknudsen opened #14341 "Updated package does not appear in channel"
Hi,

I bumped the version of `expansionhunter` several days ago. The PR (https://github.com/bioconda/bioconda-recipes/pull/14265) passed tests and was merged into master. However, the updated package (v3.0.0) is still not available in the bioconda channel:

[code]

Is there a standard procedure for investigating this kind of issues? After merging of a PR into master, the rest of the update process

[2019-04-05 10:28] #14243 closed

[2019-04-05 12:40] armintoepfer commented on #14341
Same here for `isoseq3` version `3.1.2`

[2019-04-05 18:01] armintoepfer commented on #14341
Pinging @bioconda/core

[2019-04-05 18:05] dpryan79 commented on #14341
I'll take a look.

[2019-04-05 18:07] dpryan79 commented on #14341
@micknudsen expansionhunter is in `build-fail-blacklist`. Make a new PR removing it from there and if that passes and you merge it then the package will get built and uploaded. We're working on notifying people better when they update a recipe on the blacklist, but that's not all rolled out yet.

[2019-04-05 18:08] dpryan79 commented on #14341
@armintoepfer Isoseq3 was also blacklisted due to build failures last I looked, so follow the same procedure.

[2019-04-05 18:08] #14341 closed

[2019-04-05 18:18] dpryan79 commented on #14262
lumpy-sv is listed in `build-fail-blacklist`. Please make a PR removing it, which will then cause the new biocontainer to get built.

[2019-04-05 21:17] dpryan79 commented on #14320
@dfornika We're all getting an old build of `mentalist-0.1.9` for some reason, rather than the one containing your pinning updates. I'm trying to look into why.

[2019-04-05 21:30] dpryan79 commented on #14320
`conda create -n foo mentalist=0.1.9=hbc14f71_4` works as desired, but I don't currently have a clue why it it's not the default 0.1.9 build.

[2019-04-05 23:49] roshni-b commented on #1
I would like to join the team and contribute too. Thank you!

[2019-04-06 00:13] epruesse commented on #1
Welcome @roshni-b!

[2019-04-06 16:04] mikecormier opened #14357 "check-sort-order is not working on macos"
Running check-sort-order in macOSX results in the following error:

[code]

This error is seen on a native mac system, and on a macos VM. Both python2 and python3 result in the same error.

[2019-04-06 18:30] #14357 closed

[2019-04-07 07:07] dpryan79 commented on #14262
I just removed lumpy-sv from the blacklist, the biocontainer should be available in ~30 minutes.

[2019-04-07 07:07] #14262 closed

[2019-04-07 17:30] cagaser commented on #14262
@dpryan79 Thank you very much!

[2019-04-08 12:32] cagaser opened #14372 "Lumpy biocontainer: missing samtools/sambamba in the config"
Hello,

I tried to run the lumpyexpress from the  [quay.io/biocontainers/lumpy-sv:0.3.0--h0b85cd1_0](url)
However I get the following error message:
`Error: neither samtools nor sambamba were found. Please set path of one of these in /usr/local/bin/lumpyexpress.config file`

The config file looks like this:

[code]

[2019-04-08 16:26] rspreafico commented on #13751
While this is being fixed, interested parties may use the official MultiQC container from @ewels, who has just released a `bash` and `ps`-able container with tag `1.7` (NOT `v1.7`). Future containers will all be using the same `bash` and `ps`-able base.

https://github.com/ewels/MultiQC/issues/935

[2019-04-08 22:33] dpryan79 commented on #13751
A small update on this since we had a meeting a few hours ago, we'll try to add `ps` to conda-forge first and if that proves a nightmare only then add it to the container. I'll attempt that tomorrow, so we should know pretty quickly how easy it will prove to be.

[2019-04-09 05:02] fenderglass opened #14384 "Package is built, but tests are failing for MacOS"
Hi,

I was updating Ragout to version 2.2 and bumped in the following issue. Linux build is passing, while MacOS tests are failing. Interestingly, it seems that the Ragout package was built, but when conda attempts to install it along with the other dependencies, the installation fails with:

[code]

Here is my PR: https://github.com/bioconda/bioconda-recipes/pull/14381
Failed job log: https://cir

[2019-04-09 10:09] dpryan79 commented on #13751
procps-ng (this provides, `ps`, `top`, etc.) is now in conda-forge, so we can add it to the multiqc package (for linux only) so it ends up in the biocontainer.

[2019-04-09 10:13] bgruening commented on #13751
I think we should add this to https://github.com/bioconda/bioconda-extended-base-image/blob/master/Dockerfile#L6. This way all extended-base images can be run with nextflow. MQC is just a very well known tool, but this problem exists for all those containers.

Moreover, this is not a requirement of MQC isn't it? It's a nextflow requirement.

[2019-04-09 11:15] ewels commented on #13751
Exactly my thoughts @bgruening - this dependency doesn't really have anything to do with MultiQC, it's purely so that the container (for any tool) can be used with nextflow.

[2019-04-09 11:16] dpryan79 commented on #13751
Yeah, that was a misunderstanding on my part. Xref: https://github.com/bioconda/bioconda-extended-base-image/pull/8

[2019-04-09 11:18] ewels commented on #13751
Still super nice to have `ps` conda-installable though, will make solving similar issues for other containers in the future a little easier.. 😉 Thanks!

[2019-04-09 16:00] epruesse opened #14400 "New Infrastructure - Talking to the BiocondaBot :)"
Hey everyone,

as you may have noticed, @BiocondaBot is now at your service. So far, it does only a few things for us:

- **Linting Recipe(s)**: this is an additional (not mandatory) check of your recipes for known problems. The checks are not new, but the bot is faster than CircleCI and will usually get back to you within 20 seconds, telling you where your recipes had problems and what you should

[2019-04-09 20:00] ericenns opened #14406 "Quasitools 0.6.0 build failing in Master"
quasitools uses click and #14401 passed for testing but after merging into master it failed to build for linux.

[2019-04-09 20:03] ericenns commented on #14406
@bioconda-bot hello

[2019-04-09 20:03] ericenns commented on #14406
@bioconda-bot rebuild 6772c3a

[2019-04-09 20:08] ericenns commented on #14406
@BiocondaBot rebuild 6772c3a

[2019-04-09 20:08] ericenns commented on #14406
@BiocondaBot hello

[2019-04-09 20:09] ericenns commented on #14406
@BiocondaBot rebuild

[2019-04-09 20:10] ericenns commented on #14406
@bgruening would you be able to trigger a rebuild for 6772c3a

[2019-04-09 20:21] bgruening commented on #14406
I have done so already :)

[2019-04-09 20:24] ericenns commented on #14406
Thanks @bgruening

[2019-04-09 20:25] fenderglass commented on #14384
Ok, it seems I found a workaround - I explicitly put decorator version 4.3 (instead of default 4.4) to the requirements list. Maybe it was a problem with the decorator package or the particular environment combination.

[2019-04-09 20:25] #14384 closed

[2019-04-09 20:26] ericenns commented on #14406
Hmm, it is still failing due to locales and click which I thought was fixed by specified `extended-base: true` in the meta.yml of the recipe.

[2019-04-09 21:16] dpryan79 commented on #14406
@bgruening See the PR I just merged, hopefully that will fix things.

[2019-04-09 21:23] bgruening commented on #14406
https://github.com/bioconda/bioconda-recipes/pull/14409 ;)

[2019-04-09 21:23] bgruening commented on #14406
Let's see :)

[2019-04-09 21:24] dpryan79 commented on #14406
Great minds think alike :)

[2019-04-09 21:31] dpryan79 commented on #14406
Looks like that worked.

[2019-04-09 21:31] #14406 closed

[2019-04-09 21:56] dpryan79 commented on #13964
N.B., recipes can be deleted once migrated to conda-forge.

[2019-04-10 08:09] jenzopr commented on #13846
Weird. On Conda `4.5.13`, it seems that `bioconductor-genomeinfodbdata` is fully non-functional, but installation does not throw an error:

[code]

A `conda list` reveals:

[code]

but directory listing of `~/.conda/envs/r-test/lib/R/library` gives:
[code]

[2019-04-10 08:44] parlar commented on #13846
Strangely, installation of bioconda::bioconductor-genomeinfodbdata-1.2.0-r351_0 works fine on Ubuntu 18.04 but not on Centos 7.6 where I need it.

As suggested in the previous issue, I have locked wget=1.19.4. Data does get downloaded but then it fails anyway.

Error msg says: ```location of failed script: /usr/local/share/bcbio/anaconda/envs/test-wget/bin/.bioconductor-genomeinfodbdata-post-link.

[2019-04-10 08:47] bsipos commented on #1
Hi all! I would like to joint the team.
Thanks!

[2019-04-10 08:52] jenzopr commented on #13846
Pinning wget fixed my issue with `4.5.13`.

[2019-04-10 08:56] #1 closed

[2019-04-10 09:04] dpryan79 commented on #1
Welcome @bsipos!

[2019-04-10 09:11] sjanssen2 commented on #1
I would like to join the team and contribute too. Thank you!

[2019-04-10 09:16] dpryan79 commented on #1
@sjanssen2 We literally just changed our policy (I merged the change just after the request from Botond) such that we prefer people ping `@bioconda/core` when they make a PR. We can add you then (the main reason being so we can interact during your first PR to the project). So please just ping us when you make your next PR and we'll get you added then :)

[2019-04-10 09:25] sjanssen2 commented on #1
Hi @dpryan79 I am confused ;-) I wanted to become a member to draw your attention to my open PR #14233 Shall I just tag @bioconda/core in there? Do I have to make a new PR?

[2019-04-10 09:27] dpryan79 commented on #1
@sjanssen2 Perfect! Just tag us there.

[2019-04-10 11:04] dariober opened #14421 "Recipe fails with: package ‘GenomeInfoDb’ could not be loaded"
Hi- I updated the recipe of [cnv_facets](https://github.com/bioconda/bioconda-recipes/blob/cnv_facets/recipes/cnv_facets/meta.yaml) to use the latest release.

The build fails with `Error: package ‘GenomeInfoDb’ could not be loaded` (see https://circleci.com/gh/bioconda/bioconda-recipes/50637) even if GenomeInfoDb is listed among the packages to be installed and previous versions of this recipe wo

[2019-04-10 11:50] parlar commented on #13846
Did not fix it for me.

Downgraded to ```conda=4.5.13 wget=1.19.4``` ,  ran ```./conda clean -a```.

Then tried to install bioconductor-genomeinfodbdata using:

```./conda install -c bioconda bioconductor-genomeinfodbdata conda=4.5.13 wget=1.19.4```

But it fails with the usual error msg:

[code]

I also copied the ```*link.sh``` scripts from the ```pkgs/bioconductor-genomeinfodbdata-1.2.0-r351_0/

[2019-04-10 18:27] marcusjwhelan commented on #13932
I am not using this package just CircleCI and I get this exact same error. I have seen people say its something to do with the url being https and not ssh format.

[2019-04-11 04:44] mictadlo opened #14429 "braker2 missing GeneMark-ET"
Hi @npavlovikj ,
I installed braker2 from bioconda. Additionally, I downloaded GeneMark-ET but when braker2 call it I get an error of missing libraries such YAML.pm.

How is it possible to fix it?

Thank you in advance,

Michal

[2019-04-11 05:26] npavlovikj commented on #14429
@mictadlo , can you please check whether "GeneMark" is using the "perl" installed within the "braker2" environment?
The missing library is part of "perl-yaml", which is part of the "braker2" recipe.
So, I wonder if the perl scripts of "GeneMark" are not using the right perl.
I think those scripts have "`#!/usr/bin/perl`", which uses the system-wide installed perl, and not the one from the environm

[2019-04-11 11:53] HenningTimm commented on #14400
Very cool :) Just to check that I understand this right: I just mention the bot like @bioconda-bot hello and it will perform the actions shown above? When I do so in a branch, it will notice that and only rebuild my branch, correct?

[2019-04-11 12:26] #7987 closed

[2019-04-11 12:30] dpryan79 opened #14433 "dendropy fails installation on OSX"
This is related to https://github.com/bioconda/bioconda-recipes/pull/14233 and I haven't been able to figure out what the problem is. At least versions 4.4.0 and 4.2.0 produce the following errors on OSX (they're fine on Linux):

[code]

For some reason it tries to install dendropy before installing python, which doesn't work. I've built a new dendropy which works fine in CI testing, but still fai

[2019-04-11 12:37] cjw85 commented on #14433
Looks like something similar is happening on this [medaka](https://circleci.com/gh/bioconda/bioconda-recipes/50813?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link) MacOS build.

[2019-04-11 13:04] dpryan79 commented on #14433
@cjw85 Indeed, I'm not sure whether I'm happy that it's more than one package doing this now or not. I find it odd that this stuff works in a PR if I update a recipe, but then the uploaded package fails (in the case of `dendropy` I even removed the tarball that was uploaded by circleci and replaced it with the seemingly working one from my initial PR, to no effect).

[2019-04-11 16:18] cjw85 commented on #14433
It's always comforting to know others are in the same boat I guess. I presume something has changed in CI recently to have caused this?

[2019-04-11 20:40] thermokarst commented on #13776
@epruesse, I built an env:

[code]

Then, ran:

[code]

Which returned nothing. For fun:

[code]

returns

[code]

[2019-04-11 21:08] epruesse commented on #13776
That's looking good. The problem I had observed was a lib (that is not by necessity system provided) pulled in from `/usr/lib`, instead of coming through the conda env.

[2019-04-12 16:44] Buuntu opened #14455 "Package not found (progressiveMauve or Mauve)"
Is this package not available on Mac OS X?  I find it hard to believe since it's a very common aligner, i but I can't even find it with `conda search mauve`.  It works fine on a Linux machine.

[2019-04-13 10:35] bernt-matthias opened #14466 "Trinity: need to remove `@` from paths in perl script"
Happens within Galaxy which uses the @ character in the environment names.

Error is:

[code]

Had the same problem in the stacks2 wrapper. For variables setting path to binaries that are on the PATH anyway the solution is to set them to an empty string.

For the others (like paths to jar files), a fix might involve using some `pwd` magic.

[2019-04-13 22:17] npavlovikj commented on #14455
"mauve" is not available for OSX. Looks like some of the dependencies for "mauvealigner", "libmems" and "libgenome" are not available for OSX, and therefore the whole package is not. I don't know why these 2 packages are not built for OSX, but you can check and see if it is feasible to have them here.

[2019-04-14 08:27] bgruening commented on #14320
Is one of the old hdf5 or julia packages is maybe not rebuild against newer openssl. This will then force an older, but less strict, and therefore compatible with openssl, version of the metalist?

[2019-04-14 08:42] dpryan79 commented on #14320
Good point, the updated hdf5 pinning is for a ~2 year old version, so that will likely cause issues.

[2019-04-15 04:28] epruesse commented on #14400
Yes, when you @Mention it from a PR, @BiocondaBot will know which issue you want it to work on. You can also talk to it via Gitter, but in that case must add the PR number (`@BiocondaBot rebuild #123`) and should be careful to get the right number, lest you mess with someone else's PR.

It's not very smart - you have to put the @Mention at the beginning of a line and use the exact command word. I

[2019-04-15 07:55] bgruening commented on #13751
I hope https://github.com/bioconda/bioconda-recipes/pull/14473 will fix this. All new containers will have ps installed.

Please reopen if this is not the case.

[2019-04-15 07:55] #13751 closed

[2019-04-16 02:58] skurscheid opened #14482 "git not found in local circleci build"
I am seeing the same issues described in #13932 ...

Local testing with circleci (installed via snap) fails. For testing purposed I have setup a clean Ubuntu 16.04 VM, installed git and docker (via snap), forked bioconda-recipes and created a branch in my fork

Error message from circleci build:
[code]

But git is present in docker image:
[code]

However the binary is not where the circleci script

[2019-04-16 03:04] skurscheid commented on #13932
@marcusjwhelan

I don't think that's the issue as I am using ssh in my repository URL - seems more like a PATH issue in the docker image/circelci script. But I am only scraping the surface of the whole process...

[2019-04-16 07:10] dpryan79 commented on #13846
Xref #14421 And I'll add that we just ran into this in our pipelines. I start working on this today.

[2019-04-16 07:11] dpryan79 commented on #14421
We can probably merge this issue in with #13846.

[2019-04-16 07:32] dpryan79 commented on #14421
@dariober What OS are you using? If Linux, which distribution and version?

[2019-04-16 08:36] dariober commented on #14421
Hi @dpryan79 - I'm working on a Ubuntu 18.04 workstation but I don't see why it should matter since the issue I report here fails on circleci while building the recipe (as per log https://circleci.com/gh/bioconda/bioconda-recipes/50637).

P.S. I may open a separate issue for this. For now, worked around the problem with GenomeInfoDB by installing it in the `build.sh` script via bioconductor. Howev

[2019-04-16 08:48] dpryan79 commented on #14421
In the other thread this was mentioned to be a bit OS dependent. Just bump the build number in `snp-pileup`, it needs the new pinnings.

BTW, please don't merge you `cnv_facets` branch in without stripping the changes to genomeinfodb. We're trying to keep data packages out of the tarballs to not blow up our space usage.

[2019-04-16 09:57] dpryan79 commented on #13846
Hmm, this works for me for some reason. Can those of you still experiencing this please try again after doing the following?

 - Find and remove all environments with `bioconductor-genomeinfodb` and `bioconductor-genomeinfodbdata`
 - Run `conda clean -all`
 - Create a new env with `bioconductor-genomeinfodb`

[2019-04-16 10:26] dariober commented on #14421
Apologies this is off-topic for this issue... I bumped the build version of `snp-pileup` as suggested by @dpryan79 . But now the recipe for `snp-pileup fails` with

[code]
(see https://circleci.com/gh/bioconda/bioconda-recipes/51166) even if the [meta.yaml](https://github.com/bioconda/bioconda-recipes/blob/371146765a9c7f38b1fce765721ae300f79b0cf3/recipes/snp-pileup/meta.yaml) for `snp-pileup` spec

[2019-04-16 10:29] achimmiri opened #14486 "Persistant problems with hap.py installation // Tried Miniconda, docker and wget too"
[code]

with docker

[code]

[2019-04-16 12:31] dpryan79 commented on #14421
See https://github.com/bioconda/bioconda-recipes/pull/14487

[2019-04-16 16:09] pdroslva84 commented on #13562
I had the same issue, the problem for me turned out to be that the `taxonomy.dat.gz` file in the `Libraries/` folder was not uncompressed. The configure script is supposed to do that but apparently it didn't...

What worked for me was going into the `Libraries/` folder and manually uncompress the file: `gunzip -f taxonomy.dat.gz`

[2019-04-16 18:18] johanneskoester commented on #13832
@msarahan any update in the CDN migration?

[2019-04-16 18:46] msarahan commented on #13832
It's on our sprint for this week, but unfortunately it looks like it probably won't happen this week.  We'll keep trying to get to it.

[2019-04-16 18:50] dpryan79 commented on #13832
Let us know if there's anything we can do on our end to facilitate things.

[2019-04-16 19:03] msarahan commented on #13832
Will do.  Sadly, it's mostly just a case of being pulled in too many directions at once.  This is a priority, though, because it will definitely help anaconda.org have less errors.

[2019-04-16 23:52] rspreafico commented on #13751
Thanks guys!

[2019-04-17 08:40] dpryan79 commented on #14486
These look like issues with `hap.py` itself, please report it to its authors.

[2019-04-17 15:57] dfornika commented on #14320
I'm a bit confused. Is there anything I can do on the `mentalist` recipe to ensure that `conda install mentalist=0.1.9` pulls in `julia-0.5.2`?

[2019-04-17 21:21] epruesse commented on #13932
Can you guys double check if this is current?

I think this is just an outdated docker image. `circleci build` seems to not check that it's the most current `latest` image, and we must have had some that were simply missing the `git` binary. The `latest` tag doesn't point to a specific build, but to the most recent image, and as much as it pains to admit it, those have been broken occasionally in

[2019-04-17 22:35] epruesse commented on #13776
This issue was resolved by the great work of @ebolyen and @thermokarst tracking down the root issue to compiler flags not set by the version of TBB that is included (vendored) in `r-rcppparallel`. It's been fixed as of `4.4.1 build 1001` and included in `4.4.2` as well.

New installs should get the fixed versions. We might want to pin this in the affected packages (`biconductor-dada2`, `bioconduct

[2019-04-18 00:40] skurscheid commented on #14482
@dpryan79 thanks for getting back. I have tried the local test as described in the "contributing" instructions:

[code]

It does not seem to be linked to the actual recipe, but rather my local installation. As I mentioned in the OP, this is on a clean VM, with miniconda3 and git installed by me... From my perspective it seems to be linked to docker, but docker itself runs:

[code]

[2019-04-18 02:05] KseniaErshova commented on #7950
This is what helped me:
`sudo chown -R user anaconda3`

[2019-04-18 06:53] maarten-k commented on #13932
@epruesse  The error still happens.  I did pull the docker container on semi-daily last 2 weeks and happened every time. Also in a fresh spin in an ubuntu 18.04 VM did not solve the problem (followed https://bioconda.github.io/contributing.html)

latest: Pulling from bioconda/bioconda-utils-build-env
Digest: sha256:359113e96c2c6b85583c04c0b4f0b084019677ba2a1c9d48bc15e467ba2f9964
Status: Image is u

[2019-04-18 08:19] dpryan79 commented on #14482
You'll need to unset any `CONDA_*` environment variables. I'll make a PR on bioconda-utils to hopefully resolve that.

[2019-04-18 08:30] dpryan79 commented on #14320
Our guess at this point is that the pinning to hdf5 would need to be updated.

[2019-04-18 15:45] epruesse commented on #13932
Closing in favor of  https://github.com/bioconda/bioconda-utils/issues/503 and https://github.com/bioconda/bioconda-utils/issues/505

[2019-04-18 15:45] #13932 closed

[2019-04-19 01:08] minglwu427 opened #14521 "Blastn can't find libpcre.so.1"
I am running a script that uses the bioconda blast package.  However, when I was running it, it gave me an error

/home/user/anaconda3/pkgs/blast-2.7.1-h4422958_6/bin/blastn: error while loading shared libraries: libpcre.so.1: cannot open shared object file: No such file or directory

However, libpcre.so.1 is in my anaconda3 library.  (But not in the blast pkgs library)  Does anyone know how to fi

[2019-04-19 13:41] nathanweeks commented on #11583
Another place where we have encountered issues with busybox-base-imaged biocontainers breaking singularity is that the /var/tmp -> /tmp symlink causes issues when "mount tmp = yes" in singularity.conf; specifically, the host /tmp is mounted at container /tmp, then the host /var/tmp ends up being mounted over the container /tmp... So both the container /tmp *and* /var/tmp are host /var/tmp. Things

[2019-04-19 14:16] bgruening commented on #11583
It tried this one year ago and it broke so many workflows from users. But I should probably try now again. The problem is glibc or the variants. I see that there is now a proper glibc variant, I will give this a try.

[2019-04-19 14:18] vsoch commented on #11583
You could try doing a PR to update the base image first [here](https://github.com/BioContainers/containers/tree/master/biocontainers) (or better, create a new tag and preserve the older one) and then the container [here](https://github.com/BioContainers/containers/blob/master/samtools/1.7.0/Dockerfile) can be rebuilt.

I can't really tell which is the correct base image (the tags don't line up) bu

[2019-04-19 14:52] bgruening commented on #11583
@vsoch these are not the base images for the automatically created containers. For this we used a busybox image with a static compiled bash - to please some workflow engines.

@nathanweeks I created a new version here. Would be great if you can test this image:
https://cloud.docker.com/repository/docker/bgruening/busybox-bash/tags

But this was the easy part, testing a sufficient amount of package

[2019-04-19 15:03] vsoch commented on #11583
@bgruening can you make the base recipes available to the users so they know what they are dealing with?

[2019-04-19 15:05] bgruening commented on #11583
They are here: https://github.com/bgruening/docker-busybox-bash

[2019-04-19 15:09] vsoch commented on #11583
cool thanks! And it looks like you have an updated image to test. Is there a way (in the future) for the user to be able to find this repo (or will it eventually be in the biocontainers repo?)

[2019-04-19 15:14] nathanweeks commented on #11583
@bgruening : is it the `mulled-build` described in the [Bioconda Build system](https://bioconda.github.io/build-system.html) docs? Otherwise, if you could link to some documentation (including on how to change the base image), I could probably figure it out & test at least a few (but sufficiently complicated) recipes I'm interested in.

[2019-04-19 15:23] bgruening commented on #11583
@vsoch is it not linked on the dockerhub page? We should add it to some documentation if not.

@nathanweeks yes exactly. That should still work I hope: https://galaxy-lib.readthedocs.io/en/latest/topics/mulled.html?highlight=mulled#building-docker-containers-for-local-conda-packages

You should be able to specify the base image via command line args. If not this should get you started: https://git

[2019-04-19 15:45] vsoch commented on #11583
Omg it's easter!! :D I totally forgot. I'm going to paint some tiny avocados like eggs this weekend :)

Happy Easter!

[2019-04-19 18:17] #14421 closed

[2019-04-19 23:19] molpopgen opened #14528 "linux build didn't show up after version bump"
I bumped a recipe recently via [this PR](https://github.com/bioconda/bioconda-recipes/pull/14496)

All checks passed.  The OS build is available, but the linux build is not, meaning that `conda search -c bioconda fwdpy11` doesn't show it.

Any ideas on how to debug this?

[2019-04-22 01:57] huidongchen opened #14550 "ImportError: libgfortran.so.3: cannot open shared object file: No such file or directory"
Hi,

I'm trying to update our package 'stream' (#14549)

In this new update, we didn't introduce any new dependency packages. But somehow the conda recipe building failed with the error

`ImportError: libgfortran.so.3: cannot open shared object file: No such file or directory`

I researched online but still have no clue how to resolve it. I would really appreciate your help. Many thanks!

Huidong

[2019-04-22 03:48] mhebrard opened #14551 "rMATS 4.x.x paired analysis"
As discussed with @dpryan79 on gitter,
rMATS v4 do not integrate paired analysis anymore.
from [google groups](https://groups.google.com/forum/#!searchin/rmats-user-group/Paired$20analysis%7Csort:date/rmats-user-group/RHMTycLmDEY/Fc3OWfn3BQAJ) :

could we integrate the .py scripts ? particularly
* rMATS_paired.py
* FDR.py

then:
* from the raw inputs files we can add the Pvalue
[code]
* from the f

[2019-04-22 03:57] chenshixuan opened #14552 "RaconWrapper::run] processing data with racon [RaconWrapper::run] error: unable to run racon!"

[2019-04-22 06:23] #14552 closed

[2019-04-22 12:28] bgruening commented on #14550
It seems that rpy2 needs to be rebuild or updated on conda-forge.

[2019-04-22 12:47] huidongchen commented on #14550
Thanks for your reply. We are kind of rushing to get the update done. Is there anything I can do on my end?

[2019-04-22 20:48] #4980 closed

[2019-04-22 21:11] nathanweeks commented on #11583
@bgruening : When attempting to build a container image for a bioconda package that requires perl (maker), the following error was emitted during the mulled-build stage:
[code]
Possibly related?: https://github.com/docker-library/busybox/issues/46

[2019-04-23 07:26] alienzj commented on #9968
@SilasK Hello, thanks very much for the das_tool recipe.
Could you update numpy version in the das_tool's meta.yaml?

[2019-04-23 07:41] SilasK commented on #9968
Because the version in DASTool recipe is too old. Which version do you suggest?

[2019-04-23 08:04] alienzj commented on #9968
numpy >= 1.16.1

[2019-04-23 08:28] bgruening commented on #13846
@dpryan79 we see it on travis as well. https://github.com/bgruening/galaxytools/pull/857
This should be a clean environment.

[2019-04-23 08:34] dpryan79 commented on #13846
Yeah, since this is happening in the mulled test too it’s definitely an innate issue. I wish it were easier to reproduce locally.

Sent from my iPhone

[2019-04-23 09:39] servalli opened #14613 "Phyml: Core dumped shortly after starting a job - Ubuntu 16.04"
I installed Phyml and its dependencies from bioconda (on Ubuntu 16.04.4)
A help message is succesfully printed. However, when I start a job, phyml crashes shortly after printing the information about the alignment. I was able to build a tree from a same alignment using <s>also a bioconda installation</s> an installation built from source downloaded here https://github.com/stephaneguindon/phyml/rel

[2019-04-23 13:04] #6909 closed

[2019-04-23 14:04] nathanweeks commented on #11583
FWIW, I tried alpine:3.9.3 + libc6-dev, and while it has libdl.so.2, it's missing a number of glibc-related symbols:
[code]

[2019-04-23 14:40] bgruening commented on #11583
Oh fun, this reminds me on my tries from last year :(

[2019-04-23 15:01] bernt-matthias commented on #13846
Had the same problem with the dada2 package. Upgrading to conda-4.6.14, cleaning everything and reinstalling solved it for me.

[2019-04-23 15:09] PertuyF commented on #14613
Can you setup your conda channels [as recommended](https://bioconda.github.io/#set-up-channels), then recreate your environment and try again?

[2019-04-23 15:40] PertuyF commented on #9968
Saw this and just started a PR. Feel free to participate if required @SilasK.

[2019-04-23 15:45] epruesse commented on #14613
Can you try running this in `gdb`, to get a little closer to the instruction?

[code]

How old is the CPU you are running on? (look at `/proc/cpuinfo`)

[2019-04-23 15:58] epruesse commented on #14613
@stephaneguindon - do you prefer looking into this here or on the issue in your repo?

It's probably not the version of Ubuntu. It might be that the older box has a CPU that is older than we support though. The issue is that each generation has gotten a little bit better at SSE (think of it as the CPU version of a  multi-channel pipette), with more instructions that can do more things, making it p

[2019-04-23 16:37] servalli commented on #14613
I set the channel order again and then created a fresh environment with
`conda create -n phylo2 -c bioconda phyml`
PhyML keeps crushing.
The resulting package list is
[code]

gdb output:

[code]

my /proc/cpuinfo:
[code]

[2019-04-23 16:49] servalli commented on #14613
PhyML cloned from Github repo proceeds to computation but exits with "Eigenvalues/vectors computation does not converge"
[code]

[2019-04-23 17:49] epruesse commented on #14613
Could be some GCC optimization flags. Wish I had an ivy bridge Xeon at hand to test.

Do you have access to docker on the Ubuntu 16.04 machine?

[2019-04-23 18:29] servalli commented on #14613
I have erroneously reported that installation from bioconda worked on Ubuntu 18.04 machine, however, it turns out that I ran into the same problem before and was actually using a build from latest stable release (downloaded from @stephaneguindon repo).
Sorry for misconception

I have sudo rights on both machines, so I can install docker if necessary

[2019-04-23 20:04] epruesse commented on #14613
So it's not just the Bioconda binary, but the official binaries as well?

[2019-04-23 20:20] servalli commented on #14613
No, I meant the official binary is working correctly on 18.04

[2019-04-23 20:33] epruesse commented on #14613
Ok, so both Bioconda packages are not working, but the local build from git and the official binaries are working. Given the location, it sounds like the compiler flags don't like your Ivy Bridge CPU. Curious.

[2019-04-23 20:38] epruesse commented on #14521
Can you check your channel order?
Try `conda create env -n blast -c bioconda -c conda-forge blast` and check if it works in that environment. You probably got packages from defaults somehow.

Posting the output of `conda list` helps. Having an env like above makes that list shorter.

[2019-04-23 20:42] epruesse commented on #14486
Sorry @achimmiri - this does look like a problem with hap.py. Perhaps if you open an issue over there, someone can help you: https://github.com/Illumina/hap.py/issues

[2019-04-23 20:42] #14486 closed

[2019-04-23 20:45] epruesse commented on #9124
I was thinking to have list like this one on the Docs. Ideas on how to present the data welcome.

[2019-04-23 20:48] epruesse commented on #14528
What's the difference between fwdpy and fwdpy11?

[2019-04-23 20:49] epruesse commented on #14528
Files are here: https://anaconda.org/bioconda/fwdpy11/files

[2019-04-23 20:56] molpopgen commented on #14528
Two different projects.  The first was based on using Cython, but that quickly fell apart as the project grew (and modern C++ support in Cython remained absent).  fwdpy11 uses pybind11 and replaces fwdpy.

[2019-04-23 20:58] molpopgen commented on #14528
Yes, and it shows the problem.  Note that 0.3.2 is missing for Linux, yet the build update passed.

[code]

[2019-04-23 21:47] epruesse commented on #14528
Yes - that's a known problem. It would have gotten picked up if you had given it a few more days. Check the commits for the master branch - that's where you can see if the merge commit failed. If it does fail - no immediate package but a week or so until the nightly picks it up.

Long story short - the Bioconda Core members have only so much time next to teaching, mentoring students, writing grant

[2019-04-23 21:47] #14528 closed

[2019-04-23 21:49] epruesse commented on #13624
Hi @grehl - it's unlikely someone with the time to spare to package something they don't know or use is going to come along here. Perhaps you can try? Or you could write an issue over at hhg7's repo and perhaps convince the upstream author to help you.

[2019-04-23 21:51] epruesse commented on #14466
Is this a Bioconda issue (packaging) or an upstream problem at Trinity (software)?

ping @bgruening - if this is galaxy specific, maybe you know who could help.

[2019-04-24 04:25] molpopgen commented on #14528
Thanks--I hadn't seen it take this long before.  I was ~1 week.

I hear you--I'm in the same boat.  I find the infrastructure quite confusing, especially when things fail.  I'm mostly focusing on getting other genetics colleagues to start contributing here, but it is slow going.

[2019-04-24 08:04] stephaneguindon commented on #14613
This last issue most probably has a different cause from the one you mentioned earlier. It generally has to do with very extreme data sets, e.g., conveying no phylogenetic signal whatsoever. I'm happy to look more into it if you send me the data.

[2019-04-24 08:23] bgruening commented on #11583
@nathanweeks let me know if there is any busybox container which we can use.

[2019-04-24 08:46] stephaneguindon commented on #14613
Any chance a faulty Bioconda binary could be built with -g option and run through valgrind? That would give me a precise idea of where the problem come from.

[2019-04-24 08:47] bernt-matthias commented on #14466
Kind of both: The cause of the problem is that galaxy uses an `@` character in the environment names (`__name@version`).

If perl packages/programs use hard coded paths (e.g. via an install script that uses BIN_DIR as parameter) for dependencies, then the perl interpreter has problems in this case since the @ should be quoted.

One solution is to remove the hard coded paths (which I did for stacks

[2019-04-24 11:41] servalli commented on #14613
I suppose that Bioconda binaries were not built in debug mode; if I run phyml from this installation with valgrind it no longer crashes but proceeds to BioNJ tree normally, so the bug might be pretty difficult to catch.

[2019-04-24 11:55] stephaneguindon commented on #14613
It is possible that the execution does not crash but generates warning messages through valgrind. If you have them handy, I'd like to look at them (not having the line numbers that generate the warnings is not such a big deal).

[2019-04-24 12:42] jenzopr commented on #14400
Nice! What about the autobump feature? How can I set this up for one of my recipes?

[2019-04-24 12:44] servalli commented on #14613
@stephaneguindon, for some reason I cannot view your previous answer here. This is definitely not the same issue, however, I cannot blame it entirely on my data quality as a tree is successfully produced by a locally built installation from the latest stable version on Ubuntu 18.04 machine while an installation built from github clone on 16.04 gives this error, the input alignment is the same. It

[2019-04-24 12:48] servalli commented on #14613
All that is printed on the step when it normally crash if executed without valgrind are these two REDIR messages:
[code]

[2019-04-24 13:02] stephaneguindon commented on #14613
@servalli I've just pushed a fix to the "Eigen value computation" issue. The analysis now should run fine on 16.04 and 18.04 (I suspect that the github clone version would not complete on 18.04 either...).
Still investigating the other issue...

[2019-04-24 14:56] nathanweeks commented on #13883
I'm still seeing this issue with maker 2.31.10--pl526_12, at least when using a Singularity image of the biocontainers version on one of the sample data sets (see below), but I imagine it still affects the conda version as well. The apparent source of the issue is in Bio::DB::IndexedBase, described at:

https://github.com/bioperl/bioperl-live/issues/305

It should be fixed in the next bioperl rele

[2019-04-24 15:34] nathanweeks commented on #11583
@bgruening :

alpine + [alpine-pkg-glibc](https://github.com/sgerrand/alpine-pkg-glibc) might be close enough. I substituted bgruening/busybox-bash:0.2 with an image created from the following Dockerfile, and the result was almost enough to run maker (which failed for [other reasons](https://github.com/bioconda/bioconda-recipes/issues/13883#issuecomment-486277737)):

[code]
The resulting docker im

[2019-04-24 15:52] epruesse commented on #14400
@jenzopr I hear you, and I wish I saw a way to have that work.

Very briefly: the memory and disk space needs for calling the `conda-build` API to determine whether a package needs a pinning bump are beyond what we can run on our frugal little AWS instance. We'd need a 16GB box with 50GB disk to run that, and would look at $100+ per month, which we don't currently have funding for. Getting the req

[2019-04-24 17:03] epruesse commented on #14466
So basically, you are saying that `Trinity`'s perl code breaks if Trinity is installed into a directory that has an `@` in it? That sounds like something that needs to be fixed in Trinity. Galaxy is doing something unusual, but nothing wrong. Neither is Conda when it rewrites the paths. How does the proper Perl Quoting look like? It might be something to add to `conda` - rewrite the strings with c

[2019-04-24 17:12] astrovsky01 opened #14653 "Can't push to branch to request pr"
I'm trying to add in a tool file via a fork I made, but I'm getting the error:

remote: Permission to bioconda/bioconda-recipes.git denied to astrovsky01.
fatal: unable to access 'https://github.com/bioconda/bioconda-recipes.git/': The requested URL returned error: 403

[2019-04-24 20:08] stephaneguindon commented on #14613
I've tried the latest stable release and the cloned version on 16.04, with and without valgrind. Both of them seem to work fine (didn't get any message from valgrind...). I'm not sure whether the Ivy Bridge CPU should be incriminated since a local build from git gives a binary that runs well on this CPU. Is Bioconda  doing something unconventional compilation-wise?

[2019-04-24 20:38] epruesse commented on #14613
Yes and no. Bioconda and Conda-Forge use the compilers and flags that Anaconda provides. Pragmatically, installing `gcc_linux-64` or `gxx_linux-64` gives you the same compiler like so:

[code]

That's a bunch of options, but nothing really unusual as distros go. It looks very similar to what Debian/Redhat like to use. Bit of safety, bit of trying to keep binaries smaller, a compromise in target CP

[2019-04-24 20:42] epruesse commented on #14613
Ouch. I think I'm not building with `--disable-native`.

[2019-04-24 20:49] epruesse commented on #14613
Reading your `configure.ac`, I probably need to override CFLAGS completely. Most `autotools` built things just add to `CFLAGS` and friends, so the things that are set in the environment are picked up automatically. Guess I should have read it rather than assume stuff...

[2019-04-24 20:56] epruesse commented on #14613
See https://github.com/bioconda/bioconda-recipes/pull/14675

[2019-04-24 21:09] epruesse commented on #14653
This looks like you are trying to  `push` directly to `bioconda/bioconda-recipes`, not your fork, and probably to the master branch. You need to push to your own fork. Perhaps just doing `git push origin` works. It depends how you named your remotes.

Look around for tutorials on the whole fork/PR process on Github. Once you are set up, it's trivial. But the first bit is tough. Here is one of the

[2019-04-24 21:09] #14653 closed

[2019-04-24 21:15] epruesse commented on #14331
Hard to read the long lines here. Which files are clobbered?

Not sure what we can do about it... I was waiting for something like this, because there is no "registry" for file names used by multiple packages and collisions are bound to happen.

[2019-04-24 21:16] epruesse commented on #10614
T-coffee also installs blast and blast-legacy, which clobber each other's files. See #14331

[2019-04-24 21:21] epruesse commented on #14613
@servalli We have a new build that hopefully fixes the problem.

[2019-04-24 23:24] alienzj commented on #9968
@PertuyF Thanks very much!

[2019-04-25 07:55] #9968 closed

[2019-04-25 08:09] jenzopr commented on #14400
Hey Elmar,
your remarks are understandable and I can imagine that running the autobump requires a lot of CPU time. We'll push the updates ourselves, that's not a big deal.

Concerning your cry for help: Let me see what I can do. I guess it's not about one or two persons stepping in, but the community as a whole has to be either more active (which means, in my limited words, to manually pick up a P

[2019-04-25 10:03] servalli commented on #14613
The new build no longer crashes. Thank you for the quick response!

[2019-04-25 10:03] #14613 closed

[2019-04-25 10:34] steffengraber opened #14709 "More recent NEST package on conda-forge"
For the bioconda package NEST https://github.com/bioconda/bioconda-recipes/tree/master/recipes/nest there is a more recent package on conda-forge https://github.com/conda-forge/nest-simulator-feedstock/.
The NEST developers have decided to focus on the development of the conda-forge package (https://github.com/nest/nest-simulator/issues/1077).
Is there the possibility to delete the bioconda packag

[2019-04-25 11:17] bernt-matthias commented on #14466
I'm no perl expert, but `\@` should do the trick.

[2019-04-25 16:53] epruesse commented on #14400
@jenzopr - Would you consider working on the docs for this? You can PM me with questions on gitter. You can run `bioconda-utils autobump` locally to update your own packages.

And yes, helping with the generated PRs means exactly that. Usually, what I do is
- Check if it's the lint. If so, see if I can fix that.
- Check if it's failing on the CI. Look at the log and get the error. Very often, it's

[2019-04-25 16:58] epruesse commented on #14613
Thank you for your help @servalli! This bug had been in Bioconda for quite a while. We need people like you to create tickets when stuff like this happens and stick around helping to debug and eventually confirm that it's working!

[2019-04-25 17:04] epruesse commented on #14466
@msarahan Can you pitch in with suggestions here?

From `bin/Trinity`:
[code]

So installing into an env with `$` or `@` in it breaks the script during path rewriting.

Do you have code handling this for bash? Is there a chance to add code to `conda` to escape the `@` for perl files?

[2019-04-25 18:15] msarahan commented on #14466
no, I don't think we have anything for that currently.  A PR to add it would be welcome.

[2019-04-25 18:52] astrovsky01 opened #14721 "Tensorflow reference error"
When trying to import and use tensorflow for a package I'm working on, I'm getting the error

"ImportError: /lib64/libc.so.6: version `GLIBC_2.16' not found (required by /opt/conda/conda-bld/scvis_1556216719029/_test_env_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold

[2019-04-25 18:55] kyleabeauchamp commented on #14721
This is a known issue, the tensorflow conda-forge package is built directly from the pip wheels, which do not support old versions of linux.  See the discussion in https://github.com/bioconda/bioconda-recipes/pull/14499; I believe the workaround might be use tensorflow installed from the "defaults" channel temporarily.

[2019-04-25 19:00] epruesse commented on #14466
Quick pointer where it would have to go? (term that can be `grep`ped suffices)

[2019-04-25 19:10] astrovsky01 commented on #14721
I changed from tensorflow >=1.1 to just tensorflow, but it made no difference...

[2019-04-25 19:14] epruesse commented on #14466
@bernt-matthias For the time being, can you come up with a patch for Trinity? Using `'` instead of `"` should suffice for the variables in question. A PR against `conda` would fix this for good, but take quite a while until it has arrived at everyone's desks.

[2019-04-25 19:18] epruesse commented on #14466
(Or use `q[text]` or `q{text}` or `q(text)` instead. Perl has a veritable arsenal of ways to write a string constant)

[2019-04-25 19:22] astrovsky01 commented on #14721
That didn't seem to work either. How do I change to force the default tensorflow if not

requirements:
    run:
        - tensorflow
?

[2019-04-25 19:49] epruesse commented on #14466
I've created an issue for now (https://github.com/conda/conda/issues/8601), adding to the nearly 1k open ones over there.

[2019-04-25 20:08] dpryan79 commented on #14721
You'll have to add a skip-lint (https://github.com/bioconda/bioconda-recipes/pull/14499/files#diff-44fc88eb24d85efd0c798a9a40dd5300R53 ) and remove testing (just add the last 4 lines).

[2019-04-25 20:09] EricR86 opened #14724 "ucsc-bigwigtobedgraph cannot find openssl package libraries"
Hello,

I've recently discovered that the latest `ucsc-bigwigtobedgraph` package seems to be erroneously built. Here's the current output from a conda environment containing Python 3.7 and bigWigToBedGraph (`$ conda create -n bigWigTest python=3.7 ucsc-bigwigtobedgraph`):
[code]
Running ldd on the binary:
[code]
Notably it can't find libssl or libcrypto both of which are provided by the openssl pa

[2019-04-25 20:53] astrovsky01 commented on #14721
@dpryan79 I tried added it and upped the tensorflow version to at least 1.12, but it still won't work for me... Thanks though.

[2019-04-25 21:21] astrovsky01 commented on #14721
@dpryan79 the removal of the tests worked. Thank you! Now on to the next error!

[2019-04-25 22:57] dpryan79 commented on #14724
Odd, I thought we updated that package for the openssl change. I'll do that real quick since apparently it got missed.

[2019-04-26 03:26] #14721 closed

[2019-04-26 11:41] bernt-matthias commented on #14466
done https://github.com/bioconda/bioconda-recipes/pull/14741

[2019-04-26 13:24] SchwarzMarek commented on #14331
The files are:
[code]
I'm not sure either. I thing that in this case it is OK to ignore, but I can imagine scenarios where it might lead to major trouble.

Maybe check colliding files hashes as a first thought?

[2019-04-26 13:28] astrovsky01 opened #14746 "Package passed build, unable to include tests due to known tensorflow error"
@bioconda/core I am trying to pull request the scvis package I wrapped, but due to the currently known issues regarding tensorflow with Bioconda's tests, I had to eliminate the test cases for the package as referenced in issue #14499. They were all passed when building through conda.

[2019-04-26 14:54] bgruening commented on #14709
Hi @steffengraber! Please just create a PR to remove the recipe.

Thanks!

[2019-04-26 15:10] #14724 closed

[2019-04-26 15:10] EricR86 commented on #14724
Verified the new build works fine

[2019-04-26 15:20] bgruening commented on #14709
Fixed with https://github.com/bioconda/bioconda-recipes/pull/14750

[2019-04-26 15:20] #14709 closed

[2019-04-26 18:48] epruesse commented on #14331
The way it's handled is up to `conda`, nothing we can do about it. Not sure what hashes would do though. If you mean not to warn if the files are identical, sure, that might occasionally help, but very often will not. I'm also pretty sure that if you `conda remove` one of the packages, the files will just get deleted. There is probably already an issue on this over at conda/conda - might want to a

[2019-04-26 19:39] druvus opened #14758 "Multiple recipes for bcbio-gff"
It seems that bcbio-gff got added both as bcbiogff and bcbio-gff. The pypi name is bcbio-gff so I suggest we keep using that and get rid of bcbiogff even if it was added first.

The following recipes would need to be rebuilt before removing bcbiogff:

- python-chado
- peakachu
- antismash
- oncotator
- desman
- augur

[2019-04-26 21:38] druvus commented on #14758
Updating augur in #14759

[2019-04-27 09:56] bgruening commented on #13846
I can confirm, if you update the conda version it seems to work.

Please reopen, if this is still an issue.

[2019-04-27 09:56] #13846 closed

[2019-04-27 10:01] dpryan79 commented on #13846
Interesting, so this is a conda version thing? How weird. That suggests that we just need to finish updating conda in the mulled container, since we have PRs breaking due to this.

[2019-04-27 11:28] bernt-matthias commented on #13846
Question for the Galaxy users: is it safe to update conda for a galaxy installation?

[2019-04-27 22:09] npavlovikj commented on #14758
@druvus , "oncotator" is pinned to `bcbiogff ==0.6.2`, https://github.com/broadinstitute/oncotator/blob/develop/setup.py. Since "bcbio-gff" only has version 0.6.6, is the plan to rename the older "bcbiogff" packages to "bcbio-gff" as well?

[2019-04-27 22:29] dpryan79 commented on #13846
@bernt-matthias I upgraded the conda used by our Galaxy instance, but that was quite a while ago (I think it was the transition from the shorter to longer conda prefix). A good question becomes whether Galaxy handles conda 4.6 properly, since the `conda` executable itself has moved from `$PREFIX/bin`.

@erasche What conda version is galaxy.eu using, or are you purely on docker/singularity containe

[2019-04-28 10:56] nsoranzo commented on #13846
Galaxy works fine with 4.6 , conda path is derived from `conda_exec` or `conda_prefix` as defined in `config/galaxy.yml` , not from within the environment.

[2019-04-28 18:55] bgruening commented on #11583
@nathanweeks I push 0.3 which is doing a very similar thing than what you mentioned, indeed this is what miniconda is now switching to as well. Maybe we can give the 0.3 a try ...?

[2019-04-28 22:43] npavlovikj commented on #13624
@grehl , we have a conda package for "defiant" on our local HPC conda channel. I haven't used the package myself, but I can port the recipe here and you can give it a try.

[2019-04-29 12:58] #14746 closed

[2019-04-29 13:10] parlar commented on #14341
Any news on expansionhunter?

[2019-04-29 13:15] dpryan79 commented on #14341
@parlar I'm not aware of anyone trying to removing it from the blacklist, so no.

[2019-04-29 13:19] parlar opened #14970 "expansionhunter v.3.0.0"
I'm opening a new issue on ExpansionHunter 3.0.0 since it was previously closed without the issue being resolved.  With reference to: https://github.com/bioconda/bioconda-recipes/issues/14341

Apparently expansionhunter is on a build-fail-blacklist. I'm having issues building ExpansionHunter 3.0.0 manually using conda dependencies. Perhaps it fails in the conda build process for the same reasons?

[2019-04-29 13:21] Jiceh3 commented on #7950
Oui moi aussi ça m'a aidé. C'est le code qui donne la permission à l'utilisateur user sur le répertoire anaconda3
il faut remplacer user par le nom d'utilisateur.

[2019-04-29 13:21] micknudsen commented on #14341
@parlar I tried removing it, but it then failed for other reasons I didn't fully understand, so I gave up on my PR.

[2019-04-29 15:17] aschuerch opened #14975 "minced recipe update breaks prokka?"
With prokka=1.13.3, I get the error
[14:42:16] Looking for 'minced' - found /home/travis/build/aschuerch/bactofidia/.snakemake/conda/27a7b7f2/bin/minced
Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.UnsupportedClassVersionError: minced has been compiled by a more recent version of the Java Runtime (class file version 55.0), this

[2019-04-29 15:37] epruesse commented on #14975
It would be great if you could have a look at this!

I have no experience with Prokka or Minced. Just reading the error message it sounds like java needs to be pinned for packages providing JNI binaries, and you have one there that didn’t pin.

--
message sent from mobile device

[2019-04-29 18:28] parlar commented on #14341
Okay. I've never made a conda package but I could at least try to figure out whats wrong. Am I allowed to modify the existing package? Or do I need to release a new one under my own user?

[2019-04-29 18:32] micknudsen commented on #14341
@parlar You cannot modify the existing package directly. What you'll have to do is make a fork of `bioconda-recipes`, create a new branch, make your suggested changes, and then submit a pull request.

See also https://bioconda.github.io/contribute-a-recipe.html

[2019-04-29 18:35] parlar commented on #14341
Okay, I'll give it a go. There is a first time for everything. It's about time I do something useful, for a change.

[2019-04-29 20:15] npavlovikj opened #14980 "Request to move RGT to different channel"
@bioconda/core , I don't feel competent to decide on the request here, https://github.com/CostaLab/reg-gen/issues/92, so I would really appreciate if you can comment on it. I tried tagging you there, but it looks like I can not do that.

Many thanks in advance!

[2019-04-29 20:21] dpryan79 commented on #14980
I've left a reply there, thanks. They're obviously welcome to copy anything from here they want, but we don't have a reason to remove the package from bioconda.

[2019-04-29 20:37] npavlovikj commented on #14980
Thanks for chipping in Devon! The license is GPL, so I thought that might be the case.

[2019-04-29 23:48] epruesse commented on #6107
I had to rename `arb` to `arb-bio` so that it would not conflict with `libarb`. Annoying because `arb` does get called `arb` name in Debian/Ubuntu...

[2019-04-30 01:07] epruesse commented on #14341
Well, none of us do that. We modify the recipe that says how the recipe should be built. Since that usually doesn't work out the first time, we all do that in PRs. The build system sees the PR and tries to build the recipe for which you are proposing a change. If it succeeds, PR can get merged and the package is uploaded.

[2019-04-30 05:54] aschuerch commented on #14975
I'll give it a try!

[2019-04-30 07:55] parlar commented on #14970
never made a conda package before but I'll give it a try.

[2019-04-30 09:11] olavurmortensen opened #14986 "Execution of Picard cmdline tool with Bioconda differs from usual usage"
When you download Picard directly from the Broad Institute website, you get a `picard.jar` file. In the Picard [package from bioconda](https://anaconda.org/bioconda/picard), it uses an [execution script](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/picard/picard.sh), that parses the inputs and passes them to `picard.jar`. I can't find any documentation on this execution script,

[2019-04-30 09:58] olavurmortensen commented on #14986
I see now that it is common practice to do this in Bioconda, for example with [snpEff](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/snpeff/snpeff.sh). Would be great to have a little documentation.

[2019-04-30 16:59] npavlovikj commented on #14986
It is common practice to add "bash" or "python" wrapper scripts if the tools are called with `java -jar`. Please see https://bioconda.github.io/guidelines.html#java for more information. The wrapper is usually standard, and makes things much easier and cleaner.
If you are not sure how to run a specific tool, you can always check the recipe.

[2019-04-30 18:41] innovate-invent opened #14995 "Update mauve to snapshot"
@jamesabbott Can the mauve package be updated to the recommended snapshot?

http://darlinglab.org/mauve/download.html

[2019-04-30 18:47] innovate-invent commented on #14995
I just realized the r4736 in the version refers to the snapshot

[2019-04-30 18:47] #14995 closed

[2019-05-01 07:49] #13624 closed

[2019-05-01 12:43] micknudsen commented on #11383
Fixed in PR https://github.com/bioconda/bioconda-recipes/pull/7215

[2019-05-01 12:43] #11383 closed

[2019-05-01 15:11] olavurmortensen commented on #14986
That makes a lot of sense. But the usage should still be documented somewhere, preferably so that it shows up on places like https://anaconda.org/bioconda/picard. The recipe doesn't help a lot with figuring out how to run a tool. Actually, usage notes in the start of the execution script, such as [picard.sh](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/picard/picard.sh), would

[2019-05-01 17:53] Buuntu opened #15005 "Trinity v2.8.4 can't install salmon and jemalloc dependencies on Ubuntu"
Can't install Trinity v2.8.4 on Ubuntu 16.04 due to Salmon and Jemalloc dependencies.  I get

[code]

[2019-05-01 17:56] Buuntu commented on #15005
Nevermind I needed to activate conda-forge, now it's working

[2019-05-01 17:56] #15005 closed

[2019-05-02 06:58] #14980 closed

[2019-05-02 07:02] dpryan79 opened #15013 "Packages needing update for new bamtools pinnings"
- [x] recipes/scalpel
- [x] recipes/ngs-disambiguate
- [x] recipes/transrate-tools
- [x] recipes/vphaser2
- [x] recipes/dropest
- [x] recipes/telseq
- [x] recipes/squid
- [x] recipes/augustus
- [x] recipes/bioconvert
- [x] recipes/sniffles
- [x] recipes/cage
- [x] recipes/piranha
- [x] recipes/comparative-annotation-toolkit
- [x] recipes/sga

[2019-05-02 07:27] dpryan79 commented on #15013
Xref https://github.com/bioconda/bioconda-recipes/pull/15014

[2019-05-02 10:43] druvus commented on #10102
Confirmed it is now working so closing.

[2019-05-02 10:43] #10102 closed

[2019-05-02 12:48] dpryan79 commented on #15013
Xref: https://github.com/bioconda/bioconda-recipes/pull/15030

[2019-05-02 16:35] nathanweeks commented on #11583
@bgruening : Out of the box, `mulled-build build-and-test` still ends with [this error](https://github.com/bioconda/bioconda-recipes/issues/11583#issuecomment-485554147) using the bgruening/busybox-bash:latest image.

However, it looks like the glibc libraries are in a conda-specific location. Committing the stopped container resulting from mulled-build into a new image, shelling into a container

[2019-05-03 07:01] jenzopr commented on #14550
Crossref to #14803

[2019-05-03 07:28] npavlovikj commented on #15013
SGA in #15053

[2019-05-03 08:03] dpryan79 commented on #15013
Xref: https://github.com/bioconda/bioconda-recipes/pull/15054

[2019-05-03 11:47] apeltzer opened #15059 "GATK4 Spark?"
The recipe currently states:

[code]

According to the [docs](https://gatkforums.broadinstitute.org/gatk/discussion/11245/spark) it should be fairly straightforward and in general possible to use the SPARK capabilities for GATK4.

Before I update the recipe, I just wanted to ask whether this is against some guidelines or similar. @bioconda/core

[2019-05-03 12:05] dpryan79 commented on #15059
How big is the spark .jar file? There's really nothing speaking against that unless it's quite large.

[2019-05-03 12:21] apeltzer commented on #15059
[code]

So we're talking about 267MB for the local and another 130MB for the SPARK version. I thought about also making another recipe gatk4-spark, but since some tools are only available in SPARK and some tools only in the local version, that most likely doesn't make sense.

I can add it then ...?

[2019-05-03 12:24] dpryan79 commented on #15059
I would say yes, but let's wait and see if others have an opinion on that.

[2019-05-03 18:06] epruesse commented on #15059
Use `outputs` to create a second package?

[2019-05-03 18:07] epruesse commented on #15059
Oh, the jars overlap? Meeeh.

[2019-05-03 18:12] apeltzer commented on #15059
Unfortunately, yes. Some tools are SPARK, some are not but if you want to build a pipeline connecting these, you might require tools from both jars :-/

[2019-05-03 18:12] epruesse commented on #15059
I don't quite understand the details on GATK, but you could have

[code]
with gatk-spark depending on gatk. Have a look at the `arb-bio` package for one example. There are more at conda-forge.

Most distros separate the "source package" from the "binary packages". The `outputs` thing allows the same for conda. So you have one upstream release you download, and then multiple packages that each cont

[2019-05-03 18:12] epruesse commented on #15059
I.e., one recipe building multiple packages.

[2019-05-03 18:15] epruesse commented on #15059
Useful to limit the number of dependencies, or to keep install size down. Typical is to separate the `runtime library` part from the `developer` part, from the documentation, from the tools. So a classic for redhat or debian would be `XYZ-tools`, `XYZ-doc`, `libXYZ`, `libXYZ-dev` (redhat uses `-devel`).

[2019-05-03 18:16] apeltzer commented on #15059
I mean I'm good if that approach works - didn't have to add that to any package so far but if that is in general possible/feasible, why not 👍

[2019-05-03 18:18] standage opened #15072 "Cannot install happer package"
The happer package was merged yesterday in #15039, but it is still inaccessible (cannot `conda install`). It should be accessible by now, correct?

[2019-05-03 18:18] standage commented on #15072
cc @bioconda/core

[2019-05-03 18:35] epruesse commented on #15072
Did you self merge...
You called the package microhabdb

[2019-05-03 18:37] epruesse commented on #15072
@bgruening See https://anaconda.org/bioconda/microhapdb/files - I think that file needs to be deleted ASAP.

[2019-05-03 18:37] epruesse commented on #15072
And the container removed.

[2019-05-03 18:39] dpryan79 commented on #15072
Should all builds be removed? I can remove the packages at least, I just need to know if all of them should go.

[2019-05-03 18:39] epruesse commented on #15072
No, just the 0.1.1

[2019-05-03 18:40] dpryan79 commented on #15072
Ah, I just looked at the PR. As you said @epruesse, I'll remove 0.1.1.

[2019-05-03 18:41] dpryan79 commented on #15072
They should be cleared out of the cache in ~20 minutes. @bgruening Can you delete the container sometime?

[2019-05-03 18:46] bgruening commented on #15072
Someone was faster ;) Container is removed.
We could add a test that checks if the folder name is equal to the package name to prevent such copy and paste mistakes.

[2019-05-03 18:50] epruesse commented on #15072
It was me - figured it would be best to do it ASAP.

See ticket - same thought. This isn't the first time.

[2019-05-03 19:00] #15072 closed

[2019-05-03 19:02] standage commented on #15072
Thanks everyone. Is it considered bad form to merge your own pull requests?

[2019-05-03 19:27] epruesse commented on #15072
The usual way /core talks about it is "well, we are guilty of it ourselves".

[2019-05-03 20:41] epruesse commented on #15059
Ping me on the PR if you need help. There may be issues. Don't know. We don't have that many `outputs` packages yet. It sounds like the best fix though. And easier in the long run than two recipes.

[2019-05-03 20:43] epruesse commented on #15059
You can pin the sparks package to have to be exactly the same version as the non-parks package. Look at the arb-bio recipe. I think I'm doing that there.

The docs on this aren't very good. It might be a bit tedious to get to work.

You'll get a recipe page like this: https://bioconda.github.io/recipes/arb-bio/README.html So the two packages will both be listed under the recipe name.

[2019-05-03 20:47] epruesse commented on #15072
Just think of it as writing a check or filling in an online money transfer. You want to double check before you sign or click on go. Just in case. And so having a second person look it over helps prevent mistakes.

Taking packages "back" works only in the very short term. As soon as it's been included in people's environment, deleting the package causes breakage because the URL is gone.

That's wh

[2019-05-04 10:23] samuelecancellieri opened #15103 "cxx compiler issue when circleci test on macosx"
Hi,

the recipe I try to merge, passes successfully the circle CI tests for lint and Linux, but fails when tests for macOS X.
As I can understand, the problem is that using the call, compiler('cxx') in the recipe, select two different compilers, depending on the system, so g++ on Linux and clang on mac, but my software need a specific g++ version to compile (g++ 5.4). It's possible to set a specif

[2019-05-04 12:38] PertuyF commented on #15103
Please link to your PR, it will be more efficient.
You can have a look to the [recipe for `nanopolish`](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/nanopolish/meta.yaml) that has to force `gcc` for osx using selectors. However I am not sure if you can force any version.

[2019-05-04 12:43] samuelecancellieri commented on #15103
Hi,

thanks for the fast reply, my PR is #15060
I need to use g++ 5.4 to compile all the correct libraries, I will try using the same call as in the recipe you link.
Thanks.

[2019-05-04 13:13] samuelecancellieri commented on #15103
Now fails also the linting phase, the bot is telling that i can't use the -gcc instructions anymore, recipe #15060

[2019-05-04 14:40] dpryan79 commented on #15013
Only sga is left. @npavlovikj hopefully you have better luck with that package than me :)

[2019-05-04 15:32] dpryan79 commented on #15103
We don't build with gcc on OSX, only clang.

[2019-05-04 15:41] samuelecancellieri commented on #15103
ok, so it's not possible to compile with gcc on OSX, there's a way to overcome this problem?

thanks.

Samuele

[2019-05-04 15:42] dpryan79 commented on #15103
No, we don't allow that as the resulting packages wouldn't always be compatible with each other.

[2019-05-04 15:44] samuelecancellieri commented on #15103
Ok, so is not possible to label a package as incompatible with some compiler or OS.
I will try to fix this in my software so.

Thanks for the help.

Samuele

[2019-05-05 14:21] apeltzer commented on #15059
See PR #15112

[2019-05-05 14:58] #14970 closed

[2019-05-05 20:00] npavlovikj commented on #15013
With @epruesse 's assistance, SGA is updated as well \o/

[2019-05-05 21:28] #15059 closed

[2019-05-06 04:06] dpryan79 commented on #15013
Great job!

[2019-05-06 04:06] #15013 closed

[2019-05-06 20:48] druvus opened #15144 "Recompiling perl packages"
Several perl packages contains C/C++ code that should be recompiled with the current compilers. The following perl packages lists a compiler in build section:

- [ ] perl-acme-damn
- [ ] perl-bio-db-sam
- [ ] perl-bloom-faster
- [ ] perl-cgi
- [ ] perl-class-load-xs
- [ ] perl-clone
- [ ] perl-compress-raw-bzip2
- [ ] perl-compress-raw-zlib
- [ ] perl-config-any
- [ ] perl-convert-binary-c
- [ ] p

[2019-05-06 22:03] druvus commented on #15144
perl-lwp-simple should be removed as it is provided by perl-libwww-perl.

[2019-05-07 04:26] epruesse commented on #14400
@kepbod Any reason why you unpinned this issue?

[2019-05-07 13:10] kepbod commented on #14400
@epruesse I am sorry. I have no idea what's going on. Maybe I clicked some button for wrong to unpin this issue. I didn't mean it.

[2019-05-07 15:46] epruesse commented on #14400
No worries. Just wondering.

[2019-05-07 22:12] marcelotrevisani commented on #13964
Please, remove ``pytest-workflow`` from ``bioconda``

[2019-05-08 10:00] endrebak opened #15178 "Linter error: already in bioconda even though it is not"
I have tried to add the NCLS to bioconda. Here is the log: https://circleci.com/gh/bioconda/bioconda-recipes/55876

I get the following error:

[code]

This is probably due to (as seen earlier in the log):

[code]

A recipe I have never touched and am not interest in piggiebacks onto my build. How do I fix this? I've tried reforking bioconda and will try a new PR.

[2019-05-08 10:20] endrebak commented on #15178
Reforking fixed it.

[2019-05-08 10:20] #15178 closed

[2019-05-08 10:21] endrebak commented on #15178
<img width="719" alt="Screenshot 2019-05-08 at 11 53 13" src="https://user-images.githubusercontent.com/17778898/57368579-c28e2880-718b-11e9-8928-5263d38c431c.png">
<img width="1261" alt="Screenshot 2019-05-08 at 11 53 26" src="https://user-images.githubusercontent.com/17778898/57368580-c3bf5580-718b-11e9-902e-50241abdaeaa.png">

[2019-05-08 11:14] endrebak opened #15181 "setup.py: command not found"
When I try to build a package (NCLS) using the `build: script:` tag using the autogenerated command from `conda skeleton pypi ncls`, namely

[code]

circleci fails with the message `/opt/conda/conda-bld/ncls_1557313438451/work/conda_build.sh: line 4: setup.py: command not found`

What am I doing wrong? Here is the log:

https://circleci.com/gh/bioconda/bioconda-recipes/55886

Here is the file that

[2019-05-08 11:21] endrebak commented on #15181
Gotten further. Might reopen.

[2019-05-08 11:21] #15181 closed

[2019-05-08 14:22] alienzj opened #15187 "r-biom r351"
@zachcp
https://anaconda.org/bioconda/r-biom/files
Could you provide an r-biom r351 version?

[2019-05-08 15:38] iprada commented on #1
Hi,

I am planning to contribute with a recipe. I would like to join the team.

cheers,

Iñigo

[2019-05-08 16:34] epruesse commented on #1
Welcome @iprada!

Just get started and open a PR for your new recipe. We'll help you from there!

[2019-05-08 17:46] zachcp commented on #15187
Hi @alienzj ,

I just took a look at the r-biom [repo](https://github.com/joey711/biom/) and it looks like it hasn't been updated in 4 years. Furthermore, it appears that it has been [removed from CRAN for inactivity](https://cran.r-project.org/web/packages/biom/).  Are you sure you want to use this package?  Can you get it to build locally in your workflow?

zach cp

[2019-05-08 17:51] alienzj commented on #15187
Hi @zachcp
I try it.
Thanks very much!

[2019-05-08 17:51] #15187 closed

[2019-05-09 01:29] Jingmingxia commented on #14975
Does it work? I've met the same problem when I use the prokka.

[2019-05-09 07:58] dpryan79 opened #15196 "Packages breaking the nightly upload job"
The following recipes have `meta.yaml` files that are breaking the nightly upload job. The order for sections in a `meta.yaml` should be `package`, `source`, `build`, `requirements`, `test`, `about`, `extras`. Usually these start with `about`.

 - [x] recipes/2pg_cartesian
 - [x] recipes/weblogo/2.8.2
 - [x] recipes/trimmomatic/0.32
 - [x] recipes/trimmomatic/0.33
 - [x] recipes/trimmomatic/0.35

[2019-05-09 08:01] dpryan79 commented on #15196
I have these blacklisted in `bulk` at the moment, but we should really fix these in `master`.

[2019-05-09 08:52] endrebak opened #15199 "Linter does not catch numpy=>1.16.3 (should be numpy>=1.16.3, right?)"
Title says it all :)

[2019-05-09 09:01] loraine-gueguen opened #15202 "kraken2=2.0.8_beta PackagesNotFoundError"
The conda package kraken2=2.0.8_beta is correctly found with `conda search` but cannot be installed with `conda create`. There is no such error with kraken2=2.0.7_beta.
The conda version is 4.5.11.

[code]

[2019-05-09 09:32] loraine-gueguen commented on #15202
The conda-forge channel for rsync was missing. It is fine with `conda create -c bioconda -c conda-forge -n kraken2-2.0.8_beta kraken2=2.0.8_beta`

[2019-05-09 09:32] #15202 closed

[2019-05-09 17:35] MediciPrime opened #15212 "Monocle 3 Recipe Please"
Bioconda is awesome! However I have one tiny request.

I am currently using this [recipe](https://bioconda.github.io/recipes/bioconductor-monocle/README.html) for monocle v2.10.0 perform scRNA-seq trajectory analysis.  Its great however Monocle has come out with [version 3](http://cole-trapnell-lab.github.io/monocle-release/monocle3/).  I have tried so hard to install it on my University's cluster

[2019-05-09 20:06] PertuyF commented on #15212
Good news is that [work is in progress](https://github.com/bioconda/bioconda-recipes/pull/15160) to get Bioconductor 3.9 packages to Bioconda, as Monocle 3.0 is part of this *very new* release of Bioconductor.

Bad news is that you'll have to be patient, due to how Bioconductor works, it is quite complicated to update Bioconda for such release (there's a lot of interdependent packages requiring re

[2019-05-09 21:50] dpryan79 commented on #15212
The most recent released version of monocle is 2.12.0, which is from the most recent Bioconductor release and in the queue to be built (it depends on BiocGenerics, which allegedly requires R 3.6, for which nothing in conda has been built yet...). I expect monocle3 will actually be released in about 6 months, at which point it will be included in bioconda. In the interim you'll have to install the

[2019-05-10 07:38] MichWeb75 opened #15223 "Installation Ariba"
Hi,
I get an error when installing ariba with bioconda.

[code]

[2019-05-10 13:27] parlar commented on #13846
It turns out that the issue for me was that conda does not see ca-certs despite beling explicity set.

Now the genomeinfodb package was modified to use curl instead of wget but the problem remained since it was due to conda.

The solution was to set ```export SSL_CERT_FILE=/path/to/ca.pem``` which makes curl work as intended. The package then installed fine.

Since it's a conda problem, I've enter

[2019-05-10 13:42] parlar commented on #13846
Another update:

mingwandroid just wrote: "Conda's ssl settings pertain only to conda itself and not to and other packages you can install via conda."  (https://github.com/conda/conda/issues/8653)

That means that installation of conda packages that depend on programs like wget or curl will always fail if you're inside a corporate network. In this case it was also very cryptic, not at all clear wh

[2019-05-10 18:41] npavlovikj commented on #15223
I tried installing "ariba" on both Linux and OSX, and everything worked fine...

Few things to maybe try:
1. Make sure you have the proper channel order, e.g. **conda install -c conda-forge -c bioconda -c defaults ariba**. "ariba" uses dependencies from all these 3 channels.
2. Make sure you have newer version of conda installed, the current one is 4.6.
3. In case you have copied the command, maka

[2019-05-10 21:16] druvus commented on #14758
Reuilding peakachu in #15241

[2019-05-10 21:54] npavlovikj commented on #14758
Rebuilding oncotator  in https://github.com/bioconda/bioconda-recipes/pull/15242.

[2019-05-10 23:19] npavlovikj commented on #14758
Antismash in https://github.com/bioconda/bioconda-recipes/pull/15247.

[2019-05-10 23:52] npavlovikj commented on #14758
Python-chado in https://github.com/bioconda/bioconda-recipes/pull/15248.

[2019-05-11 18:22] pmjklemm opened #15317 "autobump?"
So i did  ` bioconda-utils autobump recipes/ config.yml --packages proteinortho`
but i dont know where to inspect the results as mentioned in https://bioconda.github.io/updating.html:

And here is the output:

And nothing seems to happen afterwards ? (I thought a merge request will be created)
Or what should i do now to update my recipe

[2019-05-12 04:48] epruesse commented on #15317
Hi @pmjklemm - it should have modified the recipe locally in your branch. `autobump` works like a pipeline and has a bunch of things you can turn off and on. To have it create a PR for you, you need to activate that module using `--create-pr`. You will need to have a GITHUB_TOKEN set, so that it can authenticate with github. Or you can just use the modified recipe as normal.

[2019-05-12 04:51] epruesse commented on #15317
Sorry about the lack of current docs. PRs very very appreciated!

[2019-05-12 04:58] epruesse commented on #15317
[code]
That was from the pinning check. If you disable that with `--no-check-pinnings`, the whole thing runs much faster. Conda API is horribly slow. 99% time goes down here.

[code]
That's the part that waits until all dependencies are up to date before checking a specific package. Diamons needs a rebuild, so proteinortho doesn't get checked at the moment.

You can override that with `--no-check-

[2019-05-12 11:48] pmjklemm commented on #15317
Ahh ok i think i get it now. Thank you so much, now i will do the rest.

[2019-05-12 11:48] #15317 closed

[2019-05-12 12:31] pmjklemm opened #15324 "mulled-test on osx (*bz2 cannot be found + MSpanList_Insert error)"
So i am using the 'Bootstrap method' for locally testing my recipes:
[code]

but the mulled-test always fails for osx (linux is just fine):
[code]
(It should work on osx, since i can just compile it on my machine)

If i then cp and rename the files from  /tmp/miniconda/miniconda/conda-bld/linux-64 -->  /tmp/miniconda/miniconda/conda-bld/osx-64 then i get a `MSpanList_Insert` error.

I tried to fol

[2019-05-12 17:28] epruesse commented on #15324
The `mulled` test uses `mulled` to create a docker image and re-runs the tests inside of that container. There is no docker for macOS, so I'm not sure how you are getting it to run at all.

What command line did you use? Which parts of the docs need improvement? (It would be great if you could do a PR against the docs - you get blind to the needs of the uninitiated so easily).

[2019-05-12 17:32] epruesse commented on #15212
@MediciPrime - Thanks for the very kindly written issue!

Please re-open if this is still an issue. Since monocle is part of the Bioconductor process, I assume we need no additional reminder. Wish the 3.6 requirement wasn't there...

[2019-05-12 17:32] #15212 closed

[2019-05-12 17:35] #15103 closed

[2019-05-12 17:37] epruesse commented on #13832
Thanks @ContinuumIO! :)

The CDN is working nicely.

[2019-05-12 17:37] #13832 closed

[2019-05-13 06:49] dpryan79 opened #15332 "Requiring pull request reviews"
@bioconda/all When the Bioconda project was originally created it needed to be extremely simple for anyone and everyone to add new recipes and modify old ones, since there was no base of recipes to build upon. Today, Bioconda has 500+ members, approximately 1000 contributors, almost 7000 packages and has become a primary part of the global bioinformatics infrastructure. Given this, we need to ensu

[2019-05-13 07:17] apeltzer commented on #15332
Makes a lot of sense - also, to get feedback for the one submitting PRs!

[2019-05-13 07:29] pmjklemm commented on #15324
You are right, that is strange indeed, but if call
`bioconda-utils build recipes config.yml --docker --mulled-test --git-range master` **(\*)**
then first my recipe is downloaded, compiled (make) and tested on linux docker and then the same procedure repeats for mac (i assumed that since it create and works in `/tmp/miniconda/miniconda/conda-bld/osx-64` directory but maybe that is wrong?).

I gues

[2019-05-13 08:01] holtgrewe commented on #15332
Would it be possible to get an exception for trivial changes?

For example, I have taken quite some effort to make it simple/trivial to bump recipes such as [jannovar-cli](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/jannovar-cli/meta.yaml) but putting the version and SHA256 as variables at the top.

I'd be very much in favour of getting a review of everything at least once but

[2019-05-13 08:09] dpryan79 commented on #15332
@holtgrewe There's no way to do that on github, so we've discussed modifying @biocondabot to do that. The code to do so doesn't exist yet, so PRs there are welcome. Given of the number of people on this repository, though, it's already unlikely that the wait time will be more than an hour.

[2019-05-13 08:45] sdabral05 opened #15335 "About Python error."
Hi ,
i am using rmats 4.0.2 so far i come to this position that i getting results with statistical values but on terminal it shows error.
Can you explain me this ,why this error is coming and what is the solution for this . Is this error will make effect on my results??

[code]

[2019-05-13 09:12] endrebak commented on #15335
This is a library-specific issue. Ask the rmats developers instead.

[2019-05-13 17:24] epruesse commented on #15332
@holtgrewe Our bot can scan for new upstream releases and *autobump* the recipe to a new version (beta feature). The PR opened comes from the bot, so you will be allowed to review and merge those.

[2019-05-13 17:53] PertuyF commented on #15332
Looks like a great idea! It is a step further building collective responsibility on our community.

Regarding *simple* version bump, having the Bot's autobump running would be a nice feature, but note that the test packages are directly available once test succeeds now.
So as long as it builds, no one should be blocked using a bioconda package, even if the review-merge takes a few hours to complet

[2019-05-13 18:12] nsoranzo commented on #15332
2 comments:
- In this issue description above, can we clarify that also merging someone else's PR is equivalent to approving it?
- We can use a [CODEOWNERS](https://help.github.com/en/articles/about-code-owners) file to help people being notified on PRs touching packages they are interested in.

[2019-05-13 18:24] apeltzer commented on #15332
What would be nice in this case:

- that the PR opened is automatically assigned to the person listed as last author (?), so that person gets a notification
- maybe everyone else who worked on that recipe already (should be possible to fetch that throug the git history of that specific recipe?)

[2019-05-13 18:32] dpryan79 commented on #15332
Does that work? I assumed you still had to approve the PR first.

We discussed that possibility. It sounds nice in theory, but with so many packages we're worried that it will get unwieldy almost immediately.

[2019-05-13 18:57] epruesse commented on #15332
(Parts in bold for TL'DR)

- **I would encourage people to add themselves to** the **`extra: recipe-maintainers:`** list for recipes they have worked on. That way, if things need to be done to it, we can (automatically) ping / request review from people who are knowledgeable with that particular tool. Special idiosyncrasies should still be in comments (for maintainers) or the `extra: notes:` secti

[2019-05-14 01:46] epruesse opened #15350 "CD-HIT 4.8.1 build 1 segfaults on OSX"
The package was updated in #15034 - the previous build works. Probably related to openmp.

ping @jpuritz

xref https://github.com/weizhongli/cdhit/issues/80

debug trace:
[code]

[2019-05-14 03:28] npavlovikj commented on #14758
Desman in https://github.com/bioconda/bioconda-recipes/pull/15351.

[2019-05-14 08:37] #15335 closed

[2019-05-14 09:29] mbargull commented on #15332
**+1**
It's been "a while" since the last time I had a look at our docs; if we don't already do, we could/should recommend `extra/recipe-maintainers` in there.
(It's also been ages I checked out `bioconda-utils`, so I'm not sure if this has been implemented in the meantime, but suggesting to add oneself to `extra/recipe-maintainers` could be one of those non-error lints, i.e., suggestions the bot

[2019-05-14 09:40] hsgweon opened #15356 "Removal of faulty builds?"
Just wondering if there is a way to remove some faulty builds?

One of my package has 3 faulty builds and wondering if they can be deleted from the repository. They are:

pipits-2.3-py36_3
pipits-2.3-py37_3

pipits-2.3-py36_2
pipits-2.3-py37_2

pipits-2.3-py36_1
pipits-2.3-py37_1

pipits-2.3-py36_0
pipits-2.3-py37_0

Would really appreciate some advice on this. Many thanks.

[2019-05-14 13:29] jpuritz commented on #15350
Could you send me a `fasta` file to test this. Right now, all my OSX runs are finishing with or without multiple threads:

[code]

[2019-05-14 13:38] jpuritz commented on #15350
Actually, I now was able to generate one.

[2019-05-14 16:17] MikeWLloyd commented on #9980
Just to update this. I think this issue can be closed. I ran `conda install -c bioconda perl-vcftools-vcf=0.1.16` and got `0.1.16-pl526_2` and that version includes vcf-convert.

[code]

[2019-05-14 16:25] dpryan79 commented on #9980
OK, if someone else runs into this please reopen.

[2019-05-14 16:25] #9980 closed

[2019-05-14 21:39] druvus commented on #14758
Running into rpy bug for peakachu. It should be updated to newer version at CF.

[2019-05-15 07:52] messersc opened #15384 "RazerS3 binary appears to be broken"
[code]

See https://github.com/FRED-2/OptiType/issues/90

Downgrading to an older version seems helps. Not sure what the problem is.

[2019-05-15 08:39] npavlovikj commented on #15384
@messersc , not sure if this helps, but can you please make sure you use the proper order of the conda channels when installing "razers3" (e.g. `-c conda-forge -c bioconda -c defaults` as defined here, https://bioconda.github.io/#set-up-channels)?

I tried installing "razers3" 3.5.3 myself, and everything worked fine:
**(razers3) [fedora@npavlovikj-conda bioconda-recipes]$ razers3 --help
...
VERSI

[2019-05-15 08:50] messersc commented on #15384
Hi,

that's interesting, although it might not be what causes the crash. I just created a new environment:

[code]

Downgrading the libs to 7.2.0 does not change anything.

[code]

This is on a `Intel(R) Xeon(R) CPU E5-2650 v2 @ 2.60GHz`.

[2019-05-15 09:05] npavlovikj commented on #15384
You are right Clemens, this is specific to your machine and not the channels - I tried using the exact packages from your env and "razers3" worked fine for me...

Looks like there is similar issue reported for bioconda package on Xeon machine, https://github.com/bioconda/bioconda-recipes/issues/14613.
If you have the time, you can try buildling the conda recipe locally with the suggested flags to

[2019-05-15 09:18] holtgrewe commented on #15384
cf #11790

[2019-05-15 13:57] dpryan79 commented on #15196
I'm working on these in the `bulk` branch now.

[2019-05-15 14:26] #15196 closed

[2019-05-15 21:20] bgruening opened #15405 "Funding opportunity for Bioconda?!"
Hi,

@pinin4fjords pointed us to: https://chanzuckerberg.com/rfa/essential-open-source-software-for-science

Sounds like the Bioconda community could apply and get some funding for interesting projects.

Please use this issue to sketch out some ideas. How can we make Bioconda better? :)

[2019-05-15 21:33] dpryan79 commented on #15405
I guess the lowest hanging fruit is to support the continuation of the bot work that @epruesse has been spearheading. We'd need to outline some tangible goals for that, of course. In hindsight, maybe we should have submitted a GSoC proposal and had some masters students working on this already.

[2019-05-15 21:35] pinin4fjords commented on #15405
The main issue we've had is wanting access to something new in the bleeding-edge Bioconductor, but Bioconda lagging behind for very good reasons related to labour-intensive update processes. I feel like there could be some pitch around additional support for inclusion of cutting-edge software, reducing the lag between e.g. R/Bioconductor releases and Bioconda updates etc. As @dpryan79 suggested th

[2019-05-15 21:42] dpryan79 commented on #15405
I'm not sure how labor intensive bioconductor releases are, it's mostly just hitting the "rerun" butten every 5 hours on circleci :) There does need to be some additional retooling done (also on the bioconductor side) to better automate system requirements. I'm trying to [keep track of that stuff](https://github.com/dpryan79/bioconda_bioconductor_interface) for the most recent release, which is as

[2019-05-15 22:07] pinin4fjords commented on #15405
Sorry @dpryan79 , showing my ignorance of how things work, obviously I've been more a user than a developer here ;-).

Integration with workflow tools already works pretty well, I use the Nextflow integration all the time (though not currently with containers), but maybe that's another angle to be worked if people can think of improvements.

Paolo was here last week and I asked him about the possi

[2019-05-15 22:27] pcm32 commented on #15405
I think that the conda -> container resolution within applications is something particular to each workflow environment, not sure if that is something that bioconda funded hours should be fuelling or diverted to (and this does happen on other workflow environments already, such as Galaxy, I think it is more a matter of the Nextflow community to be able to sort this out).

Even though work might be

[2019-05-15 22:31] mictadlo opened #15409 "braker is missing bam2wig"
Hi,
I ran braker with `UTR=on` which caused

[code]

Thank you in advance,

Michal

[2019-05-15 22:42] pcm32 commented on #15405
What about maybe arguing that bioconda needs storage space for container storage in distributed geographical locations, specially close to areas of the world with less speed in terms of connectivity, and to protect bioconda of a potential shut down or denial of service from quay.io? Quay.io is currently the only storage of containers that we have, right?

[2019-05-16 03:42] epruesse opened #15415 "htslib on OSX requires libdeflate.so not libdeflate.dylib"
This breaks new metabat recipe. Need to investigate. Either libdeflate needs a symlink as `libdeflate.so` on OSX or the names in htslib need fixings. Curious it worked during build...

[2019-05-16 03:50] kyleabeauchamp commented on #15415
I recall there were a few libdeflate version bumps recently as well, not sure what happened.

[2019-05-16 03:55] epruesse commented on #15415
[code]

The problem is the line `@rpath libdeflate.so`, which is one way or another wrong.

[2019-05-16 03:56] kyleabeauchamp commented on #15415
It might be useful to open an htslib ticket to confirm that there's not an issue upstream.  I'm not sure if this is due to the conda-magic or not.

[2019-05-16 04:00] epruesse commented on #15415
It's a build issue. Still tracing.

It started with htslib-1.8-1

[2019-05-16 04:07] epruesse commented on #15415
Ok, libdeflate contains the library misnamed as `.so` in versions:

 - libdeflate-0.8-0
 - libdeflate-0.8-h470a237_2
 - libdeflate-1.0-h470a237_0
 - libdeflate-1.0-h1de35cc_1

Meaning it changed in libdeflate 1.2. Technically, libdeflate 1.2 was fixed, but the rename of the DSO means that nothing built against libdeflate <1.2 will work with libdeflate >=1.2.

[2019-05-16 04:13] epruesse commented on #15415
Grmbl. I'm getting an old htslib, which doesn't depend on libdeflate <1.1.0a0 yet. I *hate* that I get old builds. Why would you ever want an old build?

[2019-05-16 04:22] epruesse commented on #15415
[code]

So `conda` decides that it would rather install the new version of libdeflate than the newer build of htslib. Unfortunately, that older build of htslib is broken in that it does not pin libdeflate.

*Sigh*

[2019-05-16 05:39] hmkim opened #15416 "bioconductor-monocle"
$ conda install -c bioconda bioconductor-monocle

Collecting package metadata: done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - bioconductor-monocle -> r-ddrtree[version='>=0.1.4']
  - bioconductor-monocle -> r-densityclust[version='>=0.3']
  - bioconductor-monocle -> r-vgam[version='>=1.0-6']

Current channels:

  - http

[2019-05-16 07:27] npavlovikj commented on #15416
Looks like you are missing `conda-forge`, please try the following: `conda install -c conda-forge -c bioconda -c defaults bioconductor-monocle`

[2019-05-16 07:29] bgruening commented on #15405
No, Docker containers have a backup at EBI and Singularity container have a backup in 5+ places.

This works already. Biocontainers are designed to have this match. Galaxy does support it and CWL does support it. I talked to @pditommaso recently and its just a matter of implementing it in Nextflow.

Please note that ELIXIR is already funding Biocontainers and has funded people to work on Bioconda

[2019-05-16 08:07] npavlovikj commented on #15409
@mictadlo , this was fixed in the newest build of "braker2", https://github.com/bioconda/bioconda-recipes/pull/14463, so can you please update your environment to the newest "braker2=2.1.2=2"?

[2019-05-16 17:16] #14975 closed

[2019-05-17 07:19] HTaekOppa opened #15439 "PASA no executable files"
Hi @johanneskoester and @nathanweeks,

We installed PASA with `conda create -n pasa pasa` and activated it with `conda activate pasa` but we could not find any executable files. Could you please provide any examples/scripts how to run PASA?

Cheers,

Taek

[2019-05-17 10:30] dlaehnemann commented on #15405
Just a quick idea: as the call includes outreach and community engagement work, what about **developing something like a [Software Carpentry lesson](https://software-carpentry.org/lessons/) that teaches (bio)conda basics**. So teach how to set up and use bioconda, but then also how to contribute.

Even though the Contribution Guide is good already, I think this is often times still a very daunting

[2019-05-17 13:47] nathanweeks commented on #15439
`conda activate pasa` sets the PASAHOME environment variable, which is used in the official PASA documentation: https://github.com/PASApipeline/PASApipeline/wiki/PASA_alignment_assembly

The conda package doesn't include the sample_data (and the run_sample_pipeline.pl script in the sample_data hard-codes some paths and can't be used directly), but you can test pasa thus:

[code]

[2019-05-18 19:13] Buuntu opened #15459 "BUSCO (HMMER) failed to open sequence file due to no extracted proteins from Augustus"
I can get BUSCO to run through a docker container such as https://hub.docker.com/r/vera/busco/ but have been unable to run it using conda unfortunately, which is my preference.

I installed with
[code]

When I run locally, I get 0% BUSCO scores on files that normally get >97% when run through the Docker instance.

The output I get is
[code]

I believe this is because Augustus is not extracting any

[2019-05-19 01:32] Buuntu commented on #15459
Just confirmed that a similar thing happens when running in Ubuntu through Docker (installed via conda).  In this case, I get the same error but the files are there in `augustus_output/predicted_proteins`, they are all just empty.  I've tried with multiple fasta sequences and get the same result.

[2019-05-22 16:36] hmkim commented on #15416
Thanks @npavlovikj
I'll solved it via your comment.

[2019-05-22 16:36] #15416 closed

[2019-05-22 19:45] daler commented on #15332
When merging the autobumped recipes, should this also require two sets of humans to approve?

That is, given this "four eyes required" merge policy, how many eyes does the bot have?

[2019-05-22 22:33] abalter commented on #13774
Is there some documentation other than the "Medium" post about how to use metachannel? Looking at the command lines in the post, it seems hard to use.

I'm suffering not only from lengthy install times, but the startup time on my WSL box is extremely long, like 30-50s.

[2019-05-22 23:45] epruesse commented on #15332
Perhaps we should differentiate between new recipes or updates that significantly change a recipe (e.g. rewriting the build.sh, changing dependencies, adding `outputs`, etc) and minor changes such as a minor or patchlevel upstream bump in which only the sha and version change?

[2019-05-23 06:16] mictadlo commented on #15409
Thank you.

[2019-05-23 06:16] #15409 closed

[2019-05-23 06:18] mictadlo opened #15544 "braker2 missing rnaseq2utr"
Hi @npavlovikj
I installed `braker2=2.1.2=2` but I got the following errror:

[code]
What did I miss?

Thank you in advance,

Michal

[2019-05-23 06:43] npavlovikj commented on #15544
Hi @mictadlo ,

`rnaseq2utr` points to the executable `utrrnaseq` which should be in the bin directory of your environment (which I assume is `/work/waterhouse_team/miniconda2/envs/braker2/bin//utrrnaseq` in your case).  Can you please verify that `utrrnaseq` is in `/work/waterhouse_team/miniconda2/envs/braker2/bin/`?
Also, what does `echo $AUGUSTUS_BIN_PATH/utrrnaseq` return for you after you act

[2019-05-23 07:04] mictadlo commented on #15544
[code]
[code]

[2019-05-23 07:14] npavlovikj commented on #15544
Thanks @mictadlo ! And sorry about the `echo` command I mentioned earlier - that one will just print the message instead of checking if the file exists.

But as you can see from `ls` - `utrrnaseq` is not in your "bin" folder, and therefore the error.
Did you install `braker2` in a new or already existing environment? I just tried fresh install of `braker2` and `utrrnaseq` is there:
[code]

I would

[2019-05-23 07:15] npavlovikj commented on #15544
Here is the output of my `conda list`, so you can compare the versions and the channels:
[code]

[2019-05-23 07:38] dpryan79 commented on #15332
@epruesse Long-term that would be good. Of course there's no way to do that on github, so we'd have to have the bot autoreview PRs.

[2019-05-23 07:56] alienzj commented on #13774
@abalter Hello, I often do this.
[code]
define a condain function in your shell(like fish shell)
then do:
[code]
you will install bwa soon.

[2019-05-23 11:19] Tomnl opened #15549 "Linting stuck on pull request #15519"
Hi,

I think the linting might be stuck on my pull request #15519. Can the linting be reset? I am not sure if it something I have done wrong in the recipe or if it is a similar situation as #14082

[2019-05-23 16:09] nfahlgren opened #15556 "Help with a recipe that requires libGL"
Hi all, I'm stuck and looking for some help. I am updating the recipe for `plantcv` (a pure Python package) and I am stuck getting tests to pass because one of our dependencies, `opencv`, requires `libGL`. The pull request is #15539 for reference.

I'm running the mulled-tests using: `bioconda-utils build recipes config.yml --docker --mulled-test --git-range master`. For brevity I will not post th

[2019-05-24 00:39] ruy-jauregui opened #15561 "Antismash 4 fails to run"
Hello! I tried to run the last two versions of the Antismash 4 package and I get the same error:
(/home/jaureguir/conda-envs/antismash4) jaureguir@grabfopp02:~/genomes/assemblies$ antismash --taxon fungi genome.contigs.fasta
ERROR   21/05 11:05:49   Failed to run GlimmerHMM: 'ERROR 1:  Unable to open file /home/jaureguir/conda-envs/antismash4/lib/python2.7/site-packages/antismash/generic_modules/g

[2019-05-24 07:52] nick-youngblut opened #15564 "blast+ version is getting old"
It appears that the most recent version of blast+ on bioconda is v2.7.1, which was released back in Oct of 2017. The newest version is 2.9.0 (released in April 2019). Is there a particular reason why blast+ hasn't been updated in a long time (eg., dependency issues)? I could try creating a new blast+ recipe with the newest version, but I don't want to waste time if there's some reason why it shoul

[2019-05-24 07:58] npavlovikj commented on #15564
Please see https://github.com/bioconda/bioconda-recipes/pull/15550. The team has been working on it, but unfortunately, it is not an easy package to build from source...

[2019-05-24 18:42] dpryan79 commented on #15564
I just merged in version 2.9.0

[2019-05-24 18:42] #15564 closed

[2019-05-24 19:38] druvus commented on #14521
Blast got updated to 2.9.0. Please reopen if you still experience issues.

[2019-05-24 19:38] #14521 closed

[2019-05-24 22:02] PertuyF commented on #15405
One thing I could suggest for Bioconda is **improving reproducibility (even further)**.
It is not rare that creating an environment fails when using a definition file (either from `conda list --explicit`, or `conda env export`), or reverting a transaction. This is somehow linked to packages that are removed from the repo or labelled as broken or legacy (or hot-fixed? not sure there).
This breaks a

[2019-05-25 02:13] mictadlo commented on #15544
I created a new environment, and it works now.

[2019-05-25 02:13] #15544 closed

[2019-05-25 02:15] mictadlo opened #15574 "braker: Input file not in genbank format."
Hi @npavlovikj ,
Have you ever got this error:

[code]

Thank you in advance,

Michal

[2019-05-25 03:51] nfahlgren commented on #15556
Solved by @npavlovikj by using the `py-opencv` package instead of `conda-forge/opencv`

[2019-05-25 03:51] #15556 closed

[2019-05-25 07:27] #15549 closed

[2019-05-25 07:36] npavlovikj commented on #15574
Hi @mictadlo ,

This sounds like specific issue with the input data used with `braker` and `etraining` which is not related with the conda recipe itself.
I saw you have asked the same quesion in the BRAKER repo, https://github.com/Gaius-Augustus/BRAKER/issues/34, which is the proper place for this type of question, so I would suggest you to try the given suggestions there.

[2019-05-25 11:55] dpryan79 commented on #15415
Should we mark that old htslib broken on OSX and remove the main label?

[2019-05-25 11:56] #15439 closed

[2019-05-26 12:24] mictadlo commented on #15574
Ok, thank you.

[2019-05-26 12:24] #15574 closed

[2019-05-27 08:28] rhpvorderman opened #15602 "Container for fastqsplitter not accessible: Not authorized"
http://bioconda.github.io/recipes/fastqsplitter/README.html

The biocontainer is not authorized.

@bioconda/core . Can this be authorized? Any progress on this issue of containers being created in a private repo by default? It seems to happen a lot lately.

[2019-05-27 08:33] dpryan79 commented on #15602
@bgruening Can you have a look at this?

[2019-05-27 09:01] bgruening commented on #15602
Done!

[2019-05-27 09:01] #15602 closed

[2019-05-27 11:11] rhpvorderman commented on #15602
Thanks @bgruening and @dpryan79 !

[2019-05-27 21:19] damioresegun commented on #15459
Hi, I can confirm I ma also having this issue. I haven't tried docker yet but I will be doing that in the near future to see that I have not gone crazy. I have ran busco with the debug option turned on but there really is no big information being given. I have checked the created protein files and they are all empty as @Buuntu mentioned. I am currently running augustus individually in another envi

[2019-05-28 08:24] peterjc commented on #4420
I was reminded of this issue last week while helping a colleague installing from conda for the first time via the graphical client (Conda Navigator), where the description is very visible as a column in search results. Curiously, my impression was all the BioConda packages had a blank description, whereas other channels including conda-forge had text.

e.g. https://anaconda.org/conda-forge/biopyth